Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

codecov.yml:

codecov:
  require_ci_to_pass: true

ignore:
  # Package Manager files
  - '.yarn/**/*'
  - '.pnp.*'
  - '.cache/**/*'
  - 'tmp/**/*'
  - '**/node_modules/**/*'

  # Distribution folders
  - 'packages/@*/*/dist/**/*'
  - 'tools/@*/*/dist/**/*'
  - 'apps/@*/*/dist/**/*'

  # Generated files
  - 'packages/@o3r-training/showcase-sdk/src/api/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/models/base/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/spec/**/*'
  - 'tools/github-actions/*/packaged-action/**/*'

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: otter
      name: Otter Modules
      paths:
        - packages/@o3r/**
    - component_id: otter-tools
      name: Otter developer tools
      paths:
        - apps/chrome-devtools/**
        - apps/github-cascading-app/**
        - apps/intellij-extension/**
        - apps/vscode-extension/**
    - component_id: otter-github-actions
      name: Otter Github shared Actions
      paths:
        - tools/github-actions/**
    - component_id: training
      name: Training modules
      paths:
        - packages/@o3r-training/**
    - component_id: sdk
      name: SDK Tooling
      paths:
        - packages/@ama-sdk/**

fix(ama-sdk): fallback open api generator version to 7.9.0
  .renovaterc.json5
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/pom.xml
Due: SDK Tooling

fix(deps): align peer deps for eslint
  packages/@o3r/schematics/package.json
  yarn.lock
Due: Otter Modules

chore: add unit test on otter training helpers
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/training.component.ts
  apps/showcase/src/helpers/file-system/file-system.helper.spec.ts
  apps/showcase/src/helpers/file-system/file-system.helper.ts
  apps/showcase/src/helpers/file-system/index.ts
  apps/showcase/src/helpers/monaco-tree/index.ts
  apps/showcase/src/helpers/monaco-tree/monaco-tree.helper.spec.ts
  apps/showcase/src/helpers/monaco-tree/monaco-tree.helper.ts
  apps/showcase/src/services/webcontainer/index.ts
  apps/showcase/src/services/webcontainer/webcontainer.helpers.ts
  apps/showcase/src/services/webcontainer/webcontainer.service.ts
  apps/showcase/testing/mocks/x-term.mock.ts
Due: none

fix(eslint): provide default ignores when adding @o3r/eslint-config
  packages/@o3r/eslint-config/schematics/ng-add/eslint/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/project/eslint.local.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.shared.config.__extension__.template
Due: Otter Modules

feat(training): set solution as readonly
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/training-step/training-step-pres.component.html
  apps/showcase/src/components/training/training-step/training-step-pres.component.ts
  apps/showcase/src/components/training/training.component.html
  apps/showcase/src/components/training/training.component.ts
Due: none

fix(workspace): the tsconfig links to generate libraries
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/library/index.spec.ts
  packages/@o3r/workspace/schematics/library/rules/rules.ng.ts
  packages/@o3r/workspace/schematics/library/templates/ng/tsconfig.lib.prod.json.template
Due: Otter Modules

fix(#2628): generate eol LF config
  packages/@o3r/create/src/index.ts
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  tools/github-actions/new-version/packaged-action/LICENSE.txt
Due: Otter Modules

feat(chrome-devtools): add a panel to see the current value of all available facts
  apps/chrome-devtools/src/app-devtools/app.component.html
  apps/chrome-devtools/src/app-devtools/app.component.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.template.html
  apps/chrome-devtools/src/services/ruleset-history.service.ts
  apps/chrome-devtools/tsconfig.build.json
  apps/chrome-devtools/tsconfig.extension.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/rules-engine/src/components/rules-engine/facts-snapshot/facts-snapshot.component.ts
  packages/@o3r/rules-engine/src/components/rules-engine/facts-snapshot/facts-snapshot.style.scss
  packages/@o3r/rules-engine/src/components/rules-engine/facts-snapshot/facts-snapshot.template.html
  packages/@o3r/rules-engine/src/components/rules-engine/index.ts
  packages/@o3r/rules-engine/src/components/rules-engine/rule-actions/rule-actions-pres.component.ts
  packages/@o3r/rules-engine/src/components/rules-engine/rule-actions/rule-actions-pres.template.html
  packages/@o3r/rules-engine/src/components/rules-engine/ruleset-history/ruleset-history-pres.template.html
  packages/@o3r/rules-engine/src/engine/debug/engine.debug.ts
  packages/@o3r/rules-engine/src/engine/engine.interface.ts
  packages/@o3r/rules-engine/src/engine/engine.ts
  yarn.lock
Due: Otter Modules, Otter developer tools

fix: styling compile inputs and named input for assets
  nx.json
  packages/@o3r/styling/project.json
Due: Otter Modules

chore: fix vscode rg issue on mac
  .vscode/settings.json
Due: none

fix(design): rendering of the typography design token
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.spec.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
  packages/@o3r/design/testing/mocks/design-token-theme.json
Due: Otter Modules

chore: update training-sdk to angular 19
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
  packages/@o3r-training/training-sdk/package.json
  yarn.lock
Due: Training modules

fix: add missing files in workspace
  .commitlintrc.json
  commitlint.config.cts
  package.json
  packages/@o3r/schematics/src/tasks/package-manager/index.ts
  packages/@o3r/schematics/src/tasks/package-manager/npm-node-run.spec.ts
  packages/@o3r/schematics/src/tasks/package-manager/npm-node-run.ts
  packages/@o3r/workspace/package.json
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/commit-hooks/index.spec.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/commit-hooks/index.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/commit-hooks/templates/__empty__.husky/commit-msg.template
  packages/@o3r/workspace/schematics/ng-add/helpers/commit-hooks/templates/commitlint.config.cts.template
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  packages/@o3r/workspace/schematics/ng-add/schema.json
  packages/@o3r/workspace/schematics/ng-add/schema.ts
  tsconfig.eslint.json
  yarn.lock
Due: Otter Modules

ci: fix e2e tests
  .github/workflows/e2e-tests.yml
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
  apps/showcase/scripts/update-screenshots/index.cjs
Due: none

fix: align npm create --yarn parameter
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
  apps/showcase/scripts/update-screenshots/index.cjs
  apps/showcase/scripts/update-screenshots/readme.md
  apps/showcase/src/app/home/home.template.html
  docs/core/START_NEW_APPLICATION.md
  packages/@o3r/core/README.md
Due: Otter Modules

fix(training-sdk): remove the training SDK publishing
  packages/@o3r-training/training-sdk/project.json
Due: Training modules

feat(design): support dimension type object in shadow and typography structures
  packages/@o3r/design/schemas/design-token.schema.json
  packages/@o3r/design/src/core/design-token/design-token-specification.interface.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.spec.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
  packages/@o3r/design/testing/mocks/design-token-theme.json
Due: Otter Modules

feat(design): add inset property to shadow
  packages/@o3r/design/schemas/design-token.schema.json
  packages/@o3r/design/src/core/design-token/design-token-specification.interface.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.spec.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
  packages/@o3r/design/testing/mocks/design-token-theme.json
Due: Otter Modules

chore(create): reduce the Otter logo
  packages/@o3r/create/src/index.ts
Due: Otter Modules

feat: add message and explicit exit in create scripts
  packages/@ama-sdk/create/src/index.ts
  packages/@o3r/create/src/index.ts
Due: Otter Modules, SDK Tooling

fix(github-cascading-app): multi config warning message docs(github-cascading-app): specify the considered configuration
  apps/github-cascading-app/README.md
  apps/github-cascading-app/src/cascading/cascading-probot.ts
Due: Otter developer tools

test(chrome-devtools): setup e2e tests for chrome extension
  .yarnrc.yml
  apps/chrome-devtools/.gitignore
  apps/chrome-devtools/e2e-playwright/playwright-config.sanity.ts
  apps/chrome-devtools/e2e-playwright/playwright-config.ts
  apps/chrome-devtools/e2e-playwright/sanity/install-sanity.e2e.ts
  apps/chrome-devtools/e2e-playwright/test-with-extension.ts
  apps/chrome-devtools/eslint.local.config.mjs
  apps/chrome-devtools/package.json
  apps/chrome-devtools/project.json
  apps/chrome-devtools/scripts/set-manifest-version.cjs
  apps/chrome-devtools/src/manifest.json
  apps/chrome-devtools/tsconfig.eslint.json
  apps/showcase/.gitignore
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  yarn.lock
Due: Otter Modules, Otter developer tools, SDK Tooling

feat(pipeline): set pipeline version to node LTS version
  .renovaterc.json5
  docs/renovate/readme.md
  tools/renovate/managers/github-node-version.json5
Due: none

fix: the tsconfig spec generated for library contains several issues
  packages/@o3r/components/schematics/index.it.spec.ts
  packages/@o3r/configuration/schematics/index.it.spec.ts
  packages/@o3r/testing/package.json
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/workspace/package.json
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/library/index.spec.ts
  packages/@o3r/workspace/schematics/library/rules/rules.ng.ts
  packages/@o3r/workspace/schematics/library/rules/rules.nx.ts
  packages/@o3r/workspace/schematics/library/rules/shared.ts
  packages/@o3r/workspace/schematics/library/templates/jest/jest.config.js.template
  packages/@o3r/workspace/schematics/library/templates/jest/testing/setup-jest.ts.template
  packages/@o3r/workspace/schematics/library/templates/ng/common/.gitignore.template
  packages/@o3r/workspace/schematics/library/templates/ng/common/.npmignore.template
  packages/@o3r/workspace/schematics/library/templates/ng/common/tsconfig.builders.json.template
  packages/@o3r/workspace/schematics/library/templates/ng/common/tsconfig.json.template
  packages/@o3r/workspace/schematics/library/templates/ng/jest/tsconfig.build.composite.json.template
  packages/@o3r/workspace/schematics/library/templates/ng/jest/tsconfig.spec.json.template
  packages/@o3r/workspace/schematics/library/templates/nx/jest.config.js.template
  packages/@o3r/workspace/schematics/library/templates/nx/testing/setup-jest.ts.template
Due: Otter Modules

fix: codecov version raising an exception on mend.io fix: renovate node version rule to activate on
  .github/workflows/code-check.yml
  tools/renovate/managers/github-node-version.json5
Due: none

fix: build and test before release
  packages/@o3r/pipeline/schematics/ng-add/templates/github/__dot__github/workflows/main.yml
Due: Otter Modules

chore: align deps with install
  .yarnrc.yml
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  tools/github-actions/new-version/packaged-action/LICENSE.txt
  yarn.lock
Due: Otter Modules, SDK Tooling

test(chrome-devtools): setup e2e tests for chrome extension
  .github/workflows/e2e-tests.yml
  .yarnrc.yml
  apps/chrome-devtools/.gitignore
  apps/chrome-devtools/e2e-playwright/playwright-config.sanity.ts
  apps/chrome-devtools/e2e-playwright/playwright-config.ts
  apps/chrome-devtools/e2e-playwright/sanity/install-sanity.e2e.ts
  apps/chrome-devtools/e2e-playwright/scenarios/dummy-scenario.e2e-playwright-spec.ts
  apps/chrome-devtools/e2e-playwright/test-with-extension.ts
  apps/chrome-devtools/eslint.local.config.mjs
  apps/chrome-devtools/package.json
  apps/chrome-devtools/project.json
  apps/chrome-devtools/scripts/set-manifest-version.cjs
  apps/chrome-devtools/src/manifest.json
  apps/chrome-devtools/tsconfig.eslint.json
  apps/chrome-devtools/tsconfig.extension.json
  apps/showcase/.gitignore
  apps/showcase/tsconfig.eslint.json
  codecov.yml
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  yarn.lock
Due: Otter Modules, Otter developer tools, SDK Tooling

chore: upgrade postcss
  package.json
  packages/@o3r/stylelint-plugin/package.json
  tools/github-actions/new-version/packaged-action/LICENSE.txt
  yarn.lock
Due: Otter Modules

chore: upgrade minor dependencies
  .github/actions/setup-java/action.yml
  .github/workflows/code-check.yml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  .github/workflows/publish.yml
  .github/workflows/scorecards.yml
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-terasu/cli/package.json
  packages/@o3r-training/training-tools/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/components/package.json
  packages/@o3r/core/package.json
  packages/@o3r/design/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/pipeline/schematics/ng-add/templates/github/__dot__github/actions/setup/action.yml
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/test-helpers/package.json
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/setup/action.yml
  tools/github-actions/upload-build-output/action.yml
  yarn.lock
Due: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

feat(chrome-devtools): add a panel to see the current value of all available facts
  apps/chrome-devtools/src/app-devtools/app.component.html
  apps/chrome-devtools/src/app-devtools/app.component.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.template.html
  apps/chrome-devtools/src/services/ruleset-history.service.ts
  apps/chrome-devtools/tsconfig.build.json
  apps/chrome-devtools/tsconfig.extension.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/rules-engine/src/components/rules-engine/facts-snapshot/facts-snapshot.component.ts
  packages/@o3r/rules-engine/src/components/rules-engine/facts-snapshot/facts-snapshot.style.scss
  packages/@o3r/rules-engine/src/components/rules-engine/facts-snapshot/facts-snapshot.template.html
  packages/@o3r/rules-engine/src/components/rules-engine/index.ts
  packages/@o3r/rules-engine/src/components/rules-engine/rule-actions/rule-actions-pres.component.ts
  packages/@o3r/rules-engine/src/components/rules-engine/rule-actions/rule-actions-pres.style.scss
  packages/@o3r/rules-engine/src/components/rules-engine/rule-actions/rule-actions-pres.template.html
  packages/@o3r/rules-engine/src/components/rules-engine/rule-key-value/rule-key-value-pres.style.scss
  packages/@o3r/rules-engine/src/components/rules-engine/rule-tree/rule-tree-pres.style.scss
  packages/@o3r/rules-engine/src/components/rules-engine/ruleset-history/ruleset-history-pres.style.scss
  packages/@o3r/rules-engine/src/components/rules-engine/ruleset-history/ruleset-history-pres.template.html
  packages/@o3r/rules-engine/src/components/rules-engine/styling/shared-mixin.scss
  packages/@o3r/rules-engine/src/components/rules-engine/styling/variables.scss
  packages/@o3r/rules-engine/src/engine/debug/engine.debug.spec.ts
  packages/@o3r/rules-engine/src/engine/debug/engine.debug.ts
  packages/@o3r/rules-engine/src/engine/engine.interface.ts
  packages/@o3r/rules-engine/src/engine/engine.ts
  yarn.lock
Due: Otter Modules, Otter developer tools

chore: upgrade typedoc
  packages/@ama-sdk/schematics/package.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r/extractors/package.json
  yarn.lock
Due: Otter Modules, Training modules, SDK Tooling
