Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

feat(ama-openapi): new preprocessor to enforce discriminator to be required
  docs/openapi/DECORATORS.md
  packages/@ama-openapi/redocly-plugin/src/plugin.mts
  packages/@ama-openapi/redocly-plugin/src/plugins/decorators/common/enforce-discriminator-mandatory/enforce-discriminator-mandatory.decorator.mts
  packages/@ama-openapi/redocly-plugin/src/plugins/decorators/common/enforce-discriminator-mandatory/enforce-discriminator-mandatory.decorator.spec.ts
Due: none

fix: o3r-set-version for wildcards in files
  packages/@o3r/workspace/src/cli/set-version-regexes.ts
  packages/@o3r/workspace/src/cli/set-version.cts
  packages/@o3r/workspace/src/cli/set-version.spec.ts
Due: Otter Modules

chore: clean vitest nx config
  nx.json
  packages/@ama-openapi/cli/project.json
  packages/@ama-openapi/core/project.json
  packages/@ama-openapi/create/project.json
  packages/@ama-openapi/redocly-plugin/project.json
  packages/@ama-styling/style-dictionary/project.json
  packages/@ama-styling/stylelint-plugin/project.json
Due: none

chore: bump vm2 for audit fix
  packages/@o3r/core/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Due: Otter Modules

feat: renovate install from private reg
  tools/renovate/README.md
  tools/renovate/otter-project-with-auth.json5
  tools/renovate/otter-project.json
  tools/renovate/sdk-spec-upgrade-with-auth.json5
  tools/renovate/sdk-spec-upgrade.json
  tools/renovate/sdk-with-auth.json5
  tools/renovate/sdk.json
  tools/renovate/tasks/base-with-auth.json5
  tools/renovate/tasks/base.json
  tools/renovate/tasks/otter-ng-update-with-auth.json5
  tools/renovate/tasks/otter-ng-update.json
  tools/renovate/tasks/sdk-regenerate-with-auth.json5
  tools/renovate/tasks/sdk-regenerate.json
  tools/renovate/tasks/sdk-spec-regenerate-with-auth.json5
  tools/renovate/tasks/sdk-spec-regenerate.json
  tools/renovate/yarn2/otter-project-with-auth.json5
  tools/renovate/yarn2/sdk-spec-upgrade-with-auth.json5
  tools/renovate/yarn2/sdk-with-auth.json5
  tools/renovate/yarn2/tasks/otter-ng-update-with-auth.json5
  tools/renovate/yarn2/tasks/sdk-regenerate-with-auth.json5
  tools/renovate/yarn2/tasks/sdk-spec-regenerate-with-auth.json5
Due: none

fix: remove transloco ref from components
  .gitignore
  apps/showcase/src/style/dark-theme/dark-theme.scss
  apps/showcase/src/style/horizon-theme/horizon-theme.scss
  apps/showcase/src/style/theme.scss
  docs/README.md
  packages/@o3r/components/package.json
  packages/@o3r/components/src/rules-engine/placeholder-action-handler.ts
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/release/packaged-action/index.cjs.map
  yarn.lock
Due: Otter Modules, Otter Github shared Actions

fix: localization & transloco optional in components package
  packages/@o3r/components/package.json
  packages/@o3r/components/src/devkit/inspector/otter-inspector-helpers.spec.ts
  packages/@o3r/components/src/rules-engine/placeholder-action-handler.ts
  packages/@o3r/components/src/rules-engine/placeholder-interfaces.ts
  packages/@o3r/components/src/rules-engine/placeholder-rules-engine.effect.ts
  yarn.lock
Due: Otter Modules

fix: preaprove local packages for yarn install in it-tests
  packages/@o3r/test-helpers/src/utilities/package-manager.ts
Due: Otter Modules

chore: fix e2e by disabling package age guard
  packages/@o3r/test-helpers/src/utilities/package-manager.ts
Due: Otter Modules

chore: fix error at vitest vscode extension launch
  .vscode/settings.json
Due: none

chore: fix npmPreapprovedPackages set parameter
  package.json
  packages/@o3r/test-helpers/src/utilities/package-manager.ts
  yarn.lock
Due: Otter Modules

refactor: add provideStylingDevtools function and modernize mfe-ng-utils tests
  packages/@ama-mfe/ng-utils/src/connect/connect-directive.spec.ts
  packages/@ama-mfe/ng-utils/src/iframe-embed/iframe-embed.component.spec.ts
  packages/@ama-mfe/ng-utils/src/navigation/route-memorize/route-memorize-directive.spec.ts
  packages/@ama-mfe/ng-utils/src/resize/scalable-directive.spec.ts
  packages/@ama-styling/devkit/src/core/styling-devtools-module.ts
Due: none

fix: remove jsverse/utils peer dep from transloco package
  packages/@o3r/transloco/package.json
  yarn.lock
Due: Otter Modules

fix(eslint-plugin): allow reference in resolution fields
  package.json
  packages/@o3r/create/package.json
  packages/@o3r/eslint-plugin/src/rules/json/json-dependency-versions-harmonize/json-dependency-versions-harmonize.spec.ts
  packages/@o3r/eslint-plugin/src/rules/json/json-dependency-versions-harmonize/json-dependency-versions-harmonize.ts
  yarn.lock
Due: Otter Modules

chore(mfe): share common consumer codes
  packages/@ama-mfe/ng-utils/src/history/history-consumer-service.ts
  packages/@ama-mfe/ng-utils/src/managers/abstract-message-consumer-service.spec.ts
  packages/@ama-mfe/ng-utils/src/managers/abstract-message-consumer-service.ts
  packages/@ama-mfe/ng-utils/src/managers/index.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation-consumer-service.ts
  packages/@ama-mfe/ng-utils/src/resize/resize-consumer-service.ts
  packages/@ama-mfe/ng-utils/src/theme/theme-consumer-service.ts
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/workspace/package.json
Due: Otter Modules, SDK Tooling

feat: create Agents.md and deprecate windsurf specific document
  .agents/README.md
  .agents/advanced.md
  .agents/build.md
  .agents/code-style.md
  .agents/contributing.md
  .agents/git-workflow.md
  .agents/linting.md
  .agents/overview.md
  .agents/runtime.md
  .agents/testing.md
  .agents/tools.md
  .vscode/settings.json
  .windsurf/rules/code-style-typescript.md
  .windsurf/rules/commands.md
  .windsurf/rules/documentation.md
  .windsurf/rules/git-ci.md
  .windsurf/rules/project-structure.md
  .windsurf/rules/repository-overview.md
  .windsurf/rules/runtime-setup.md
  .windsurf/rules/testing.md
  .windsurf/workflows/commit-and-push-code-to-github.md
  .windsurf/workflows/validate-code.md
  AGENTS.md
  README.md
Due: none

fix: update e2e screenshots
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/rules-engine.png
Due: none

fix(showdcase): remove wrong inputs
  apps/showcase/project.json
  nx.json
Due: none

fix(rulesets): change rulesets validity range
  apps/showcase/src/assets/rules/rulesets.json
Due: none

fix(transloco): typo for the rules-engine action
  packages/@o3r/transloco/src/rules-engine/localization-interfaces.ts
Due: Otter Modules

chore(deps): update parse5 to 8.0.1
  packages/@ama-mfe/ng-utils/testing/jest.config.ut.js
  yarn.lock
Due: none

fix(core): context exposed interface
  packages/@o3r/core/src/core/interfaces/context.ts
Due: Otter Modules

Revert "chore(deps): update patch dependencies"
  .github/workflows/audit.yml
  .github/workflows/check-all-releases.yml
  .github/workflows/check-release.yml
  .github/workflows/clean-cache.yml
  .github/workflows/code-check.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-showcase.yml
  .github/workflows/documentation.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  .github/workflows/main.yml
  .github/workflows/md-external-links-check.yml
  .github/workflows/pr-labels.yml
  .github/workflows/publish.yml
  .github/workflows/scorecards.yml
  apps/showcase/package.json
  mcps/@o3r/mcp/package.json
  package.json
  packages/@ama-mfe/messages/package.json
  packages/@ama-mfe/ng-utils/package.json
  packages/@ama-styling/style-dictionary/package.json
  packages/@o3r/components/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/pipeline/package.json
  packages/@o3r/pipeline/schematics/ng-add/templates/github/__dot__github/workflows/main.yml
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/telemetry/package.json
  packages/@o3r/transloco/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Due: Otter Modules

fix: update core package entrypoints
  packages/@o3r/core/package.json
Due: Otter Modules

fix: remove InputSignal from inputs in context.ts
  packages/@o3r/core/src/core/interfaces/context.ts
Due: Otter Modules

fix: add readonly on message type ama-mfe
  packages/@ama-mfe/ng-utils/src/managers/interfaces.ts
Due: none

chore(deps): upgrade ngx-monaco-editor
  apps/showcase/package.json
  package.json
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  yarn.lock
Due: Otter Github shared Actions

fix: type common js for js subentries
  packages/@o3r/analytics/package.json
  packages/@o3r/application/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/mobile/package.json
Due: Otter Modules

chore(deps): upgrade undici
  package.json
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  yarn.lock
Due: Otter Github shared Actions

chore(deps): upgrade http-proxy-middleware
  package.json
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  yarn.lock
Due: Otter Github shared Actions

chore(deps): upgrade tmp
  package.json
  yarn.lock
Due: none

chore(deps): upgrade vite
  .yarnrc.yml
  apps/chrome-devtools/package.json
  package.json
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  yarn.lock
Due: Otter developer tools, Otter Github shared Actions

chore(deps): upgrade picomatch
  package.json
  yarn.lock
Due: none

chore: fallback angular cli version
  package.json
  yarn.lock
Due: none

Path conditions:
  Otter Modules: any of: packages/@o3r/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Otter developer tools: any of: apps/chrome-devtools/**, apps/github-cascading-app/**, apps/intellij-extension/**, apps/vscode-extension/**, apps/palette-generator/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Otter Github shared Actions: any of: tools/github-actions/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Training modules: any of: packages/@o3r-training/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  SDK Tooling: any of: packages/@ama-sdk/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
