Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

fix(style-dictionary): for corner case values fix(style-dictionary): fallback file for token not matching rules feat(style-dictionary): add support for gradient tokens
  packages/@o3r/style-dictionary/README.md
  packages/@o3r/style-dictionary/schematics/index.it.spec.ts
  packages/@o3r/style-dictionary/schematics/ng-add/templates/config.__configExtension__
  packages/@o3r/style-dictionary/src/filters/target-file.filter.mts
  packages/@o3r/style-dictionary/src/formats/css-formatters/default.formatter.mts
  packages/@o3r/style-dictionary/src/formats/css-formatters/gradients.formatter.mts
  packages/@o3r/style-dictionary/src/formats/css-formatters/gradients.formatter.spec.ts
  packages/@o3r/style-dictionary/src/formats/css-formatters/interface.formatter.mts
  packages/@o3r/style-dictionary/src/formats/css-formatters/private.formatter.mts
  packages/@o3r/style-dictionary/src/formats/css-formatters/private.formatter.spec.ts
  packages/@o3r/style-dictionary/src/formats/css.format.mts
  packages/@o3r/style-dictionary/src/formats/css.format.spec.ts
  packages/@o3r/style-dictionary/src/formats/metadata.format.mts
  packages/@o3r/style-dictionary/src/transforms/unit.transform.mts
  packages/@o3r/style-dictionary/testing/mocks/dictionaries/gradient-token-ref.json
  packages/@o3r/style-dictionary/testing/mocks/dictionaries/gradient-token.json
Due: Otter Modules

fix(renovate): add `v` prefix to tag versions docs(renovate): recommend the version lock
  docs/renovate/readme.md
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/.renovaterc.json.template
  packages/@o3r/workspace/schematics/ng-add/helpers/renovate/templates/__dot__renovaterc.json.template
  tools/renovate/README.md
Due: Otter Modules, SDK Tooling

docs: markdown link check exception for firma plugins
  .github/markdown-external-links.config.json
  packages/@o3r/style-dictionary/README.md
Due: Otter Modules

fix(palette-generator): add cache to palette generator application
  apps/palette-generator/project.json
Due: none

fix(style-dictionary): for corner case values fix(style-dictionary): fallback file for token not matching rules feat(style-dictionary): add support for gradient tokens
  apps/palette-generator/project.json
  packages/@o3r/style-dictionary/README.md
  packages/@o3r/style-dictionary/schematics/index.it.spec.ts
  packages/@o3r/style-dictionary/schematics/ng-add/templates/config.__configExtension__
  packages/@o3r/style-dictionary/src/filters/target-file.filter.mts
  packages/@o3r/style-dictionary/src/formats/css-formatters/default.formatter.mts
  packages/@o3r/style-dictionary/src/formats/css-formatters/gradients.formatter.mts
  packages/@o3r/style-dictionary/src/formats/css-formatters/gradients.formatter.spec.ts
  packages/@o3r/style-dictionary/src/formats/css-formatters/interface.formatter.mts
  packages/@o3r/style-dictionary/src/formats/css-formatters/private.formatter.mts
  packages/@o3r/style-dictionary/src/formats/css-formatters/private.formatter.spec.ts
  packages/@o3r/style-dictionary/src/formats/css.format.mts
  packages/@o3r/style-dictionary/src/formats/css.format.spec.ts
  packages/@o3r/style-dictionary/src/formats/metadata.format.mts
  packages/@o3r/style-dictionary/src/transforms/unit.transform.mts
  packages/@o3r/style-dictionary/testing/mocks/dictionaries/gradient-token-ref.json
  packages/@o3r/style-dictionary/testing/mocks/dictionaries/gradient-token.json
Due: Otter Modules

fix: update theme doc for com protocol; remove unused deps for tests
  packages/@ama-mfe/ng-utils/package.json
  packages/@ama-mfe/ng-utils/src/theme/README.md
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  yarn.lock
Due: none

feat(#2930): reduce boilerplate when registering producer
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/managers/index.ts
  packages/@ama-mfe/ng-utils/src/managers/utils.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.producer.service.ts
  packages/@ama-mfe/ng-utils/src/resize/resize.producer.service.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.producer.service.ts
Due: none

feat: propose provider instead of module.forRoot
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/solution/app.config.ts
  packages/@o3r/apis-manager/src/apis-manager/api-manager.module.ts
  packages/@o3r/apis-manager/src/apis-manager/api-manager.token.ts
  packages/@o3r/configuration/src/devkit/configuration-devtools.message.spec.ts
  packages/@o3r/logger/src/services/logger/logger.module.ts
  packages/@o3r/logger/src/services/logger/logger.spec.ts
Due: Otter Modules

fix(#2967): filtered out configuration without properties
  apps/showcase/src/app/configuration/configuration.component.ts
  apps/showcase/src/app/configuration/configuration.config.ts
  packages/@o3r/components/builders/component-extractor/helpers/component/component.extractor.ts
  packages/@o3r/components/builders/component-extractor/index.spec.ts
Due: Otter Modules

feat(ama-mfe-utils): download application local CSS when receiving message from host #2919
  packages/@ama-mfe/ng-utils/src/theme/theme.consumer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.consumer.service.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.helpers.spec.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.helpers.ts
Due: none

feat: update supported versions in documentation
  SECURITY.md
Due: none

test: use dev drive on windows runners for it-tests
  .github/workflows/it-tests.yml
  packages/@o3r/test-helpers/src/prepare-test-env.ts
  packages/@o3r/test-helpers/src/utilities/package-manager.ts
Due: Otter Modules

docs(style-dictionary): get started
  packages/@o3r/style-dictionary/README.md
Due: Otter Modules

feat: exploded syntax in sdk - otter default values for swagger2
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
Due: SDK Tooling

feat: propose provider instead of module.forRoot
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/solution/app.config.ts
  docs/logger/LOGS.md
  packages/@o3r/apis-manager/src/apis-manager/api-manager.module.ts
  packages/@o3r/apis-manager/src/apis-manager/api-manager.token.ts
  packages/@o3r/configuration/src/devkit/configuration-devtools.message.spec.ts
  packages/@o3r/logger/src/services/logger/logger.module.ts
  packages/@o3r/logger/src/services/logger/logger.spec.ts
Due: Otter Modules

fix(renovate): add `v` prefix in tag version set
  tools/renovate/managers/renovate-otter-presets.json5
Due: none

docs(style-dictionary): fix readme
  packages/@o3r/style-dictionary/README.md
Due: Otter Modules

chore: manually upgrade codeCode test task
  .github/workflows/code-check.yml
Due: none

fix(yarn-errors-reporter): prevent error when there are local changes
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/src/main.ts
Due: Otter Github shared Actions

feat: exploded syntax in sdk - support dates
  packages/@ama-sdk/core/src/fwk/api.helpers.ts
  packages/@ama-sdk/core/src/fwk/param-serialization.spec.ts
  packages/@ama-sdk/core/src/fwk/param-serialization.ts
Due: SDK Tooling

fix: version harmonize without alignPeerDependencies should support prereleases
  packages/@o3r/eslint-plugin/src/rules/json/json-dependency-versions-harmonize/json-dependency-versions-harmonize.spec.ts
  packages/@o3r/eslint-plugin/src/rules/json/json-dependency-versions-harmonize/json-dependency-versions-harmonize.ts
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
Due: Otter Modules

ci: limit it-tests on pull-requests to only ubuntu-npm
  .github/workflows/it-tests.yml
Due: none

fix: add warning log for unsupported config types
  packages/@o3r/components/builders/component-extractor/helpers/component/component-config.extractor.spec.ts
  packages/@o3r/components/builders/component-extractor/helpers/component/component-config.extractor.ts
  packages/@o3r/components/package.json
  yarn.lock
Due: Otter Modules

fix(showcase): configuration override toggle
  apps/showcase/src/app/configuration/configuration.template.html
Due: none

fix(renovate): otter preset version with parameters
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/.renovaterc.json.template
  packages/@o3r/workspace/schematics/ng-add/helpers/renovate/templates/__dot__renovaterc.json.template
  packages/@o3r/workspace/schematics/ng-update/v12.1/renovate-version.spec.ts
  packages/@o3r/workspace/schematics/ng-update/v12.1/renovate-version.ts
  packages/@o3r/workspace/testing/jest.config.ut.builders.js
Due: Otter Modules, SDK Tooling

feat(ama-mfe-utils): integrate logger mechanism
  packages/@ama-mfe/ng-utils/package.json
  packages/@ama-mfe/ng-utils/src/connect/connect.directive.spec.ts
  packages/@ama-mfe/ng-utils/src/connect/connect.directive.ts
  packages/@ama-mfe/ng-utils/src/managers/consumer.manager.service.spec.ts
  packages/@ama-mfe/ng-utils/src/managers/consumer.manager.service.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.producer.service.ts
  packages/@ama-mfe/ng-utils/src/ng-package.json
  packages/@ama-mfe/ng-utils/src/theme/theme.consumer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.consumer.service.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.helpers.spec.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.helpers.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.producer.service.ts
  packages/@o3r/logger/package.json
  yarn.lock
Due: Otter Modules

feat: propose provider instead of module.forRoot
  apps/showcase/src/app/app.module.ts
  apps/showcase/src/app/dynamic-content/dynamic-content.component.ts
  apps/showcase/src/app/dynamic-content/dynamic-content.spec.ts
  apps/showcase/src/app/home/home.component.ts
  apps/showcase/src/app/home/home.spec.ts
  apps/showcase/src/app/placeholder/placeholder.component.ts
  apps/showcase/src/app/placeholder/placeholder.spec.ts
  apps/showcase/src/app/rules-engine/rules-engine.component.ts
  apps/showcase/src/app/sdk-training/sdk-training.spec.ts
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres.component.ts
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres.spec.ts
  apps/showcase/src/components/showcase/dynamic-content/dynamic-content-pres.component.ts
  apps/showcase/src/components/showcase/dynamic-content/dynamic-content-pres.spec.ts
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.component.ts
  apps/showcase/src/components/training/training.component.spec.ts
  apps/showcase/src/components/training/training.component.ts
  docs/components/COMPONENT_REPLACEMENT.md
  docs/dynamic-content/DYNAMIC_CONTENT.md
  docs/routing/APP_SERVER_ROUTING.md
  docs/routing/REQUEST_PARAMETERS_SERVICE.md
  packages/@o3r/components/src/tools/component-replacement/c11n.directive.ts
  packages/@o3r/components/src/tools/component-replacement/c11n.module.ts
  packages/@o3r/core/schematics/rule-factories/customization-environment/index.ts
  packages/@o3r/core/schematics/rule-factories/customization-environment/templates/src/customization/presenters-map.empty.ts.template
  packages/@o3r/dynamic-content/README.md
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.module.ts
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.pipe.spec.ts
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.pipe.ts
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.service.spec.ts
  packages/@o3r/dynamic-content/src/services/request-parameters/request-parameters.module.ts
  packages/@o3r/dynamic-content/src/services/request-parameters/request-parameters.spec.ts
  packages/@o3r/routing/src/tools/app-server-routing.module.ts
Due: Otter Modules

ci: speed up execution of version harmonize
  package.json
  yarn.lock
Due: none

chore: run postinstall scripts
  .yarn/sdks/eslint/lib/config-api.js
  .yarn/sdks/eslint/lib/types/config-api.d.ts
  .yarn/sdks/eslint/lib/types/rules.d.ts
  .yarn/sdks/eslint/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Due: Otter Modules

fix: support .renovaterc.json5
  tools/renovate/managers/renovate-otter-presets.json5
Due: none

ci: fix eslint cache
  .github/workflows/code-check.yml
  nx.json
Due: none

ci: speed up execution of lighthouse tests
  apps/showcase/e2e-playwright/sanity/lighthouse-sanity.e2e.ts
Due: none

chore: migrate jest config architecture to modular
  .yarn/sdks/eslint/lib/config-api.js
  .yarn/sdks/eslint/lib/types/config-api.d.ts
  .yarn/sdks/eslint/lib/types/rules.d.ts
  .yarn/sdks/eslint/package.json
  .yarnrc.yml
  jest.config.js
  package.json
  packages/@o3r/core/jest.config.js
  packages/@o3r/core/package.json
  packages/@o3r/core/testing/jest.config.it.js
  packages/@o3r/core/testing/jest.config.ut.builders.js
  packages/@o3r/core/testing/jest.config.ut.js
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/test-helpers/package.json
  packages/@o3r/test-helpers/src/jest-config/index.ts
  packages/@o3r/test-helpers/src/public_api.ts
  packages/@o3r/test-helpers/tsconfig.build.json
  yarn.lock
Due: Otter Modules

feat: add editor-config and apply rules to generated files
  jest.config.ut.js
  packages/@o3r/design/schematics/ng-add/index.ts
  packages/@o3r/eslint-config-otter/schematics/ng-add/linter/index.ts
  packages/@o3r/eslint-config/schematics/ng-add/index.ts
  packages/@o3r/schematics/package.json
  packages/@o3r/schematics/src/rule-factories/editor-config/editor-config.spec.ts
  packages/@o3r/schematics/src/rule-factories/editor-config/editor-config.ts
  packages/@o3r/schematics/src/rule-factories/editor-config/index.ts
  packages/@o3r/schematics/src/rule-factories/index.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/dependencies.ts
  packages/@o3r/style-dictionary/schematics/ng-add/index.ts
  packages/@o3r/telemetry/schematics/ng-add/index.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/editorconfig/index.spec.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/editorconfig/index.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/editorconfig/templates/__dot__editorconfig.template
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  packages/@o3r/workspace/schematics/ng-add/schema.json
  packages/@o3r/workspace/schematics/ng-add/schema.ts
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  yarn.lock
Due: Otter Modules

Path conditions:
  Otter Modules: any of: packages/@o3r/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter developer tools: any of: apps/chrome-devtools/**, apps/github-cascading-app/**, apps/intellij-extension/**, apps/vscode-extension/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter Github shared Actions: any of: tools/github-actions/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Training modules: any of: packages/@o3r-training/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  SDK Tooling: any of: packages/@ama-sdk/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
