Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

codecov.yml:

codecov:
  require_ci_to_pass: true

ignore:
  # Package Manager files
  - '.yarn/**/*'
  - '.pnp.*'
  - '.cache/**/*'
  - 'tmp/**/*'
  - '**/node_modules/**/*'

  # Distribution folders
  - 'packages/@*/*/dist/**/*'
  - 'tools/@*/*/dist/**/*'
  - 'apps/@*/*/dist/**/*'

  # Generated files
  - 'packages/@o3r-training/showcase-sdk/src/api/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/models/base/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/spec/**/*'
  - 'tools/github-actions/*/packaged-action/**/*'

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: otter
      name: Otter Modules
      paths:
        - packages/@o3r/**
    - component_id: otter-tools
      name: Otter developer tools
      paths:
        - apps/chrome-devtools/**
        - apps/github-cascading-app/**
        - apps/intellij-extension/**
        - apps/vscode-extension/**
    - component_id: otter-github-actions
      name: Otter Github shared Actions
      paths:
        - tools/github-actions/**
    - component_id: training
      name: Training modules
      paths:
        - packages/@o3r-training/**
    - component_id: sdk
      name: SDK Tooling
      paths:
        - packages/@ama-sdk/**

fix: remove deprecated cascading github action and jasmine from eslint config otter
  packages/@o3r/eslint-config-otter/jasmine-fast.cjs
  packages/@o3r/eslint-config-otter/jasmine.cjs
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-config-otter/schematics/ng-add/linter/templates/workspace/__dot__eslintrc.js.template
  packages/@o3r/eslint-config-otter/typescript-fast.cjs
  tools/github-actions/README.md
  tools/github-actions/cascading/LICENSE
  tools/github-actions/cascading/action.yml
  tools/github-actions/cascading/eslint.config.mjs
  tools/github-actions/cascading/eslint.local.config.mjs
  tools/github-actions/cascading/jest.config.js
  tools/github-actions/cascading/package.json
  tools/github-actions/cascading/packaged-action/.editorconfig
  tools/github-actions/cascading/packaged-action/LICENSE.txt
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/packaged-action/index.js.map
  tools/github-actions/cascading/packaged-action/sourcemap-register.js
  tools/github-actions/cascading/project.json
  tools/github-actions/cascading/readme.md
  tools/github-actions/cascading/src/cascading.ts
  tools/github-actions/cascading/src/helpers.spec.ts
  tools/github-actions/cascading/src/helpers.ts
  tools/github-actions/cascading/src/main.ts
  tools/github-actions/cascading/testing/jest.config.ut.js
  tools/github-actions/cascading/testing/setup-jest.ts
  tools/github-actions/cascading/tsconfig.build.composite.json
  tools/github-actions/cascading/tsconfig.build.json
  tools/github-actions/cascading/tsconfig.eslint.json
  tools/github-actions/cascading/tsconfig.json
  tools/github-actions/cascading/tsconfig.spec.json
  yarn.lock
Due: Otter Modules, Otter Github shared Actions

docs: update link for rxjs
  README.md
Due: none

feat: support exploded syntax in sdk
  packages/@ama-sdk/client-angular/src/api-angular-client.ts
  packages/@ama-sdk/client-beacon/src/api-beacon-client.ts
  packages/@ama-sdk/client-fetch/src/api-fetch-client.ts
  packages/@ama-sdk/core/src/clients/api-angular-client.ts
  packages/@ama-sdk/core/src/clients/api-beacon-client.ts
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
  packages/@ama-sdk/core/src/fwk/api.helper.spec.ts
  packages/@ama-sdk/core/src/fwk/api.helpers.ts
  packages/@ama-sdk/core/src/fwk/core/api-client.ts
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/LambdaHelper.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
  packages/@o3r-training/showcase-sdk/openapitools.json
  packages/@o3r-training/showcase-sdk/readme.md
  packages/@o3r-training/showcase-sdk/src/api/enums.ts
  packages/@o3r-training/showcase-sdk/src/api/index.ts
  packages/@o3r-training/showcase-sdk/src/api/interfaces.ts
  packages/@o3r-training/showcase-sdk/src/api/pet/pet-api.fixture.ts
  packages/@o3r-training/showcase-sdk/src/api/pet/pet-api.jasmine.fixture.ts
  packages/@o3r-training/showcase-sdk/src/api/pet/pet-api.jest.fixture.ts
  packages/@o3r-training/showcase-sdk/src/api/pet/pet-api.ts
  packages/@o3r-training/showcase-sdk/src/api/store/store-api.fixture.ts
  packages/@o3r-training/showcase-sdk/src/api/store/store-api.jasmine.fixture.ts
  packages/@o3r-training/showcase-sdk/src/api/store/store-api.jest.fixture.ts
  packages/@o3r-training/showcase-sdk/src/api/store/store-api.ts
  packages/@o3r-training/showcase-sdk/src/api/user/user-api.fixture.ts
  packages/@o3r-training/showcase-sdk/src/api/user/user-api.jasmine.fixture.ts
  packages/@o3r-training/showcase-sdk/src/api/user/user-api.jest.fixture.ts
  packages/@o3r-training/showcase-sdk/src/api/user/user-api.ts
  packages/@o3r-training/showcase-sdk/src/spec/api-mock.ts
  packages/@o3r-training/showcase-sdk/src/spec/operation-adapter.ts
  packages/@o3r-training/training-sdk/open-api.yaml
  packages/@o3r-training/training-sdk/openapitools.json
  packages/@o3r-training/training-sdk/src/api/dummy/dummy-api.jest.fixture.ts
  packages/@o3r-training/training-sdk/src/api/dummy/dummy-api.ts
  packages/@o3r-training/training-sdk/src/spec/api-mock.ts
  packages/@o3r-training/training-sdk/src/spec/operation-adapter.ts
Due: Training modules, SDK Tooling

fix: migration guide for cascading-action to cascading app
  migration-guides/12.0.md
Due: none

docs(renovate): update renovate doc on how to allow post upgrade commands
  docs/renovate/readme.md
Due: none

fix: o3r create with preset all and cms
  packages/@o3r/create/README.md
  packages/@o3r/create/src/index.it.spec.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
Due: Otter Modules

﻿fix(eslint-config): fix @o3r/eslint-config schematics issues #2686
  packages/@o3r/eslint-config/package.json
  packages/@o3r/eslint-config/schematics/ng-add/eslint/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/eslint/index.ts
  tools/github-actions/audit/src/main.ts
  yarn.lock
Due: Otter Modules, Otter Github shared Actions

feat: figma plugin for palette local variables
  .github/ISSUE_TEMPLATE/4-APPLICATION-ISSUE-FORM.yaml
  .yarn/sdks/eslint/package.json
  apps/palette-generator/README.md
  apps/palette-generator/docs/color-shades.png
  apps/palette-generator/docs/copy-shades.png
  apps/palette-generator/docs/otter-plugin.png
  apps/palette-generator/eslint.config.mjs
  apps/palette-generator/eslint.local.config.mjs
  apps/palette-generator/jest.config.js
  apps/palette-generator/manifest.json
  apps/palette-generator/package.json
  apps/palette-generator/project.json
  apps/palette-generator/src/contract/index.ts
  apps/palette-generator/src/plugin/code.ts
  apps/palette-generator/src/ui/ui.html
  apps/palette-generator/src/ui/ui.ts
  apps/palette-generator/testing/jest.config.ut.js
  apps/palette-generator/testing/setup-jest.ts
  apps/palette-generator/tsconfig.build.json
  apps/palette-generator/tsconfig.build.plugin.json
  apps/palette-generator/tsconfig.eslint.json
  apps/palette-generator/tsconfig.json
  apps/palette-generator/tsconfig.spec.json
  apps/palette-generator/webpack.config.js
  packages/@ama-terasu/cli/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/release/packaged-action/index.cjs.map
  yarn.lock
Due: Otter Modules

feat: recommended preset for o3r core schematic
  packages/@o3r/core/README.md
  packages/@o3r/core/schematics/add-modules/index.ts
  packages/@o3r/core/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/ng-add/project-setup/index.ts
  packages/@o3r/core/schematics/ng-add/schema.json
  packages/@o3r/core/schematics/ng-add/schema.ts
  packages/@o3r/core/schematics/ng-add/utils/linter/index.spec.ts
  packages/@o3r/core/schematics/ng-add/utils/linter/index.ts
  packages/@o3r/core/schematics/shared/presets/helpers.ts
  packages/@o3r/core/schematics/shared/presets/index.ts
  packages/@o3r/core/schematics/shared/presets/preset.interface.ts
  packages/@o3r/core/schematics/shared/presets/recommended.preset.ts
  packages/@o3r/create/README.md
  packages/@o3r/create/src/index.ts
  packages/@o3r/test-helpers/src/test-environments/create-test-environment-otter-project.ts
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  packages/@o3r/workspace/schematics/ng-add/schema.json
  packages/@o3r/workspace/schematics/ng-add/schema.ts
  packages/@o3r/workspace/schematics/rule-factories/index.ts
  packages/@o3r/workspace/schematics/rule-factories/linter.ts
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
Due: Otter Modules

fix: renovate to use chore instead of fix
  tools/renovate/base.json
Due: none

docs: image size for palette generator readme
  apps/palette-generator/README.md
  packages/@o3r/store-sync/README.md
Due: Otter Modules

feat(pipeline): activate main workflow on all pr
  .github/workflows/audit.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  packages/@o3r/pipeline/schematics/ng-add/templates/github/__dot__github/workflows/main.yml
Due: Otter Modules

fix: forward options for presets
  packages/@o3r/core/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/shared/presets/helpers.ts
  packages/@o3r/create/src/index.it.spec.ts
Due: Otter Modules

feat(e2e): generate branch with the updated e2e screenshots
  .github/workflows/e2e-tests.yml
  .github/workflows/main.yml
  apps/showcase/e2e-playwright/playwright-config.ts
  apps/showcase/e2e-playwright/sanity/visual-sanity.e2e.ts
  apps/showcase/scripts/update-screenshots/readme.md
  docs/testing/VISUAL_TESTING_REPORTER.md
  packages/@ama-sdk/client-angular/tsconfig.eslint.json
  packages/@ama-sdk/client-beacon/tsconfig.eslint.json
  packages/@ama-sdk/client-fetch/tsconfig.eslint.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r-training/training-sdk/tsconfig.eslint.json
  packages/@o3r-training/training-tools/tsconfig.eslint.json
  packages/@o3r/pipeline/tsconfig.eslint.json
  packages/@o3r/testing/package.json
  packages/@o3r/testing/src/visual-testing-reporter/index.ts
  packages/@o3r/testing/tsconfig.build.json
  tools/github-actions/create-branch-e2e-screenshots/LICENSE
  tools/github-actions/create-branch-e2e-screenshots/action.yml
  tools/github-actions/create-branch-e2e-screenshots/readme.md
  tools/github-actions/get-npm-tag/eslint.local.config.mjs
  tools/github-actions/new-version/eslint.local.config.mjs
  tools/github-actions/release/eslint.local.config.mjs
  tools/github-actions/release/tsconfig.eslint.json
  tools/github-actions/update-e2e-screenshots/LICENSE
  tools/github-actions/update-e2e-screenshots/action.yml
  tools/github-actions/update-e2e-screenshots/readme.md
Due: Otter Modules, Otter Github shared Actions, Training modules, SDK Tooling

docs: markdown link check exception for firma plugins
  .github/markdown-external-links.config.json
Due: none

feat: specify renovate Otter preset versions
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/.renovaterc.json.template
  packages/@o3r/workspace/migration.json
  packages/@o3r/workspace/schematics/ng-add/helpers/renovate/index.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/renovate/templates/__dot__renovaterc.json.template
  packages/@o3r/workspace/schematics/ng-update/index.ts
  packages/@o3r/workspace/schematics/ng-update/v12.1/renovate-version.ts
  tools/renovate/managers/renovate-otter-presets.json5
  tools/renovate/otter-project.json
Due: Otter Modules, SDK Tooling

fix(#2929): return {} only if the property is not defined, not if it is falsy
  packages/@ama-sdk/create/src/index.it.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.js
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/pom.xml
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
  packages/@o3r-training/showcase-sdk/open-api.yaml
  packages/@o3r-training/showcase-sdk/openapitools.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/showcase-sdk/readme.md
  packages/@o3r-training/showcase-sdk/src/api/enums.ts
  packages/@o3r-training/showcase-sdk/src/api/index.ts
  packages/@o3r-training/showcase-sdk/src/api/interfaces.ts
  packages/@o3r-training/showcase-sdk/src/api/pet/pet-api.fixture.ts
  packages/@o3r-training/showcase-sdk/src/api/pet/pet-api.jasmine.fixture.ts
  packages/@o3r-training/showcase-sdk/src/api/pet/pet-api.jest.fixture.ts
  packages/@o3r-training/showcase-sdk/src/api/pet/pet-api.ts
  packages/@o3r-training/showcase-sdk/src/api/store/store-api.fixture.ts
  packages/@o3r-training/showcase-sdk/src/api/store/store-api.jasmine.fixture.ts
  packages/@o3r-training/showcase-sdk/src/api/store/store-api.jest.fixture.ts
  packages/@o3r-training/showcase-sdk/src/api/store/store-api.ts
  packages/@o3r-training/showcase-sdk/src/api/user/user-api.fixture.ts
  packages/@o3r-training/showcase-sdk/src/api/user/user-api.jasmine.fixture.ts
  packages/@o3r-training/showcase-sdk/src/api/user/user-api.jest.fixture.ts
  packages/@o3r-training/showcase-sdk/src/api/user/user-api.ts
  packages/@o3r-training/showcase-sdk/src/spec/api-mock.ts
  packages/@o3r-training/showcase-sdk/src/spec/operation-adapter.ts
  packages/@o3r/workspace/schematics/index.it.spec.ts
Due: Otter Modules, Training modules, SDK Tooling

fix(publication): specify the access public for @ama-mfe/ng-utils
  packages/@ama-mfe/ng-utils/package.json
Due: none

ci: add annotation for errors during yarn install
  .github/workflows/main.yml
  tools/github-actions/README.md
  tools/github-actions/yarn-errors-reporter/LICENSE
  tools/github-actions/yarn-errors-reporter/action.yml
  tools/github-actions/yarn-errors-reporter/eslint.config.mjs
  tools/github-actions/yarn-errors-reporter/eslint.local.config.mjs
  tools/github-actions/yarn-errors-reporter/jest.config.js
  tools/github-actions/yarn-errors-reporter/package.json
  tools/github-actions/yarn-errors-reporter/packaged-action/LICENSE.txt
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/packaged-action/sourcemap-register.js
  tools/github-actions/yarn-errors-reporter/project.json
  tools/github-actions/yarn-errors-reporter/readme.md
  tools/github-actions/yarn-errors-reporter/src/main.ts
  tools/github-actions/yarn-errors-reporter/testing/jest.config.ut.js
  tools/github-actions/yarn-errors-reporter/testing/setup-jest.ts
  tools/github-actions/yarn-errors-reporter/tsconfig.build.composite.json
  tools/github-actions/yarn-errors-reporter/tsconfig.build.json
  tools/github-actions/yarn-errors-reporter/tsconfig.eslint.json
  tools/github-actions/yarn-errors-reporter/tsconfig.json
  tools/github-actions/yarn-errors-reporter/tsconfig.spec.json
  yarn.lock
Due: Otter Github shared Actions

chore: update stylelint
  package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/package.json
  yarn.lock
Due: Otter Modules

ci: prevent pull requests to write cache for it tests
  .github/workflows/it-tests.yml
Due: none

fix(resize): add 1px to the scrollheight as it is rounded
  packages/@ama-mfe/ng-utils/src/resize/resize.producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/resize/resize.producer.service.ts
Due: none

fix: enhance response exception if response.text() fails
  packages/@ama-sdk/core/src/clients/api-angular-client.ts
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
Due: SDK Tooling

fix(ama-sdk-schematics): test on renovate templates
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.spec.ts
Due: SDK Tooling

docs: document @ama-mfe communication protocol
  packages/@ama-mfe/messages/README.md
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/navigation/README.md
  packages/@ama-mfe/ng-utils/src/resize/README.md
  packages/@ama-mfe/ng-utils/src/theme/README.md
Due: none

chore: upgrade @amadeus-it-group/microfrontends to v0.0.3
  packages/@ama-mfe/messages/package.json
  packages/@ama-mfe/ng-utils/package.json
  packages/@ama-mfe/ng-utils/src/resize/resize.producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/resize/resize.producer.service.ts
  packages/@ama-mfe/ng-utils/testing/babel.config.js
  packages/@ama-mfe/ng-utils/testing/jest.config.ut.js
  yarn.lock
Due: none

feat: recommended preset for o3r core schematic
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/README.md
  packages/@o3r/core/schematics/add-modules/schema.ts
  packages/@o3r/core/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/ng-add/project-setup/index.ts
  packages/@o3r/core/schematics/ng-add/schema.json
  packages/@o3r/core/schematics/ng-add/schema.ts
  packages/@o3r/core/schematics/ng-add/utils/linter/index.spec.ts
  packages/@o3r/core/schematics/ng-add/utils/linter/index.ts
  packages/@o3r/core/schematics/shared/presets/basic.preset.ts
  packages/@o3r/core/schematics/shared/presets/helpers.ts
  packages/@o3r/core/schematics/shared/presets/index.ts
  packages/@o3r/core/schematics/shared/presets/preset.interface.ts
  packages/@o3r/core/schematics/shared/presets/recommended.preset.ts
  packages/@o3r/create/README.md
  packages/@o3r/create/src/index.it.spec.ts
  packages/@o3r/create/src/index.ts
  packages/@o3r/test-helpers/src/test-environments/create-test-environment-otter-project.ts
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  packages/@o3r/workspace/schematics/ng-add/schema.json
  packages/@o3r/workspace/schematics/ng-add/schema.ts
  packages/@o3r/workspace/schematics/rule-factories/index.ts
  packages/@o3r/workspace/schematics/rule-factories/linter.spec.ts
  packages/@o3r/workspace/schematics/rule-factories/linter.ts
Due: Otter Modules, SDK Tooling

feat: support exploded syntax in sdk
  packages/@ama-sdk/client-angular/src/api-angular-client.ts
  packages/@ama-sdk/client-beacon/src/api-beacon-client.ts
  packages/@ama-sdk/client-fetch/src/api-fetch-client.ts
  packages/@ama-sdk/core/src/clients/api-angular-client.ts
  packages/@ama-sdk/core/src/clients/api-beacon-client.ts
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
  packages/@ama-sdk/core/src/fwk/api.helper.spec.ts
  packages/@ama-sdk/core/src/fwk/api.helpers.ts
  packages/@ama-sdk/core/src/fwk/core/api-client.ts
  packages/@ama-sdk/core/src/fwk/core/base-api-constructor.ts
  packages/@ama-sdk/core/src/fwk/index.ts
  packages/@ama-sdk/core/src/fwk/param-serialization.spec.ts
  packages/@ama-sdk/core/src/fwk/param-serialization.ts
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/LambdaHelper.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
  packages/@o3r-training/showcase-sdk/src/api/pet/pet-api.ts
  packages/@o3r-training/showcase-sdk/src/api/store/store-api.ts
  packages/@o3r-training/showcase-sdk/src/api/user/user-api.ts
  packages/@o3r-training/showcase-sdk/src/spec/api-mock.ts
  packages/@o3r-training/training-sdk/open-api.yaml
  packages/@o3r-training/training-sdk/src/api/dummy/dummy-api.ts
  packages/@o3r-training/training-sdk/src/spec/api-mock.ts
Due: Training modules, SDK Tooling

fix: enhance response exception if response.text() fails
  packages/@ama-sdk/client-angular/src/api-angular-client.ts
  packages/@ama-sdk/client-fetch/src/api-fetch-client.ts
Due: SDK Tooling

fix: add warning log for unsupported config types
  packages/@o3r/components/builders/component-extractor/helpers/component/component-config.extractor.ts
Due: Otter Modules
