Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

feat: re-allow chrome app publishing
  README.md
  apps/chrome-devtools/e2e-playwright/sanity/install-sanity.e2e.spec.ts
  apps/chrome-devtools/src/manifest.json
  apps/showcase/src/app/rules-engine/rules-engine.html
  apps/showcase/src/app/run-app-locally/run-app-locally.html
  docs/components/INTRODUCTION.md
  docs/configuration/OVERVIEW.md
  docs/dev-tools/chrome-devtools.md
  docs/localization/LOCALIZATION.md
  docs/rules-engine/how-to-use/chrome-extension.md
  migration-guides/14.0.md
  packages/@o3r/rules-engine/README.md
Due: Otter Modules, Otter developer tools

feat(openapi): add dynamic mask schema
  packages/@ama-openapi/core/src/constants.mts
  packages/@ama-openapi/core/src/schema/configurations/manifest-model-properties.mts
  packages/@ama-openapi/core/src/schema/configurations/manifest-model-properties.spec.ts
  packages/@ama-openapi/core/src/schema/configurations/model-definitions.mts
  packages/@ama-openapi/core/src/schema/configurations/model-definitions.spec.ts
  packages/@ama-openapi/core/src/schema/configurations/transform-definitions.mts
  packages/@ama-openapi/core/src/schema/configurations/transform-definitions.spec.ts
  packages/@ama-openapi/core/src/schema/generate-model-name.mts
  packages/@ama-openapi/core/src/schema/generate-model-name.spec.ts
  packages/@ama-openapi/core/src/schema/generate-schema.mts
  packages/@ama-openapi/core/src/schema/generate-schema.spec.ts
  packages/@ama-openapi/core/src/schema/list-artifacts.mts
  packages/@ama-openapi/core/src/schema/mask/dependencies-masks.mts
  packages/@ama-openapi/core/src/schema/mask/dependencies-masks.spec.ts
  packages/@ama-openapi/core/src/schema/mask/field-schema.constants.mts
  packages/@ama-openapi/core/src/schema/mask/generate-mask-from-model.mts
  packages/@ama-openapi/core/src/schema/mask/generate-mask-from-model.spec.ts
  packages/@ama-openapi/create/templates/package.json.template
Due: none

fix: ama mfe - listen to window resize in resize mechanism
  packages/@ama-mfe/ng-utils/src/resize/README.md
  packages/@ama-mfe/ng-utils/src/resize/scalable-content-fixed-directive.spec.ts
  packages/@ama-mfe/ng-utils/src/resize/scalable-content-flexible-directive.spec.ts
  packages/@ama-mfe/ng-utils/src/resize/scalable-directive.spec.ts
  packages/@ama-mfe/ng-utils/src/resize/scalable-directive.ts
Due: none

fix: remove high vulnerabilities from project
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

fix: sanitize Regexp user inputs
  tools/@o3r/workspace-helpers/scripts/prepare-doc-root-menu-template.mjs
  tools/@o3r/workspace-helpers/scripts/report-deprecates.mjs
  tools/@o3r/workspace-helpers/scripts/update-doc-summary.mjs
  tools/@o3r/workspace-helpers/scripts/utils.mjs
Due: none

fix: sanitize Regexp user inputs
  tools/@o3r/workspace-helpers/scripts/prepare-doc-root-menu-template.mjs
  tools/@o3r/workspace-helpers/scripts/update-doc-summary.mjs
Due: none

fix: screenshot update in ci
  tools/github-actions/create-branch-e2e-screenshots/action.yml
Due: Otter Github shared Actions

fix(swagger-builder): support for references without inner path
  packages/@ama-sdk/swagger-builder/src/core/swagger-spec-merger.ts
  packages/@ama-sdk/swagger-builder/src/core/swagger-spec-wrappers/swagger-spec-file.ts
Due: SDK Tooling

feat: use prompt registry validate collections github action
  .github/workflows/code-check.yml
  tools/@o3r/workspace-helpers/package.json
  tools/@o3r/workspace-helpers/scripts/prompt-registry/validate-collections.mjs
  yarn.lock
Due: none

chore: upgrade design-factory
  apps/chrome-devtools/package.json
  apps/chrome-devtools/src/styles/index.scss
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/forms.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/home.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/localization.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step10.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training.png
  apps/showcase/package.json
  apps/showcase/src/app/app.scss
  apps/showcase/src/style/design-token.app.json
  apps/showcase/src/style/theme.scss
  apps/showcase/src/styles.scss
  package.json
  yarn.lock
Due: Otter developer tools

fix(chrome-devtool): fix app key
  apps/chrome-devtools/src/manifest.json
Due: Otter developer tools

fix: audit on isaacs package - subdep of minimatch
  .yarnrc.yml
  yarn.lock
Due: none

chore: explicitly deprecate Scss functions and mixins
  apps/showcase/package.json
  apps/showcase/project.json
  apps/showcase/src/style/dark-theme/dark-theme.figma.json
  apps/showcase/src/style/design-token.app.json
  apps/showcase/src/style/design-token.figma.json
  apps/showcase/src/style/horizon-theme/horizon-theme.figma.json
  docs/README.md
  docs/components/INTRODUCTION.md
  packages/@ama-styling/devkit/package.json
  packages/@o3r/core/schematics/component/presenter/index.spec.ts
  packages/@o3r/core/schematics/component/presenter/index.ts
  packages/@o3r/core/schematics/rule-factories/component/design-token.ts
  packages/@o3r/schematics/src/rule-factories/update-imports/update-imports-with-scope.ts
  packages/@o3r/styling/builders/style-extractor/index.ts
  packages/@o3r/styling/package.json
  packages/@o3r/styling/scss/theming/_functions.scss
  packages/@o3r/styling/scss/theming/_mixins.scss
  tools/github-actions/audit/packaged-action/LICENSE.txt
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  tsconfig.base.json
  yarn.lock
Due: Otter Modules, Otter Github shared Actions

feat(renovate): allow major upgrade of github-actions on main
  tools/renovate/branching-strategy/release-branches.json
Due: none

chore: removal of useOtterTheming option
  apps/vscode-extension/src/commands/extract/styling/helpers/utils-helper.ts
  docs/cms-adapters/CMS_ADAPTERS.md
  docs/core/START_NEW_APPLICATION.md
  migration-guides/14.0.md
  packages/@ama-styling/stylelint-plugin/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/component/presenter/index.spec.ts
  packages/@o3r/core/schematics/component/presenter/schema.json
  packages/@o3r/core/schematics/component/presenter/schema.ts
  packages/@o3r/core/schematics/component/schema.json
  packages/@o3r/core/schematics/component/schema.ts
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/page/schema.json
  packages/@o3r/core/schematics/page/schema.ts
  packages/@o3r/core/schematics/shared/presets/cms-preset.ts
  packages/@o3r/styling/builders/style-extractor/index.ts
  packages/@o3r/styling/schematics/index.it.spec.ts
Due: Otter Modules, Otter developer tools

feat(chrome-devtool): build manifest
  .yarnrc.yml
  apps/chrome-devtools/package.json
  apps/chrome-devtools/project.json
  apps/chrome-devtools/scripts/sanitize-manifest.cjs
  apps/chrome-devtools/src/app-devtools/app.ts
  apps/chrome-devtools/src/app-devtools/state-panel/state-panel.ts
  apps/chrome-devtools/src/background/background.ts
  apps/chrome-devtools/src/devtools.html
  apps/chrome-devtools/src/extension/options.ts
  apps/chrome-devtools/src/manifest.json
  apps/chrome-devtools/src/manifest.ts
  apps/chrome-devtools/src/options.html
  apps/chrome-devtools/src/services/state-service.ts
  apps/chrome-devtools/src/shared/extension-interface.ts
  apps/chrome-devtools/src/shared/index.ts
  apps/chrome-devtools/tsconfig.json
  apps/chrome-devtools/tsconfig.node.json
  apps/chrome-devtools/vite.config.ts
  nx.json
  tools/github-actions/audit/packaged-action/LICENSE.txt
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  yarn.lock
Due: Otter developer tools, Otter Github shared Actions

fix: change branch name for e2e screenshots
  tools/github-actions/create-branch-e2e-screenshots/action.yml
Due: Otter Github shared Actions

test: break screenshots
  apps/showcase/src/app/app.html
Due: none

fix: update e2e screenshots
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/forms.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/home.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/localization.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step10.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training.png
Due: none

fix: remove unused node cache
  .github/workflows/main.yml
Due: none

fix(ama-openapi): support innerpath in generated schema
  packages/@ama-openapi/core/src/schema/configurations/model-definitions.mts
  packages/@ama-openapi/core/src/schema/configurations/model-definitions.spec.ts
Due: none

chore: postinstall scripts
  packages/@o3r/rules-engine/package.json
  yarn.lock
Due: Otter Modules

chore: postinstall scripts
  .yarnrc.yml
  yarn.lock
Due: none

chore: postinstall scripts
  .yarnrc.yml
Due: none

fix(ama-openapi-redocly): support implicit polymorphism references
  packages/@ama-openapi/redocly-plugin/package.json
  packages/@ama-openapi/redocly-plugin/src/plugins/decorators/oas3/remove-unused-components/remove-unused-components.decorator.mts
  packages/@ama-openapi/redocly-plugin/src/plugins/decorators/oas3/remove-unused-components/remove-unused-components.decorator.spec.ts
  yarn.lock
Due: none

chore: activate Nx AI fix process
  .github/workflows/code-check.yml
  .github/workflows/main.yml
Due: none

chore: remove nx daemon disabling
  nx.json
Due: none

chore: postinstall scripts
  packages/@o3r/eslint-config/package.json
  yarn.lock
Due: Otter Modules

feat(ama-openapi): allow custom keywords in CLI
  packages/@ama-openapi/cli/src/main.mts
  packages/@ama-openapi/core/src/schema/list-artifacts.mts
Due: none

chore: set nx cloud token
  .github/workflows/code-check.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  .github/workflows/main.yml
Due: none

fix(ama-openapi): apply inner path before transform
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.mts
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.spec.ts
  packages/@ama-openapi/core/src/core/manifest/manifest.mts
  packages/@ama-openapi/core/src/core/process.mts
  packages/@ama-openapi/core/src/core/process.spec.ts
  packages/@ama-openapi/core/src/core/references/walk-innerpath.mts
  packages/@ama-openapi/core/src/core/references/walk-innerpath.spec.ts
Due: none

fix: wrong default values for o3r-set-version
  packages/@o3r/workspace/README.md
  packages/@o3r/workspace/src/cli/set-version.cts
Due: Otter Modules

fix: the cache I/O to allow remote cache for missing items
  nx.json
  packages/@ama-openapi/create/project.json
  packages/@ama-sdk/schematics/project.json
Due: SDK Tooling

fix(ama-openapi): support specification without maskable fields
  packages/@ama-openapi/core/src/schema/mask/generate-mask-from-model.mts
  packages/@ama-openapi/core/src/schema/mask/generate-mask-from-model.spec.ts
Due: none

fix: avoid sending redundant navigation message
  packages/@ama-mfe/ng-utils/src/navigation/routing-service.spec.ts
  packages/@ama-mfe/ng-utils/src/navigation/routing-service.ts
Due: none

fix: missing nx output
  nx.json
  packages/@ama-openapi/create/package.json
  packages/@ama-sdk/schematics/project.json
  packages/@ama-styling/figma-extractor/package.json
  packages/@ama-styling/stylelint-plugin/project.json
  packages/@o3r/core/package.json
  packages/@o3r/mobile/project.json
Due: Otter Modules, SDK Tooling

Path conditions:
  Otter Modules: any of: packages/@o3r/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Otter developer tools: any of: apps/chrome-devtools/**, apps/github-cascading-app/**, apps/intellij-extension/**, apps/vscode-extension/**, apps/palette-generator/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Otter Github shared Actions: any of: tools/github-actions/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Training modules: any of: packages/@o3r-training/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  SDK Tooling: any of: packages/@ama-sdk/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
