Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

fix(deps): resolve critical audit vulnerability in tar
  package.json
  yarn.lock
Due: none

feat: create an agent that fix audit issues
  .agents/README.md
  .agents/fix-audit.md
  .claude/commands/fix-audit.md
  .github/prompts/fix-audit.prompt.md
Due: none

fix(apis-manager): fix the ApiFactory to be provided in root.
  packages/@o3r/apis-manager/src/apis-manager/api-factory-service.ts
Due: Otter Modules

chore: add CLAUDE.md for Claude Code context
  CLAUDE.md
Due: none

feat: add Accessibility collection with WCAG skills and audit agents
  collections/accessibility.collection.yml
  collections/ama-sdk.collection.yml
  collections/otter.collection.yml
  tools/llm/plugins/a11y/README.md
  tools/llm/plugins/a11y/agents/a11y-full-page-audit.agent.md
  tools/llm/plugins/a11y/agents/a11y-write-playwright-tests.agent.md
  tools/llm/plugins/a11y/skills/a11y-aria-patterns/SKILL.md
  tools/llm/plugins/a11y/skills/a11y-axe-playwright/SKILL.md
  tools/llm/plugins/a11y/skills/a11y-component-audit/SKILL.md
  tools/llm/plugins/a11y/skills/a11y-keyboard-playwright/SKILL.md
  tools/llm/plugins/a11y/skills/a11y-page-checks/SKILL.md
  tools/llm/plugins/otter/skills/playwright-e2e-testing/references/accessibility.md
Due: none

chore(deps): fix npm high vulnerabilities
  package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  yarn.lock
Due: Otter Modules, SDK Tooling

fix(ama-mfe): wrong rounding for height computation in scalable directive
  packages/@ama-mfe/ng-utils/src/resize/scalable-directive.spec.ts
  packages/@ama-mfe/ng-utils/src/resize/scalable-directive.ts
  yarn.lock
Due: none

fix(collections): sync collections with all plugin skills and agents
  AGENTS.md
  collections/ama-openapi.collection.yml
  collections/ama-sdk.collection.yml
  collections/otter.collection.yml
  tools/llm/plugins/ama-sdk/skills/create-sdk/SKILL.md
  tools/llm/plugins/ama-sdk/skills/sdk-mcp-setup/SKILL.md
  tools/llm/plugins/ama-sdk/skills/use-sdk/SKILL.md
Due: none

feat(apis-manager): allow API instantiation without cache
  package.json
  packages/@o3r/apis-manager/src/apis-manager/api-factory-service.spec.ts
  packages/@o3r/apis-manager/src/apis-manager/api-factory-service.ts
  yarn.lock
Due: Otter Modules

fix: command name + documentation
  mcps/@ama-sdk/mcp/README.md
  mcps/@ama-sdk/mcp/package.json
  mcps/@ama-sdk/mcp/src/cli.ts
  yarn.lock
Due: none

fix: it-tests broken after ng22 migration
  package.json
  packages/@o3r/core/schematics/rule-factories/store/index.ts
  packages/@o3r/core/schematics/rule-factories/update-package-json/index.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/dependencies.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/ng-add-helpers.ts
  packages/@o3r/schematics/src/utility/dependencies.spec.ts
  packages/@o3r/schematics/src/utility/dependencies.ts
Due: Otter Modules

fix: failing IT tests
  package.json
  packages/@o3r/core/schematics/rule-factories/store/index.ts
  packages/@o3r/core/schematics/rule-factories/update-package-json/index.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/dependencies.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/ng-add-helpers.ts
  packages/@o3r/schematics/src/utility/dependencies.spec.ts
  packages/@o3r/schematics/src/utility/dependencies.ts
Due: Otter Modules

feat: angular v22 - clean up deprecated
  apps/vscode-extension/README.md
  apps/vscode-extension/package.json
  apps/vscode-extension/src/commands/extract/styling/extract-all-to-variable-command.ts
  apps/vscode-extension/src/commands/extract/styling/extract-to-variable-command.ts
  apps/vscode-extension/src/commands/extract/styling/helpers/regex-helper.ts
  apps/vscode-extension/src/commands/extract/styling/helpers/utils-helper.ts
  apps/vscode-extension/src/extension.ts
  apps/vscode-extension/src/intellisense/styling.ts
  migration-guides/15.0.md
  packages/@ama-mfe/ng-utils/src/history/history-consumer-service.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation-consumer-service.ts
  packages/@ama-mfe/ng-utils/src/resize/resize-consumer-service.ts
  packages/@ama-mfe/ng-utils/src/theme/theme-consumer-service.ts
  packages/@ama-sdk/client-angular/src/api-angular-client.ts
  packages/@ama-sdk/client-beacon/src/api-beacon-client.ts
  packages/@ama-sdk/client-fetch/src/api-fetch-client.ts
  packages/@ama-sdk/client-fetch/src/plugins/perf-metric/perf-metric-fetch.ts
  packages/@ama-sdk/core/src/fwk/api-helpers.spec.ts
  packages/@ama-sdk/core/src/fwk/api-helpers.ts
  packages/@ama-sdk/core/src/fwk/core/api-client.ts
  packages/@ama-sdk/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
  packages/@o3r-training/showcase-sdk/src/api/pet/pet-api.ts
  packages/@o3r-training/showcase-sdk/src/api/store/store-api.ts
  packages/@o3r-training/showcase-sdk/src/api/user/user-api.ts
  packages/@o3r/dynamic-content/src/services/styling/index.ts
  packages/@o3r/dynamic-content/src/services/styling/style-lazy-loader-module.ts
  packages/@o3r/schematics/src/rule-factories/update-imports/index.ts
  packages/@o3r/schematics/src/rule-factories/update-imports/list-of-vars.ts
  packages/@o3r/schematics/src/rule-factories/update-imports/update-imports-with-scope.ts
  tools/renovate/tasks/base-with-auth.json5
  tools/renovate/tasks/otter-ng-update-with-auth.json5
  tools/renovate/tasks/sdk-regenerate-with-auth.json5
  tools/renovate/tasks/sdk-spec-regenerate-with-auth.json5
Due: Otter Modules, Otter developer tools, Training modules, SDK Tooling

feat: clean up deprecated v15 - prepareUrl
  packages/@ama-sdk/client-angular/src/api-angular-client.ts
  packages/@ama-sdk/client-beacon/src/api-beacon-client.ts
  packages/@ama-sdk/client-fetch/src/api-fetch-client.ts
  packages/@ama-sdk/core/src/fwk/api-helpers.spec.ts
  packages/@ama-sdk/core/src/fwk/api-helpers.ts
  packages/@ama-sdk/core/src/fwk/core/api-client.ts
  packages/@ama-sdk/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
  packages/@ama-styling/figma-sdk/src/api/activity-logs/activity-logs-api.ts
  packages/@ama-styling/figma-sdk/src/api/comment-reactions/comment-reactions-api.ts
  packages/@ama-styling/figma-sdk/src/api/comments/comments-api.ts
  packages/@ama-styling/figma-sdk/src/api/component-sets/component-sets-api.ts
  packages/@ama-styling/figma-sdk/src/api/components/components-api.ts
  packages/@ama-styling/figma-sdk/src/api/dev-resources/dev-resources-api.ts
  packages/@ama-styling/figma-sdk/src/api/files/files-api.ts
  packages/@ama-styling/figma-sdk/src/api/library-analytics/library-analytics-api.ts
  packages/@ama-styling/figma-sdk/src/api/payments/payments-api.ts
  packages/@ama-styling/figma-sdk/src/api/projects/projects-api.ts
  packages/@ama-styling/figma-sdk/src/api/styles/styles-api.ts
  packages/@ama-styling/figma-sdk/src/api/users/users-api.ts
  packages/@ama-styling/figma-sdk/src/api/variables/variables-api.ts
  packages/@ama-styling/figma-sdk/src/api/webhooks/webhooks-api.ts
  packages/@o3r-training/showcase-sdk/src/api/pet/pet-api.ts
  packages/@o3r-training/showcase-sdk/src/api/store/store-api.ts
  packages/@o3r-training/showcase-sdk/src/api/user/user-api.ts
  packages/@o3r-training/training-sdk/src/api/dummy/dummy-api.ts
Due: Training modules, SDK Tooling

feat: wip
  apps/showcase/project.json
  apps/showcase/scripts/generate-sdk-training/index.cjs
  apps/showcase/src/assets/trainings/sdk/README.md
  packages/@o3r-training/training-tools/README.md
  packages/@o3r-training/training-tools/cli/extract-folder-structure/extract-folder-structure.cts
Due: Training modules

chore: remove intellij extension
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/3-APPLICATION-ISSUE-FORM.yaml
  apps/intellij-extension/.gitignore
  apps/intellij-extension/README.md
  apps/intellij-extension/build.gradle.kts
  apps/intellij-extension/gradle.properties
  apps/intellij-extension/gradle/wrapper/gradle-wrapper.jar
  apps/intellij-extension/gradle/wrapper/gradle-wrapper.properties
  apps/intellij-extension/gradlew
  apps/intellij-extension/gradlew.bat
  apps/intellij-extension/settings.gradle.kts
  apps/intellij-extension/src/main/kotlin/com/amadeus/otterextension/ExtractStylingUtils.kt
  apps/intellij-extension/src/main/kotlin/com/amadeus/otterextension/ExtractToVariableAction.kt
  apps/intellij-extension/src/main/kotlin/com/amadeus/otterextension/ExtractorConfig.kt
  apps/intellij-extension/src/main/kotlin/com/amadeus/otterextension/ExtractorSettings.kt
  apps/intellij-extension/src/main/kotlin/com/amadeus/otterextension/ExtractorSettingsPage.kt
  apps/intellij-extension/src/main/kotlin/com/amadeus/otterextension/OtterIcons.kt
  apps/intellij-extension/src/main/kotlin/com/amadeus/otterextension/RegExpUtils.kt
  apps/intellij-extension/src/main/resources/META-INF/plugin.xml
  apps/intellij-extension/src/main/resources/META-INF/pluginIcon.svg
  apps/intellij-extension/src/main/resources/menuIcon.svg
  codecov.yml
  docs/intellij-extension/EXTRACT_STYLING.md
Due: Otter developer tools

feat: clean up doc v15 - styling
  apps/vscode-extension/README.md
  docs/README.md
  docs/cms-adapters/CMS_ADAPTERS.md
  docs/components/INTRODUCTION.md
  docs/dev-tools/chrome-devtools.md
  docs/linter/stylelint-plugin.md
  docs/linter/stylelint-plugin/README.md
  docs/linter/stylelint-plugin/rules.md
  docs/linter/stylelint-plugin/rules/o3r-var-parameter-equal-variable.md
  docs/styling/THEME.md
  docs/styling/TYPOGRAPHY.md
  docs/vscode-extension/EXTRACT_STYLING.md
  packages/@ama-styling/style-dictionary/README.md
Due: Otter developer tools

fix: audit issue with vm2
  package.json
  yarn.lock
Due: none

fix(deps): resolve critical audit vulnerabilities in vm2
  packages/@o3r/extractors/package.json
  packages/@o3r/rules-engine/package.json
  yarn.lock
Due: Otter Modules

chore: add enableInlineBuilds debug hint in yarnrc and agents docs
  .agents/build.md
  .yarnrc.yml
Due: none

feat(llm): add rxjs-vs-signals skill for reactive primitive decisions
  .agents/contributing.md
  collections/otter.collection.yml
  tools/llm/plugins/otter/skills/rxjs-vs-signals/SKILL.md
Due: none

chore: enable build optimization
  .github/workflows/deploy-showcase.yml
  .github/workflows/publish.yml
  apps/chrome-devtools/project.json
  apps/showcase/project.json
Due: Otter developer tools

feat(mcp): add ama-styling plugin
  .claude-plugin/marketplace.json
  .github/plugin/marketplace.json
  collections/ama-styling.collection.yml
  mcps/@ama-styling/mcp/eslint.config.mjs
  mcps/@ama-styling/mcp/eslint.local.config.mjs
  mcps/@ama-styling/mcp/package.json
  mcps/@ama-styling/mcp/project.json
  mcps/@ama-styling/mcp/src/cli.ts
  mcps/@ama-styling/mcp/src/helpers/load-metadata.spec.ts
  mcps/@ama-styling/mcp/src/helpers/load-metadata.ts
  mcps/@ama-styling/mcp/src/server/mcp-server.spec.ts
  mcps/@ama-styling/mcp/src/server/mcp-server.ts
  mcps/@ama-styling/mcp/src/tools/find-design-token.spec.ts
  mcps/@ama-styling/mcp/src/tools/find-design-token.ts
  mcps/@ama-styling/mcp/src/tools/list-design-tokens.spec.ts
  mcps/@ama-styling/mcp/src/tools/list-design-tokens.ts
  mcps/@ama-styling/mcp/tsconfig.build.composite.json
  mcps/@ama-styling/mcp/tsconfig.build.json
  mcps/@ama-styling/mcp/tsconfig.json
  mcps/@ama-styling/mcp/tsconfig.test.json
  mcps/@ama-styling/mcp/vitest.config.ts
  tools/llm/plugins/ama-styling/.claude-plugin/plugin.json
  tools/llm/plugins/ama-styling/.plugin/plugin.json
  tools/llm/plugins/ama-styling/README.md
  tools/llm/plugins/ama-styling/skills/styling-best-practices/SKILL.md
  tools/llm/plugins/ama-styling/skills/styling-mcp-setup/SKILL.md
  yarn.lock
Due: none

feat: add app(or lib) logic placement skill
  collections/otter.collection.yml
  tools/llm/plugins/otter/README.md
  tools/llm/plugins/otter/agents/logic-design.agent.md
  tools/llm/plugins/otter/agents/logic-review.agent.md
  tools/llm/plugins/otter/skills/logic-component-shape/SKILL.md
  tools/llm/plugins/otter/skills/logic-placement/SKILL.md
  tools/llm/plugins/otter/skills/logic-review/SKILL.md
  tools/llm/plugins/otter/skills/logic-state-layer/SKILL.md
  tools/llm/plugins/otter/skills/logic-store-type/SKILL.md
  tools/llm/plugins/otter/skills/otter-schematics/SKILL.md
Due: none

chore(deps): upgrade babel core
  package.json
  packages/@ama-openapi/cli/package.json
  packages/@o3r-training/training-tools/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/new-version/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/transloco/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Due: Otter Modules, Training modules

fix: update MCP plugin versions
  collections/otter.collection.yml
  tools/llm/plugins/otter/.mcp.json
Due: none

fix: add renovate custom manager for MCP plugin versions
  .renovaterc.json5
Due: none

fix: rephrase contributing
  CONTRIBUTING.md
Due: none

feat(mcp): add ama-styling plugin
  .claude-plugin/marketplace.json
  .github/plugin/marketplace.json
  collections/ama-styling.collection.yml
  mcps/@ama-styling/mcp/README.md
  mcps/@ama-styling/mcp/eslint.config.mjs
  mcps/@ama-styling/mcp/eslint.local.config.mjs
  mcps/@ama-styling/mcp/package.json
  mcps/@ama-styling/mcp/project.json
  mcps/@ama-styling/mcp/src/cli.ts
  mcps/@ama-styling/mcp/src/helpers/load-metadata.spec.ts
  mcps/@ama-styling/mcp/src/helpers/load-metadata.ts
  mcps/@ama-styling/mcp/src/helpers/safe-regex.spec.ts
  mcps/@ama-styling/mcp/src/helpers/safe-regex.ts
  mcps/@ama-styling/mcp/src/server/mcp-server.spec.ts
  mcps/@ama-styling/mcp/src/server/mcp-server.ts
  mcps/@ama-styling/mcp/src/tools/find-design-token.spec.ts
  mcps/@ama-styling/mcp/src/tools/find-design-token.ts
  mcps/@ama-styling/mcp/src/tools/list-design-tokens.spec.ts
  mcps/@ama-styling/mcp/src/tools/list-design-tokens.ts
  mcps/@ama-styling/mcp/tsconfig.build.composite.json
  mcps/@ama-styling/mcp/tsconfig.build.json
  mcps/@ama-styling/mcp/tsconfig.json
  mcps/@ama-styling/mcp/tsconfig.test.json
  mcps/@ama-styling/mcp/vitest.config.ts
  mcps/@o3r/mcp/project.json
  tools/llm/plugins/ama-styling/.claude-plugin/plugin.json
  tools/llm/plugins/ama-styling/.plugin/plugin.json
  tools/llm/plugins/ama-styling/README.md
  tools/llm/plugins/ama-styling/skills/styling-best-practices/SKILL.md
  tools/llm/plugins/ama-styling/skills/styling-mcp-setup/SKILL.md
  yarn.lock
Due: none

fix: no-op command in renovate presets
  tools/renovate/tasks/base-with-auth.json5
  tools/renovate/tasks/otter-ng-update-with-auth.json5
  tools/renovate/tasks/sdk-regenerate-with-auth.json5
  tools/renovate/tasks/sdk-spec-regenerate-with-auth.json5
Due: none

Path conditions:
  Otter Modules: any of: packages/@o3r/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Otter developer tools: any of: apps/chrome-devtools/**, apps/github-cascading-app/**, apps/intellij-extension/**, apps/vscode-extension/**, apps/palette-generator/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Otter Github shared Actions: any of: tools/github-actions/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Training modules: any of: packages/@o3r-training/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  SDK Tooling: any of: packages/@ama-sdk/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
