Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

feat: caching for e2e tests
  apps/chrome-devtools/project.json
  apps/showcase/project.json
  nx.json
Due: Otter developer tools

fix: resolve placeholder subscription to free references
  packages/@o3r/components/src/tools/placeholder/placeholder.component.ts
Due: Otter Modules

fix: added deps in int tests
  packages/@o3r/components/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/styling/package.json
  yarn.lock
Due: Otter Modules

fix: added deps in int tests
  packages/@o3r/components/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/styling/package.json
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/release/packaged-action/index.cjs.map
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
Due: Otter Modules

fix: sdk should support nullable type
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/model.mustache
Due: SDK Tooling

chore: upgrade gradle
  apps/intellij-extension/.gitignore
  apps/intellij-extension/gradle/wrapper/gradle-wrapper.properties
Due: Otter developer tools

chore(ama-sdk-schematics): ignore coverage for generated files
  apps/showcase/testing/jest.config.ut.js
  codecov.yml
  packages/@ama-sdk/schematics/migration.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/ng-update/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.3/coverage-ignore.spec.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.3/coverage-ignore.ts
  packages/@ama-sdk/schematics/testing/mocks/jest-config/mock.jest.config.js
  packages/@ama-sdk/schematics/testing/mocks/jest-config/result.jest.config.js
  packages/@o3r-training/showcase-sdk/testing/jest.config.ut.js
  packages/@o3r-training/training-sdk/testing/jest.config.ut.js
  yarn.lock
Due: Training modules, SDK Tooling

fix(style-dictionary): gradient formatter scaling
  packages/@o3r/style-dictionary/src/formats/css-formatters/gradients.formatter.mts
  packages/@o3r/style-dictionary/src/formats/css-formatters/gradients.formatter.spec.ts
  packages/@o3r/style-dictionary/src/formats/css.format.spec.ts
Due: Otter Modules

fix: ama-mfe resize based on getClientBoundRect
  packages/@ama-mfe/ng-utils/src/resize/resize.producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/resize/resize.producer.service.ts
Due: none

feat(styling): migrate styling package to ama-styling scope deprecate: styling package from o3r scope for v14
  tsconfig.base.json
  tsconfig.build.json
Due: none

feat(figma-sdk): create figma restApi SDK
  apps/showcase/src/style/theme.scss
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
  packages/@ama-styling/figma-sdk/src/models/core/enums.ts
  packages/@ama-styling/figma-sdk/src/models/core/index.ts
  packages/@ama-styling/figma-sdk/src/models/core/patterns.ts
  packages/@ama-styling/figma-sdk/src/models/custom/enums.ts
  packages/@ama-styling/figma-sdk/src/models/custom/index.ts
  packages/@ama-styling/figma-sdk/src/models/custom/patterns.ts
  tsconfig.base.json
  tsconfig.build.json
  yarn.lock
Due: SDK Tooling

fix: remove metrics question when no stdin
  packages/@o3r/extractors/src/core/wrapper.ts
  packages/@o3r/schematics/src/utility/wrapper.ts
Due: Otter Modules

feat: in range time operator
  .yarn/sdks/eslint/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/rules-engine/src/engine/operator/operator.helpers.spec.ts
  packages/@o3r/rules-engine/src/engine/operator/operator.helpers.ts
  packages/@o3r/rules-engine/src/engine/operator/operators/time-based.operators.spec.ts
  packages/@o3r/rules-engine/src/engine/operator/operators/time-based.operators.ts
Due: Otter Modules, SDK Tooling

fix: provide deps to have the provide environment working with the default value
  packages/@o3r/routing/src/tools/app-server-routing.module.ts
Due: Otter Modules

feat: in range time operator
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/rules-engine/src/engine/operator/operator.helpers.spec.ts
  packages/@o3r/rules-engine/src/engine/operator/operator.helpers.ts
  packages/@o3r/rules-engine/src/engine/operator/operators/time-based.operators.spec.ts
  packages/@o3r/rules-engine/src/engine/operator/operators/time-based.operators.ts
Due: Otter Modules

fix(ama-mfe): wrong connection id when host is in same domain as modules
  packages/@ama-mfe/ng-utils/src/connect/connect.providers.spec.ts
  packages/@ama-mfe/ng-utils/src/connect/connect.providers.ts
Due: none

chore: turn codecov to not blocking
  codecov.yml
Due: none

feat(ama-sdk): allow dynamic Request, Fetch and Angular plugins
  packages/@ama-sdk/client-angular/src/api-angular-client.ts
  packages/@ama-sdk/client-angular/src/plugins/mock-intercept/mock-intercept.angular.ts
  packages/@ama-sdk/client-beacon/src/api-beacon-client.ts
  packages/@ama-sdk/client-fetch/src/api-fetch-client.ts
  packages/@ama-sdk/client-fetch/src/plugins/mock-intercept/mock-intercept.fetch.ts
  packages/@ama-sdk/client-fetch/src/plugins/mock-intercept/mock-intercept.spec.ts
  packages/@ama-sdk/core/src/clients/api-angular-client.ts
  packages/@ama-sdk/core/src/clients/api-beacon-client.ts
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
  packages/@ama-sdk/core/src/fwk/core/base-api-constructor.ts
  packages/@ama-sdk/core/src/plugins/core/reply-plugin.ts
  packages/@ama-sdk/core/src/plugins/mock-intercept/mock-intercept.angular.ts
  packages/@ama-sdk/core/src/plugins/mock-intercept/mock-intercept.fetch.ts
Due: SDK Tooling

fix: remove unnecessary eslint-disable
  packages/@o3r/test-helpers/src/jest-environment/index.ts
Due: Otter Modules

fix: authorize the usage of ngx translate v15
  packages/@o3r/localization/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/testing/package.json
  yarn.lock
Due: Otter Modules

Path conditions:
  Otter Modules: any of: packages/@o3r/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter developer tools: any of: apps/chrome-devtools/**, apps/github-cascading-app/**, apps/intellij-extension/**, apps/vscode-extension/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter Github shared Actions: any of: tools/github-actions/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Training modules: any of: packages/@o3r-training/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  SDK Tooling: any of: packages/@ama-sdk/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
