Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

codecov.yml:

codecov:
  require_ci_to_pass: true

ignore:
  # Package Manager files
  - '.yarn/**/*'
  - '.pnp.*'
  - '.cache/**/*'
  - 'tmp/**/*'
  - '**/node_modules/**/*'

  # Distribution folders
  - 'packages/@*/*/dist/**/*'
  - 'tools/@*/*/dist/**/*'
  - 'apps/@*/*/dist/**/*'

  # Generated files
  - 'packages/@o3r-training/showcase-sdk/src/api/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/models/base/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/spec/**/*'
  - 'tools/github-actions/*/packaged-action/**/*'

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: otter
      name: Otter Modules
      paths:
        - packages/@o3r/**
    - component_id: otter-tools
      name: Otter developer tools
      paths:
        - apps/chrome-devtools/**
        - apps/github-cascading-app/**
        - apps/intellij-extension/**
        - apps/vscode-extension/**
    - component_id: otter-github-actions
      name: Otter Github shared Actions
      paths:
        - tools/github-actions/**
    - component_id: training
      name: Training modules
      paths:
        - packages/@o3r-training/**
    - component_id: sdk
      name: SDK Tooling
      paths:
        - packages/@ama-sdk/**

fix(chrome-devtools): remove unused imports
  apps/chrome-devtools/src/app-devtools/localization-panel/localization-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/state-panel/state-panel.component.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.component.ts
  packages/@o3r/core/package.json
Due: Otter Modules, Otter developer tools

fix: remove useless package
  packages/@o3r-training/showcase-sdk/src/helpers/package.json
Due: Training modules

fix(sdk): fallback union types definition for configuration extraction
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/model.mustache
  packages/@o3r-training/showcase-sdk/src/models/base/order/order.ts
  packages/@o3r-training/showcase-sdk/src/models/base/pet/pet.ts
Due: SDK Tooling

fix: sdk generator - quotes around param names
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
Due: SDK Tooling

fix(vscode-ext): do not re-run publish dependencies before publishing extension
  apps/vscode-extension/project.json
  package.json
Due: Otter developer tools

fix: code cov report to ignore failure
  codecov.yml
Due: none

fix: style guide updates - schematics - support type
  packages/@o3r/analytics/schematics/analytics-to-component/index.spec.ts
  packages/@o3r/analytics/schematics/analytics-to-component/index.ts
  packages/@o3r/configuration/schematics/configuration-to-component/index.spec.ts
  packages/@o3r/configuration/schematics/configuration-to-component/index.ts
  packages/@o3r/core/schematics/component/container/index.spec.ts
  packages/@o3r/core/schematics/component/container/index.ts
  packages/@o3r/core/schematics/component/container/schema.json
  packages/@o3r/core/schematics/component/container/schema.ts
  packages/@o3r/core/schematics/component/presenter/index.spec.ts
  packages/@o3r/core/schematics/component/presenter/index.ts
  packages/@o3r/core/schematics/component/presenter/schema.json
  packages/@o3r/core/schematics/component/presenter/schema.ts
  packages/@o3r/core/schematics/component/schema.json
  packages/@o3r/core/schematics/component/schema.ts
  packages/@o3r/core/schematics/context-to-component/index.spec.ts
  packages/@o3r/core/schematics/context-to-component/index.ts
  packages/@o3r/core/schematics/page/index.spec.ts
  packages/@o3r/core/schematics/page/index.ts
  packages/@o3r/core/schematics/page/schema.json
  packages/@o3r/core/schematics/page/schema.ts
  packages/@o3r/core/schematics/page/templates/index.ts.template
  packages/@o3r/core/schematics/service/index.spec.ts
  packages/@o3r/core/schematics/service/index.ts
  packages/@o3r/core/schematics/service/schema.json
  packages/@o3r/core/schematics/service/schema.ts
  packages/@o3r/core/schematics/service/templates/base/__name__/__featureName__/__name__-__featureName__.spec.ts.template
  packages/@o3r/core/schematics/service/templates/base/__name__/__featureName__/index.ts.template
  packages/@o3r/core/schematics/service/templates/jasmine-core/__name__/fixture/jasmine/__name__-__featureName__-fixture-jasmine.ts.template
  packages/@o3r/core/schematics/service/templates/jasmine-core/__name__/fixture/jasmine/index.ts.template
  packages/@o3r/core/schematics/service/templates/jest/__name__/fixture/jest/__name__-__featureName__-fixture-jest.ts.template
  packages/@o3r/core/schematics/service/templates/jest/__name__/fixture/jest/index.ts.template
  packages/@o3r/design/schematics/design-token-to-component/index.spec.ts
  packages/@o3r/design/schematics/design-token-to-component/index.ts
  packages/@o3r/localization/schematics/localization-to-component/index.spec.ts
  packages/@o3r/localization/schematics/localization-to-component/index.ts
  packages/@o3r/schematics/src/utility/template-property.helper.ts
  packages/@o3r/styling/schematics/theming-to-component/index.spec.ts
  packages/@o3r/styling/schematics/theming-to-component/index.ts
  packages/@o3r/testing/schematics/fixture-to-component/index.spec.ts
  packages/@o3r/testing/schematics/fixture-to-component/index.ts
Due: Otter Modules

chore: publish vscode extension on each release version
  .github/workflows/publish.yml
Due: none

fix: resolve dependency to globby to avoid high vulnerability
  package.json
  yarn.lock
Due: none

ci: skip nx remote cache based on pull request label
  .github/workflows/main.yml
Due: none

ci: skip nx remote cache on publish pr workflow
  .github/workflows/publish-pr.yml
Due: none

ci: set timeout for setup to 30 minutes
  .github/workflows/audit.yml
  .github/workflows/check-release.yml
  .github/workflows/code-check.yml
  .github/workflows/deploy-showcase.yml
  .github/workflows/documentation.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  .github/workflows/main.yml
  .github/workflows/pr-labels.yml
  .github/workflows/publish.yml
Due: none

feat: style guide updates - packages @o3r/a*
  packages/@o3r/analytics/plugins/webpack/build-metrics/build-stats-plugin.ts
  packages/@o3r/analytics/plugins/webpack/build-metrics/index.ts
  packages/@o3r/analytics/plugins/webpack/build-metrics/reporters-interface.ts
  packages/@o3r/analytics/src/directives/track-events/index.ts
  packages/@o3r/analytics/src/directives/track-events/track-click/track-click-directive.spec.ts
  packages/@o3r/analytics/src/directives/track-events/track-click/track-click-directive.ts
  packages/@o3r/analytics/src/directives/track-events/track-events-directive.spec.ts
  packages/@o3r/analytics/src/directives/track-events/track-events-directive.ts
  packages/@o3r/analytics/src/directives/track-events/track-events-module.ts
  packages/@o3r/analytics/src/directives/track-events/track-focus/track-focus-directive.spec.ts
  packages/@o3r/analytics/src/directives/track-events/track-focus/track-focus-directive.ts
  packages/@o3r/analytics/src/fixtures/jasmine/event-track-service-fixture-jasmine.ts
  packages/@o3r/analytics/src/fixtures/jasmine/index.ts
  packages/@o3r/analytics/src/fixtures/jest/event-track-service-fixture-jest.ts
  packages/@o3r/analytics/src/fixtures/jest/index.ts
  packages/@o3r/analytics/src/services/event-track/event-track-configuration.ts
  packages/@o3r/analytics/src/services/event-track/event-track-helpers.spec.ts
  packages/@o3r/analytics/src/services/event-track/event-track-helpers.ts
  packages/@o3r/analytics/src/services/event-track/event-track-service.spec.ts
  packages/@o3r/analytics/src/services/event-track/event-track-service.ts
  packages/@o3r/analytics/src/services/event-track/index.ts
  packages/@o3r/analytics/src/stores/event-track/event-track-module.ts
  packages/@o3r/analytics/src/stores/event-track/index.ts
  packages/@o3r/apis-manager/src/apis-manager/api-factory-service.ts
  packages/@o3r/apis-manager/src/apis-manager/api-manager-helpers.spec.ts
  packages/@o3r/apis-manager/src/apis-manager/api-manager-helpers.ts
  packages/@o3r/apis-manager/src/apis-manager/api-manager-module.ts
  packages/@o3r/apis-manager/src/apis-manager/api-manager-token.ts
  packages/@o3r/apis-manager/src/apis-manager/index.ts
  packages/@o3r/application/src/devkit/application-devkit-interface.ts
  packages/@o3r/application/src/devkit/application-devtools-console-service.ts
  packages/@o3r/application/src/devkit/application-devtools-message-service.ts
  packages/@o3r/application/src/devkit/application-devtools-module.ts
  packages/@o3r/application/src/devkit/application-devtools-token.ts
  packages/@o3r/application/src/devkit/application-devtools.ts
  packages/@o3r/application/src/devkit/index.ts
  packages/@o3r/azure-tools/src/helpers/azure/index.ts
  packages/@o3r/azure-tools/src/helpers/azure/pull-requests.ts
Due: Otter Modules

ci: skip it-tests for pull-requests targetting main
  .github/workflows/it-tests.yml
Due: none

ci(it-tests): remove github cache for it-tests
  .github/workflows/it-tests.yml
Due: none

ci: random test
  .github/workflows/it-tests.yml
Due: none

fix: add missing input
  .github/workflows/main.yml
  tools/github-actions/setup/action.yml
Due: Otter Github shared Actions
