Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

doc(migration): add Protractor removal warning
  migration-guides/13.0.md
Due: none

fix: no playwright in core int tests
  packages/@o3r/core/schematics/index.it.spec.ts
Due: Otter Modules

fix: lint fails as eslint-plugin not installed
  packages/@o3r/eslint-config-otter/typescript.cjs
  yarn.lock
Due: Otter Modules

fix(sdk): generation of the SDK in a monorepo
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.ts
  packages/@o3r/workspace/schematics/sdk/index.ts
  packages/@o3r/workspace/schematics/sdk/rules/clean-standalone.rule.ts
  packages/@o3r/workspace/schematics/sdk/rules/update-ts-paths.rule.ts
  packages/@o3r/workspace/schematics/sdk/templates/testing/setup-jest.ts.template
Due: Otter Modules, SDK Tooling

fix: placeholder should support rendering the same fact with different json path
  packages/@o3r/components/src/rules-engine/placeholder.rules-engine.effect.spec.ts
Due: Otter Modules

fix: localization override cancels previous overrides
  packages/@o3r/localization/src/devkit/localization-devtools.service.ts
Due: Otter Modules

fix: remove duplicated test
  packages/@o3r/components/src/rules-engine/placeholder.rules-engine.effect.spec.ts
Due: Otter Modules

fix: lint fails as eslint-plugin not installed
  packages/@o3r/eslint-config-otter/typescript.cjs
Due: Otter Modules

feat(devexp): highlight components by group
  packages/@o3r/components/src/devkit/components-devkit.interface.ts
  packages/@o3r/components/src/devkit/components-devtools.message.service.ts
  packages/@o3r/components/src/devkit/highlight/constants.ts
  packages/@o3r/components/src/devkit/highlight/helpers.spec.ts
  packages/@o3r/components/src/devkit/highlight/helpers.ts
  packages/@o3r/components/src/devkit/highlight/highlight.service.ts
  packages/@o3r/components/src/devkit/highlight/models.ts
Due: Otter Modules

bugfix(ama-sdk): force json response when supported
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/LambdaHelper.java
Due: SDK Tooling

fix: cherry-pick install dependencies on ng add and do first install on o3r create with legacy peer dep
  packages/@ama-mfe/ng-utils/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/application/schematics/ng-add/index.ts
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config/schematics/ng-add/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/index.ts
  packages/@o3r/extractors/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/pipeline/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Due: Otter Modules

fix: adapt packages to release 12.0
  packages/@o3r/eslint-config-otter/schematics/ng-add/index.ts
  packages/@o3r/eslint-config/schematics/ng-add/index.ts
  packages/@o3r/extractors/package.json
  packages/@o3r/routing/schematics/ng-add/index.ts
  packages/@o3r/rules-engine/schematics/ng-add/index.ts
  packages/@o3r/style-dictionary/schematics/ng-add/index.ts
  packages/@o3r/styling/schematics/ng-add/index.ts
  packages/@o3r/testing/package.json
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  yarn.lock
Due: Otter Modules

fix: authorize the usage of ngx translate v15
  packages/@o3r/localization/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/testing/package.json
  yarn.lock
Due: Otter Modules

fix: Add ng-add in @o3r/configuration package.json
  packages/@o3r/configuration/package.json
Due: Otter Modules

fix: cherry-pick install dependencies on ng add and do first install on o3r create with legacy peer dep
  packages/@o3r/eslint-config/schematics/ng-add/index.spec.ts
  packages/@o3r/style-dictionary/schematics/ng-add/index.ts
Due: Otter Modules

fix: broken test on localization
  packages/@o3r/localization/src/tools/localized-currency.pipe.spec.ts
  packages/@o3r/localization/src/tools/localized-date.pipe.spec.ts
  packages/@o3r/localization/src/tools/localized-decimal.pipe.spec.ts
Due: Otter Modules

fix: build failing
  packages/@o3r/application/schematics/ng-add/index.ts
Due: Otter Modules

fix(sdk-generator): add partial URL pattern for mock matching
  migration-guides/13.0.md
  packages/@ama-sdk/core/src/fwk/mocks/helpers.ts
  packages/@ama-sdk/core/src/fwk/mocks/path-object.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/helpers/path-extractor.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/helpers/path-extractor.ts
  packages/@o3r-training/showcase-sdk/src/spec/operation-adapter.ts
  packages/@o3r-training/training-sdk/src/spec/operation-adapter.ts
Due: Training modules, SDK Tooling

fix: update training monorepo with latest @ama-sdk
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
Due: none

fix: harmonize script failing on windows
  packages/@o3r/eslint-config/schematics/ng-add/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/index.ts
Due: Otter Modules

feat: artifact downloader
  packages/@o3r/artifactory-tools/README.md
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/artifactory-tools/src/cli/artifact-cleaner.cts
  packages/@o3r/artifactory-tools/src/cli/artifact-downloader.cts
  packages/@o3r/artifactory-tools/src/cli/pr-artifact-cleaner.cts
  packages/@o3r/artifactory-tools/tsconfig.build.json
  yarn.lock
Due: Otter Modules

fix: yarn audit critical on form-data
  package.json
  yarn.lock
Due: none

chore: remove unused eslint-disable directive
  apps/chrome-devtools/scripts/publish-to-market.mjs
Due: Otter developer tools

Path conditions:
  Otter Modules: any of: packages/@o3r/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter developer tools: any of: apps/chrome-devtools/**, apps/github-cascading-app/**, apps/intellij-extension/**, apps/vscode-extension/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter Github shared Actions: any of: tools/github-actions/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Training modules: any of: packages/@o3r-training/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  SDK Tooling: any of: packages/@ama-sdk/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
