Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

fix(ama-openapi): path to the model to load
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.mts
Due: none

feat(ama-openapi): add description to transform fields chore(ama-openapi): default non-typed referenced object to any object in mask
  packages/@ama-openapi/core/src/schema/configurations/model-definitions.mts
  packages/@ama-openapi/core/src/schema/configurations/transform-definitions.mts
  packages/@ama-openapi/core/src/schema/configurations/transform-definitions.spec.ts
  packages/@ama-openapi/core/src/schema/mask/generate-mask-from-model.mts
  packages/@ama-openapi/core/src/schema/mask/generate-mask-from-model.spec.ts
Due: none

feat(ama-openapi): clean schemas output directory per default
  packages/@ama-openapi/cli/src/main.mts
  packages/@ama-openapi/create/package.json
  packages/@ama-styling/figma-extractor/package.json
  packages/@o3r/core/package.json
Due: Otter Modules

feat(ama-openapi): add "schema" suffix to file names for IDE recognition
  packages/@ama-openapi/core/src/schema/generate-model-name.mts
Due: none

chore(ama-openapi): change final release date for scope packages
  packages/@ama-openapi/cli/README.md
  packages/@ama-openapi/core/README.md
  packages/@ama-openapi/create/README.md
  packages/@ama-openapi/redocly-plugin/README.md
Due: none

feat(ama-openapi): create design project extension
  packages/@ama-openapi/create-extension/.gitignore
  packages/@ama-openapi/create-extension/.npmignore
  packages/@ama-openapi/create-extension/README.md
  packages/@ama-openapi/create-extension/eslint.config.mjs
  packages/@ama-openapi/create-extension/eslint.local.config.mjs
  packages/@ama-openapi/create-extension/package.json
  packages/@ama-openapi/create-extension/project.json
  packages/@ama-openapi/create-extension/src/generate-template.ts
  packages/@ama-openapi/create-extension/src/index.ts
  packages/@ama-openapi/create-extension/src/public_api.ts
  packages/@ama-openapi/create-extension/templates/README.md.template
  packages/@ama-openapi/create-extension/templates/redocly.yaml.template
  packages/@ama-openapi/create-extension/testing/jest.config.it.js
  packages/@ama-openapi/create-extension/testing/setup-jest.ts
  packages/@ama-openapi/create-extension/tsconfig.build.json
  packages/@ama-openapi/create-extension/tsconfig.eslint.json
  packages/@ama-openapi/create-extension/tsconfig.json
  packages/@ama-openapi/create-extension/tsconfig.spec.json
  packages/@ama-openapi/create/package.json
  packages/@ama-openapi/create/src/generate-template.ts
  packages/@o3r/core/package.json
  tsconfig.base.json
  tsconfig.build.json
  yarn.lock
Due: Otter Modules

feat: add deepeval to test otter mcp
  .github/workflows/deepeval-tests.yml
  .github/workflows/main.yml
  .gitignore
  packages/@ama-openapi/create/package.json
  packages/@o3r/core/package.json
  tools/@o3r/mcp/evals/.gitignore
  tools/@o3r/mcp/evals/README.md
  tools/@o3r/mcp/evals/conftest.py
  tools/@o3r/mcp/evals/datasets/golden_scenarios.json
  tools/@o3r/mcp/evals/pytest.ini
  tools/@o3r/mcp/evals/requirements.lock
  tools/@o3r/mcp/evals/requirements.txt
  tools/@o3r/mcp/evals/test_agent_selection.py
  tools/@o3r/mcp/evals/test_tool_outputs.py
  tools/@o3r/mcp/project.json
Due: Otter Modules

chore: fix conflict
  packages/@ama-openapi/core/package.json
  yarn.lock
Due: none

fix(ama-openapi): inner path support in ref
  packages/@ama-openapi/core/src/core/transforms/to-reference.mts
  packages/@ama-openapi/core/src/core/transforms/to-reference.spec.ts
Due: none

chore: enforce ajv resolution
  package.json
  yarn.lock
Due: none

chore: bump version of commit-and-tag-version
  package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-styling/figma-sdk/package.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/training-sdk/package.json
  yarn.lock
Due: Training modules, SDK Tooling

feat: add deepeval to test otter mcp
  .github/workflows/deepeval-tests.yml
  .github/workflows/main.yml
  .gitignore
  packages/@ama-openapi/create/package.json
  packages/@ama-styling/figma-extractor/package.json
  packages/@o3r/core/package.json
  tools/@o3r/mcp/evals/.gitignore
  tools/@o3r/mcp/evals/README.md
  tools/@o3r/mcp/evals/conftest.py
  tools/@o3r/mcp/evals/datasets/multi_turn_scenarios.json
  tools/@o3r/mcp/evals/datasets/no_tool_scenarios.json
  tools/@o3r/mcp/evals/datasets/noisy_input_scenarios.json
  tools/@o3r/mcp/evals/datasets/tool_selection_scenarios.json
  tools/@o3r/mcp/evals/helpers/__init__.py
  tools/@o3r/mcp/evals/helpers/agent.py
  tools/@o3r/mcp/evals/helpers/azure.py
  tools/@o3r/mcp/evals/helpers/constants.py
  tools/@o3r/mcp/evals/helpers/datasets.py
  tools/@o3r/mcp/evals/helpers/mcp.py
  tools/@o3r/mcp/evals/pytest.ini
  tools/@o3r/mcp/evals/requirements.lock
  tools/@o3r/mcp/evals/requirements.txt
  tools/@o3r/mcp/evals/test_drift_detection.py
  tools/@o3r/mcp/evals/test_hallucination.py
  tools/@o3r/mcp/evals/test_multi_turn.py
  tools/@o3r/mcp/evals/test_negative.py
  tools/@o3r/mcp/evals/test_noisy_input.py
  tools/@o3r/mcp/evals/test_tool_description_quality.py
  tools/@o3r/mcp/evals/test_tool_selection.py
  tools/@o3r/mcp/project.json
Due: Otter Modules

chore: bump basic-ftp package
  yarn.lock
Due: none

chore: fix critical fast-xml-parser
  yarn.lock
Due: none

fix: add args to execFile for windows
  packages/@ama-mcp/angular/src/angular-schematics/index.ts
Due: none

fix(ama-openapi): exposed files when used as dependency
  packages/@ama-openapi/create/package.json
  packages/@ama-openapi/create/src/generate-template.ts
Due: none

fix(ama-openapi): metadata format for private variables
  packages/@ama-styling/style-dictionary/src/formats/metadata-format.mts
  packages/@ama-styling/style-dictionary/src/formats/metadata-format.spec.ts
  packages/@ama-styling/style-dictionary/testing/mocks/dictionaries/private-refs.json
  tsconfig.base.json
Due: none

docs: revise Otter version support table in SECURITY.md
  SECURITY.md
Due: none

fix: audit critical issue
  yarn.lock
Due: none

feat: add script to generate ai context for sdk projects
  nx.json
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/schematics/cli/genai-context/README.md
  packages/@ama-sdk/schematics/cli/genai-context/templates/SDK_CONTEXT.md.template
  packages/@ama-sdk/schematics/cli/genai-context/update-sdk-context.cts
  packages/@ama-sdk/schematics/cli/genai-context/update-sdk-context.helpers.spec.ts
  packages/@ama-sdk/schematics/cli/genai-context/update-sdk-context.helpers.ts
  packages/@ama-sdk/schematics/cli/genai-context/update-sdk-context.template.spec.ts
  packages/@ama-sdk/schematics/cli/genai-context/update-sdk-context.template.ts
  packages/@ama-sdk/schematics/cli/update-sdk-genai-context.cts
  packages/@ama-sdk/schematics/cli/update-sdk-genai-context.it.spec.ts
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/project.json
  packages/@ama-sdk/schematics/testing/mocks/MOCK_openapi_petstore.yaml
  packages/@ama-sdk/schematics/tsconfig.cli.json
  packages/@ama-sdk/schematics/tsconfig.spec.json
  packages/@o3r-training/showcase-sdk/SDK_CONTEXT.md
  packages/@o3r-training/showcase-sdk/package.json
  yarn.lock
Due: Training modules, SDK Tooling

fix: add args to execFile for windows
  packages/@ama-mcp/angular/src/angular-schematics/index.ts
  packages/@ama-sdk/create/src/index.ts
  packages/@ama-sdk/schematics/schematics/code-generator/open-api-cli-generator/open-api-cli-generator.ts
  packages/@o3r/create/src/index.ts
  packages/@o3r/extractors/src/core/comparator/package-managers-extractors/npm-file-extractor-helper.ts
  packages/@o3r/test-helpers/src/utilities/package-manager.ts
  packages/@o3r/test-helpers/src/utilities/verdaccio.ts
  tools/@o3r/workspace-helpers/scripts/pr-labels.mjs
Due: Otter Modules, SDK Tooling

feat(ama-openapi): add telemetry to CLIs
  packages/@ama-openapi/cli/package.json
  packages/@ama-openapi/cli/src/main.mts
  packages/@ama-openapi/create/package.json
  packages/@ama-openapi/create/src/index.ts
  yarn.lock
Due: none

feat(ama-openapi): support patterns as manifest models
  .vscode/settings.json
  docs/openapi/MANIFEST_CONFIGURATION.md
  packages/@ama-openapi/core/schemas/manifest.schema.json
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.mts
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.spec.ts
  packages/@ama-openapi/core/src/core/manifest/manifest.mts
  packages/@ama-openapi/core/src/core/manifest/manifest.spec.ts
  packages/@ama-openapi/core/src/schema/configurations/manifest-model-properties.mts
  packages/@ama-openapi/core/src/schema/configurations/manifest-model-properties.spec.ts
  packages/@ama-openapi/core/src/schema/configurations/model-definitions.spec.ts
  packages/@ama-openapi/core/src/schema/configurations/transform-definitions.mts
  packages/@ama-openapi/core/src/schema/configurations/transform-definitions.spec.ts
  packages/@ama-openapi/core/src/schema/constants.mts
  packages/@ama-openapi/core/src/schema/generate-schema.mts
  packages/@ama-openapi/core/src/schema/generate-schema.spec.ts
  packages/@ama-openapi/create/package.json
  packages/@o3r/rules-engine/package.json
Due: Otter Modules

fix: stale workflow was trigger several times per day on sunday
  .github/workflows/stale-issue-pr.yml
Due: none

fix(telemetry): add missing peer deps
  .yarn/sdks/eslint/package.json
  packages/@ama-openapi/create/package.json
  packages/@o3r/core/package.json
  packages/@o3r/telemetry/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Due: Otter Modules

feat(telemetry): avoid displaying debug message per default on CLI
  packages/@o3r/telemetry/src/cli/index.ts
Due: Otter Modules

feat(ama-sdk): add prefix to set before requestBody paraemter
  .yarn/sdks/eslint/package.json
  apps/showcase/src/components/showcase/sdk/sdk-pres.ts
  packages/@ama-openapi/create/package.json
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/LambdaHelper.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
  packages/@o3r-training/showcase-sdk/open-api.yaml
  packages/@o3r-training/showcase-sdk/openapitools.json
  packages/@o3r-training/showcase-sdk/src/api/pet/pet-api.ts
  packages/@o3r-training/showcase-sdk/src/api/store/store-api.ts
  packages/@o3r-training/showcase-sdk/src/api/user/user-api.ts
  packages/@o3r/core/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/workspace/package.json
Due: Otter Modules, Training modules, SDK Tooling

fix(telemetry): add missing peer deps
  packages/@o3r/telemetry/package.json
  yarn.lock
Due: Otter Modules

feat: set a preserve edit mode on SDK context generation
  packages/@ama-sdk/schematics/cli/genai-context/README.md
  packages/@ama-sdk/schematics/cli/genai-context/update-sdk-context.cts
  packages/@ama-sdk/schematics/cli/genai-context/update-sdk-context.helpers.spec.ts
  packages/@ama-sdk/schematics/cli/genai-context/update-sdk-context.helpers.ts
  packages/@ama-sdk/schematics/cli/genai-context/update-sdk-context.template.spec.ts
  packages/@ama-sdk/schematics/cli/update-sdk-genai-context.cts
  packages/@ama-sdk/schematics/cli/update-sdk-genai-context.it.spec.ts
  packages/@o3r-training/showcase-sdk/SDK_CONTEXT.md
  packages/@o3r-training/training-sdk/SDK_CONTEXT.md
Due: Training modules, SDK Tooling

Path conditions:
  Otter Modules: any of: packages/@o3r/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Otter developer tools: any of: apps/chrome-devtools/**, apps/github-cascading-app/**, apps/intellij-extension/**, apps/vscode-extension/**, apps/palette-generator/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Otter Github shared Actions: any of: tools/github-actions/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Training modules: any of: packages/@o3r-training/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  SDK Tooling: any of: packages/@ama-sdk/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
