Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

chore: use Github Type instead of label in task creation
  .github/ISSUE_TEMPLATE/1-O3R-ISSUE-FORM.yaml
  .github/ISSUE_TEMPLATE/2-AMA-SDK-ISSUE-FORM.yaml
  .github/ISSUE_TEMPLATE/3-AMA-TERASU-ISSUE-FORM.yaml
  .github/ISSUE_TEMPLATE/4-APPLICATION-ISSUE-FORM.yaml
  .github/ISSUE_TEMPLATE/5-FEATURE-FORM.yaml
Due: none

chore: reduce of 1s the postinstall script
  package.json
Due: none

fix: update ngrx generator dependency to temporarily fix o3r create
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/pipeline/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/workspace/package.json
  tools/@o3r/workspace-helpers/package.json
  yarn.lock
Due: Otter Modules, Otter developer tools, SDK Tooling

docs: add warnings regarding `git bash`
  docs/core/START_NEW_APPLICATION.md
  packages/@o3r/core/README.md
  packages/@o3r/create/README.md
Due: Otter Modules

chore: update generator dependencies version
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Due: Otter Modules, SDK Tooling

chore: change app ID to be published to Amadeus Store
  apps/palette-generator/manifest.json
Due: none

fix: codecov config to reduce false positive and add palette generator
  codecov.yml
Due: none

fix(renovate): grouping for DF dependencies
  tools/renovate/group/design-factory.json
Due: none

fix(sdk): generation of the SDK in a monorepo
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.ts
  packages/@o3r/workspace/schematics/sdk/index.ts
  packages/@o3r/workspace/schematics/sdk/rules/clean-standalone.rule.ts
  packages/@o3r/workspace/schematics/sdk/rules/update-ts-paths.rule.ts
  packages/@o3r/workspace/schematics/sdk/templates/testing/setup-jest.ts.template
Due: Otter Modules, SDK Tooling

feat(ama-mfe): remove host info token
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/connect/connect.providers.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.producer.service.ts
  packages/@ama-mfe/ng-utils/src/utils.ts
Due: none

feature: otter create brings eslint and version harmonize
  packages/@o3r/eslint-config/package.json
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.shared.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/index.ts
  yarn.lock
Due: Otter Modules

fix: sdk exploded syntax - take into account request plugin options and make serialization optional
  packages/@ama-sdk/client-angular/src/api-angular-client.ts
  packages/@ama-sdk/client-beacon/src/api-beacon-client.ts
  packages/@ama-sdk/client-fetch/src/api-fetch-client.ts
  packages/@ama-sdk/core/src/clients/api-angular-client.ts
  packages/@ama-sdk/core/src/clients/api-beacon-client.ts
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
  packages/@ama-sdk/core/src/fwk/api.helpers.ts
  packages/@ama-sdk/core/src/fwk/core/api-client.ts
  packages/@ama-sdk/core/src/fwk/core/base-api-constructor.ts
  packages/@ama-sdk/core/src/fwk/param-serialization.ts
  packages/@ama-sdk/core/src/plugins/additional-params/additional-params-sync.request.ts
  packages/@ama-sdk/core/src/plugins/additional-params/additional-params.request.ts
  packages/@ama-sdk/core/src/plugins/additional-params/additional-params.spec.ts
  packages/@ama-sdk/core/src/plugins/core/request-plugin.ts
  packages/@ama-sdk/core/src/plugins/si-token/si-token.request.ts
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/LambdaHelper.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
  packages/@o3r-training/showcase-sdk/src/api/pet/pet-api.ts
  packages/@o3r-training/showcase-sdk/src/api/store/store-api.ts
  packages/@o3r-training/showcase-sdk/src/api/user/user-api.ts
  packages/@o3r-training/training-sdk/src/api/dummy/dummy-api.ts
Due: Training modules, SDK Tooling

chore(renovate): use matchPackageNames instead of matchPackagePrefixes and matchPackagePatterns
  .renovaterc.json5
  tools/@o3r/workspace-helpers/scripts/create-monorepo-scope.mjs
  tools/renovate/README.md
  tools/renovate/branching-strategy/release-branches.json
  tools/renovate/group/angular.json
  tools/renovate/group/design-factory.json
  tools/renovate/group/otter.json
  tools/renovate/group/typescript.json
  tools/renovate/tasks/sdk-regenerate.json
Due: none

fix: temporarily disable o3r create e2e to unblock release
  packages/@o3r/create/src/index.it.spec.ts
Due: Otter Modules

fix: increase DF quota for bundle
  apps/showcase/project.json
Due: none

fix: enforce listr2 resolution for yarn pnp in o3r/create
  packages/@o3r/create/src/index.ts
Due: Otter Modules

fix: remove bail option on publish
  package.json
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
Due: none

feat: parameter deserialization
  packages/@ama-sdk/core/src/fwk/param-deserialization.spec.ts
  packages/@ama-sdk/core/src/fwk/param-deserialization.ts
  packages/@ama-sdk/core/src/fwk/param-serialization.ts
  packages/@ama-sdk/schematics/README.md
Due: SDK Tooling

feat(eslint): share helper to merge config + use of helper from eslint
  eslint.config.mjs
  eslint.local.config.mjs
  eslint.shared.config.mjs
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-config/package.json
  packages/@o3r/eslint-config/schematics/ng-add/eslint/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/project/eslint.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/project/eslint.local.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.local.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.shared.config.__extension__.template
  packages/@o3r/eslint-config/src/helpers/index.cjs
  packages/@o3r/eslint-plugin/package.json
  tsconfig.base.json
  tsconfig.build.json
  yarn.lock
Due: Otter Modules

chore(mfe): upgrade microfrontends packages + fix typings issue
  .renovaterc.json5
  nx.json
  packages/@ama-mfe/messages/package.json
  packages/@ama-mfe/ng-utils/package.json
  packages/@ama-mfe/ng-utils/src/messages/error.sender.ts
  tools/renovate/group/angular.json
  tools/renovate/group/mfe.json
  tools/renovate/otter-project.json
  yarn.lock
Due: none

fix: unmatched peerDependencies
  .yarn/sdks/eslint/package.json
  .yarn/sdks/typescript/package.json
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  yarn.lock
Due: Otter Modules, Otter developer tools

chore(ama-sdk-schematics): ignore coverage for generated files
  packages/@ama-sdk/schematics/migration.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/ng-update/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.3/coverage-ignore.spec.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.3/coverage-ignore.ts
  packages/@ama-sdk/schematics/testing/mocks/jest-config/mock.jest.config.js
  packages/@ama-sdk/schematics/testing/mocks/jest-config/result.jest.config.js
  yarn.lock
Due: SDK Tooling

feat(ama-sdk-schematics): ignore editorconfig rules for generated folders
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/api/.editorconfig.template
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/models/base/.editorconfig.template
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/spec/.editorconfig.template
Due: SDK Tooling

fix: remove bail option on publish
  package.json
Due: none

chore(ama-mfe): bump `@amadeus-it-group/microfrontends` to `0.0.7`
  packages/@ama-mfe/messages/package.json
  packages/@ama-mfe/ng-utils/package.json
  yarn.lock
Due: none

chore(ama-mfe): use `VersionedMessage` instead of `Message`
  packages/@ama-mfe/messages/src/messages/navigation/navigation.versions.ts
  packages/@ama-mfe/messages/src/messages/resize/resize.versions.ts
  packages/@ama-mfe/messages/src/messages/theme/theme.versions.ts
  packages/@ama-mfe/ng-utils/src/managers/consumer.manager.service.spec.ts
  packages/@ama-mfe/ng-utils/src/managers/consumer.manager.service.ts
  packages/@ama-mfe/ng-utils/src/managers/interfaces.ts
  packages/@ama-mfe/ng-utils/src/managers/producer.manager.service.spec.ts
  packages/@ama-mfe/ng-utils/src/managers/producer.manager.service.ts
  packages/@ama-mfe/ng-utils/src/messages/error.sender.spec.ts
  packages/@ama-mfe/ng-utils/src/messages/error.sender.ts
  packages/@ama-mfe/ng-utils/src/messages/error/base.ts
  packages/@ama-mfe/ng-utils/src/messages/error/error.versions.ts
Due: none

chore(ama-mfe): use `messageCheckStrategy: 'version'`
  packages/@ama-mfe/ng-utils/src/connect/connect.providers.ts
Due: none

fix(ama-sdk-schematics): unit tests
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.spec.ts
Due: SDK Tooling

feat(testing): set base-url in playwright config
  apps/showcase/e2e-playwright/playwright-config.ts
  apps/showcase/e2e-playwright/sanity/lighthouse-sanity.e2e.ts
  apps/showcase/e2e-playwright/sanity/visual-sanity.e2e.ts
  apps/showcase/e2e-playwright/scenarios/component-replacement-page-scenario.e2e-playwright-spec.ts
  apps/showcase/e2e-playwright/scenarios/configuration-page-scenario.e2e-playwright-spec.ts
  apps/showcase/e2e-playwright/scenarios/dynamic-content-page-scenario.e2e-playwright-spec.ts
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/playwright-config.ts.template
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/sanity/__sanity@dasherize__.e2e.ts
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/scenarios/__name@dasherize__.e2e-playwright-spec.ts
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/utils/base-scenario.ts
  packages/@o3r/testing/schematics/playwright/sanity/templates/__name@dasherize__.e2e.ts
  packages/@o3r/testing/schematics/playwright/scenario/templates/__name@dasherize__.e2e-playwright-spec.ts
Due: Otter Modules

test(testing): fix o3r-testing unit tests
  packages/@o3r/testing/schematics/playwright/sanity/index.spec.ts
Due: Otter Modules

Path conditions:
  Otter Modules: any of: packages/@o3r/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter developer tools: any of: apps/chrome-devtools/**, apps/github-cascading-app/**, apps/intellij-extension/**, apps/vscode-extension/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter Github shared Actions: any of: tools/github-actions/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Training modules: any of: packages/@o3r-training/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  SDK Tooling: any of: packages/@ama-sdk/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
