Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

codecov.yml:

codecov:
  require_ci_to_pass: true
  max_report_age: off

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 5%
        informational: true

    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
      target: auto
      threshold: 5%
      informational: true

    project:
      default:
        target: auto
        threshold: 5%
        base: auto
        if_ci_failed: error
        informational: true

ignore:
  # Package Manager files
  - '.yarn'
  - '.pnp.*'
  - '.cache'
  - 'tmp'
  - '**/node_modules'

  # Distribution folders
  - 'packages/@*/*/dist'
  - 'tools/@*/*/dist'
  - 'apps/@*/*/dist'

  # builder cache folders
  - 'packages/@*/*/build'
  - 'tools/@*/*/build'
  - 'apps/@*/*/build'

  # Generated files
  - 'tools/github-actions/*/packaged-action'

  # Templates
  - '**/*.template'
  - '**/schematics/**/templates'

  # Tests
  - '**/dist-test'
  - '**/dist-e2e-playwright'
  - '**/playwright-reports'
  - '**/test-results'

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: otter
      name: Otter Modules
      paths:
        - packages/@o3r/**
    - component_id: otter-tools
      name: Otter developer tools
      paths:
        - apps/chrome-devtools/**
        - apps/github-cascading-app/**
        - apps/intellij-extension/**
        - apps/vscode-extension/**
        - apps/palette-generator/**
    - component_id: otter-github-actions
      name: Otter Github shared Actions
      paths:
        - tools/github-actions/**
    - component_id: training
      name: Training modules
      paths:
        - packages/@o3r-training/**
    - component_id: sdk
      name: SDK Tooling
      paths:
        - packages/@ama-sdk/**

ci: skip nx remote cache based on pull request label
  .github/workflows/main.yml
Due: none

chore: add label to skip cache
  .github/workflows/main.yml
Due: none

chore: test on env
  .github/workflows/main.yml
Due: none

feat: style guide updates - update doc and small fixes
  apps/showcase/scripts/styling/generate-style.mjs
  apps/showcase/src/app/run-app-locally/run-app-locally-style-vars.scss
  apps/showcase/src/app/run-app-locally/run-app-locally.scss
  apps/showcase/tsconfig.cms.json
  docs/ab-testing/AB_TESTING.md
  docs/analytics/ANALYTICS.md
  docs/analytics/TRACK_EVENTS.md
  docs/components/COMPONENT_REPLACEMENT.md
  docs/components/COMPONENT_STYLE_OVERRIDE.md
  docs/components/CONTAINER_PRESENTER.md
  docs/components/FIXTURES.md
  docs/components/INTRODUCTION.md
  docs/components/PLACEHOLDERS.md
  docs/configuration/CONFIGURATION_SUPPORTED_EXTRACTOR.md
  docs/configuration/OVERVIEW.md
  docs/forms/FORM_ERRORS.md
  docs/forms/FORM_STRUCTURE.md
  docs/forms/FORM_SUBMIT_AND_INTERCOMMUNICATION.md
  docs/forms/FORM_VALIDATION.md
  docs/localization/LOCALIZATION.md
  docs/routing/ROUTING.md
  docs/rules-engine/how-to-use/README.md
  docs/rules-engine/how-to-use/custom-fact.md
  docs/rules-engine/how-to-use/dedicated-component-ruleset.md
  docs/rules-engine/how-to-use/industrialize-ruleset-generation.md
  docs/styling/THEME.md
  packages/@ama-mfe/messages/src/messages/history/history-versions.ts
  packages/@ama-mfe/messages/src/messages/history/index.ts
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/history/history-consumer-service.ts
  packages/@ama-mfe/ng-utils/src/history/index.ts
  packages/@ama-sdk/client-fetch/src/plugins/abort/abort-fetch.spec.ts
  packages/@ama-sdk/client-fetch/src/plugins/concurrent/concurrent-fetch.spec.ts
  packages/@ama-sdk/client-fetch/src/plugins/keepalive/keepalive-request.spec.ts
  packages/@ama-sdk/client-fetch/src/plugins/mock-intercept/mock-intercept-fetch.spec.ts
  packages/@ama-sdk/client-fetch/src/plugins/perf-metric/perf-metric-fetch.spec.ts
  packages/@ama-sdk/client-fetch/src/plugins/retry/retry-fetch.spec.ts
  packages/@ama-sdk/client-fetch/src/plugins/timeout/timeout-fetch.spec.ts
  packages/@ama-sdk/client-fetch/src/plugins/wait-for/wait-for-fetch.spec.ts
  packages/@o3r/rules-engine/builders/rules-engine-extractor/index.spec.ts
Due: Otter Modules, SDK Tooling

fix(@ama-sdk/schematics): nx flaky task
  packages/@ama-sdk/schematics/cli/update-spec-from-npm.cts
Due: SDK Tooling

chore: remove fixed npm version
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  .github/workflows/publish.yml
  package.json
Due: none

fix: migration fails due to missing migration file
  packages/@o3r/application/migration.json
Due: Otter Modules

fix: set-version for workspace
  nx.json
  packages/@o3r/workspace/README.md
  packages/@o3r/workspace/src/cli/set-version.cts
Due: Otter Modules

fix: resolve dependency to globby to avoid high vulnerability
  package.json
  yarn.lock
Due: none

fix: missing package group for ama-mfe
  packages/@o3r/core/package.json
Due: Otter Modules

fix: use passed ruleset map to determine available rulesets
  packages/@o3r/rules-engine/src/components/rules-engine/shared/ruleset-history.helper.ts
Due: Otter Modules

ci: add missing packages in issues template
  .github/ISSUE_TEMPLATE/1-O3R-ISSUE-FORM.yaml
  .yarn/sdks/eslint/package.json
  packages/@o3r/core/package.json
Due: Otter Modules

chore: reduce the coverage threshold
  codecov.yml
Due: none

chore(artifactory-tools): add missing node global types
  packages/@o3r/artifactory-tools/eslint.local.config.mjs
Due: Otter Modules

feat: migrate to signal-based viewChild and viewChildren
  apps/showcase/src/app/component-replacement/component-replacement.spec.ts
  apps/showcase/src/app/component-replacement/component-replacement.ts
  apps/showcase/src/app/configuration/configuration.spec.ts
  apps/showcase/src/app/configuration/configuration.ts
  apps/showcase/src/app/design-token/design-token.spec.ts
  apps/showcase/src/app/design-token/design-token.ts
  apps/showcase/src/app/dynamic-content/dynamic-content.spec.ts
  apps/showcase/src/app/dynamic-content/dynamic-content.ts
  apps/showcase/src/app/forms/forms.spec.ts
  apps/showcase/src/app/forms/forms.ts
  apps/showcase/src/app/localization/localization.spec.ts
  apps/showcase/src/app/localization/localization.ts
  apps/showcase/src/app/placeholder/placeholder.spec.ts
  apps/showcase/src/app/placeholder/placeholder.ts
  apps/showcase/src/app/rules-engine/rules-engine.spec.ts
  apps/showcase/src/app/rules-engine/rules-engine.ts
  apps/showcase/src/app/sdk-intro/sdk-intro.spec.ts
  apps/showcase/src/app/sdk-intro/sdk-intro.ts
  apps/showcase/src/app/sdk/sdk.spec.ts
  apps/showcase/src/app/sdk/sdk.ts
  apps/showcase/src/components/training/code-editor-control/code-editor-control.ts
  apps/showcase/src/components/training/code-editor-terminal/code-editor-terminal.ts
  apps/showcase/src/components/utilities/in-page-nav/in-page-nav-pres-service.ts
  apps/showcase/src/components/utilities/in-page-nav/in-page-nav-pres.ts
Due: none

fix: update e2e screenshots
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-intro.png
Due: none

chore: remove non maintained dependency pid-from-port
  .yarn/sdks/eslint/package.json
  packages/@ama-mfe/messages/package.json
  packages/@ama-sdk/client-angular/package.json
  packages/@ama-sdk/client-beacon/package.json
  packages/@ama-sdk/client-fetch/package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-styling/figma-extractor/package.json
  packages/@ama-styling/style-dictionary/package.json
  packages/@ama-styling/stylelint-plugin/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/design/package.json
  packages/@o3r/eslint-config/package.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/new-version/package.json
  packages/@o3r/pipeline/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/style-dictionary/package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/test-helpers/package.json
  packages/@o3r/test-helpers/src/jest-environment/index.ts
  packages/@o3r/test-helpers/src/utilities/package-manager.ts
  packages/@o3r/test-helpers/src/utilities/verdaccio.ts
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Due: Otter Modules, SDK Tooling

fix: wrongly generated file
  eslint.shared.config.mjs
  packages/@ama-openapi/core/.compodocrc.json
  packages/@ama-openapi/core/README.md
  packages/@ama-openapi/core/project.json
  packages/@ama-openapi/core/schemas/manifest.schema.json
  packages/@ama-openapi/core/src/constants.mts
  packages/@ama-openapi/core/src/context.mts
  packages/@ama-openapi/core/src/core/file-system/parse-file.mts
  packages/@ama-openapi/core/src/core/file-system/parse-file.spec.ts
  packages/@ama-openapi/core/src/core/file-system/relative-path.mts
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.mts
  packages/@ama-openapi/core/src/core/manifest/manifest.mts
  packages/@ama-openapi/core/src/core/process.mts
  packages/@ama-openapi/core/src/core/transforms/add-annotation.mts
  packages/@ama-openapi/core/src/core/transforms/apply-mask.mts
  packages/@ama-openapi/core/src/core/transforms/rename.mts
  packages/@ama-openapi/core/src/core/transforms/to-reference.mts
  packages/@ama-openapi/core/src/core/transforms/transform.mts
  packages/@ama-openapi/core/src/core/transforms/update-references.mts
  packages/@ama-openapi/core/tsconfig.build.json
  packages/@ama-sdk/create/ama-openapi-cli/package.json
  packages/@o3r/create/ama-openapi-cli/package.json
  yarn.lock
Due: Otter Modules, SDK Tooling

chore: disable tui for hooks
  .husky/pre-commit
  nx.json
  package.json
Due: none

fix(ama-openapi/core): transform interface following demo comment
  packages/@ama-openapi/core/README.md
  packages/@ama-openapi/core/schemas/manifest.schema.json
  packages/@ama-openapi/core/schemas/transform.schema.json
  packages/@ama-openapi/core/src/core/file-system/write-model.mts
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.mts
  packages/@ama-openapi/core/src/core/manifest/manifest.mts
  packages/@ama-openapi/core/src/core/manifest/manifest.spec.ts
Due: none

chore(ama-openapi/core): split documentation
  docs/openapi/DEPENDENCY_RESOLUTION_CONCEPT.md
  docs/openapi/EXTRACTED_MODEL_DETAILS.md
  docs/openapi/MANIFEST_CONFIGURATION.md
  docs/openapi/SHAREABLE_SPECIFICATION.md
  docs/openapi/TECHNICAL_INFORMATION.md
  docs/openapi/TRANSFORM.md
  packages/@ama-openapi/core/README.md
Due: none

feat(sdk-schematics): allow variable in server URL
  .vscode/settings.json
  packages/@ama-sdk/core/src/fwk/core/base-api-constructor.ts
  packages/@ama-sdk/core/src/fwk/index.ts
  packages/@ama-sdk/core/src/fwk/server.spec.ts
  packages/@ama-sdk/core/src/fwk/server.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/TypescriptfetchGenerator.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/interfaces.mustache
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/constants/servers.mustache
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/partials/servers.partial.mustache
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/eslint.config.mjs.template
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/constants/servers.ts.template
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/index.ts.template
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/tsconfig.doc.json
  packages/@o3r-training/showcase-sdk/eslint.local.config.mjs
  packages/@o3r-training/showcase-sdk/open-api.yaml
  packages/@o3r-training/showcase-sdk/src/api/interfaces.ts
  packages/@o3r-training/showcase-sdk/src/api/pet/pet-api.ts
  packages/@o3r-training/showcase-sdk/src/api/store/store-api.ts
  packages/@o3r-training/showcase-sdk/src/api/user/user-api.ts
  packages/@o3r-training/showcase-sdk/src/constants/servers.ts
  packages/@o3r-training/showcase-sdk/testing/tsconfig.spec.json
  packages/@o3r-training/training-sdk/eslint.local.config.mjs
  packages/@o3r-training/training-sdk/src/api/dummy/dummy-api.ts
  packages/@o3r-training/training-sdk/src/api/interfaces.ts
  packages/@o3r-training/training-sdk/src/constants/servers.ts
Due: Training modules, SDK Tooling

chore: add nx tags
  packages/@ama-mcp/angular/project.json
  packages/@ama-mcp/core/project.json
  packages/@ama-mcp/github/project.json
  packages/@ama-mcp/otter/project.json
  packages/@ama-mfe/messages/project.json
  packages/@ama-mfe/ng-utils/project.json
  packages/@ama-sdk/client-angular/project.json
  packages/@ama-sdk/client-beacon/project.json
  packages/@ama-sdk/client-fetch/project.json
  packages/@ama-sdk/core/project.json
  packages/@ama-sdk/create/project.json
  packages/@ama-sdk/schematics/project.json
  packages/@ama-sdk/swagger-builder/project.json
  packages/@ama-styling/figma-extractor/project.json
  packages/@ama-styling/figma-sdk/project.json
  packages/@ama-styling/style-dictionary/project.json
  packages/@ama-styling/stylelint-plugin/project.json
  packages/@ama-terasu/cli/project.json
  packages/@ama-terasu/core/project.json
  packages/@ama-terasu/schematics/project.json
  packages/@o3r-training/showcase-sdk/project.json
  packages/@o3r-training/training-sdk/project.json
  packages/@o3r-training/training-tools/project.json
Due: Training modules, SDK Tooling

chore: dedupe js-yaml dependency
  packages/@o3r/core/package.json
  yarn.lock
Due: Otter Modules

chore: reduce coverage requirement for PR content
  codecov.yml
Due: none

docs(ama-sdk-core): fix documentation links
  packages/@ama-sdk/core/README.md
Due: SDK Tooling

fix: add stylelint package missing migration script
  packages/@o3r/core/migration.json
  packages/@o3r/core/package.json
  packages/@o3r/core/schematics/ng-update/index.ts
  packages/@o3r/stylelint-plugin/migration.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/stylelint-plugin/schematics/ng-update/index.ts
Due: Otter Modules

fix: wrongly generated file
  eslint.shared.config.mjs
  packages/@ama-openapi/core/.compodocrc.json
  packages/@ama-openapi/core/README.md
  packages/@ama-openapi/core/project.json
  packages/@ama-openapi/core/schemas/manifest.schema.json
  packages/@ama-openapi/core/src/constants.mts
  packages/@ama-openapi/core/src/context.mts
  packages/@ama-openapi/core/src/core/file-system/parse-file.mts
  packages/@ama-openapi/core/src/core/file-system/parse-file.spec.ts
  packages/@ama-openapi/core/src/core/file-system/relative-path.mts
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.mts
  packages/@ama-openapi/core/src/core/manifest/manifest.mts
  packages/@ama-openapi/core/src/core/process.mts
  packages/@ama-openapi/core/src/core/transforms/add-annotation.mts
  packages/@ama-openapi/core/src/core/transforms/apply-mask.mts
  packages/@ama-openapi/core/src/core/transforms/rename.mts
  packages/@ama-openapi/core/src/core/transforms/to-reference.mts
  packages/@ama-openapi/core/src/core/transforms/transform.mts
  packages/@ama-openapi/core/src/core/transforms/update-references.mts
  packages/@ama-openapi/core/tsconfig.build.json
  packages/@ama-sdk/create/ama-openapi-cli/package.json
  packages/@o3r/create/ama-openapi-cli/package.json
Due: Otter Modules, SDK Tooling

docs(ama-openapi-core): fix sentence following comments
  docs/openapi/EXTRACTED_MODEL_DETAILS.md
  docs/openapi/MANIFEST_CONFIGURATION.md
  docs/openapi/SHAREABLE_SPECIFICATION.md
  docs/openapi/TECHNICAL_INFORMATION.md
  packages/@ama-openapi/core/README.md
  packages/@ama-openapi/core/schemas/manifest.schema.json
  packages/@ama-openapi/core/schemas/transform.schema.json
  packages/@ama-openapi/core/src/core/file-system/write-model.mts
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.mts
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.spec.ts
  packages/@ama-openapi/core/src/core/manifest/manifest.mts
  packages/@ama-openapi/core/src/core/process.spec.ts
  packages/@ama-openapi/core/src/core/transforms/add-annotation.spec.ts
  packages/@ama-openapi/core/src/core/transforms/apply-mask.mts
  packages/@ama-openapi/core/src/core/transforms/to-reference.spec.ts
Due: none
