Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

fix: the tsconfig spec generated for library contains several issues
  packages/@o3r/components/schematics/index.it.spec.ts
  packages/@o3r/configuration/schematics/index.it.spec.ts
  packages/@o3r/eslint-config/schematics/index.it.spec.ts
  packages/@o3r/testing/package.json
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/testing/schematics/ng-add/templates/workspace/tsconfig.jest.json.template
  packages/@o3r/workspace/package.json
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/library/index.spec.ts
  packages/@o3r/workspace/schematics/library/rules/rules.ng.ts
  packages/@o3r/workspace/schematics/library/rules/rules.nx.ts
  packages/@o3r/workspace/schematics/library/rules/shared.ts
  packages/@o3r/workspace/schematics/library/templates/jest/jest.config.js.template
  packages/@o3r/workspace/schematics/library/templates/jest/testing/setup-jest.ts.template
  packages/@o3r/workspace/schematics/library/templates/ng/common/.gitignore.template
  packages/@o3r/workspace/schematics/library/templates/ng/common/.npmignore.template
  packages/@o3r/workspace/schematics/library/templates/ng/common/tsconfig.builders.json.template
  packages/@o3r/workspace/schematics/library/templates/ng/common/tsconfig.json.template
  packages/@o3r/workspace/schematics/library/templates/ng/jest/tsconfig.build.composite.json.template
  packages/@o3r/workspace/schematics/library/templates/ng/jest/tsconfig.spec.json.template
  packages/@o3r/workspace/schematics/library/templates/nx/jest.config.js.template
  packages/@o3r/workspace/schematics/library/templates/nx/testing/setup-jest.ts.template
  packages/@o3r/workspace/schematics/ng-add/helpers/index.ts
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  packages/@o3r/workspace/schematics/rule-factories/index.ts
  packages/@o3r/workspace/schematics/rule-factories/linter.ts
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/LICENSE.txt
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
Due: Otter Modules

chore: upgrade angular dependencies
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/storybook/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Due: Otter Modules, Otter developer tools

fix: Renovate node version regex
  tools/renovate/managers/github-node-version.json5
Due: none

fix: o3r/pipeline as dev dep
  packages/@o3r/extractors/src/core/wrapper.ts
  packages/@o3r/pipeline/package.json
  packages/@o3r/pipeline/schematics/index.it.spec.ts
  packages/@o3r/schematics/src/utility/wrapper.ts
Due: Otter Modules

fix(workspace): the tsconfig links to generate libraries
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/library/index.spec.ts
  packages/@o3r/workspace/schematics/library/rules/rules.ng.ts
  packages/@o3r/workspace/schematics/library/templates/ng/tsconfig.lib.prod.json.template
Due: Otter Modules

fix(workspace): update nx scope in generated executors
  packages/@o3r/workspace/schematics/library/templates/nx/project.json.template
Due: Otter Modules

chore: ignore petstore basepath link
  .github/markdown-external-links.config.json
Due: none

fix: the tsconfig spec generated for library contains several issues
  packages/@o3r/components/schematics/index.it.spec.ts
  packages/@o3r/configuration/schematics/index.it.spec.ts
  packages/@o3r/eslint-config/schematics/index.it.spec.ts
  packages/@o3r/testing/package.json
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/testing/schematics/ng-add/templates/workspace/tsconfig.jest.json.template
  packages/@o3r/workspace/package.json
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/library/index.spec.ts
  packages/@o3r/workspace/schematics/library/rules/rules.ng.ts
  packages/@o3r/workspace/schematics/library/rules/rules.nx.ts
  packages/@o3r/workspace/schematics/library/rules/shared.ts
  packages/@o3r/workspace/schematics/library/templates/jest/jest.config.js.template
  packages/@o3r/workspace/schematics/library/templates/jest/testing/setup-jest.ts.template
  packages/@o3r/workspace/schematics/library/templates/ng/common/.gitignore.template
  packages/@o3r/workspace/schematics/library/templates/ng/common/.npmignore.template
  packages/@o3r/workspace/schematics/library/templates/ng/common/tsconfig.builders.json.template
  packages/@o3r/workspace/schematics/library/templates/ng/common/tsconfig.json.template
  packages/@o3r/workspace/schematics/library/templates/ng/common/tsconfig.lib.prod.json.template
  packages/@o3r/workspace/schematics/library/templates/ng/jest/tsconfig.build.composite.json.template
  packages/@o3r/workspace/schematics/library/templates/ng/jest/tsconfig.spec.json.template
  packages/@o3r/workspace/schematics/library/templates/nx/jest.config.js.template
  packages/@o3r/workspace/schematics/library/templates/nx/testing/setup-jest.ts.template
  packages/@o3r/workspace/schematics/ng-add/helpers/index.ts
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  packages/@o3r/workspace/schematics/rule-factories/index.ts
  packages/@o3r/workspace/schematics/rule-factories/linter.ts
Due: Otter Modules

chore: upgrade capacitor major
  packages/@o3r/mobile/package.json
  yarn.lock
Due: Otter Modules

feat: v12 migration guide
  migration-guides/12.0.md
Due: none

fix: add missing files in workspace
  .commitlintrc.json
  commitlint.config.cts
  package.json
  packages/@o3r/schematics/src/tasks/package-manager/index.ts
  packages/@o3r/schematics/src/tasks/package-manager/npm-node-run.spec.ts
  packages/@o3r/schematics/src/tasks/package-manager/npm-node-run.ts
  packages/@o3r/workspace/package.json
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/commit-hooks/index.spec.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/commit-hooks/index.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/commit-hooks/templates/__empty__.husky/commit-msg.template
  packages/@o3r/workspace/schematics/ng-add/helpers/commit-hooks/templates/commitlint.config.cts.template
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  packages/@o3r/workspace/schematics/ng-add/schema.json
  packages/@o3r/workspace/schematics/ng-add/schema.ts
  tsconfig.eslint.json
  yarn.lock
Due: Otter Modules

fix(workspace-helpers): report deprecates npmjs url
  tools/@o3r/workspace-helpers/scripts/report-deprecates.mjs
Due: none

feat(design): add support of URL as token file input
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.spec.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
Due: Otter Modules

fix: remove deprecated vars for templates
  packages/@o3r/components/schemas/placeholder-template.schema.json
  packages/@o3r/components/src/rules-engine/placeholder.rules-engine.effect.spec.ts
  packages/@o3r/components/src/rules-engine/placeholder.rules-engine.effect.ts
  packages/@o3r/components/src/stores/placeholder-request/placeholder-request.state.ts
Due: Otter Modules

fix: typos in URLS in v12 migration guide
  migration-guides/12.0.md
Due: none

chore: upgrade build major dependencies
  apps/showcase/package.json
  package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-terasu/cli/package.json
  packages/@o3r/design/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/styling/package.json
  yarn.lock
Due: Otter Modules, SDK Tooling

fix(workspace): add husky in dev workspace dependency
  packages/@o3r/workspace/schematics/ng-add/helpers/commit-hooks/index.ts
Due: Otter Modules

fix: build builders and schematics for o3r lib
  packages/@o3r/core/schematics/ng-add-create/index.ts
  packages/@o3r/core/schematics/ng-add-create/templates/schematics/ng-add/index.ts.template
  packages/@o3r/core/schematics/rule-factories/otter-environment/index.ts
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/library/rules/shared.ts
Due: Otter Modules

fix(workspace): enforce husky install
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
Due: Otter Modules

fix(github-actions): undeterministic github actions packaging
  nx.json
  package.json
  tools/github-actions/audit/project.json
  tools/github-actions/cascading/project.json
  tools/github-actions/get-npm-tag/project.json
  tools/github-actions/new-version/project.json
  tools/github-actions/release/project.json
Due: Otter Github shared Actions

feat: clean up deprecated items in api-mock of SDKs and protractor testing
  migration-guides/12.0.md
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/spec/api-mock.mustache
  packages/@o3r-training/showcase-sdk/src/spec/api-mock.ts
  packages/@o3r-training/training-sdk/package.json
  packages/@o3r-training/training-sdk/src/spec/api-mock.ts
  packages/@o3r/testing/src/core/protractor/component-fixture.ts
  yarn.lock
Due: Otter Modules, Training modules, SDK Tooling

chore: upgrade apps major dependencies
  apps/chrome-devtools/package.json
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
  apps/showcase/package.json
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.component.ts
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.template.html
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.component.ts
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.template.html
  package.json
  yarn.lock
Due: Otter developer tools

fix(schematics): fix skip install task fix(workspace): enforce install when pre-commit requested
  packages/@o3r/schematics/src/rule-factories/ng-add/dependencies.ts
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  packages/@o3r/workspace/schematics/ng-add/schema.json
  packages/@o3r/workspace/schematics/ng-add/schema.ts
Due: Otter Modules

feat(renovate): split trunk-base and release branches strategies feat(renovate): register node-version update in base
  .renovaterc.json5
  tools/renovate/README.md
  tools/renovate/base.json
  tools/renovate/branching-strategy/readme.md
  tools/renovate/branching-strategy/release-branches.json
  tools/renovate/branching-strategy/trunk-based.json
  tools/renovate/group/angular.json
  tools/renovate/group/design-factory.json
  tools/renovate/group/typescript.json
  tools/renovate/managers/github-node-version.json5
  tools/renovate/otter-project.json
  tools/renovate/sdk.json
Due: none

chore: upgrade playwright 1.50
  apps/chrome-devtools/package.json
  apps/showcase/e2e-playwright/playwright-config.ts
  apps/showcase/e2e-playwright/sanity/lighthouse-sanity.e2e.ts
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
  apps/showcase/package.json
  apps/showcase/project.json
  apps/showcase/src/styles.scss
  package.json
  packages/@o3r/testing/package.json
  yarn.lock
Due: Otter Modules, Otter developer tools

chore: upgrade openapi dependencies
  .renovaterc.json5
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/pom.xml
Due: SDK Tooling

fix(#2755): add the missing -- for arguments after npm command
  packages/@o3r/workspace/schematics/ng-add/index.ts
Due: Otter Modules

chore: upgrade inquirer
  packages/@o3r-training/training-tools/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/extractors/src/core/wrapper.ts
  packages/@o3r/schematics/package.json
  packages/@o3r/schematics/src/utility/wrapper.ts
  yarn.lock
Due: Otter Modules, Training modules

feat(workspace-helpers): include `build-swagger` in `yarn build` command
  .github/workflows/main.yml
  CONTRIBUTING.md
  package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/project.json
  tools/@o3r/workspace-helpers/package.json
  tools/@o3r/workspace-helpers/scripts/get-build-targets.mjs
  yarn.lock
Due: SDK Tooling

chore: upgrade major dependencies
  .github/workflows/code-check.yml
  .yarnrc.yml
  apps/chrome-devtools/package.json
  apps/github-cascading-app/package.json
  package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@o3r-training/training-tools/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/workspace/package.json
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/packaged-action/index.js.map
  yarn.lock
Due: Otter Modules, Otter developer tools, Training modules, SDK Tooling

fix: routing module needs partial BuildTimeProperties
  packages/@o3r/routing/src/tools/app-server-routing.module.ts
Due: Otter Modules

chore: version harmonize
  .yarn/sdks/eslint/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Due: Otter Modules

fix(training): missing dependencies
  .yarnrc.yml
  apps/showcase/package.json
  apps/showcase/src/app/app.module.ts
  package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/LICENSE.txt
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/release/packaged-action/index.cjs.map
  yarn.lock
Due: Otter Modules, SDK Tooling

chore: align typescript-eslint deps
  .yarnrc.yml
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  yarn.lock
Due: Otter Modules, SDK Tooling

Path conditions:
  Otter Modules: any of: packages/@o3r/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter developer tools: any of: apps/chrome-devtools/**, apps/github-cascading-app/**, apps/intellij-extension/**, apps/vscode-extension/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter Github shared Actions: any of: tools/github-actions/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Training modules: any of: packages/@o3r-training/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  SDK Tooling: any of: packages/@ama-sdk/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
