Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

fix: update e2e screenshots
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
Due: none

fix: visual testing reporter not working
  packages/@o3r/testing/src/visual-testing-reporter/index.ts
Due: Otter Modules

chore: execute post install scripts
  .yarn/sdks/eslint/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
Due: Otter Modules, SDK Tooling

fix(sdk gen): the default should be last in list of exports in package.json
  packages/@ama-sdk/schematics/cli/files-pack.cts
Due: SDK Tooling

test: integration tests improve #3376
  packages/@ama-styling/style-dictionary/schematics/index.it.spec.ts
  packages/@o3r/components/schematics/index.it.spec.ts
  packages/@o3r/pipeline/schematics/index.it.spec.ts
  packages/@o3r/style-dictionary/schematics/index.it.spec.ts
  packages/@o3r/third-party/schematics/index.it.spec.ts
Due: Otter Modules

fix: migration metadata schema
  packages/@o3r/extractors/schemas/migration.metadata.schema.json
Due: Otter Modules

fix(eslint): add jasmine globals when jest not present #3226
  packages/@o3r/eslint-config/schematics/index.it.spec.ts
  packages/@o3r/eslint-config/src/rules/typescript.cjs
Due: Otter Modules

feat: new migration scripts for component and rulefact
  docs/cms-adapters/CMS_ADAPTERS.md
  packages/@o3r/components/builders.json
  packages/@o3r/components/builders/metadata-check/component/helpers/component-metadata-comparison.helper.spec.ts
  packages/@o3r/components/builders/metadata-check/component/helpers/component-metadata-comparison.helper.ts
  packages/@o3r/components/builders/metadata-check/component/helpers/index.ts
  packages/@o3r/components/builders/metadata-check/component/index.it.spec.ts
  packages/@o3r/components/builders/metadata-check/component/index.ts
  packages/@o3r/components/builders/metadata-check/component/schema.json
  packages/@o3r/components/builders/metadata-check/component/schema.ts
  packages/@o3r/components/builders/metadata-check/config/helpers/config-metadata-comparison.helper.spec.ts
  packages/@o3r/components/builders/metadata-check/config/helpers/config-metadata-comparison.helper.ts
  packages/@o3r/components/builders/metadata-check/config/helpers/index.ts
  packages/@o3r/components/builders/metadata-check/config/index.it.spec.ts
  packages/@o3r/components/builders/metadata-check/config/index.ts
  packages/@o3r/components/builders/metadata-check/config/schema.json
  packages/@o3r/components/builders/metadata-check/config/schema.ts
  packages/@o3r/rules-engine/builders.json
  packages/@o3r/rules-engine/builders/metadata-check/helpers/index.ts
  packages/@o3r/rules-engine/builders/metadata-check/helpers/rulefact-metadata-comparison.helper.ts
  packages/@o3r/rules-engine/builders/metadata-check/index.it.spec.ts
  packages/@o3r/rules-engine/builders/metadata-check/index.ts
  packages/@o3r/rules-engine/builders/metadata-check/schema.json
  packages/@o3r/rules-engine/builders/metadata-check/schema.ts
  packages/@o3r/rules-engine/tsconfig.spec.json
Due: Otter Modules

feat: update major dependencies in sdk training
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
Due: none

feat: migrate to ngx-translate v17 on-going
  apps/showcase/package.json
  apps/showcase/src/app/app.module.ts
  docs/components/PLACEHOLDERS.md
  docs/localization/LOCALIZATION.md
  package.json
  packages/@o3r/localization/package.json
  packages/@o3r/localization/src/devkit/localization-devtools.message.service.ts
  packages/@o3r/localization/src/devkit/localization-devtools.service.ts
  packages/@o3r/localization/src/tools/localization-translate.directive.ts
  packages/@o3r/localization/src/tools/localization-translate.pipe.spec.ts
  packages/@o3r/localization/src/tools/localization-translate.pipe.ts
  packages/@o3r/localization/src/tools/localization.module.ts
  packages/@o3r/localization/src/tools/localization.provider.ts
  packages/@o3r/localization/src/tools/localization.service.spec.ts
  packages/@o3r/localization/src/tools/localization.service.ts
  packages/@o3r/rules-engine/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/testing/src/localization/localization-mock.ts
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  yarn.lock
Due: Otter Modules

chore: set yarn minimum-age-gate to 3 days
  .yarnrc.yml
Due: none

feat: trigger update of package group for ng update
  packages/@o3r/core/migration.json
  packages/@o3r/core/package.json
  packages/@o3r/core/schematics/convert-component/schema.ts
  packages/@o3r/core/schematics/ng-update/index.ts
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/schematics/src/utility/index.ts
  packages/@o3r/schematics/src/utility/loaders.ts
  packages/@o3r/schematics/src/utility/ng-update.ts
  packages/@o3r/schematics/tsconfig.build.json
  yarn.lock
Due: Otter Modules

feat: migration to transloco on-going
  .vscode/settings.json
  apps/showcase/package.json
  apps/showcase/src/app/app.module.ts
  package.json
  packages/@o3r/components/src/rules-engine/placeholder.action-handler.ts
  packages/@o3r/localization/package.json
  packages/@o3r/localization/src/devkit/localization-devtools.message.service.ts
  packages/@o3r/localization/src/devkit/localization-devtools.service.ts
  packages/@o3r/localization/src/tools/localization-translate.pipe.ts
  packages/@o3r/localization/src/tools/localization.module.ts
  packages/@o3r/localization/src/tools/localization.provider.ts
  packages/@o3r/localization/src/tools/localization.service.ts
  packages/@o3r/localization/src/tools/localized-currency.pipe.ts
  packages/@o3r/localization/src/tools/localized-date.pipe.ts
  packages/@o3r/localization/src/tools/localized-decimal.pipe.ts
  packages/@o3r/localization/src/tools/text-direction.service.ts
  packages/@o3r/localization/src/tools/translations-loader.ts
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  yarn.lock
Due: Otter Modules

chore(deps): update ngx-monaco-tree to v20.1.0
  apps/showcase/package.json
  package.json
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  yarn.lock
Due: none

fix(eslint): add jasmine globals when jest not present #3226
  packages/@o3r/eslint-config/schematics/index.it.spec.ts
  packages/@o3r/eslint-config/src/rules/typescript.cjs
  packages/@o3r/workspace/package.json
  packages/@o3r/workspace/schematics/application/templates/package.json.template
  packages/@o3r/workspace/schematics/library/rules/shared.ts
Due: Otter Modules

ci: force full run of it-tests with PR label
  .github/workflows/it-tests.yml
Due: none

fix(mcp): issue with relative path
  tools/@o3r/mcp/package.json
  tools/@o3r/mcp/src/mcp-server.ts
  tools/@o3r/mcp/tsconfig.build.json
  yarn.lock
Due: none

feat(vscode): use available tools linked to otter or angular to reply
  apps/vscode-extension/package.json
  apps/vscode-extension/src/chat/index.ts
  apps/vscode-extension/src/extension.ts
  yarn.lock
Due: Otter developer tools

chore: fix vscode mcp config
  .vscode/settings.json
Due: none

feat(mcp): find repositories using otter
  apps/vscode-extension/package.json
  apps/vscode-extension/src/chat/index.ts
  apps/vscode-extension/src/extension.ts
  apps/vscode-extension/src/mcp/index.ts
  tools/@o3r/mcp/package.json
  tools/@o3r/mcp/src/mcp-server.ts
  tools/@o3r/mcp/src/tools/find-repositories-using-otter.ts
  yarn.lock
Due: Otter developer tools

fix: apply eslint config on generated application with @o3r/testing
  packages/@o3r/core/schematics/ng-add-create/templates/schematics/ng-add/index.ts.template
  packages/@o3r/eslint-config/schematics/ng-add/eslint/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/eslint/index.ts
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/project/eslint.local.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/project/tsconfig.eslint.json.template
  packages/@o3r/eslint-config/schematics/ng-add/schema.json
  packages/@o3r/eslint-config/src/rules/typescript.cjs
  packages/@o3r/testing/package.json
  packages/@o3r/testing/schematics/index.it.spec.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/testing/schematics/ng-add/jest/index.ts
  packages/@o3r/testing/schematics/ng-add/jest/templates/project/jest.config.js.template
  packages/@o3r/testing/schematics/ng-add/jest/templates/project/testing/setup-jest.ts.template
  packages/@o3r/testing/schematics/ng-add/jest/templates/workspace/jest.config.js.template
  packages/@o3r/testing/schematics/ng-add/jest/templates/workspace/jest.config.ut.js.template
  packages/@o3r/testing/schematics/ng-add/jest/templates/workspace/tsconfig.jest.json.template
  packages/@o3r/testing/schematics/ng-add/playwright/index.ts
  packages/@o3r/workspace/schematics/library/templates/ng/common/tsconfig.json.template
  yarn.lock
Due: Otter Modules

chore: mark and close stale issues and prs
  .github/workflows/stale-issue-pr.yml
Due: none

chore: add workaround issue as stale exception
  .github/workflows/stale-issue-pr.yml
Due: none

fix: revive dictionaries deep
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/model.mustache
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/reviver.mustache
Due: SDK Tooling

fix: apply eslint config on generated application with @o3r/testing
  packages/@o3r/core/schematics/ng-add-create/templates/schematics/ng-add/index.ts.template
  packages/@o3r/eslint-config/schematics/ng-add/eslint/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/eslint/index.ts
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/project/eslint.local.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/schema.json
  packages/@o3r/eslint-config/src/rules/typescript.cjs
  packages/@o3r/testing/package.json
  packages/@o3r/testing/schematics/index.it.spec.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/testing/schematics/ng-add/jest/index.ts
  packages/@o3r/testing/schematics/ng-add/jest/templates/project/jest.config.js.template
  packages/@o3r/testing/schematics/ng-add/jest/templates/project/testing/setup-jest.ts.template
  packages/@o3r/testing/schematics/ng-add/jest/templates/workspace/jest.config.js.template
  packages/@o3r/testing/schematics/ng-add/jest/templates/workspace/jest.config.ut.js.template
  packages/@o3r/testing/schematics/ng-add/jest/templates/workspace/tsconfig.jest.json.template
  packages/@o3r/testing/schematics/ng-add/playwright/index.ts
  packages/@o3r/workspace/schematics/library/templates/ng/common/tsconfig.json.template
  packages/@o3r/workspace/schematics/ng-add/helpers/npm-workspace.ts
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  yarn.lock
Due: Otter Modules

fix: localization issue when getting translation stream
  packages/@o3r/localization/src/tools/localization.service.spec.ts
  packages/@o3r/localization/src/tools/localization.service.ts
Due: Otter Modules

fix: increase operations limit for stale issue workflow
  .github/workflows/stale-issue-pr.yml
Due: none

deprecate: amaterasu cli
  packages/@ama-terasu/cli/README.md
  packages/@ama-terasu/cli/package.json
  packages/@ama-terasu/core/README.md
  packages/@ama-terasu/core/package.json
  packages/@ama-terasu/schematics/README.md
  packages/@ama-terasu/schematics/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/README.md
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-dodo/README.md
  packages/@o3r/amaterasu/amaterasu-dodo/package.json
  packages/@o3r/amaterasu/amaterasu-otter/README.md
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/README.md
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
Due: Otter Modules

fix: unlink @angular/cdk with @angular/core version for generation
  packages/@o3r/schematics/src/utility/dependencies.ts
Due: Otter Modules

feat(mcp): find repositories using otter
  .vscode/mcp.json
  apps/vscode-extension/package.json
  apps/vscode-extension/src/chat/index.ts
  apps/vscode-extension/src/extension.ts
  apps/vscode-extension/src/mcp/index.ts
  packages/@o3r/core/schematics/ng-add/index.ts
  tools/@o3r/mcp/eslint.local.config.mjs
  tools/@o3r/mcp/jest.config.js
  tools/@o3r/mcp/package.json
  tools/@o3r/mcp/project.json
  tools/@o3r/mcp/src/cli/index.ts
  tools/@o3r/mcp/src/index.spec.ts
  tools/@o3r/mcp/src/mcp-server.ts
  tools/@o3r/mcp/src/tools/find-repositories-using-otter.ts
  tools/@o3r/mcp/src/utils/logger.ts
  tools/@o3r/mcp/testing/jest.config.ut.js
  tools/@o3r/workspace-helpers/scripts/create-monorepo-scope.mjs
  yarn.lock
Due: Otter Modules, Otter developer tools

Path conditions:
  Otter Modules: any of: packages/@o3r/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter developer tools: any of: apps/chrome-devtools/**, apps/github-cascading-app/**, apps/intellij-extension/**, apps/vscode-extension/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter Github shared Actions: any of: tools/github-actions/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Training modules: any of: packages/@o3r-training/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  SDK Tooling: any of: packages/@ama-sdk/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
