Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

codecov.yml:

codecov:
  require_ci_to_pass: true

ignore:
  # Package Manager files
  - '.yarn/**/*'
  - '.pnp.*'
  - '.cache/**/*'
  - 'tmp/**/*'
  - '**/node_modules/**/*'

  # Distribution folders
  - 'packages/@*/*/dist/**/*'
  - 'tools/@*/*/dist/**/*'
  - 'apps/@*/*/dist/**/*'

  # Generated files
  - 'packages/@o3r-training/showcase-sdk/src/api/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/models/base/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/spec/**/*'
  - 'tools/github-actions/*/packaged-action/**/*'

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: otter
      name: Otter Modules
      paths:
        - packages/@o3r/**
    - component_id: otter-tools
      name: Otter developer tools
      paths:
        - apps/chrome-devtools/**
        - apps/github-cascading-app/**
        - apps/intellij-extension/**
        - apps/vscode-extension/**
    - component_id: otter-github-actions
      name: Otter Github shared Actions
      paths:
        - tools/github-actions/**
    - component_id: training
      name: Training modules
      paths:
        - packages/@o3r-training/**
    - component_id: sdk
      name: SDK Tooling
      paths:
        - packages/@ama-sdk/**

chore(design): replace deprecated function
  .yarnrc.yml
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/design/src/core/design-token/design-token.spec.ts
  packages/@o3r/eslint-config-otter/package.json
Due: Otter Modules, SDK Tooling

fix: avoid lightsaving switch issue on utils.Date
  packages/@ama-sdk/core/src/fwk/date.spec.ts
  packages/@ama-sdk/core/src/fwk/date.ts
Due: SDK Tooling

fix: update depreacted upload-artifact github actions
  .github/workflows/code-check.yml
  .github/workflows/documentation.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  .github/workflows/publish.yml
  .github/workflows/scorecards.yml
Due: none

fix: add workspace with eslint config
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-config-otter/schematics/ng-add/index.ts
  packages/@o3r/eslint-config/package.json
  packages/@o3r/eslint-config/schematics/index.it.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/index.ts
  yarn.lock
Due: Otter Modules

fix: playwright install fails on ubuntu
  apps/showcase/package.json
  package.json
  packages/@o3r/testing/package.json
  yarn.lock
Due: Otter Modules

fix(eslint): yarn pnp support for import rules
  packages/@o3r/eslint-config/eslint.local.config.mjs
  packages/@o3r/eslint-config/src/rules/typescript/import.cjs
  tools/github-actions/new-version/packaged-action/LICENSE.txt
Due: Otter Modules

feat(rules-engine): added rule ID for output error message
  packages/@o3r/rules-engine/src/engine/ruleset-executor.ts
Due: Otter Modules

feat(rules-engine): added rule ID for logger error message
  packages/@o3r/rules-engine/src/engine/ruleset-executor.ts
Due: Otter Modules

fix: enforce install if dependencies have ng add
  packages/@o3r/schematics/src/rule-factories/ng-add/dependencies.ts
Due: Otter Modules

feat: add placeholder package
  packages/@o3r/placeholder/.gitignore
  packages/@o3r/placeholder/.npmignore
  packages/@o3r/placeholder/README.md
  packages/@o3r/placeholder/collection.json
  packages/@o3r/placeholder/eslint.config.mjs
  packages/@o3r/placeholder/eslint.local.config.mjs
  packages/@o3r/placeholder/jest.config.js
  packages/@o3r/placeholder/package.json
  packages/@o3r/placeholder/project.json
  packages/@o3r/placeholder/schematics/ng-add/index.ts
  packages/@o3r/placeholder/schematics/ng-add/schema.json
  packages/@o3r/placeholder/schematics/ng-add/schema.ts
  packages/@o3r/placeholder/src/lib/placeholder.component.spec.ts
  packages/@o3r/placeholder/src/lib/placeholder.component.ts
  packages/@o3r/placeholder/src/lib/placeholder.service.spec.ts
  packages/@o3r/placeholder/src/lib/placeholder.service.ts
  packages/@o3r/placeholder/src/ng-package.json
  packages/@o3r/placeholder/src/package.json
  packages/@o3r/placeholder/src/public_api.ts
  packages/@o3r/placeholder/testing/jest.config.ut.builders.js
  packages/@o3r/placeholder/testing/jest.config.ut.js
  packages/@o3r/placeholder/testing/setup-jest.builders.ts
  packages/@o3r/placeholder/testing/setup-jest.ts
  packages/@o3r/placeholder/tsconfig.build.composite.json
  packages/@o3r/placeholder/tsconfig.build.json
  packages/@o3r/placeholder/tsconfig.builders.json
  packages/@o3r/placeholder/tsconfig.doc.json
  packages/@o3r/placeholder/tsconfig.eslint.json
  packages/@o3r/placeholder/tsconfig.json
  packages/@o3r/placeholder/tsconfig.spec.json
  yarn.lock
Due: Otter Modules

chore: enable tests for stylelint-plugin
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/stylelint-plugin/project.json
  packages/@o3r/stylelint-plugin/testing/babel.config.js
  packages/@o3r/stylelint-plugin/testing/jest.config.ut.js
  yarn.lock
Due: Otter Modules

fix(showcase): unplug training assets dependencies fix: remove unused script
  apps/showcase/project.json
  package.json
  update-peer.js
  yarn.lock
Due: none

chore: cleanup scripts
  fixConflicts.js
  update-peer.js
Due: none

fix: starting file does not open on training container
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.scss
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.spec.ts
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
Due: none

fix(#2758): set exact-o3r-version as default for all schematics if provided when adding @o3r/core
  packages/@o3r/application/schematics/ng-add/schema.json
  packages/@o3r/core/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/ng-add/schema.json
  packages/@o3r/create/src/index.it.spec.ts
  packages/@o3r/schematics/src/rule-factories/index.ts
  packages/@o3r/schematics/src/rule-factories/options/index.spec.ts
  packages/@o3r/schematics/src/rule-factories/options/index.ts
  packages/@o3r/schematics/src/utility/collection.spec.ts
  packages/@o3r/workspace/schematics/application/index.spec.ts
  packages/@o3r/workspace/schematics/application/index.ts
  packages/@o3r/workspace/schematics/application/schema.json
  packages/@o3r/workspace/schematics/library/index.ts
  packages/@o3r/workspace/schematics/ng-add/index.ts
  packages/@o3r/workspace/schematics/ng-add/schema.json
  packages/@o3r/workspace/schematics/sdk/index.ts
  tools/github-actions/release/packaged-action/index.cjs
Due: Otter Modules

fix(#2730): reactivate test for linter
  packages/@o3r/eslint-config/schematics/index.it.spec.ts
Due: Otter Modules

feat: ama-mfe/messages package
  .npmrc.pr
  .verdaccio/conf/config-without-docker.yaml
  .verdaccio/conf/config.yaml
  packages/@ama-mfe/messages/.gitignore
  packages/@ama-mfe/messages/.npmignore
  packages/@ama-mfe/messages/README.md
  packages/@ama-mfe/messages/eslint.config.mjs
  packages/@ama-mfe/messages/eslint.local.config.mjs
  packages/@ama-mfe/messages/jest.config.js
  packages/@ama-mfe/messages/package.json
  packages/@ama-mfe/messages/project.json
  packages/@ama-mfe/messages/src/index.spec.ts
  packages/@ama-mfe/messages/src/messages/message-to-remove.ts
  packages/@ama-mfe/messages/src/messages/navigation/base.ts
  packages/@ama-mfe/messages/src/messages/navigation/index.ts
  packages/@ama-mfe/messages/src/messages/navigation/navigation.1.0.ts
  packages/@ama-mfe/messages/src/messages/resize/base.ts
  packages/@ama-mfe/messages/src/messages/resize/index.ts
  packages/@ama-mfe/messages/src/messages/resize/resize.1.0.ts
  packages/@ama-mfe/messages/src/messages/theme/base.ts
  packages/@ama-mfe/messages/src/messages/theme/index.ts
  packages/@ama-mfe/messages/src/messages/theme/theme.1.0.ts
  packages/@ama-mfe/messages/src/public_api.ts
  packages/@ama-mfe/messages/testing/jest.config.ut.js
  packages/@ama-mfe/messages/testing/setup-jest.ts
  packages/@ama-mfe/messages/tsconfig.build.json
  packages/@ama-mfe/messages/tsconfig.eslint.json
  packages/@ama-mfe/messages/tsconfig.json
  packages/@ama-mfe/messages/tsconfig.spec.json
  tools/renovate/group/otter.json
  yarn.lock
Due: none

fix: improve performance of styling extractor
  package.json
  packages/@o3r/design/schematics/extract-token/index.ts
  packages/@o3r/styling/builders/style-extractor/helpers/css-variable.extractor.spec.ts
  packages/@o3r/styling/builders/style-extractor/helpers/css-variable.extractor.ts
  packages/@o3r/styling/builders/style-extractor/index.ts
  packages/@o3r/styling/package.json
  yarn.lock
Due: Otter Modules

fix: upgrade deprecated cache action
  .github/workflows/code-check.yml
  .github/workflows/it-tests.yml
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  tools/github-actions/setup/action.yml
Due: Otter Github shared Actions

chore: upgrade ngx-monaco-tree
  .yarnrc.yml
  apps/showcase/package.json
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  yarn.lock
Due: Otter Modules, SDK Tooling

fix: upgrade deprecated cache action
  .github/workflows/code-check.yml
  .github/workflows/it-tests.yml
  tools/github-actions/setup/action.yml
Due: Otter Github shared Actions

fix: adjust timezone based on new date timezone
  packages/@ama-sdk/core/src/fwk/date.spec.ts
  packages/@ama-sdk/core/src/fwk/date.ts
  packages/@ama-sdk/core/testing/global-timezone-setup.js
  packages/@ama-sdk/core/testing/jest.config.ut.js
Due: SDK Tooling

feature: otter create brings eslint and version harmonize
  packages/@o3r/core/schematics/ng-add/utils/linter/index.ts
  packages/@o3r/eslint-config/package.json
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.shared.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/index.ts
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  packages/@o3r/workspace/schematics/ng-add/schema.json
  packages/@o3r/workspace/schematics/ng-add/schema.ts
  packages/@o3r/workspace/schematics/rule-factories/linter.ts
  yarn.lock
Due: Otter Modules

feat: use new nx cache
  nx.json
Due: none

fix(renovate): add missing `--` in `npm run ng update` command
  tools/renovate/tasks/otter-ng-update.json
Due: none
