Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

fix: yarn warning reporting
  .github/workflows/main.yml
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/src/main.ts
Due: Otter Github shared Actions

ci(codecov): change flag informational to true
  codecov.yml
Due: none

fix: adjust path replacement script to work with node 20.19.0
  packages/@o3r/testing/src/tools/path-replacement/path-replacement.ts
Due: Otter Modules

fix: adjust path replacement script to work with node 20.19.0
  .github/workflows/it-tests.yml
  packages/@o3r/testing/src/tools/path-replacement/path-replacement.ts
Due: Otter Modules

Revert "fix: adjust path replacement script to work with node 20.19.0"
  packages/@o3r/testing/src/tools/path-replacement/path-replacement.ts
Due: Otter Modules

ci: retry on 429 for external links
  .github/markdown-external-links.config.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Due: Otter Modules, SDK Tooling

feat: a more flexible id check for route memorization
  packages/@ama-mfe/ng-utils/src/navigation/route-memorize/route-memorize.directive.spec.ts
  packages/@ama-mfe/ng-utils/src/navigation/route-memorize/route-memorize.directive.ts
Due: none

fix: temporary rollback of @swc/cli due to error since version 0.7.4
  packages/@ama-mfe/messages/package.json
  packages/@ama-sdk/client-angular/package.json
  packages/@ama-sdk/client-beacon/package.json
  packages/@ama-sdk/client-fetch/package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/training-sdk/package.json
  packages/@o3r-training/training-tools/package.json
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  yarn.lock
Due: Training modules, SDK Tooling

fix(style-dictionary): remove sizeRem from recommended transforms
  packages/@o3r/style-dictionary/src/transform-groups/css-recommended.transform-group.mts
Due: Otter Modules

feat(style-dictionary): add better sorting for variables
  packages/@o3r/rules-engine/package.json
  packages/@o3r/style-dictionary/src/formats/css.format.mts
  packages/@o3r/style-dictionary/src/helpers/config-deflatten.helpers.mts
  packages/@o3r/style-dictionary/src/helpers/sort-by-path.sort.helpers.mts
  packages/@o3r/style-dictionary/src/helpers/sort-by-path.sort.helpers.spec.ts
  yarn.lock
Due: Otter Modules

fix(yarn-error-reporter): to display the proper number of errors
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/src/main.ts
Due: Otter Github shared Actions

fix(sdk): add support of AnyType from AOS3
  .vscode/settings.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
Due: SDK Tooling

fix: update @swc/cli version
  packages/@ama-mfe/messages/package.json
  packages/@ama-sdk/client-angular/package.json
  packages/@ama-sdk/client-beacon/package.json
  packages/@ama-sdk/client-fetch/package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/training-sdk/package.json
  packages/@o3r-training/training-tools/package.json
  yarn.lock
Due: Training modules, SDK Tooling

chore: test
  packages/@o3r/eslint-config-otter/schematics/ng-update/v10.0/stylistic.ts
  packages/@o3r/localization/schematics/localization-base/index.ts
  packages/@o3r/schematics/src/utility/dependencies.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
Due: Otter Modules

feat: parameter deserialization
  packages/@ama-sdk/core/src/fwk/param-deserialization.spec.ts
  packages/@ama-sdk/core/src/fwk/param-deserialization.ts
  packages/@ama-sdk/core/src/fwk/param-serialization.spec.ts
  packages/@ama-sdk/core/src/fwk/param-serialization.ts
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
Due: SDK Tooling

feature: otter create brings eslint and version harmonize
  .yarn/sdks/eslint/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-config/package.json
  packages/@o3r/eslint-config/schematics/index.it.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.shared.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/index.ts
  yarn.lock
Due: Otter Modules, SDK Tooling

feat: embedded module id handled by the host app
  .yarn/sdks/eslint/package.json
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/connect/connect.providers.spec.ts
  packages/@ama-mfe/ng-utils/src/connect/connect.providers.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.pipe.spec.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.pipe.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.spec.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.consumer.service.ts
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Due: Otter Modules, SDK Tooling

feat: o3r testing optional for o3r application
  apps/chrome-devtools/src/app-devtools/debug-panel/debug-panel.service.ts
  apps/chrome-devtools/src/extension/background.ts
  apps/chrome-devtools/src/services/connection.service.ts
  apps/chrome-devtools/src/shared/message.interface.ts
  apps/showcase/src/app/app.component.spec.ts
  apps/showcase/src/app/app.module.ts
  apps/showcase/src/app/rules-engine/rules-engine.component.ts
  apps/showcase/src/app/run-app-locally/run-app-locally.style.vars.scss
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
  apps/showcase/src/main.ts
  apps/showcase/src/style/theme.scss
  docs/dev-tools/chrome-devtools.md
  docs/dev-tools/console-devtools.md
  packages/@o3r/application/devkit/application-devkit.interface.ts
  packages/@o3r/application/devkit/application-devtools.console.service.ts
  packages/@o3r/application/devkit/application-devtools.message.service.ts
  packages/@o3r/application/devkit/application-devtools.module.ts
  packages/@o3r/application/devkit/application-devtools.service.ts
  packages/@o3r/application/devkit/application-devtools.token.ts
  packages/@o3r/application/devkit/index.ts
  packages/@o3r/application/devkit/ng-package.json
  packages/@o3r/application/package.json
  packages/@o3r/application/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/application/src/public_api.ts
  packages/@o3r/application/tsconfig.devkit.json
  packages/@o3r/application/tsconfig.json
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/release/packaged-action/index.cjs.map
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  tsconfig.base.json
  tsconfig.build.json
  yarn.lock
Due: Otter Modules, Otter developer tools

feat: add o3r prefix to generators
  .yarnrc.yml
  packages/@ama-sdk/schematics/collection.json
  packages/@o3r/analytics/collection.json
  packages/@o3r/configuration/collection.json
  packages/@o3r/core/collection.json
  packages/@o3r/design/collection.json
  packages/@o3r/localization/collection.json
  packages/@o3r/rules-engine/collection.json
  packages/@o3r/styling/collection.json
  packages/@o3r/testing/collection.json
  packages/@o3r/third-party/collection.json
  packages/@o3r/workspace/collection.json
Due: Otter Modules, SDK Tooling

fix(docs): update url angular cli options
  packages/@o3r/create/README.md
Due: Otter Modules

feat(ama-mfe): handle `NavigationMessage` consumption by `RoutingService`
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/eslint.local.config.mjs
  packages/@ama-mfe/ng-utils/src/managers/interfaces.ts
  packages/@ama-mfe/ng-utils/src/managers/utils.ts
  packages/@ama-mfe/ng-utils/src/navigation/index.ts
  packages/@ama-mfe/ng-utils/src/navigation/routing.service.spec.ts
  packages/@ama-mfe/ng-utils/src/navigation/routing.service.ts
Due: none

feat(ama-mfe): add `provideDisableHistoryWrites()` provider
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/package.json
  packages/@ama-mfe/ng-utils/src/history/history.providers.spec.ts
  packages/@ama-mfe/ng-utils/src/history/history.providers.ts
  packages/@ama-mfe/ng-utils/src/history/index.ts
  packages/@ama-mfe/ng-utils/src/public_api.ts
  yarn.lock
Due: none

chore(ama-sdk-schematics): ignore coverage for generated files
  apps/showcase/testing/jest.config.ut.js
  codecov.yml
  packages/@ama-sdk/schematics/migration.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/ng-update/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.3/coverage-ignore.spec.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.3/coverage-ignore.ts
  packages/@ama-sdk/schematics/testing/mocks/jest-config/mock.jest.config.js
  packages/@ama-sdk/schematics/testing/mocks/jest-config/result.jest.config.js
  packages/@o3r-training/showcase-sdk/testing/jest.config.ut.js
  packages/@o3r-training/training-sdk/testing/jest.config.ut.js
  packages/@o3r/core/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Due: Otter Modules, Training modules, SDK Tooling

chore: reorder scss vars and align generator deps
  apps/showcase/src/app/run-app-locally/run-app-locally.style.vars.scss
  apps/showcase/src/style/dark-theme/dark-theme.scss
  apps/showcase/src/style/horizon-theme/horizon-theme.scss
  apps/showcase/src/style/theme.scss
  packages/@o3r/core/package.json
  packages/@o3r/workspace/package.json
Due: Otter Modules

feat: make o3r testing optional for o3r application
  packages/@o3r/analytics/schematics/index.it.spec.ts
  packages/@o3r/application/package.json
  packages/@o3r/application/src/devkit/application-devtools.message.service.ts
  packages/@o3r/components/package.json
  packages/@o3r/components/schematics/index.it.spec.ts
  packages/@o3r/components/schematics/ng-add/index.ts
  packages/@o3r/configuration/package.json
  packages/@o3r/configuration/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/eslint-config/schematics/index.it.spec.ts
  packages/@o3r/localization/schematics/index.it.spec.ts
  packages/@o3r/rules-engine/schematics/index.it.spec.ts
  packages/@o3r/styling/schematics/index.it.spec.ts
  packages/@o3r/testing/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/index.it.spec.ts
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/release/packaged-action/index.cjs.map
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  yarn.lock
Due: Otter Modules

chore: generate NX MCP instruction files
  .gitignore
  .vscode/settings.json
Due: none

feat(ama-mfe): add `provideDisableHistoryWrites()` provider
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/package.json
  packages/@ama-mfe/ng-utils/src/connect/connect.providers.spec.ts
  packages/@ama-mfe/ng-utils/src/connect/connect.providers.ts
  packages/@ama-mfe/ng-utils/src/history/history.providers.spec.ts
  packages/@ama-mfe/ng-utils/src/history/history.providers.ts
  packages/@ama-mfe/ng-utils/src/history/index.ts
  yarn.lock
Due: none

feat: o3r/testing should not be recommended
  packages/@o3r/core/README.md
  packages/@o3r/core/schematics/shared/presets/recommended.preset.ts
  packages/@o3r/create/src/index.it.spec.ts
Due: Otter Modules

feat(ama-mfe): handle `NavigationMessage` consumption by `RoutingService`
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/eslint.local.config.mjs
  packages/@ama-mfe/ng-utils/src/managers/interfaces.ts
  packages/@ama-mfe/ng-utils/src/managers/utils.ts
  packages/@ama-mfe/ng-utils/src/navigation/index.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.consumer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.consumer.service.ts
  packages/@ama-mfe/ng-utils/src/navigation/routing.service.spec.ts
  packages/@ama-mfe/ng-utils/src/navigation/routing.service.ts
Due: none

chore(ama-sdk-schematics): ignore coverage for generated files
  .yarn/sdks/eslint/package.json
  apps/showcase/testing/jest.config.ut.js
  codecov.yml
  packages/@ama-sdk/schematics/migration.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/ng-update/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.3/coverage-ignore.spec.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.3/coverage-ignore.ts
  packages/@ama-sdk/schematics/testing/mocks/jest-config/mock.jest.config.js
  packages/@ama-sdk/schematics/testing/mocks/jest-config/result.jest.config.js
  packages/@o3r-training/showcase-sdk/testing/jest.config.ut.js
  packages/@o3r-training/training-sdk/testing/jest.config.ut.js
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  yarn.lock
Due: Otter Modules, Training modules, SDK Tooling

fix: reactivate int tests for lib with o3r/testing
  packages/@o3r/testing/schematics/index.it.spec.ts
Due: Otter Modules

fix: resolve placeholder subscription to free references
  packages/@o3r/components/src/tools/placeholder/placeholder.component.ts
Due: Otter Modules

chore: upgrade gradle
  apps/intellij-extension/.gitignore
  apps/intellij-extension/gradle/wrapper/gradle-wrapper.properties
Due: Otter developer tools

Path conditions:
  Otter Modules: any of: packages/@o3r/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter developer tools: any of: apps/chrome-devtools/**, apps/github-cascading-app/**, apps/intellij-extension/**, apps/vscode-extension/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter Github shared Actions: any of: tools/github-actions/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Training modules: any of: packages/@o3r-training/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  SDK Tooling: any of: packages/@ama-sdk/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
