Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

feat: add iframe embed component in ama-mfe
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/iframe-embed/iframe-embed.component.spec.ts
  packages/@ama-mfe/ng-utils/src/iframe-embed/iframe-embed.component.ts
  packages/@ama-mfe/ng-utils/src/iframe-embed/iframe-embed.style.scss
  packages/@ama-mfe/ng-utils/src/iframe-embed/iframe-embed.template.html
  packages/@ama-mfe/ng-utils/src/iframe-embed/index.ts
  packages/@ama-mfe/ng-utils/src/public_api.ts
Due: none

feat: add a mcp server to load the different SDK context
  nx.json
  packages/@ama-mcp/sdk/README.md
  packages/@ama-mcp/sdk/eslint.config.mjs
  packages/@ama-mcp/sdk/eslint.local.config.mjs
  packages/@ama-mcp/sdk/jest.config.js
  packages/@ama-mcp/sdk/package.json
  packages/@ama-mcp/sdk/project.json
  packages/@ama-mcp/sdk/resources/INSTRUCTIONS.md
  packages/@ama-mcp/sdk/src/cli.ts
  packages/@ama-mcp/sdk/src/helpers/context.spec.ts
  packages/@ama-mcp/sdk/src/helpers/context.ts
  packages/@ama-mcp/sdk/src/helpers/utils.spec.ts
  packages/@ama-mcp/sdk/src/helpers/utils.ts
  packages/@ama-mcp/sdk/src/server/mcp-server.spec.ts
  packages/@ama-mcp/sdk/src/server/mcp-server.ts
  packages/@ama-mcp/sdk/testing/jest.config.ut.js
  packages/@ama-mcp/sdk/tsconfig.build.composite.json
  packages/@ama-mcp/sdk/tsconfig.build.json
  packages/@ama-mcp/sdk/tsconfig.json
  packages/@ama-mcp/sdk/tsconfig.spec.json
  packages/@ama-sdk/schematics/cli/genai-context/README.md
  packages/@o3r-training/showcase-sdk/project.json
  packages/@o3r/core/package.json
  packages/@o3r/workspace/package.json
  tsconfig.base.json
  yarn.lock
Due: Otter Modules, Training modules, SDK Tooling

fix(telemetry): add missing peer dependencies
  packages/@o3r/telemetry/package.json
  yarn.lock
Due: Otter Modules

feat: support workflow templates updates
  tools/renovate/managers/github-node-version.json5
Due: none

chore: upgrade ajv 8.18
  package.json
  packages/@ama-openapi/core/package.json
  packages/@ama-openapi/create/package.json
  packages/@o3r/core/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Due: Otter Modules

chore: postinstall scripts
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Due: Otter Modules, SDK Tooling

fix: #3756 Add test script on application
  packages/@o3r/testing/schematics/ng-add/jest/index.ts
  packages/@o3r/testing/schematics/ng-add/jest/templates/workspace/jest.config.js.template
  packages/@o3r/workspace/schematics/application/index.ts
  packages/@o3r/workspace/schematics/common/index.ts
  packages/@o3r/workspace/schematics/common/ng-utils.ts
  packages/@o3r/workspace/schematics/common/templates/jest/jest.config.js.template
  packages/@o3r/workspace/schematics/common/templates/jest/testing/setup-jest.ts.template
  packages/@o3r/workspace/schematics/common/templates/jest/tsconfig.build.composite.json.template
  packages/@o3r/workspace/schematics/common/templates/jest/tsconfig.spec.json.template
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/library/rules/rules-ng.ts
  packages/@o3r/workspace/schematics/library/rules/rules-nx.ts
Due: Otter Modules

feat: transloco package - creation
  packages/@o3r/localization/README.md
  packages/@o3r/transloco/.compodocrc.json
  packages/@o3r/transloco/.gitignore
  packages/@o3r/transloco/README.md
  packages/@o3r/transloco/eslint.config.mjs
  packages/@o3r/transloco/eslint.local.config.mjs
  packages/@o3r/transloco/jest.config.js
  packages/@o3r/transloco/package.json
  packages/@o3r/transloco/project.json
  packages/@o3r/transloco/src/ng-package.json
  packages/@o3r/transloco/src/public_api.ts
  packages/@o3r/transloco/testing/jest.config.ut.js
  packages/@o3r/transloco/testing/setup-jest.ts
  packages/@o3r/transloco/tsconfig.build.composite.json
  packages/@o3r/transloco/tsconfig.build.json
  packages/@o3r/transloco/tsconfig.doc.json
  packages/@o3r/transloco/tsconfig.eslint.json
  packages/@o3r/transloco/tsconfig.json
  packages/@o3r/transloco/tsconfig.spec.json
  tsconfig.base.json
  tsconfig.build.json
  yarn.lock
Due: Otter Modules

chore: update node version for gh actions
  tools/github-actions/audit/action.yml
  tools/github-actions/get-npm-tag/action.yml
  tools/github-actions/new-version/action.yml
  tools/github-actions/yarn-errors-reporter/action.yml
Due: Otter Github shared Actions

fix: remove high vulnerabilities
  apps/palette-generator/package.json
  package.json
  packages/@ama-openapi/create/package.json
  packages/@o3r/core/package.json
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/LICENSE.txt
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/LICENSE.txt
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/packaged-action/LICENSE.txt
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  yarn.lock
Due: Otter Modules, Otter developer tools, Otter Github shared Actions

feat: transloco package - copy framework-agnostic files
  .github/CODEOWNERS
  packages/@o3r/transloco/package.json
  packages/@o3r/transloco/project.json
  packages/@o3r/transloco/schemas/localization.metadata.schema.json
  packages/@o3r/transloco/schemas/localization.schema.json
  packages/@o3r/transloco/schemas/rules-engine.localization-action.schema.json
  packages/@o3r/transloco/src/annotations/index.ts
  packages/@o3r/transloco/src/annotations/localization.ts
  packages/@o3r/transloco/src/core/index.ts
  packages/@o3r/transloco/src/core/json-localization-interface.ts
  packages/@o3r/transloco/src/core/localization-configuration.ts
  packages/@o3r/transloco/src/core/translatable.ts
  packages/@o3r/transloco/src/public_api.ts
  packages/@o3r/transloco/src/rules-engine/localization-interfaces.ts
  packages/@o3r/transloco/src/rules-engine/localization-rules-engine-action-handler.ts
  packages/@o3r/transloco/src/rules-engine/localization-rules-engine-module.ts
  packages/@o3r/transloco/src/rules-engine/ng-package.json
  packages/@o3r/transloco/src/rules-engine/public_api.ts
  packages/@o3r/transloco/src/stores/index.ts
  packages/@o3r/transloco/src/stores/localization-override/localization-override-module.ts
  packages/@o3r/transloco/src/stores/localization-override/localization-override.actions.ts
  packages/@o3r/transloco/src/stores/localization-override/localization-override.reducer.spec.ts
  packages/@o3r/transloco/src/stores/localization-override/localization-override.reducer.ts
  packages/@o3r/transloco/src/stores/localization-override/localization-override.selectors.ts
  packages/@o3r/transloco/src/stores/localization-override/localization-override.state.ts
  packages/@o3r/transloco/src/stores/localization-override/localization-override.sync.ts
  packages/@o3r/transloco/testing/jest.config.ut.js
  packages/@o3r/transloco/testing/setup-jest.ts
  yarn.lock
Due: Otter Modules

chore(deps): upgrade handlebars
  package.json
  yarn.lock
Due: none

break visual testing
  apps/showcase/src/app/app.html
  tools/github-actions/create-branch-e2e-screenshots/action.yml
Due: Otter Github shared Actions

fix: update e2e screenshots
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/forms.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/home.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/localization.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step10.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training.png
Due: none

fix: ama-mfe configurable iframe sandbox
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/iframe-embed/iframe-embed.component.spec.ts
  packages/@ama-mfe/ng-utils/src/iframe-embed/iframe-embed.component.ts
  packages/@ama-mfe/ng-utils/src/iframe-embed/iframe-embed.template.html
  packages/@ama-mfe/ng-utils/src/iframe-embed/sandbox.directive.spec.ts
  packages/@ama-mfe/ng-utils/src/iframe-embed/sandbox.directive.ts
Due: none

fix(ama-sdk-generator): copy of reference path when defined on multiline
  packages/@ama-sdk/schematics/schematics/typescript/core/helpers/copy-referenced-files.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
  packages/@ama-sdk/schematics/testing/mocks/split-spec/split-spec.yaml
Due: SDK Tooling

feat: support absolute URL in dynamic content service
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content-service.spec.ts
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content-service.ts
Due: Otter Modules

fix: remove cast to ArraySchema
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
Due: SDK Tooling

fix: renovate - exclude peer dependencies from range bump for otter packages
  tools/renovate/group/otter.json
Due: none

feat: add Otter AI plugin with MCP server recommendations
  .claude-plugin/marketplace.json
  .github/plugin/marketplace.json
  .vscode/mcp.json
  .vscode/settings.json
  collections/otter.collection.yml
  package.json
  packages/@ama-openapi/create/package.json
  packages/@ama-styling/figma-extractor/package.json
  packages/@o3r/core/package.json
  packages/@o3r/workspace/README.md
  tools/@o3r/workspace-helpers/package.json
  tools/@o3r/workspace-helpers/readme.md
  tools/@o3r/workspace-helpers/scripts/check-plugin-marketplace-sync.mjs
  tools/llm/plugins/otter/.claude-plugin/plugin.json
  tools/llm/plugins/otter/.mcp.json
  tools/llm/plugins/otter/README.md
  tools/llm/plugins/otter/plugin.json
  tools/renovate/base.json
  tools/renovate/managers/mcp-servers.json5
  yarn.lock
Due: Otter Modules

chore: re-build the framework
  apps/showcase/src/style/dark-theme/dark-theme.scss
  apps/showcase/src/style/horizon-theme/horizon-theme.scss
  apps/showcase/src/style/theme.scss
  nx.json
Due: none

feat: transloco package - tools and tests
  packages/@o3r/transloco/src/public_api.ts
  packages/@o3r/transloco/src/tools/index.ts
  packages/@o3r/transloco/src/tools/localization-helpers.spec.ts
  packages/@o3r/transloco/src/tools/localization-helpers.ts
  packages/@o3r/transloco/src/tools/localization-module.ts
  packages/@o3r/transloco/src/tools/localization-provider.ts
  packages/@o3r/transloco/src/tools/localization-service.spec.ts
  packages/@o3r/transloco/src/tools/localization-service.ts
  packages/@o3r/transloco/src/tools/localization-token.ts
  packages/@o3r/transloco/src/tools/localization-translate-directive.ts
  packages/@o3r/transloco/src/tools/localization-translate-pipe.spec.ts
  packages/@o3r/transloco/src/tools/localization-translate-pipe.ts
  packages/@o3r/transloco/src/tools/localized-currency-pipe.spec.ts
  packages/@o3r/transloco/src/tools/localized-currency-pipe.ts
  packages/@o3r/transloco/src/tools/localized-date-pipe.spec.ts
  packages/@o3r/transloco/src/tools/localized-date-pipe.ts
  packages/@o3r/transloco/src/tools/localized-decimal-pipe.spec.ts
  packages/@o3r/transloco/src/tools/localized-decimal-pipe.ts
  packages/@o3r/transloco/src/tools/text-direction-service.ts
  packages/@o3r/transloco/src/tools/translations-loader.spec.ts
  packages/@o3r/transloco/src/tools/translations-loader.ts
  packages/@o3r/transloco/testing/change-detector-ref-fixture.ts
  packages/@o3r/transloco/testing/jest.config.ut.js
Due: Otter Modules

fix: remote cache for SDK schematics
  packages/@ama-sdk/schematics/project.json
Due: SDK Tooling

fix: plugin name should not contains space
  .claude-plugin/marketplace.json
  .github/plugin/marketplace.json
Due: none

chore(deps): fix audit critical
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-styling/figma-sdk/package.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/training-sdk/package.json
  yarn.lock
Due: Training modules, SDK Tooling

feat: renovate install from private reg
  tools/renovate/README.md
  tools/renovate/otter-project.json
  tools/renovate/sdk-spec-upgrade.json
  tools/renovate/sdk.json
  tools/renovate/tasks/base.json
  tools/renovate/tasks/otter-ng-update.json
  tools/renovate/tasks/sdk-regenerate.json
  tools/renovate/tasks/sdk-spec-regenerate.json
Due: none

feat: support Angular Strict template
  apps/chrome-devtools/src/app-devtools/app.html
  apps/chrome-devtools/src/app-devtools/localization-panel/localization-panel-pres.html
  apps/chrome-devtools/src/app-devtools/state-panel/state-panel.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.ts
  apps/chrome-devtools/src/components/otter-component/otter-component.ts
  apps/showcase/e2e-playwright/scenarios/component-replacement-page-scenario.e2e.spec.ts
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres-fixture.ts
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres.html
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres.ts
  apps/showcase/src/components/training/code-editor-view/code-editor-view.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.ts
  apps/showcase/src/components/training/training-step/training-step-pres.html
  apps/showcase/src/components/training/training-step/training-step-pres.ts
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.html
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.html
  apps/showcase/src/components/utilities/in-page-nav/in-page-nav-pres.html
  apps/showcase/src/components/utilities/in-page-nav/in-page-nav-pres.ts
  apps/showcase/src/components/utilities/sidenav/sidenav-pres.ts
  package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/components/src/tools/component-replacement/c11n-directive.ts
  packages/@o3r/core/package.json
  packages/@o3r/core/src/core/interfaces/context.ts
  packages/@o3r/rules-engine/src/components/rules-engine/rule-actions/rule-actions-pres-component.html
  packages/@o3r/rules-engine/src/components/rules-engine/rule-actions/rule-actions-pres-component.ts
  packages/@o3r/rules-engine/src/components/rules-engine/rule-key-value/rule-key-value-pres-component.ts
  packages/@o3r/rules-engine/src/components/rules-engine/ruleset-history/ruleset-history-pres-component.html
  packages/@o3r/rules-engine/src/components/rules-engine/ruleset-history/ruleset-history-pres-component.ts
  tsconfig.base.json
  yarn.lock
Due: Otter Modules, Otter developer tools, SDK Tooling

fix: update e2e screenshots
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/component-replacement.png
Due: none

feat: separate presets for private registries
  tools/renovate/README.md
  tools/renovate/otter-project-private-reg.json
  tools/renovate/sdk-private-reg.json
  tools/renovate/sdk-spec-upgrade-private-reg.json
  tools/renovate/sdk-spec-upgrade.json
  tools/renovate/sdk.json
  tools/renovate/tasks/base-private-reg.json
  tools/renovate/tasks/otter-ng-update-private-reg.json
  tools/renovate/tasks/sdk-regenerate-private-reg.json
  tools/renovate/tasks/sdk-spec-regenerate-private-reg.json
  tools/renovate/tasks/sdk-spec-regenerate.json
Due: none

feat: ignore files based on git attributes
  .gitattributes
  eslint.shared.config.mjs
  package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/.gitattributes.template
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/eslint.config.mjs.template
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
  packages/@ama-styling/figma-sdk/eslint.local.config.mjs
  packages/@o3r-training/showcase-sdk/.gitattributes
  packages/@o3r-training/showcase-sdk/eslint.local.config.mjs
  packages/@o3r-training/training-sdk/.gitattributes
  packages/@o3r-training/training-sdk/eslint.local.config.mjs
  packages/@o3r/eslint-config/package.json
  packages/@o3r/eslint-config/src/helpers/index.cjs
  yarn.lock
Due: Otter Modules, Training modules, SDK Tooling

feat: transloco package - builders
  packages/@o3r/transloco/builders.json
  packages/@o3r/transloco/builders/helpers/localization-generator.ts
  packages/@o3r/transloco/builders/i18n/index.spec.ts
  packages/@o3r/transloco/builders/i18n/index.ts
  packages/@o3r/transloco/builders/i18n/schema.json
  packages/@o3r/transloco/builders/i18n/schema.ts
  packages/@o3r/transloco/builders/localization-extractor/index.spec.ts
  packages/@o3r/transloco/builders/localization-extractor/index.ts
  packages/@o3r/transloco/builders/localization-extractor/schema.json
  packages/@o3r/transloco/builders/localization-extractor/schema.ts
  packages/@o3r/transloco/builders/localization-extractor/validations.ts
  packages/@o3r/transloco/builders/localization/builder.spec.ts
  packages/@o3r/transloco/builders/localization/index.spec.ts
  packages/@o3r/transloco/builders/localization/index.ts
  packages/@o3r/transloco/builders/localization/schema.json
  packages/@o3r/transloco/builders/localization/schema.ts
  packages/@o3r/transloco/builders/metadata-check/helpers/index.ts
  packages/@o3r/transloco/builders/metadata-check/helpers/localization-metadata-comparison-helper.ts
  packages/@o3r/transloco/builders/metadata-check/index.it.spec.ts
  packages/@o3r/transloco/builders/metadata-check/index.ts
  packages/@o3r/transloco/builders/metadata-check/schema.json
  packages/@o3r/transloco/builders/metadata-check/schema.ts
  packages/@o3r/transloco/jest.config.js
  packages/@o3r/transloco/package.json
  packages/@o3r/transloco/project.json
  packages/@o3r/transloco/testing/jest.config.ut.builders.js
  packages/@o3r/transloco/testing/mocks/test-resources/en_GB.json
  packages/@o3r/transloco/testing/mocks/test-resources/en_US.json
  packages/@o3r/transloco/testing/mocks/test-resources/fr_FR.json
  packages/@o3r/transloco/testing/setup-jest.builders.ts
  packages/@o3r/transloco/tsconfig.builders.json
  packages/@o3r/transloco/tsconfig.json
  packages/@o3r/transloco/tsconfig.spec.json
  yarn.lock
Due: Otter Modules

fix(ama-sdk): missing enums from barrel file
  packages/@ama-sdk/create/src/index.it.spec.ts
  packages/@ama-sdk/create/testing/mocks/MOCK_DATE_UTILS_swagger.yaml
  packages/@ama-sdk/create/testing/mocks/MOCK_swagger.yaml
  packages/@ama-sdk/create/testing/mocks/MOCK_swagger_updated.yaml
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/enums.mustache
Due: SDK Tooling

fix: auth specific preset
  tools/renovate/tasks/auth-scope-setup.json
  tools/renovate/tasks/auth-scope-yarn-berry-setup.json
  tools/renovate/tasks/auth-setup.json
  tools/renovate/tasks/auth-yarn-berry-setup.json
  tools/renovate/tasks/base-private-reg.json
  tools/renovate/tasks/base.json
Due: none

fix: preset auth yarn berry
  tools/renovate/otter-project-private-reg.json
  tools/renovate/otter-project-with-auth.json
  tools/renovate/sdk-private-reg.json
  tools/renovate/sdk-spec-upgrade-private-reg.json
  tools/renovate/sdk-spec-upgrade-with-auth.json
  tools/renovate/sdk-with-auth.json
  tools/renovate/tasks/auth-scope-setup.json
  tools/renovate/tasks/auth-scope-yarn-berry-setup.json
  tools/renovate/tasks/auth-setup.json
  tools/renovate/tasks/auth-yarn-berry-setup.json
  tools/renovate/tasks/base-private-reg.json
  tools/renovate/tasks/base-with-auth.json
  tools/renovate/tasks/otter-ng-update-private-reg.json
  tools/renovate/tasks/otter-ng-update-with-auth.json
  tools/renovate/tasks/sdk-regenerate-private-reg.json
  tools/renovate/tasks/sdk-regenerate-with-auth.json
  tools/renovate/tasks/sdk-spec-regenerate-private-reg.json
  tools/renovate/tasks/sdk-spec-regenerate-with-auth.json
  tools/renovate/yarn2/otter-project-with-auth.json
  tools/renovate/yarn2/sdk-spec-upgrade-with-auth.json
  tools/renovate/yarn2/sdk-with-auth.json
  tools/renovate/yarn2/tasks/base-with-auth.json
  tools/renovate/yarn2/tasks/otter-ng-update-with-auth.json
  tools/renovate/yarn2/tasks/sdk-regenerate-with-auth.json
  tools/renovate/yarn2/tasks/sdk-spec-regenerate-with-auth.json
Due: none

feat: refactor typescript generator to extend OpenApi default one
  .github/workflows/check-release.yml
  .github/workflows/code-check.yml
  package.json
  packages/@ama-sdk/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
  packages/@ama-sdk/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/TypescriptfetchGenerator.java
  packages/@ama-sdk/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
  packages/@ama-sdk/openapi-codegen-typescript/src/main/resources/typescriptFetch/spec/operation-adapter.mustache
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/code-generator/open-api-cli-generator/open-api-cli-options.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/.openapi-generator-ignore
  packages/@ama-sdk/schematics/schematics/typescript/core/templates/src/spec/operation-adapter.ts.template
  packages/@o3r-training/showcase-sdk/src/spec/operation-adapter.ts
  tsconfig.base.json
Due: Training modules, SDK Tooling

Path conditions:
  Otter Modules: any of: packages/@o3r/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Otter developer tools: any of: apps/chrome-devtools/**, apps/github-cascading-app/**, apps/intellij-extension/**, apps/vscode-extension/**, apps/palette-generator/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Otter Github shared Actions: any of: tools/github-actions/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Training modules: any of: packages/@o3r-training/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  SDK Tooling: any of: packages/@ama-sdk/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
