Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

ci: speed up execution of unit tests
  .github/workflows/code-check.yml
  nx.json
Due: none

feat(e2e): add logging in the github action to update the e2e screenshots
  tools/github-actions/create-branch-e2e-screenshots/action.yml
  tools/github-actions/update-e2e-screenshots/action.yml
Due: Otter Github shared Actions

docs(api-sdk): enums specific properties use-case
  .github/ISSUE_TEMPLATE/2-AMA-SDK-ISSUE-FORM.yaml
  docs/api-sdk/COMPOSITION_INHERITANCE.md
  docs/api-sdk/ISSUES_AND_WORKAROUNDS.md
Due: none

fix(renovate): otter preset version with parameters
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/.renovaterc.json.template
  packages/@o3r/workspace/schematics/ng-add/helpers/renovate/templates/__dot__renovaterc.json.template
  packages/@o3r/workspace/schematics/ng-update/v12.1/renovate-version.spec.ts
  packages/@o3r/workspace/schematics/ng-update/v12.1/renovate-version.ts
  packages/@o3r/workspace/testing/jest.config.ut.builders.js
Due: Otter Modules, SDK Tooling

feat: propose provider instead of module.forRoot
  apps/showcase/src/app/app.module.ts
  apps/showcase/src/app/dynamic-content/dynamic-content.component.ts
  apps/showcase/src/app/dynamic-content/dynamic-content.spec.ts
  apps/showcase/src/app/home/home.component.ts
  apps/showcase/src/app/home/home.spec.ts
  apps/showcase/src/app/placeholder/placeholder.component.ts
  apps/showcase/src/app/placeholder/placeholder.spec.ts
  apps/showcase/src/app/rules-engine/rules-engine.component.ts
  apps/showcase/src/app/sdk-training/sdk-training.spec.ts
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres.component.ts
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres.spec.ts
  apps/showcase/src/components/showcase/dynamic-content/dynamic-content-pres.component.ts
  apps/showcase/src/components/showcase/dynamic-content/dynamic-content-pres.spec.ts
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.component.ts
  apps/showcase/src/components/training/training.component.spec.ts
  apps/showcase/src/components/training/training.component.ts
  docs/components/COMPONENT_REPLACEMENT.md
  docs/dynamic-content/DYNAMIC_CONTENT.md
  docs/routing/APP_SERVER_ROUTING.md
  docs/routing/REQUEST_PARAMETERS_SERVICE.md
  packages/@o3r/components/src/tools/component-replacement/c11n.directive.ts
  packages/@o3r/components/src/tools/component-replacement/c11n.module.ts
  packages/@o3r/core/schematics/rule-factories/customization-environment/index.ts
  packages/@o3r/core/schematics/rule-factories/customization-environment/templates/src/customization/presenters-map.empty.ts.template
  packages/@o3r/dynamic-content/README.md
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.module.ts
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.pipe.spec.ts
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.pipe.ts
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.service.spec.ts
  packages/@o3r/dynamic-content/src/services/request-parameters/request-parameters.module.ts
  packages/@o3r/dynamic-content/src/services/request-parameters/request-parameters.spec.ts
  packages/@o3r/routing/src/tools/app-server-routing.module.ts
Due: Otter Modules

fix: placeholder should support rendering the same fact with different json path
  packages/@o3r/components/src/rules-engine/placeholder.rules-engine.effect.spec.ts
  packages/@o3r/components/src/rules-engine/placeholder.rules-engine.effect.ts
Due: Otter Modules

fix: missing s
  tools/github-actions/update-e2e-screenshots/action.yml
Due: Otter Github shared Actions

chore: run postinstall scripts
  apps/showcase/scripts/styling/generate-style.mjs
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
Due: Otter Modules, SDK Tooling

fix: update e2e screenshots
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
Due: none

fix: training sdk exercise is broken
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
Due: none

fix: always update global status for requestIds
  packages/@o3r/core/src/store/async/async-entity.adapter.spec.ts
  packages/@o3r/core/src/store/async/async-entity.adapter.ts
Due: Otter Modules

fix: adjust path replacement script to work with node 20.19.0
  packages/@o3r/testing/src/tools/path-replacement/path-replacement.ts
Due: Otter Modules

fix: training sdk exercise is broken
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
  packages/@o3r-training/training-tools/src/utility/web-container.ts
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
Due: Training modules

feat(sdk): extract compare date function from utils.date
  packages/@ama-sdk/core/src/fwk/date.spec.ts
  packages/@ama-sdk/core/src/fwk/date.ts
Due: SDK Tooling

fix(ama-mfe-ng-utils): remove useless `isServiceMessage` check
  packages/@ama-mfe/ng-utils/src/managers/consumer.manager.service.spec.ts
  packages/@ama-mfe/ng-utils/src/managers/consumer.manager.service.ts
Due: none

refactor(ama-mfe-ng-utils): simplify resize directive
  packages/@ama-mfe/ng-utils/src/resize/resize.consumer.service.ts
  packages/@ama-mfe/ng-utils/src/resize/resize.directive.ts
Due: none

chore: run postinstall scripts
  apps/showcase/scripts/styling/generate-style.mjs
Due: none

feat(ama-mfe): get the url of the host using query parameter
  packages/@ama-mfe/ng-utils/src/navigation/navigation.consumer.service.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.producer.service.ts
  packages/@ama-mfe/ng-utils/src/utils.ts
Due: none

fix: allow to get api with a particular config
  packages/@o3r/apis-manager/src/apis-manager/api-factory.service.ts
  packages/@o3r/apis-manager/src/apis-manager/api-manager.ts
Due: Otter Modules

feat: group and highlight components by tag name
  packages/@o3r/components/src/devkit/components-devkit.interface.ts
  packages/@o3r/components/src/devkit/components-devtools.message.service.ts
  packages/@o3r/components/src/devkit/highlight/constants.ts
  packages/@o3r/components/src/devkit/highlight/helpers.spec.ts
  packages/@o3r/components/src/devkit/highlight/helpers.ts
  packages/@o3r/components/src/devkit/highlight/highlight.service.ts
Due: Otter Modules

feat(ama-mfe): make the host application id available for embedded module
  packages/@ama-mfe/ng-utils/src/host-info/host-info.ts
  packages/@ama-mfe/ng-utils/src/host-info/index.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.consumer.service.ts
  packages/@ama-mfe/ng-utils/src/public_api.ts
  packages/@ama-mfe/ng-utils/src/utils.ts
Due: none

fix: exports the pipe that was previously standalone to avoid introducing a breaking change
  .yarn/sdks/eslint/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.module.ts
  packages/@o3r/eslint-config-otter/package.json
Due: Otter Modules, SDK Tooling

fix: training sdk exercise is broken
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
  packages/@o3r-training/training-tools/src/utility/web-container.ts
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
Due: Training modules

fix: rename AST node to match angular compiler
  packages/@o3r/eslint-plugin/src/rules/template/no-inner-html/no-inner-html.ts
  packages/@o3r/eslint-plugin/src/rules/template/template-async-number-limitation/template-async-number-limitation.ts
Due: Otter Modules

fix: use legacy-peer-deps in o3r schematics
  packages/@ama-sdk/core/schematics/ng-add/index.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/dependencies.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/ng-add.helpers.ts
  packages/@o3r/schematics/src/tasks/package-manager/interfaces.ts
  packages/@o3r/schematics/src/tasks/package-manager/npm-install.ts
Due: Otter Modules, SDK Tooling

docs: add warnings regarding `git bash`
  docs/core/START_NEW_APPLICATION.md
  packages/@o3r/core/README.md
  packages/@o3r/create/README.md
Due: Otter Modules

chore: use Github Type instead of label in task creation
  .github/ISSUE_TEMPLATE/1-O3R-ISSUE-FORM.yaml
  .github/ISSUE_TEMPLATE/2-AMA-SDK-ISSUE-FORM.yaml
  .github/ISSUE_TEMPLATE/3-AMA-TERASU-ISSUE-FORM.yaml
  .github/ISSUE_TEMPLATE/4-APPLICATION-ISSUE-FORM.yaml
  .github/ISSUE_TEMPLATE/5-FEATURE-FORM.yaml
Due: none

fix: update ngrx generator dependency to temporarily fix o3r create
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/pipeline/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/workspace/package.json
  tools/@o3r/workspace-helpers/package.json
  yarn.lock
Due: Otter Modules, Otter developer tools, SDK Tooling

fix: typo on lint-staged
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/commit-hooks/index.spec.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/commit-hooks/index.ts
  packages/@o3r/workspace/schematics/ng-add/schema.json
  packages/@o3r/workspace/schematics/ng-add/schema.ts
Due: Otter Modules

chore: reduce of 1s the postinstall script
  package.json
Due: none

Path conditions:
  Otter Modules: any of: packages/@o3r/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter developer tools: any of: apps/chrome-devtools/**, apps/github-cascading-app/**, apps/intellij-extension/**, apps/vscode-extension/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter Github shared Actions: any of: tools/github-actions/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Training modules: any of: packages/@o3r-training/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  SDK Tooling: any of: packages/@ama-sdk/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
