Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

codecov.yml:

codecov:
  require_ci_to_pass: true
  max_report_age: off

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 5%
        informational: true

    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
      target: auto
      threshold: 5%
      informational: true

    project:
      default:
        target: auto
        threshold: 5%
        base: auto
        if_ci_failed: error
        informational: true

ignore:
  # Package Manager files
  - '.yarn'
  - '.pnp.*'
  - '.cache'
  - 'tmp'
  - '**/node_modules'

  # Distribution folders
  - 'packages/@*/*/dist'
  - 'tools/@*/*/dist'
  - 'apps/@*/*/dist'

  # builder cache folders
  - 'packages/@*/*/build'
  - 'tools/@*/*/build'
  - 'apps/@*/*/build'

  # Generated files
  - 'tools/github-actions/*/packaged-action'

  # Templates
  - '**/*.template'
  - '**/schematics/**/templates'

  # Tests
  - '**/dist-test'
  - '**/dist-e2e-playwright'
  - '**/playwright-reports'
  - '**/test-results'

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: otter
      name: Otter Modules
      paths:
        - packages/@o3r/**
    - component_id: otter-tools
      name: Otter developer tools
      paths:
        - apps/chrome-devtools/**
        - apps/github-cascading-app/**
        - apps/intellij-extension/**
        - apps/vscode-extension/**
        - apps/palette-generator/**
    - component_id: otter-github-actions
      name: Otter Github shared Actions
      paths:
        - tools/github-actions/**
    - component_id: training
      name: Training modules
      paths:
        - packages/@o3r-training/**
    - component_id: sdk
      name: SDK Tooling
      paths:
        - packages/@ama-sdk/**

feat(openapi): add dynamic mask schema
  packages/@ama-openapi/core/src/constants.mts
  packages/@ama-openapi/core/src/schema/generate-model-name.mts
  packages/@ama-openapi/core/src/schema/generate-model-name.spec.ts
  packages/@ama-openapi/core/src/schema/generate-schema.mts
  packages/@ama-openapi/core/src/schema/mask/generate-mask-from-model.mts
  packages/@ama-openapi/core/src/schema/mask/generate-mask-from-model.spec.ts
Due: none

feat: add user activity tracking for embedded apps
  packages/@ama-mfe/messages/src/messages/user-activity/base.ts
  packages/@ama-mfe/messages/src/messages/user-activity/index.ts
  packages/@ama-mfe/messages/src/messages/user-activity/user-activity-versions.ts
  packages/@ama-mfe/messages/src/public_api.ts
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/messages/index.ts
  packages/@ama-mfe/ng-utils/src/messages/user-activity.spec.ts
  packages/@ama-mfe/ng-utils/src/messages/user-activity.ts
  packages/@ama-mfe/ng-utils/src/public_api.ts
  packages/@ama-mfe/ng-utils/src/user-activity/activity-consumer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/user-activity/activity-consumer.service.ts
  packages/@ama-mfe/ng-utils/src/user-activity/activity-producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/user-activity/activity-producer.service.ts
  packages/@ama-mfe/ng-utils/src/user-activity/config.spec.ts
  packages/@ama-mfe/ng-utils/src/user-activity/config.ts
  packages/@ama-mfe/ng-utils/src/user-activity/iframe-activity-tracker.service.spec.ts
  packages/@ama-mfe/ng-utils/src/user-activity/iframe-activity-tracker.service.ts
  packages/@ama-mfe/ng-utils/src/user-activity/index.ts
  packages/@ama-mfe/ng-utils/src/user-activity/interfaces.ts
Due: none

chore(tools): add Windsurf workflows for validation and commit
  .windsurf/workflows/commit-and-push-code-to-github.md
  .windsurf/workflows/validate-code.md
Due: none

feat: migrate otter version tool
  tools/@o3r/mcp/src/mcp-server.ts
  tools/@o3r/mcp/src/migrate-version/index.ts
Due: none

ci(renovate): disable separateMinorPatch to avoid timeout
  .renovaterc.json5
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
Due: Otter Modules, SDK Tooling

fix: user activity - addd throttle for high freq events
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/user-activity/README.md
  packages/@ama-mfe/ng-utils/src/user-activity/activity-producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/user-activity/activity-producer.service.ts
Due: none

chore(deps): upgrade qs
  package.json
  yarn.lock
Due: none

chore(deps): upgrade github-actions majors
  .github/workflows/audit.yml
  .github/workflows/check-all-releases.yml
  .github/workflows/check-release.yml
  .github/workflows/clean-cache.yml
  .github/workflows/code-check.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-showcase.yml
  .github/workflows/documentation.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  .github/workflows/main.yml
  .github/workflows/md-external-links-check.yml
  .github/workflows/pr-labels.yml
  .github/workflows/publish.yml
  .github/workflows/scorecards.yml
  .github/workflows/stale-issue-pr.yml
  packages/@o3r/pipeline/schematics/ng-add/templates/github/__dot__github/actions/setup/action.yml
  packages/@o3r/pipeline/schematics/ng-add/templates/github/__dot__github/workflows/main.yml
  tools/github-actions/download-build-output/action.yml
  tools/github-actions/setup/action.yml
  tools/github-actions/upload-build-output/action.yml
Due: Otter Modules, Otter Github shared Actions

chore(deps): upgrade major dependencies
  apps/showcase/package.json
  nx.json
  package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/test-helpers/src/jest-config/base.ts
  packages/@o3r/test-helpers/src/mocks/intl-messageformat.mock.js
  yarn.lock
Due: Otter Modules

feat: clean up deprecated - v14
  .github/workflows/first-pr.yml
Due: none

chore(deps): upgrade monaco-editor
  .yarn/sdks/eslint/package.json
  apps/showcase/package.json
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
  apps/showcase/src/components/training/code-editor-view/code-editor-view.ts
  package.json
  yarn.lock
Due: none

feat: prompt registry bundle for otter gen ai recommendations
  .github/workflows/code-check.yml
  .vscode/extensions.json
  collections/otter.collection.yml
  docs/prompt-registry/README.md
  tools/@o3r/workspace-helpers/package.json
  tools/@o3r/workspace-helpers/scripts/prompt-registry/validate-collections.mjs
  yarn.lock
Due: none

feat: use prompt registry validate collections github action
  .github/workflows/code-check.yml
  .yarn/sdks/eslint/package.json
  tools/@o3r/workspace-helpers/package.json
  tools/@o3r/workspace-helpers/scripts/prompt-registry/validate-collections.mjs
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  yarn.lock
Due: Otter Github shared Actions

chore: remove peer dependency warning on zone.js
  .yarnrc.yml
Due: none

fix: interface not exported in testing package
  packages/@o3r/testing/src/core/index.ts
Due: Otter Modules

feat: create @ama-styling/devkit re-expose devkit
  packages/@ama-styling/devkit/.compodocrc.json
  packages/@ama-styling/devkit/.gitignore
  packages/@ama-styling/devkit/.npmignore
  packages/@ama-styling/devkit/README.md
  packages/@ama-styling/devkit/collection.json
  packages/@ama-styling/devkit/eslint.config.mjs
  packages/@ama-styling/devkit/eslint.local.config.mjs
  packages/@ama-styling/devkit/jest.config.js
  packages/@ama-styling/devkit/ng-package.json
  packages/@ama-styling/devkit/package.json
  packages/@ama-styling/devkit/project.json
  packages/@ama-styling/devkit/schematics/ng-add/index.ts
  packages/@ama-styling/devkit/schematics/ng-add/schema.json
  packages/@ama-styling/devkit/schematics/ng-add/schema.ts
  packages/@ama-styling/devkit/src/core/index.ts
  packages/@ama-styling/devkit/src/core/styling-devkit-interface.ts
  packages/@ama-styling/devkit/src/core/styling-devtools-message-service.ts
  packages/@ama-styling/devkit/src/core/styling-devtools-module.ts
  packages/@ama-styling/devkit/src/core/styling-devtools-token.ts
  packages/@ama-styling/devkit/src/core/styling-devtools.ts
  packages/@ama-styling/devkit/src/public_api.ts
  packages/@ama-styling/devkit/testing/jest.config.ut.builders.js
  packages/@ama-styling/devkit/testing/jest.config.ut.js
  packages/@ama-styling/devkit/testing/setup-jest.builders.ts
  packages/@ama-styling/devkit/testing/setup-jest.ts
  packages/@ama-styling/devkit/tsconfig.build.composite.json
  packages/@ama-styling/devkit/tsconfig.build.json
  packages/@ama-styling/devkit/tsconfig.builders.json
  packages/@ama-styling/devkit/tsconfig.doc.json
  packages/@ama-styling/devkit/tsconfig.eslint.json
  packages/@ama-styling/devkit/tsconfig.json
  packages/@ama-styling/devkit/tsconfig.spec.json
  packages/@o3r/core/migration.json
  packages/@o3r/core/schematics/ng-update/index.ts
  packages/@o3r/core/schematics/ng-update/v14.0/remove-styling-design-deps.ts
  packages/@o3r/core/schematics/ng-update/v14.0/update-styling-imports.ts
  tsconfig.base.json
  tsconfig.build.json
  yarn.lock
Due: Otter Modules

feat: migration to transloco on-going
  .vscode/settings.json
  apps/showcase/package.json
  apps/showcase/src/app/app-module.ts
  package.json
  packages/@o3r/components/src/rules-engine/placeholder-action-handler.ts
  packages/@o3r/localization/package.json
  packages/@o3r/localization/src/devkit/localization-devtools-message-service.ts
  packages/@o3r/localization/src/devkit/localization-devtools.ts
  packages/@o3r/localization/src/tools/localization-module.ts
  packages/@o3r/localization/src/tools/localization-provider.ts
  packages/@o3r/localization/src/tools/localization-service.ts
  packages/@o3r/localization/src/tools/localization-translate-pipe.ts
  packages/@o3r/localization/src/tools/localized-currency-pipe.ts
  packages/@o3r/localization/src/tools/localized-date-pipe.ts
  packages/@o3r/localization/src/tools/localized-decimal-pipe.ts
  packages/@o3r/localization/src/tools/text-direction-service.ts
  packages/@o3r/localization/src/tools/translations-loader.ts
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/release/packaged-action/index.cjs
Due: Otter Modules, Otter Github shared Actions

fix(ama-styling): #3871 #3872 #3874
  packages/@ama-styling/figma-extractor/src/core/generators/styles/generate-effect.ts
  packages/@ama-styling/style-dictionary/src/formats/metadata-format.mts
  packages/@ama-styling/style-dictionary/src/formats/metadata-format.spec.ts
  packages/@ama-styling/style-dictionary/src/transforms/unit-transform.spec.ts
Due: none

docs: update support status for otter versions
  SECURITY.md
Due: none

feat(openapi): add dynamic schema
  .yarn/sdks/eslint/package.json
  yarn.lock
Due: none

feat: generate schemas for masks
  packages/@ama-openapi/core/src/core/file-system/write-model.mts
  packages/@ama-openapi/core/src/core/serialization.mts
  packages/@ama-openapi/core/src/generate-schemas.mts
  packages/@ama-openapi/core/src/schema/generate-schema.mts
  packages/@ama-openapi/core/src/schema/mask/generate-mask-from-model.mts
Due: none

feat: migration to transloco - rebase release/13.4
  packages/@o3r/localization/src/tools/localization-service.ts
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/release/packaged-action/index.cjs
  yarn.lock
Due: Otter Modules, Otter Github shared Actions

fix: #3755 Remove dependency on module-from-string
  .yarn/sdks/eslint/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/testing/src/tools/path-replacement/path-replacement.ts
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  yarn.lock
Due: Otter Modules, Otter Github shared Actions

fix(ama-openapi): the prefix used in base config and documentation
  packages/@ama-styling/style-dictionary/README.md
  packages/@ama-styling/style-dictionary/src/presets.mts
Due: none

fix: ama mfe - listen to window resize in resize mechanism
  packages/@ama-mfe/ng-utils/src/resize/README.md
  packages/@ama-mfe/ng-utils/src/resize/scalable-content-fixed-directive.spec.ts
  packages/@ama-mfe/ng-utils/src/resize/scalable-content-flexible-directive.spec.ts
  packages/@ama-mfe/ng-utils/src/resize/scalable-directive.spec.ts
  packages/@ama-mfe/ng-utils/src/resize/scalable-directive.ts
Due: none

feat: create @ama-styling/devkit re-expose devkit
  yarn.lock
Due: none

chore: explicitly deprecate Scss functions and mixins
  apps/showcase/project.json
  apps/showcase/src/styles.scss
  docs/README.md
  packages/@o3r/core/schematics/component/presenter/index.ts
  packages/@o3r/core/schematics/rule-factories/component/design-token.ts
  packages/@o3r/styling/package.json
  packages/@o3r/styling/scss/theming/_functions.scss
  packages/@o3r/styling/scss/theming/_mixins.scss
  tsconfig.base.json
Due: Otter Modules

feat: add fact registered property
  packages/@o3r/rules-engine/src/fact/fact-abstract-service.ts
  packages/@o3r/rules-engine/src/fact/fact.spec.ts
Due: Otter Modules
