Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

codecov.yml:

codecov:
  require_ci_to_pass: true

ignore:
  # Package Manager files
  - '.yarn/**/*'
  - '.pnp.*'
  - '.cache/**/*'
  - 'tmp/**/*'
  - '**/node_modules/**/*'

  # Distribution folders
  - 'packages/@*/*/dist/**/*'
  - 'tools/@*/*/dist/**/*'
  - 'apps/@*/*/dist/**/*'

  # Generated files
  - 'packages/@o3r-training/showcase-sdk/src/api/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/models/base/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/spec/**/*'
  - 'tools/github-actions/*/packaged-action/**/*'

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: otter
      name: Otter Modules
      paths:
        - packages/@o3r/**
    - component_id: otter-tools
      name: Otter developer tools
      paths:
        - apps/chrome-devtools/**
        - apps/github-cascading-app/**
        - apps/intellij-extension/**
        - apps/vscode-extension/**
    - component_id: otter-github-actions
      name: Otter Github shared Actions
      paths:
        - tools/github-actions/**
    - component_id: training
      name: Training modules
      paths:
        - packages/@o3r-training/**
    - component_id: sdk
      name: SDK Tooling
      paths:
        - packages/@ama-sdk/**

fix: authorize the usage of ngx translate v15
  packages/@o3r/localization/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/testing/package.json
  yarn.lock
Due: Otter Modules

fix: chrome dev-tools localization tab crashes
  apps/chrome-devtools/src/app-devtools/localization-panel/localization-panel-pres.component.ts
Due: Otter developer tools

fix: localization override cancels previous overrides
  packages/@o3r/localization/src/devkit/localization-devtools.service.ts
Due: Otter Modules

feat: redirect if failed fetch plugin
  packages/@ama-sdk/client-fetch/src/plugins/index.ts
  packages/@ama-sdk/client-fetch/src/plugins/redirect-if-failed/index.ts
  packages/@ama-sdk/client-fetch/src/plugins/redirect-if-failed/readme.md
  packages/@ama-sdk/client-fetch/src/plugins/redirect-if-failed/redirect-if-failed.fetch.spec.ts
  packages/@ama-sdk/client-fetch/src/plugins/redirect-if-failed/redirect-if-failed.fetch.ts
Due: SDK Tooling

feat: cherry-pick make o3r testing optional for o3r application
  packages/@o3r/analytics/schematics/index.it.spec.ts
  packages/@o3r/application/package.json
  packages/@o3r/application/src/devkit/application-devtools.message.service.ts
  packages/@o3r/components/package.json
  packages/@o3r/components/schematics/index.it.spec.ts
  packages/@o3r/components/schematics/ng-add/index.ts
  packages/@o3r/configuration/package.json
  packages/@o3r/configuration/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/eslint-config/schematics/index.it.spec.ts
  packages/@o3r/localization/schematics/index.it.spec.ts
  packages/@o3r/rules-engine/schematics/index.it.spec.ts
  packages/@o3r/styling/schematics/index.it.spec.ts
  packages/@o3r/testing/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/index.it.spec.ts
  yarn.lock
Due: Otter Modules

fix(sdk): generation of the SDK in a monorepo
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.ts
  packages/@o3r/workspace/schematics/sdk/index.ts
  packages/@o3r/workspace/schematics/sdk/rules/clean-standalone.rule.ts
  packages/@o3r/workspace/schematics/sdk/rules/update-ts-paths.rule.ts
  packages/@o3r/workspace/schematics/sdk/templates/testing/setup-jest.ts.template
Due: Otter Modules, SDK Tooling

fix: adapt packages to release 12.0
  packages/@o3r/eslint-config-otter/schematics/ng-add/index.ts
  packages/@o3r/eslint-config/schematics/ng-add/index.ts
  packages/@o3r/extractors/package.json
  packages/@o3r/routing/schematics/ng-add/index.ts
  packages/@o3r/rules-engine/schematics/ng-add/index.ts
  packages/@o3r/style-dictionary/schematics/ng-add/index.ts
  packages/@o3r/styling/schematics/ng-add/index.ts
  packages/@o3r/testing/package.json
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  yarn.lock
Due: Otter Modules

feat(sdk): expose array of enum values
  .yarn/sdks/eslint/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/LambdaHelper.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/enums.mustache
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/model.mustache
  packages/@ama-styling/figma-sdk/package.json
  packages/@o3r-training/showcase-sdk/src/api/pet/pet-api.ts
  packages/@o3r-training/showcase-sdk/src/api/store/store-api.ts
  packages/@o3r-training/showcase-sdk/src/api/user/user-api.ts
  packages/@o3r-training/showcase-sdk/src/models/base/enums.ts
  packages/@o3r-training/showcase-sdk/src/models/base/order/order.ts
  packages/@o3r-training/showcase-sdk/src/models/base/pet/pet.ts
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Due: Otter Modules, SDK Tooling

fix: remove duplicated test
  packages/@o3r/components/src/rules-engine/placeholder.rules-engine.effect.spec.ts
Due: Otter Modules

feat: group and highlight components by tag name
  packages/@o3r/components/src/devkit/components-devkit.interface.ts
  packages/@o3r/components/src/devkit/components-devtools.message.service.ts
  packages/@o3r/components/src/devkit/highlight/constants.ts
  packages/@o3r/components/src/devkit/highlight/helpers.spec.ts
  packages/@o3r/components/src/devkit/highlight/helpers.ts
  packages/@o3r/components/src/devkit/highlight/highlight.service.ts
Due: Otter Modules

fix: adapt packages to release 12.0
  packages/@o3r/eslint-config-otter/schematics/ng-add/index.ts
  packages/@o3r/eslint-config/schematics/ng-add/index.ts
  packages/@o3r/extractors/package.json
  packages/@o3r/routing/schematics/ng-add/index.ts
  packages/@o3r/rules-engine/schematics/ng-add/index.ts
  packages/@o3r/styling/schematics/ng-add/index.ts
  packages/@o3r/testing/package.json
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  yarn.lock
Due: Otter Modules

fix: broken test on localization
  packages/@o3r/localization/src/tools/localized-currency.pipe.spec.ts
  packages/@o3r/localization/src/tools/localized-date.pipe.spec.ts
  packages/@o3r/localization/src/tools/localized-decimal.pipe.spec.ts
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/release/packaged-action/index.cjs.map
Due: Otter Modules

chore: add swc to nx to reduce pnp module resolutions
  .yarn/sdks/eslint/package.json
  .yarnrc.yml
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Due: Otter Modules

fix: adapt generators dep to 12.1
  packages/@ama-sdk/schematics/package.json
Due: SDK Tooling

feat: update FC json schema to use choices on primitiveProperty
  packages/@o3r/application/schemas/functional-content.metadata.schema.json
Due: Otter Modules

chore(ama-sdk-core): remove deprecated in doc
  packages/@ama-sdk/core/README.md
Due: SDK Tooling

fix: placeholder should support rendering the same fact with different json path
  packages/@o3r/components/src/rules-engine/placeholder.rules-engine.effect.spec.ts
Due: Otter Modules

feat: cherry-pick make o3r testing optional for o3r application
  .github/workflows/codeql.yml
  packages/@o3r/analytics/schematics/index.it.spec.ts
  packages/@o3r/application/package.json
  packages/@o3r/application/src/devkit/application-devtools.message.service.ts
  packages/@o3r/components/package.json
  packages/@o3r/components/schematics/index.it.spec.ts
  packages/@o3r/components/schematics/ng-add/index.ts
  packages/@o3r/configuration/package.json
  packages/@o3r/configuration/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/eslint-config/schematics/index.it.spec.ts
  packages/@o3r/localization/schematics/index.it.spec.ts
  packages/@o3r/rules-engine/schematics/index.it.spec.ts
  packages/@o3r/styling/schematics/index.it.spec.ts
  packages/@o3r/testing/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/index.it.spec.ts
  yarn.lock
Due: Otter Modules

feat(telemetry): implement support of traceparent headers
  .yarn/sdks/eslint/package.json
  packages/@ama-mfe/messages/package.json
  packages/@ama-sdk/client-angular/package.json
  packages/@ama-sdk/client-beacon/package.json
  packages/@ama-sdk/client-fetch/package.json
  packages/@ama-sdk/core/README.md
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/core/src/plugins/index.ts
  packages/@ama-sdk/core/src/plugins/open-telemetry/index.ts
  packages/@ama-sdk/core/src/plugins/open-telemetry/traceparent/index.ts
  packages/@ama-sdk/core/src/plugins/open-telemetry/traceparent/interfaces.ts
  packages/@ama-sdk/core/src/plugins/open-telemetry/traceparent/open-telemetry.traceparent.reply.spec.ts
  packages/@ama-sdk/core/src/plugins/open-telemetry/traceparent/open-telemetry.traceparent.reply.ts
  packages/@ama-sdk/core/src/plugins/open-telemetry/traceparent/open-telemetry.traceparent.request.spec.ts
  packages/@ama-sdk/core/src/plugins/open-telemetry/traceparent/open-telemetry.traceparent.request.ts
  packages/@ama-sdk/core/src/plugins/open-telemetry/traceparent/readme.md
  packages/@ama-sdk/core/src/plugins/perf-metric/perf-metric.fetch.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.3/coverage-ignore.ts
  packages/@ama-terasu/cli/src/helpers/format.helper.ts
  packages/@o3r/analytics/src/services/event-track/event-track.configuration.ts
  packages/@o3r/analytics/src/services/event-track/event-track.service.spec.ts
  packages/@o3r/analytics/src/services/event-track/event-track.service.ts
  packages/@o3r/core/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Due: Otter Modules, SDK Tooling

fix: yarn dedupe
  .yarn/sdks/typescript/package.json
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/release/packaged-action/index.cjs.map
  yarn.lock
Due: none

fix: Add ng-add in @o3r/configuration package.json
  packages/@o3r/configuration/package.json
Due: Otter Modules

fix: lint fails as eslint-plugin not installed
  packages/@o3r/eslint-config-otter/typescript.cjs
Due: Otter Modules
