Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

codecov.yml:

codecov:
  require_ci_to_pass: true

ignore:
  # Package Manager files
  - '.yarn/**/*'
  - '.pnp.*'
  - '.cache/**/*'
  - 'tmp/**/*'
  - '**/node_modules/**/*'

  # Distribution folders
  - 'packages/@*/*/dist/**/*'
  - 'tools/@*/*/dist/**/*'
  - 'apps/@*/*/dist/**/*'

  # Generated files
  - 'packages/@o3r-training/showcase-sdk/src/api/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/models/base/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/spec/**/*'
  - 'tools/github-actions/*/packaged-action/**/*'

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: otter
      name: Otter Modules
      paths:
        - packages/@o3r/**
    - component_id: otter-tools
      name: Otter developer tools
      paths:
        - apps/chrome-devtools/**
        - apps/github-cascading-app/**
        - apps/intellij-extension/**
        - apps/vscode-extension/**
    - component_id: otter-github-actions
      name: Otter Github shared Actions
      paths:
        - tools/github-actions/**
    - component_id: training
      name: Training modules
      paths:
        - packages/@o3r-training/**
    - component_id: sdk
      name: SDK Tooling
      paths:
        - packages/@ama-sdk/**

refactor(ama-mfe-ng-utils): simplify `ResizeDirective`
  packages/@ama-mfe/ng-utils/src/resize/resize.consumer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/resize/resize.consumer.service.ts
  packages/@ama-mfe/ng-utils/src/resize/resize.directive.spec.ts
  packages/@ama-mfe/ng-utils/src/resize/resize.directive.ts
Due: none

fix(sdk-generator): to support the module resolution bundler
  apps/showcase/tsconfig.app.json
  packages/@ama-sdk/schematics/migration.json
  packages/@ama-sdk/schematics/schematics/ng-update/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.1/clean-packagejson-exports.spec.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.1/clean-packagejson-exports.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
  packages/@ama-sdk/schematics/testing/mocks/updates/v12/shell-package.json
  packages/@ama-sdk/schematics/testing/mocks/updates/v12/shell-package.results.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/training-sdk/package.json
Due: Training modules, SDK Tooling

chore: update generator dependencies version
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Due: Otter Modules, SDK Tooling

fix: codecov config to reduce false positive and add palette generator
  codecov.yml
Due: none

chore: change app ID to be published to Amadeus Store
  apps/palette-generator/manifest.json
Due: none

fix: enforce listr2 resolution for yarn pnp in o3r/create
  packages/@o3r/create/src/index.ts
Due: Otter Modules

feat(ama-mfe): make the host application id available for embedded module
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/connect/connect.providers.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.pipe.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.ts
  packages/@ama-mfe/ng-utils/src/host-info/index.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.consumer.service.ts
  packages/@ama-mfe/ng-utils/src/public_api.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.helpers.ts
  packages/@ama-mfe/ng-utils/src/utils.ts
Due: none

feature: otter create brings eslint and version harmonize
  packages/@o3r/eslint-config/package.json
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.shared.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/index.ts
  packages/@o3r/workspace/schematics/ng-add/schema.json
  packages/@o3r/workspace/schematics/ng-add/schema.ts
  packages/@o3r/workspace/schematics/rule-factories/linter.spec.ts
  yarn.lock
Due: Otter Modules

fix: sdk exploded syntax - take into account request plugin options
  packages/@ama-sdk/client-angular/src/api-angular-client.ts
  packages/@ama-sdk/client-beacon/src/api-beacon-client.ts
  packages/@ama-sdk/client-fetch/src/api-fetch-client.ts
  packages/@ama-sdk/core/src/clients/api-angular-client.ts
  packages/@ama-sdk/core/src/clients/api-beacon-client.ts
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
  packages/@ama-sdk/core/src/fwk/api.helpers.ts
  packages/@ama-sdk/core/src/fwk/core/api-client.ts
  packages/@ama-sdk/core/src/fwk/param-serialization.spec.ts
  packages/@ama-sdk/core/src/fwk/param-serialization.ts
  packages/@ama-sdk/core/src/plugins/additional-params/additional-params-sync.request.ts
  packages/@ama-sdk/core/src/plugins/additional-params/additional-params.request.ts
  packages/@ama-sdk/core/src/plugins/additional-params/additional-params.spec.ts
  packages/@ama-sdk/core/src/plugins/json-token/json-token.spec.ts
  packages/@ama-sdk/core/src/plugins/si-token/si-token.request.ts
  packages/@ama-sdk/core/src/plugins/si-token/si-token.spec.ts
  packages/@ama-sdk/core/src/plugins/url-rewrite/url-rewrite.spec.ts
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
  packages/@o3r-training/showcase-sdk/src/api/pet/pet-api.ts
  packages/@o3r-training/showcase-sdk/src/api/store/store-api.ts
  packages/@o3r-training/showcase-sdk/src/api/user/user-api.ts
  packages/@o3r-training/training-sdk/src/api/dummy/dummy-api.ts
Due: Training modules, SDK Tooling

feat(ama-mfe): make the host application id available for embedded module
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/connect/connect.providers.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.pipe.spec.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.pipe.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.spec.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.ts
  packages/@ama-mfe/ng-utils/src/host-info/index.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.consumer.service.ts
  packages/@ama-mfe/ng-utils/src/public_api.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.helpers.ts
  packages/@ama-mfe/ng-utils/src/utils.ts
Due: none

feat: support multiple reports for the github action to update e2e screenshots
  packages/@o3r/core/package.json
  tools/github-actions/update-e2e-screenshots/action.yml
  tools/github-actions/update-e2e-screenshots/readme.md
Due: Otter Modules, Otter Github shared Actions

chore: install with no scripts after postinstall
  package.json
  packages/@o3r/core/package.json
Due: Otter Modules

fix(ama-sdk-schematics): subentry package.json files exports
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/fixtures/jest/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/helpers/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/spec/package.json
Due: SDK Tooling

feat: report yarn error to the pull request
  tools/github-actions/yarn-errors-reporter/action.yml
  tools/github-actions/yarn-errors-reporter/package.json
  tools/github-actions/yarn-errors-reporter/packaged-action/LICENSE.txt
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/src/main.ts
  yarn.lock
Due: Otter Github shared Actions

feat(ama-mfe-utils): download application local CSS when receiving message from host #2919
  packages/@ama-mfe/ng-utils/src/theme/theme.consumer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.consumer.service.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.helpers.spec.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.helpers.ts
Due: none

feat(#2930): reduce boilerplate when registering producer
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/managers/index.ts
  packages/@ama-mfe/ng-utils/src/managers/utils.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.producer.service.ts
  packages/@ama-mfe/ng-utils/src/resize/resize.producer.service.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.producer.service.ts
Due: none

docs: markdown link check exception for firma plugins
  .github/markdown-external-links.config.json
Due: none

chore: manually upgrade codeCode test task
  .github/workflows/code-check.yml
Due: none

fix(showcase): configuration override toggle
  apps/showcase/src/app/configuration/configuration.template.html
Due: none

ci: limit it-tests on pull-requests to only ubuntu-npm
  .github/workflows/it-tests.yml
Due: none

feat: propose provider instead of module.forRoot
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/solution/app.config.ts
  docs/logger/LOGS.md
  packages/@o3r/apis-manager/src/apis-manager/api-manager.module.ts
  packages/@o3r/apis-manager/src/apis-manager/api-manager.token.ts
  packages/@o3r/configuration/src/devkit/configuration-devtools.message.spec.ts
  packages/@o3r/logger/src/services/logger/logger.module.ts
  packages/@o3r/logger/src/services/logger/logger.spec.ts
Due: Otter Modules

fix(yarn-errors-reporter): prevent error when there are local changes
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/src/main.ts
Due: Otter Github shared Actions

ci: fix eslint cache
  .github/workflows/code-check.yml
  nx.json
Due: none

chore: run postinstall scripts
  .yarn/sdks/eslint/lib/config-api.js
  .yarn/sdks/eslint/lib/types/config-api.d.ts
  .yarn/sdks/eslint/lib/types/rules.d.ts
  .yarn/sdks/eslint/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Due: Otter Modules

ci: speed up execution of lighthouse tests
  apps/showcase/e2e-playwright/sanity/lighthouse-sanity.e2e.ts
Due: none

ci: speed up execution of version harmonize
  package.json
  yarn.lock
Due: none

feat(ama-mfe-utils): integrate logger mechanism
  packages/@ama-mfe/ng-utils/package.json
  packages/@ama-mfe/ng-utils/src/connect/connect.directive.spec.ts
  packages/@ama-mfe/ng-utils/src/connect/connect.directive.ts
  packages/@ama-mfe/ng-utils/src/managers/consumer.manager.service.spec.ts
  packages/@ama-mfe/ng-utils/src/managers/consumer.manager.service.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.producer.service.ts
  packages/@ama-mfe/ng-utils/src/ng-package.json
  packages/@ama-mfe/ng-utils/src/theme/theme.consumer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.consumer.service.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.helpers.spec.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.helpers.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.producer.service.ts
  packages/@o3r/logger/package.json
  yarn.lock
Due: Otter Modules

ci: speed up execution of unit tests
  .github/workflows/code-check.yml
  nx.json
Due: none

feat: propose provider instead of module.forRoot
  apps/showcase/src/app/app.module.ts
  apps/showcase/src/app/dynamic-content/dynamic-content.component.ts
  apps/showcase/src/app/dynamic-content/dynamic-content.spec.ts
  apps/showcase/src/app/home/home.component.ts
  apps/showcase/src/app/home/home.spec.ts
  apps/showcase/src/app/placeholder/placeholder.component.ts
  apps/showcase/src/app/placeholder/placeholder.spec.ts
  apps/showcase/src/app/rules-engine/rules-engine.component.ts
  apps/showcase/src/app/sdk-training/sdk-training.spec.ts
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres.component.ts
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres.spec.ts
  apps/showcase/src/components/showcase/dynamic-content/dynamic-content-pres.component.ts
  apps/showcase/src/components/showcase/dynamic-content/dynamic-content-pres.spec.ts
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.component.ts
  apps/showcase/src/components/training/training.component.spec.ts
  apps/showcase/src/components/training/training.component.ts
  docs/components/COMPONENT_REPLACEMENT.md
  docs/dynamic-content/DYNAMIC_CONTENT.md
  docs/routing/APP_SERVER_ROUTING.md
  docs/routing/REQUEST_PARAMETERS_SERVICE.md
  packages/@o3r/components/src/tools/component-replacement/c11n.directive.ts
  packages/@o3r/components/src/tools/component-replacement/c11n.module.ts
  packages/@o3r/core/schematics/rule-factories/customization-environment/index.ts
  packages/@o3r/core/schematics/rule-factories/customization-environment/templates/src/customization/presenters-map.empty.ts.template
  packages/@o3r/dynamic-content/README.md
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.module.ts
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.pipe.spec.ts
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.pipe.ts
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.service.spec.ts
  packages/@o3r/dynamic-content/src/services/request-parameters/request-parameters.module.ts
  packages/@o3r/dynamic-content/src/services/request-parameters/request-parameters.spec.ts
  packages/@o3r/routing/src/tools/app-server-routing.module.ts
Due: Otter Modules

chore: run postinstall scripts
  apps/showcase/scripts/styling/generate-style.mjs
Due: none

fix: exports the pipe that was previously standalone to avoid introducing a breaking change
  .yarn/sdks/eslint/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.module.ts
  packages/@o3r/eslint-config-otter/package.json
Due: Otter Modules, SDK Tooling

feat(ama-mfe): get the url of the host using query parameter
  packages/@ama-mfe/ng-utils/src/navigation/navigation.consumer.service.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.producer.service.ts
  packages/@ama-mfe/ng-utils/src/utils.ts
Due: none

feat(sdk): extract compare date function from utils.date
  packages/@ama-sdk/core/src/fwk/date.spec.ts
  packages/@ama-sdk/core/src/fwk/date.ts
Due: SDK Tooling

fix(ama-mfe-ng-utils): remove useless `isServiceMessage` check
  packages/@ama-mfe/ng-utils/src/managers/consumer.manager.service.spec.ts
  packages/@ama-mfe/ng-utils/src/managers/consumer.manager.service.ts
Due: none

fix: training sdk exercise is broken
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
  packages/@o3r-training/training-tools/src/utility/web-container.ts
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
Due: Training modules

fix: rename AST node to match angular compiler
  packages/@o3r/eslint-plugin/src/rules/template/no-inner-html/no-inner-html.ts
  packages/@o3r/eslint-plugin/src/rules/template/template-async-number-limitation/template-async-number-limitation.ts
Due: Otter Modules
