Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

codecov.yml:

codecov:
  require_ci_to_pass: true
  max_report_age: off

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 5%
        informational: true

    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
      target: auto
      threshold: 5%
      informational: true

    project:
      default:
        target: auto
        threshold: 5%
        base: auto
        if_ci_failed: error
        informational: true

ignore:
  # Package Manager files
  - '.yarn'
  - '.pnp.*'
  - '.cache'
  - 'tmp'
  - '**/node_modules'

  # Distribution folders
  - 'packages/@*/*/dist'
  - 'tools/@*/*/dist'
  - 'apps/@*/*/dist'

  # builder cache folders
  - 'packages/@*/*/build'
  - 'tools/@*/*/build'
  - 'apps/@*/*/build'

  # Generated files
  - 'tools/github-actions/*/packaged-action'

  # Templates
  - '**/*.template'
  - '**/schematics/**/templates'

  # Tests
  - '**/dist-test'
  - '**/dist-e2e-playwright'
  - '**/playwright-reports'
  - '**/test-results'

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: otter
      name: Otter Modules
      paths:
        - packages/@o3r/**
    - component_id: otter-tools
      name: Otter developer tools
      paths:
        - apps/chrome-devtools/**
        - apps/github-cascading-app/**
        - apps/intellij-extension/**
        - apps/vscode-extension/**
        - apps/palette-generator/**
    - component_id: otter-github-actions
      name: Otter Github shared Actions
      paths:
        - tools/github-actions/**
    - component_id: training
      name: Training modules
      paths:
        - packages/@o3r-training/**
    - component_id: sdk
      name: SDK Tooling
      paths:
        - packages/@ama-sdk/**

feat: refactor typescript generator to extend OpenApi default one
  .github/workflows/check-release.yml
  .github/workflows/code-check.yml
  package.json
  packages/@ama-sdk/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
  packages/@ama-sdk/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/TypescriptfetchGenerator.java
  packages/@ama-sdk/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
  packages/@ama-sdk/openapi-codegen-typescript/src/main/resources/typescriptFetch/spec/operation-adapter.mustache
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/code-generator/open-api-cli-generator/open-api-cli-options.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/.openapi-generator-ignore
  packages/@ama-sdk/schematics/schematics/typescript/core/templates/src/spec/operation-adapter.ts.template
  packages/@o3r-training/showcase-sdk/src/spec/operation-adapter.ts
  tsconfig.base.json
Due: Training modules, SDK Tooling

fix: base preset extends with-auth ones
  tools/renovate/tasks/base-with-auth.json
  tools/renovate/tasks/base.json
  tools/renovate/tasks/otter-ng-update-with-auth.json
  tools/renovate/tasks/otter-ng-update.json
  tools/renovate/tasks/sdk-regenerate-with-auth.json
  tools/renovate/tasks/sdk-regenerate.json
  tools/renovate/tasks/sdk-spec-regenerate-with-auth.json
  tools/renovate/tasks/sdk-spec-regenerate.json
Due: none

feat: transloco package - devkit
  packages/@o3r/transloco/src/devkit/index.ts
  packages/@o3r/transloco/src/devkit/localization-devkit-interface.ts
  packages/@o3r/transloco/src/devkit/localization-devtools-console-service.ts
  packages/@o3r/transloco/src/devkit/localization-devtools-console.spec.ts
  packages/@o3r/transloco/src/devkit/localization-devtools-message-service.ts
  packages/@o3r/transloco/src/devkit/localization-devtools-module.ts
  packages/@o3r/transloco/src/devkit/localization-devtools-token.ts
  packages/@o3r/transloco/src/devkit/localization-devtools.ts
Due: Otter Modules

feat: refactor typescript generator to extend OpenApi default one
  .github/workflows/check-release.yml
  .github/workflows/code-check.yml
  package.json
  packages/@ama-sdk/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/TypescriptfetchGenerator.java
  packages/@ama-sdk/openapi-codegen-typescript/src/main/resources/typescriptFetch/spec/operation-adapter.mustache
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/code-generator/open-api-cli-generator/open-api-cli-options.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/.openapi-generator-ignore
  packages/@ama-sdk/schematics/schematics/typescript/core/templates/src/spec/operation-adapter.ts.template
  packages/@o3r-training/showcase-sdk/src/spec/operation-adapter.ts
  tsconfig.base.json
Due: Training modules, SDK Tooling

fix(extractors): versions are not sorted properly for metadata checks
  packages/@o3r/extractors/src/core/comparator/package-managers-extractors/custom-npm-semver-resolver.spec.ts
  packages/@o3r/extractors/src/core/comparator/package-managers-extractors/custom-npm-semver-resolver.ts
  packages/@o3r/extractors/src/core/comparator/package-managers-extractors/npm-file-extractor-helper.spec.ts
  packages/@o3r/extractors/src/core/comparator/package-managers-extractors/npm-file-extractor-helper.ts
Due: Otter Modules

feat: transloco package - fixes
  packages/@o3r/transloco/src/rules-engine/localization-rules-engine-module.ts
  packages/@o3r/transloco/src/stores/localization-override/localization-override-module.ts
  packages/@o3r/transloco/src/tools/localization-module.ts
  packages/@o3r/transloco/src/tools/localization-service.spec.ts
  packages/@o3r/transloco/src/tools/localization-translate-directive.ts
  packages/@o3r/transloco/src/tools/localization-translate-pipe.spec.ts
  packages/@o3r/transloco/src/tools/localization-translate-pipe.ts
  packages/@o3r/transloco/src/tools/localized-currency-pipe.ts
  packages/@o3r/transloco/src/tools/localized-date-pipe.ts
  packages/@o3r/transloco/src/tools/localized-decimal-pipe.ts
Due: Otter Modules

fix: lock node version to 24.14
  .github/workflows/main.yml
  tools/github-actions/setup/action.yml
Due: Otter Github shared Actions

feat(ama-openapi): add mcp server for ama-openapi
  packages/@ama-openapi/create/templates/.vscode/mcp.json.template
  packages/@ama-openapi/mcp/README.md
  packages/@ama-openapi/mcp/eslint.config.mjs
  packages/@ama-openapi/mcp/eslint.local.config.mjs
  packages/@ama-openapi/mcp/package.json
  packages/@ama-openapi/mcp/project.json
  packages/@ama-openapi/mcp/src/cli.ts
  packages/@ama-openapi/mcp/src/public_api.ts
  packages/@ama-openapi/mcp/src/server/mcp-server.ts
  packages/@ama-openapi/mcp/src/server/tools/add-dependency-model/add-dependency-model.spec.ts
  packages/@ama-openapi/mcp/src/server/tools/add-dependency-model/add-dependency-model.ts
  packages/@ama-openapi/mcp/src/server/tools/create-mask/create-mask.spec.ts
  packages/@ama-openapi/mcp/src/server/tools/create-mask/create-mask.ts
  packages/@ama-openapi/mcp/src/server/tools/create-project/create-project.spec.ts
  packages/@ama-openapi/mcp/src/server/tools/create-project/create-project.ts
  packages/@ama-openapi/mcp/src/server/tools/rename-model/rename-model.spec.ts
  packages/@ama-openapi/mcp/src/server/tools/rename-model/rename-model.ts
  packages/@ama-openapi/mcp/tsconfig.build.composite.json
  packages/@ama-openapi/mcp/tsconfig.build.json
  packages/@ama-openapi/mcp/tsconfig.json
  packages/@ama-openapi/mcp/tsconfig.test.json
  packages/@ama-openapi/mcp/vitest.config.ts
  tsconfig.base.json
  yarn.lock
Due: none

feat(ama-openapi): add skill to ama-openapi tools
  .claude-plugin/marketplace.json
  packages/@ama-openapi/create/templates/.claude/settings.json
  tools/llm/plugins/ama-openapi/.claude-plugin/plugin.json
  tools/llm/plugins/ama-openapi/README.md
  tools/llm/plugins/ama-openapi/plugin.json
  tools/llm/plugins/ama-openapi/skills/add-dependency-model.md
  tools/llm/plugins/ama-openapi/skills/create-mask.md
  tools/llm/plugins/ama-openapi/skills/create-openapi-project.md
  tools/llm/plugins/ama-openapi/skills/rename-model.md
Due: none

feat: transloco package - creation
  packages/@o3r/localization/README.md
  packages/@o3r/testing/package.json
  packages/@o3r/transloco/.compodocrc.json
  packages/@o3r/transloco/.gitignore
  packages/@o3r/transloco/README.md
  packages/@o3r/transloco/eslint.config.mjs
  packages/@o3r/transloco/eslint.local.config.mjs
  packages/@o3r/transloco/jest.config.js
  packages/@o3r/transloco/package.json
  packages/@o3r/transloco/project.json
  packages/@o3r/transloco/src/ng-package.json
  packages/@o3r/transloco/src/public_api.ts
  packages/@o3r/transloco/testing/jest.config.ut.js
  packages/@o3r/transloco/testing/setup-jest.ts
  packages/@o3r/transloco/tsconfig.build.composite.json
  packages/@o3r/transloco/tsconfig.build.json
  packages/@o3r/transloco/tsconfig.doc.json
  packages/@o3r/transloco/tsconfig.eslint.json
  packages/@o3r/transloco/tsconfig.json
  packages/@o3r/transloco/tsconfig.spec.json
  tsconfig.base.json
  tsconfig.build.json
  yarn.lock
Due: Otter Modules

feat: transloco package - copy framework-agnostic files
  .github/CODEOWNERS
  packages/@o3r/transloco/package.json
  packages/@o3r/transloco/project.json
  packages/@o3r/transloco/schemas/localization.metadata.schema.json
  packages/@o3r/transloco/schemas/localization.schema.json
  packages/@o3r/transloco/schemas/rules-engine.localization-action.schema.json
  packages/@o3r/transloco/src/annotations/index.ts
  packages/@o3r/transloco/src/annotations/localization.ts
  packages/@o3r/transloco/src/core/index.ts
  packages/@o3r/transloco/src/core/json-localization-interface.ts
  packages/@o3r/transloco/src/core/localization-configuration.ts
  packages/@o3r/transloco/src/core/translatable.ts
  packages/@o3r/transloco/src/public_api.ts
  packages/@o3r/transloco/src/rules-engine/localization-interfaces.ts
  packages/@o3r/transloco/src/rules-engine/localization-rules-engine-action-handler.ts
  packages/@o3r/transloco/src/rules-engine/localization-rules-engine-module.ts
  packages/@o3r/transloco/src/rules-engine/ng-package.json
  packages/@o3r/transloco/src/rules-engine/public_api.ts
  packages/@o3r/transloco/src/stores/index.ts
  packages/@o3r/transloco/src/stores/localization-override/localization-override-module.ts
  packages/@o3r/transloco/src/stores/localization-override/localization-override.actions.ts
  packages/@o3r/transloco/src/stores/localization-override/localization-override.reducer.spec.ts
  packages/@o3r/transloco/src/stores/localization-override/localization-override.reducer.ts
  packages/@o3r/transloco/src/stores/localization-override/localization-override.selectors.ts
  packages/@o3r/transloco/src/stores/localization-override/localization-override.state.ts
  packages/@o3r/transloco/src/stores/localization-override/localization-override.sync.ts
  packages/@o3r/transloco/testing/jest.config.ut.js
  packages/@o3r/transloco/testing/setup-jest.ts
  yarn.lock
Due: Otter Modules

feat: transloco package - tools and tests
  packages/@o3r/transloco/src/public_api.ts
  packages/@o3r/transloco/src/tools/index.ts
  packages/@o3r/transloco/src/tools/localization-helpers.spec.ts
  packages/@o3r/transloco/src/tools/localization-helpers.ts
  packages/@o3r/transloco/src/tools/localization-module.ts
  packages/@o3r/transloco/src/tools/localization-provider.ts
  packages/@o3r/transloco/src/tools/localization-service.spec.ts
  packages/@o3r/transloco/src/tools/localization-service.ts
  packages/@o3r/transloco/src/tools/localization-token.ts
  packages/@o3r/transloco/src/tools/localization-translate-directive.ts
  packages/@o3r/transloco/src/tools/localization-translate-pipe.spec.ts
  packages/@o3r/transloco/src/tools/localization-translate-pipe.ts
  packages/@o3r/transloco/src/tools/localized-currency-pipe.spec.ts
  packages/@o3r/transloco/src/tools/localized-currency-pipe.ts
  packages/@o3r/transloco/src/tools/localized-date-pipe.spec.ts
  packages/@o3r/transloco/src/tools/localized-date-pipe.ts
  packages/@o3r/transloco/src/tools/localized-decimal-pipe.spec.ts
  packages/@o3r/transloco/src/tools/localized-decimal-pipe.ts
  packages/@o3r/transloco/src/tools/text-direction-service.ts
  packages/@o3r/transloco/src/tools/translations-loader.spec.ts
  packages/@o3r/transloco/src/tools/translations-loader.ts
  packages/@o3r/transloco/testing/change-detector-ref-fixture.ts
  packages/@o3r/transloco/testing/jest.config.ut.js
Due: Otter Modules

feat: transloco package - builders
  packages/@o3r/transloco/builders.json
  packages/@o3r/transloco/builders/helpers/localization-generator.ts
  packages/@o3r/transloco/builders/i18n/index.spec.ts
  packages/@o3r/transloco/builders/i18n/index.ts
  packages/@o3r/transloco/builders/i18n/schema.json
  packages/@o3r/transloco/builders/i18n/schema.ts
  packages/@o3r/transloco/builders/localization-extractor/index.spec.ts
  packages/@o3r/transloco/builders/localization-extractor/index.ts
  packages/@o3r/transloco/builders/localization-extractor/schema.json
  packages/@o3r/transloco/builders/localization-extractor/schema.ts
  packages/@o3r/transloco/builders/localization-extractor/validations.ts
  packages/@o3r/transloco/builders/localization/builder.spec.ts
  packages/@o3r/transloco/builders/localization/index.spec.ts
  packages/@o3r/transloco/builders/localization/index.ts
  packages/@o3r/transloco/builders/localization/schema.json
  packages/@o3r/transloco/builders/localization/schema.ts
  packages/@o3r/transloco/builders/metadata-check/helpers/index.ts
  packages/@o3r/transloco/builders/metadata-check/helpers/localization-metadata-comparison-helper.ts
  packages/@o3r/transloco/builders/metadata-check/index.it.spec.ts
  packages/@o3r/transloco/builders/metadata-check/index.ts
  packages/@o3r/transloco/builders/metadata-check/schema.json
  packages/@o3r/transloco/builders/metadata-check/schema.ts
  packages/@o3r/transloco/jest.config.js
  packages/@o3r/transloco/package.json
  packages/@o3r/transloco/project.json
  packages/@o3r/transloco/testing/jest.config.ut.builders.js
  packages/@o3r/transloco/testing/mocks/test-resources/en_GB.json
  packages/@o3r/transloco/testing/mocks/test-resources/en_US.json
  packages/@o3r/transloco/testing/mocks/test-resources/fr_FR.json
  packages/@o3r/transloco/testing/setup-jest.builders.ts
  packages/@o3r/transloco/tsconfig.builders.json
  packages/@o3r/transloco/tsconfig.json
  packages/@o3r/transloco/tsconfig.spec.json
  yarn.lock
Due: Otter Modules

feat: transloco package - schematics
  packages/@o3r/testing/package.json
  packages/@o3r/testing/src/transloco/index.ts
  packages/@o3r/testing/src/transloco/transloco-mock.ts
  packages/@o3r/testing/tsconfig.build.json
  packages/@o3r/transloco/collection.json
  packages/@o3r/transloco/package.json
  packages/@o3r/transloco/project.json
  packages/@o3r/transloco/schematics/add-localization-key/index.spec.ts
  packages/@o3r/transloco/schematics/add-localization-key/index.ts
  packages/@o3r/transloco/schematics/add-localization-key/schema.json
  packages/@o3r/transloco/schematics/add-localization-key/schema.ts
  packages/@o3r/transloco/schematics/cms-adapter/index.ts
  packages/@o3r/transloco/schematics/index.it.spec.ts
  packages/@o3r/transloco/schematics/localization-base/index.ts
  packages/@o3r/transloco/schematics/localization-base/templates/src/assets/locales/__empty__.gitkeep
  packages/@o3r/transloco/schematics/localization-to-component/index.spec.ts
  packages/@o3r/transloco/schematics/localization-to-component/index.ts
  packages/@o3r/transloco/schematics/localization-to-component/schema.json
  packages/@o3r/transloco/schematics/localization-to-component/schema.ts
  packages/@o3r/transloco/schematics/localization-to-component/templates/__name__-localization.json
  packages/@o3r/transloco/schematics/localization-to-component/templates/__name__-translation.ts.template
  packages/@o3r/transloco/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/transloco/schematics/ng-add/index.ts
  packages/@o3r/transloco/schematics/ng-add/schema.json
  packages/@o3r/transloco/schematics/ng-add/schema.ts
  packages/@o3r/transloco/testing/mocks/__dot__eslintrc.mocks.json
  packages/@o3r/transloco/tsconfig.builders.json
  packages/@o3r/transloco/tsconfig.spec.json
  yarn.lock
Due: Otter Modules

feat(ama-sdk): add @default to requesst parameters
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/LambdaHelper.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
Due: SDK Tooling

feat(sdk): support Swagger V2 model extraction in extractModelsFromOperation
  packages/@ama-sdk/schematics/cli/genai-context/update-sdk-context.helpers.spec.ts
  packages/@ama-sdk/schematics/cli/genai-context/update-sdk-context.helpers.ts
  packages/@o3r/testing/package.json
Due: Otter Modules, SDK Tooling

feat: add o3r migration claude agent
  .claude-plugin/marketplace.json
  .github/plugin/marketplace.json
  tools/llm/plugins/otter/.claude-plugin/plugin.json
  tools/llm/plugins/otter/README.md
  tools/llm/plugins/otter/agents/otter-migration.agent.md
  tools/llm/plugins/otter/plugin.json
Due: none

fix(ama-styling): fix metadata formatter edge case when token name has 'value' fragment
  .github/workflows/main.yml
  packages/@ama-styling/style-dictionary/src/formats/metadata-format.mts
  packages/@ama-styling/style-dictionary/src/formats/metadata-format.spec.ts
  tools/github-actions/setup/action.yml
Due: Otter Github shared Actions

chore: upgrade vm2 to fix critical audit report
  packages/@o3r/core/package.json
  yarn.lock
Due: Otter Modules

fix: wrong nx project config for mcp projects
  mcps/@ama-sdk/mcp/package.json
  mcps/@ama-sdk/mcp/project.json
  mcps/@o3r/mcp/package.json
  mcps/@o3r/mcp/project.json
  tools/github-actions/upload-build-output/action.yml
Due: Otter Github shared Actions

feat: refactor typescript generator to extend OpenApi default one
  .github/workflows/check-release.yml
  .github/workflows/code-check.yml
  nx.json
  package.json
  packages/@ama-sdk/openapi-codegen-typescript/package.json
  packages/@ama-sdk/openapi-codegen-typescript/pom.xml
  packages/@ama-sdk/openapi-codegen-typescript/project.json
  packages/@ama-sdk/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/TypescriptfetchGenerator.java
  packages/@ama-sdk/openapi-codegen-typescript/src/main/resources/typescriptFetch/spec/operation-adapter.mustache
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/code-generator/open-api-cli-generator/open-api-cli-options.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/.openapi-generator-ignore
  packages/@ama-sdk/schematics/schematics/typescript/core/templates/src/spec/operation-adapter.ts.template
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/.versionrc.json
  packages/@o3r-training/showcase-sdk/readme.md
  packages/@o3r-training/showcase-sdk/src/api/pet/pet-api.ts
  packages/@o3r-training/showcase-sdk/src/api/store/store-api.ts
  packages/@o3r-training/showcase-sdk/src/api/user/user-api.ts
  packages/@o3r-training/showcase-sdk/src/models/base/enums.ts
  packages/@o3r-training/showcase-sdk/src/spec/operation-adapter.ts
  packages/@o3r-training/training-sdk/src/spec/operation-adapter.ts
  tsconfig.base.json
Due: Training modules, SDK Tooling

feat: add use case for 3.1 multi-type
  nx.json
  packages/@ama-sdk/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
  packages/@ama-sdk/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/TypescriptfetchGenerator.java
  packages/@o3r-training/showcase-sdk/open-api.yaml
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/showcase-sdk/project.json
  packages/@o3r-training/showcase-sdk/src/models/base/pet/pet.ts
Due: Training modules, SDK Tooling

feat: transloco package - schematics
  packages/@o3r/testing/package.json
  packages/@o3r/testing/src/transloco/index.ts
  packages/@o3r/testing/src/transloco/transloco-mock.ts
  packages/@o3r/testing/tsconfig.build.json
  packages/@o3r/transloco/.npmignore
  packages/@o3r/transloco/builders/metadata-check/index.it.spec.ts
  packages/@o3r/transloco/collection.json
  packages/@o3r/transloco/package.json
  packages/@o3r/transloco/project.json
  packages/@o3r/transloco/schematics/add-localization-key/index.spec.ts
  packages/@o3r/transloco/schematics/add-localization-key/index.ts
  packages/@o3r/transloco/schematics/add-localization-key/schema.json
  packages/@o3r/transloco/schematics/add-localization-key/schema.ts
  packages/@o3r/transloco/schematics/cms-adapter/index.ts
  packages/@o3r/transloco/schematics/index.it.spec.ts
  packages/@o3r/transloco/schematics/localization-base/index.ts
  packages/@o3r/transloco/schematics/localization-base/templates/src/assets/locales/__empty__.gitkeep
  packages/@o3r/transloco/schematics/localization-to-component/index.spec.ts
  packages/@o3r/transloco/schematics/localization-to-component/index.ts
  packages/@o3r/transloco/schematics/localization-to-component/schema.json
  packages/@o3r/transloco/schematics/localization-to-component/schema.ts
  packages/@o3r/transloco/schematics/localization-to-component/templates/__name__-localization.json
  packages/@o3r/transloco/schematics/localization-to-component/templates/__name__-translation.ts.template
  packages/@o3r/transloco/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/transloco/schematics/ng-add/index.ts
  packages/@o3r/transloco/schematics/ng-add/schema.json
  packages/@o3r/transloco/schematics/ng-add/schema.ts
  packages/@o3r/transloco/src/devkit/localization-devtools-module.ts
  packages/@o3r/transloco/src/public_api.ts
  packages/@o3r/transloco/testing/jest.config.it.js
  packages/@o3r/transloco/testing/mocks/__dot__eslintrc.mocks.json
  packages/@o3r/transloco/tsconfig.build.json
  packages/@o3r/transloco/tsconfig.builders.json
  packages/@o3r/transloco/tsconfig.doc.json
  packages/@o3r/transloco/tsconfig.eslint.json
  packages/@o3r/transloco/tsconfig.spec.json
  tsconfig.base.json
  yarn.lock
Due: Otter Modules

feat: nav message to support replaceUrl extra
  packages/@ama-mfe/messages/README.md
  packages/@ama-mfe/messages/src/messages/core.ts
  packages/@ama-mfe/messages/src/messages/navigation/base.ts
  packages/@ama-mfe/messages/src/messages/navigation/index.ts
  packages/@ama-mfe/messages/src/messages/navigation/navigation-versions.ts
  packages/@ama-mfe/messages/src/public_api.ts
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/managers/consumer-manager-service.spec.ts
  packages/@ama-mfe/ng-utils/src/managers/consumer-manager-service.ts
  packages/@ama-mfe/ng-utils/src/navigation/README.md
  packages/@ama-mfe/ng-utils/src/navigation/navigation-consumer-service.spec.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation-consumer-service.ts
  packages/@ama-mfe/ng-utils/src/navigation/routing-service.spec.ts
  packages/@ama-mfe/ng-utils/src/navigation/routing-service.ts
Due: none

feat(ama-openapi): add skill to ama-openapi tools
  .claude-plugin/marketplace.json
  .github/plugin/marketplace.json
  package.json
  packages/@ama-openapi/core/src/constants.mts
  packages/@ama-openapi/create/templates/.claude/settings.json
  packages/@ama-openapi/create/templates/.vscode/settings.json.template
  tools/@o3r/workspace-helpers/scripts/check-plugin-marketplace-sync.mjs
  tools/llm/plugins/ama-openapi/.claude-plugin/plugin.json
  tools/llm/plugins/ama-openapi/.plugin/plugin.json
  tools/llm/plugins/ama-openapi/README.md
  tools/llm/plugins/ama-openapi/skills/add-dependency-model.md
  tools/llm/plugins/ama-openapi/skills/create-mask.md
  tools/llm/plugins/ama-openapi/skills/create-openapi-project.md
  tools/llm/plugins/ama-openapi/skills/rename-model.md
  tools/llm/plugins/otter/.plugin/plugin.json
Due: none

fix: postinstall hook
  .github/workflows/check-release.yml
  .github/workflows/code-check.yml
  .npmrc.pr
  nx.json
  package.json
  packages/@ama-sdk/openapi-codegen-typescript/package.json
  packages/@ama-sdk/openapi-codegen-typescript/project.json
  yarn.lock
Due: SDK Tooling

fix: UT for openapi generator
  packages/@ama-sdk/schematics/schematics/typescript/core/index.spec.ts
Due: SDK Tooling

feat: transloco package - migration from localization to transloco + documentation
  apps/showcase/package.json
  apps/showcase/project.json
  apps/showcase/src/app/app-module.ts
  apps/showcase/src/app/app.spec.ts
  apps/showcase/src/app/forms/forms.spec.ts
  apps/showcase/src/app/localization/localization.html
  apps/showcase/src/app/localization/localization.spec.ts
  apps/showcase/src/app/rules-engine/rules-engine.spec.ts
  apps/showcase/src/app/rules-engine/rules-engine.ts
  apps/showcase/src/components/showcase/forms-parent/forms-parent.spec.ts
  apps/showcase/src/components/showcase/forms-parent/forms-parent.ts
  apps/showcase/src/components/showcase/localization/localization-pres.spec.ts
  apps/showcase/src/components/showcase/localization/localization-pres.ts
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.spec.ts
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.ts
  apps/showcase/src/components/utilities/forms-emergency-contact/forms-emergency-contact-pres.spec.ts
  apps/showcase/src/components/utilities/forms-emergency-contact/forms-emergency-contact-pres.ts
  apps/showcase/src/components/utilities/forms-personal-info/forms-personal-info-pres.spec.ts
  apps/showcase/src/components/utilities/forms-personal-info/forms-personal-info-pres.ts
  apps/showcase/src/main.ts
  apps/showcase/testing/jest.config.ut.js
  docs/transloco/TRANSLOCO.md
  docs/transloco/localization-to-transloco.md
  package.json
  packages/@o3r/testing/src/transloco/transloco-mock.ts
  packages/@o3r/transloco/README.md
  packages/@o3r/transloco/collection.json
  packages/@o3r/transloco/package.json
  packages/@o3r/transloco/schematics/migration-localization-to-transloco/index.spec.ts
  packages/@o3r/transloco/schematics/migration-localization-to-transloco/index.ts
  packages/@o3r/transloco/schematics/migration-localization-to-transloco/schema.json
  packages/@o3r/transloco/schematics/migration-localization-to-transloco/schema.ts
  packages/@o3r/transloco/src/devkit/localization-devtools-module.ts
  packages/@o3r/transloco/src/rules-engine/localization-rules-engine-module.ts
  packages/@o3r/transloco/src/stores/localization-override/localization-override-module.ts
  packages/@o3r/transloco/src/tools/localization-module.ts
  yarn.lock
Due: Otter Modules

fix: update e2e screenshots
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/localization.png
Due: none

chore: fix critical vm2
  yarn.lock
Due: none

chore: fix sub dependency
  package.json
  yarn.lock
Due: none

chore(ama-mfe): support async "start" and "stop" functions
  packages/@ama-mfe/ng-utils/src/managers/interfaces.ts
Due: none
