Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

feat(openapi): add dynamic schema
  docs/openapi/MANIFEST_CONFIGURATION.md
  eslint.local.config.mjs
  eslint.shared.config.mjs
  packages/@ama-openapi/cli/README.md
  packages/@ama-openapi/cli/src/main.mts
  packages/@ama-openapi/core/package.json
  packages/@ama-openapi/core/src/constants.mts
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.mts
  packages/@ama-openapi/core/src/generate-schemas.mts
  packages/@ama-openapi/core/src/install-dependencies.mts
  packages/@ama-openapi/core/src/public_api.mts
  packages/@ama-openapi/core/src/schema/generate-schema.mts
  packages/@ama-openapi/core/src/schema/list-artifacts.mts
  packages/@ama-openapi/create/src/generate-template.ts
  packages/@ama-openapi/create/templates/.gitignore.template
  packages/@ama-openapi/create/templates/openapi.manifest.yaml.template
  packages/@ama-openapi/create/templates/package.json.template
  packages/@ama-openapi/create/templates/schemas/manifest.schema.json
  yarn.lock
Due: none

feat: generate schemas for masks
  packages/@ama-openapi/core/src/core/file-system/write-model.mts
  packages/@ama-openapi/core/src/core/serialization.mts
  packages/@ama-openapi/core/src/generate-schemas.mts
  packages/@ama-openapi/core/src/schema/generate-schema.mts
  packages/@ama-openapi/core/src/schema/mask/generate-mask-from-model.mts
Due: none

feat(openapi): generator of an openapi extension project
  packages/@ama-openapi/create/src/generate-template.ts
  packages/@ama-openapi/create/templates/design/.gitignore.template
  packages/@ama-openapi/create/templates/design/.vscode/extensions.json.template
  packages/@ama-openapi/create/templates/design/.vscode/settings.json.template
  packages/@ama-openapi/create/templates/design/README.md.template
  packages/@ama-openapi/create/templates/design/apis/example.v1.yaml.template
  packages/@ama-openapi/create/templates/design/models/ExampleModel.v1.yaml.template
  packages/@ama-openapi/create/templates/design/openapi.manifest.yaml.template
  packages/@ama-openapi/create/templates/design/package.json.template
  packages/@ama-openapi/create/templates/design/redocly.yaml.template
  packages/@ama-openapi/create/templates/design/renovate.json.template
  packages/@ama-openapi/create/templates/design/responses/ExampleResponse.v1.yaml.template
Due: none

feat(openapi): add generation for extension api
  packages/@ama-openapi/create/README.md
  packages/@ama-openapi/create/src/generate-design.ts
  packages/@ama-openapi/create/src/generate-extension.ts
  packages/@ama-openapi/create/src/generate-template.ts
  packages/@ama-openapi/create/src/index.ts
  packages/@ama-openapi/create/templates/design-extension/.gitignore.template
  packages/@ama-openapi/create/templates/design-extension/README.md.template
  packages/@ama-openapi/create/templates/design-extension/redocly.yaml.template
Due: none

feat: set up telemetry for mcp server
  .vscode/mcp.json
  packages/@ama-mcp/core/package.json
  packages/@ama-mcp/core/src/public_api.ts
  packages/@ama-mcp/core/src/server/index.ts
  packages/@o3r/telemetry/src/gen-ai/index.ts
  packages/@o3r/telemetry/src/public_api.ts
  packages/@o3r/telemetry/src/sender/index.ts
  tools/@o3r/mcp/README.md
  tools/@o3r/mcp/package.json
  tools/@o3r/mcp/src/mcp-server.ts
  yarn.lock
Due: Otter Modules

feat: add push-code-to-github workflow
  .windsurf/workflows/push-code-to-github.md
Due: none

feat(openapi): add dynamic mask schema
  packages/@ama-openapi/core/src/schema/generate-model-name.mts
  packages/@ama-openapi/core/src/schema/generate-model-name.spec.ts
  packages/@ama-openapi/core/src/schema/generate-schema.mts
  packages/@ama-openapi/core/src/schema/generate-schema.spec.ts
  packages/@ama-openapi/core/src/schema/list-artifacts.spec.ts
  packages/@ama-openapi/core/src/schema/mask/generate-mask-from-model.mts
  packages/@ama-openapi/core/src/schema/mask/generate-mask-from-model.spec.ts
Due: none

feat: migration ruleset-history component to control flow
  packages/@o3r/rules-engine/src/components/rules-engine/ruleset-history/ruleset-history-pres-component.html
Due: Otter Modules

chore: upgrade @modelcontextprotocol-sdk
  packages/@ama-mcp/angular/package.json
  packages/@ama-mcp/angular/src/angular-schematics/index.spec.ts
  packages/@ama-mcp/angular/tsconfig.build.json
  packages/@ama-mcp/core/package.json
  packages/@ama-mcp/core/tsconfig.build.json
  packages/@ama-mcp/github/package.json
  packages/@ama-mcp/github/src/find-repositories-using-library/index.spec.ts
  packages/@ama-mcp/github/src/release-notes/index.spec.ts
  packages/@ama-mcp/github/src/supported-releases/index.spec.ts
  packages/@ama-mcp/github/tsconfig.build.json
  packages/@ama-mcp/otter/package.json
  packages/@ama-mcp/otter/src/metadata-per-release/index.spec.ts
  packages/@ama-mcp/otter/tsconfig.build.json
  tools/@o3r/mcp/package.json
  tools/@o3r/mcp/src/mcp-server.ts
  tools/@o3r/mcp/tsconfig.build.json
  yarn.lock
Due: none

chore: upgrade github actions majors
  .github/workflows/clean-cache.yml
  .github/workflows/code-check.yml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/first-pr.yml
  .github/workflows/it-tests.yml
  .github/workflows/main.yml
  .github/workflows/pr-labels.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish.yml
  .github/workflows/scorecards.yml
  packages/@o3r/pipeline/schematics/ng-add/templates/github/__dot__github/actions/setup/action.yml
  tools/github-actions/create-branch-e2e-screenshots/action.yml
  tools/github-actions/download-build-output/action.yml
  tools/github-actions/setup/action.yml
  tools/github-actions/update-e2e-screenshots/action.yml
  tools/github-actions/upload-build-output/action.yml
Due: Otter Modules, Otter Github shared Actions

chore: lock dependencies used with npx
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  package.json
  yarn.lock
Due: none

chore(deps): lock file maintenance
  yarn.lock
Due: none

feat(openapi): add dynamic mask schema
  packages/@ama-openapi/core/src/constants.mts
  packages/@ama-openapi/core/src/generate-schemas.mts
  packages/@ama-openapi/core/src/schema/generate-model-name.mts
  packages/@ama-openapi/core/src/schema/generate-model-name.spec.ts
  packages/@ama-openapi/core/src/schema/generate-schema.mts
  packages/@ama-openapi/core/src/schema/generate-schema.spec.ts
  packages/@ama-openapi/core/src/schema/list-artifacts.spec.ts
  packages/@ama-openapi/core/src/schema/mask/generate-mask-from-model.mts
  packages/@ama-openapi/core/src/schema/mask/generate-mask-from-model.spec.ts
Due: none

feat: add windsurf rules
  .windsurf/rules/code-style-typescript.md
  .windsurf/rules/commands.md
  .windsurf/rules/documentation.md
  .windsurf/rules/git-ci.md
  .windsurf/rules/project-structure.md
  .windsurf/rules/repository-overview.md
  .windsurf/rules/runtime-setup.md
  .windsurf/rules/testing.md
Due: none

fix(ama-openapi): remove-unused-components should keep polymorphism references
  packages/@ama-openapi/redocly-plugin/src/plugins/decorators/oas3/remove-unused-components/remove-unused-components.decorator.mts
  packages/@ama-openapi/redocly-plugin/src/plugins/decorators/oas3/remove-unused-components/remove-unused-components.decorator.spec.ts
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
Due: Otter Modules, SDK Tooling

fix: rules engine extraction
  apps/showcase/project.json
  packages/@o3r/rules-engine/project.json
Due: Otter Modules

feat: add user activity tracking for embedded apps
  packages/@ama-mfe/messages/src/messages/user-activity/base.ts
  packages/@ama-mfe/messages/src/messages/user-activity/index.ts
  packages/@ama-mfe/messages/src/messages/user-activity/user-activity-versions.ts
  packages/@ama-mfe/messages/src/public_api.ts
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/messages/index.ts
  packages/@ama-mfe/ng-utils/src/messages/user-activity.spec.ts
  packages/@ama-mfe/ng-utils/src/messages/user-activity.ts
  packages/@ama-mfe/ng-utils/src/public_api.ts
  packages/@ama-mfe/ng-utils/src/user-activity/activity-consumer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/user-activity/activity-consumer.service.ts
  packages/@ama-mfe/ng-utils/src/user-activity/activity-producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/user-activity/activity-producer.service.ts
  packages/@ama-mfe/ng-utils/src/user-activity/config.spec.ts
  packages/@ama-mfe/ng-utils/src/user-activity/config.ts
  packages/@ama-mfe/ng-utils/src/user-activity/iframe-activity-tracker.service.spec.ts
  packages/@ama-mfe/ng-utils/src/user-activity/iframe-activity-tracker.service.ts
  packages/@ama-mfe/ng-utils/src/user-activity/index.ts
  packages/@ama-mfe/ng-utils/src/user-activity/interfaces.ts
Due: none

fix(core): store generator re-allowing store override
  packages/@o3r/core/schematics/store/common/mocks/example-module.ts
  packages/@o3r/core/schematics/store/common/templates/__storeName@dasherize__-module.ts.template
Due: Otter Modules

fix(ama-openapi): the prefix used in base config and documentation
  packages/@ama-styling/style-dictionary/README.md
  packages/@ama-styling/style-dictionary/src/presets.mts
Due: none

feat(openapi/create): remove the "design" keyword
  packages/@ama-openapi/create/README.md
  packages/@ama-openapi/create/package.json
  packages/@ama-openapi/create/src/index.ts
  packages/@ama-openapi/create/src/public_api.ts
  tsconfig.build.json
Due: none

feat(ama-openapi): create design project extension
  packages/@ama-openapi/create-extension/.gitignore
  packages/@ama-openapi/create-extension/.npmignore
  packages/@ama-openapi/create-extension/README.md
  packages/@ama-openapi/create-extension/eslint.config.mjs
  packages/@ama-openapi/create-extension/eslint.local.config.mjs
  packages/@ama-openapi/create-extension/package.json
  packages/@ama-openapi/create-extension/project.json
  packages/@ama-openapi/create-extension/src/generate-template.ts
  packages/@ama-openapi/create-extension/src/index.ts
  packages/@ama-openapi/create-extension/src/public_api.ts
  packages/@ama-openapi/create-extension/templates/README.md.template
  packages/@ama-openapi/create-extension/templates/redocly.yaml.template
  packages/@ama-openapi/create-extension/testing/jest.config.it.js
  packages/@ama-openapi/create-extension/testing/setup-jest.ts
  packages/@ama-openapi/create-extension/tsconfig.build.json
  packages/@ama-openapi/create-extension/tsconfig.eslint.json
  packages/@ama-openapi/create-extension/tsconfig.json
  packages/@ama-openapi/create-extension/tsconfig.spec.json
  packages/@ama-openapi/create/src/generate-template.ts
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  tsconfig.base.json
  tsconfig.build.json
  yarn.lock
Due: Otter Modules, SDK Tooling

feat(openapi): add dynamic schema
  docs/openapi/MANIFEST_CONFIGURATION.md
  eslint.local.config.mjs
  eslint.shared.config.mjs
  packages/@ama-openapi/cli/README.md
  packages/@ama-openapi/cli/src/main.mts
  packages/@ama-openapi/core/package.json
  packages/@ama-openapi/core/src/constants.mts
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.mts
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.spec.ts
  packages/@ama-openapi/core/src/generate-schemas.mts
  packages/@ama-openapi/core/src/install-dependencies.mts
  packages/@ama-openapi/core/src/public_api.mts
  packages/@ama-openapi/core/src/schema/generate-schema.mts
  packages/@ama-openapi/core/src/schema/generate-schema.spec.ts
  packages/@ama-openapi/core/src/schema/list-artifacts.mts
  packages/@ama-openapi/core/src/schema/list-artifacts.spec.ts
  packages/@ama-openapi/create/src/generate-template.ts
  packages/@ama-openapi/create/templates/.gitignore.template
  packages/@ama-openapi/create/templates/openapi.manifest.yaml.template
  packages/@ama-openapi/create/templates/package.json.template
  packages/@ama-openapi/create/templates/schemas/manifest.schema.json.template
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  yarn.lock
Due: Otter Modules, SDK Tooling

feat(openapi): add dynamic schema
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  yarn.lock
Due: Otter Modules, SDK Tooling

Path conditions:
  Otter Modules: any of: packages/@o3r/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Otter developer tools: any of: apps/chrome-devtools/**, apps/github-cascading-app/**, apps/intellij-extension/**, apps/vscode-extension/**, apps/palette-generator/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Otter Github shared Actions: any of: tools/github-actions/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Training modules: any of: packages/@o3r-training/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  SDK Tooling: any of: packages/@ama-sdk/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
