Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

codecov.yml:

codecov:
  require_ci_to_pass: true
  max_report_age: off

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 5%
        informational: true

    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
      target: auto
      threshold: 5%
      informational: true

    project:
      default:
        target: auto
        threshold: 5%
        base: auto
        if_ci_failed: error
        informational: true

ignore:
  # Package Manager files
  - '.yarn'
  - '.pnp.*'
  - '.cache'
  - 'tmp'
  - '**/node_modules'

  # Distribution folders
  - 'packages/@*/*/dist'
  - 'tools/@*/*/dist'
  - 'apps/@*/*/dist'

  # builder cache folders
  - 'packages/@*/*/build'
  - 'tools/@*/*/build'
  - 'apps/@*/*/build'

  # Generated files
  - 'tools/github-actions/*/packaged-action'

  # Templates
  - '**/*.template'
  - '**/schematics/**/templates'

  # Tests
  - '**/dist-test'
  - '**/dist-e2e-playwright'
  - '**/playwright-reports'
  - '**/test-results'

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: otter
      name: Otter Modules
      paths:
        - packages/@o3r/**
    - component_id: otter-tools
      name: Otter developer tools
      paths:
        - apps/chrome-devtools/**
        - apps/github-cascading-app/**
        - apps/intellij-extension/**
        - apps/vscode-extension/**
        - apps/palette-generator/**
    - component_id: otter-github-actions
      name: Otter Github shared Actions
      paths:
        - tools/github-actions/**
    - component_id: training
      name: Training modules
      paths:
        - packages/@o3r-training/**
    - component_id: sdk
      name: SDK Tooling
      paths:
        - packages/@ama-sdk/**

feat: add support to inner model path
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.mts
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.spec.ts
  packages/@ama-openapi/core/src/core/transforms/to-reference.mts
  packages/@ama-openapi/core/src/core/transforms/to-reference.spec.ts
Due: none

fix: documentation
  docs/openapi/DEPENDENCY_RESOLUTION_CONCEPT.md
  docs/openapi/EXTRACTED_MODEL_DETAILS.md
  docs/openapi/MANIFEST_CONFIGURATION.md
  docs/openapi/SHAREABLE_SPECIFICATION.md
  docs/openapi/TECHNICAL_INFORMATION.md
  docs/openapi/TRANSFORM.md
  packages/@ama-openapi/core/README.md
  packages/@ama-openapi/core/package.json
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.mts
  packages/@ama-openapi/core/tsconfig.doc.json
  yarn.lock
Due: none

feat(ama-openapi): add openapi repository starter generator
  packages/@ama-openapi/create/.gitignore
  packages/@ama-openapi/create/.npmignore
  packages/@ama-openapi/create/README.md
  packages/@ama-openapi/create/eslint.config.mjs
  packages/@ama-openapi/create/eslint.local.config.mjs
  packages/@ama-openapi/create/package.json
  packages/@ama-openapi/create/project.json
  packages/@ama-openapi/create/src/generate-template.ts
  packages/@ama-openapi/create/src/index.ts
  packages/@ama-openapi/create/templates/.gitignore.template
  packages/@ama-openapi/create/templates/.vscode/extensions.json.template
  packages/@ama-openapi/create/templates/.vscode/settings.json.template
  packages/@ama-openapi/create/templates/README.md.template
  packages/@ama-openapi/create/templates/apis/example.v1.yaml.template
  packages/@ama-openapi/create/templates/models/ExampleModel.v1.yaml.template
  packages/@ama-openapi/create/templates/openapi.manifest.yaml.template
  packages/@ama-openapi/create/templates/package.json.template
  packages/@ama-openapi/create/templates/redocly.yaml.template
  packages/@ama-openapi/create/templates/renovate.json.template
  packages/@ama-openapi/create/templates/responses/ExampleResponse.v1.yaml.template
  packages/@ama-openapi/create/testing/jest.config.it.js
  packages/@ama-openapi/create/testing/setup-jest.ts
  packages/@ama-openapi/create/tsconfig.build.json
  packages/@ama-openapi/create/tsconfig.eslint.json
  packages/@ama-openapi/create/tsconfig.json
  packages/@ama-openapi/create/tsconfig.spec.json
  yarn.lock
Due: none

fix: broken links in documentation
  docs/analytics/TRACK_EVENTS.md
  docs/localization/LOCALIZATION.md
  docs/rules-engine/how-to-use/industrialize-ruleset-generation.md
  packages/@ama-styling/style-dictionary/README.md
  packages/@o3r/core/README.md
  packages/@o3r/style-dictionary/README.md
Due: Otter Modules

ci: add missing packages in issues template
  .github/ISSUE_TEMPLATE/1-O3R-ISSUE-FORM.yaml
  .github/ISSUE_TEMPLATE/2-AMA-SDK-ISSUE-FORM.yaml
  .github/ISSUE_TEMPLATE/3-AMA-MCP-ISSUE-FORM.yaml
Due: none

chore: clear jest config for mjs files
  packages/@ama-styling/style-dictionary/testing/jest.config.ut.cjs
  packages/@ama-styling/style-dictionary/testing/mjs-resolver.cjs
  packages/@ama-styling/stylelint-plugin/testing/jest.config.ut.js
  packages/@ama-styling/stylelint-plugin/testing/mjs-resolver.cjs
  packages/@o3r/style-dictionary/testing/jest.config.ut.cjs
  packages/@o3r/style-dictionary/testing/mjs-resolver.cjs
  packages/@o3r/stylelint-plugin/testing/jest.config.ut.js
  packages/@o3r/stylelint-plugin/testing/mjs-resolver.cjs
  packages/@o3r/test-helpers/src/jest-config/base.ts
Due: Otter Modules

chore: clean unused experimental eslint config
  packages/@ama-styling/style-dictionary/eslint.local.config.mjs
  packages/@o3r/design/eslint.local.config.mjs
  packages/@o3r/style-dictionary/eslint.local.config.mjs
Due: Otter Modules

fix: wrongly generated file
  eslint.shared.config.mjs
  packages/@ama-openapi/core/.compodocrc.json
  packages/@ama-openapi/core/README.md
  packages/@ama-openapi/core/project.json
  packages/@ama-openapi/core/schemas/manifest.schema.json
  packages/@ama-openapi/core/src/constants.mts
  packages/@ama-openapi/core/src/context.mts
  packages/@ama-openapi/core/src/core/file-system/parse-file.mts
  packages/@ama-openapi/core/src/core/file-system/parse-file.spec.ts
  packages/@ama-openapi/core/src/core/file-system/relative-path.mts
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.mts
  packages/@ama-openapi/core/src/core/manifest/manifest.mts
  packages/@ama-openapi/core/src/core/process.mts
  packages/@ama-openapi/core/src/core/transforms/add-annotation.mts
  packages/@ama-openapi/core/src/core/transforms/apply-mask.mts
  packages/@ama-openapi/core/src/core/transforms/rename.mts
  packages/@ama-openapi/core/src/core/transforms/to-reference.mts
  packages/@ama-openapi/core/src/core/transforms/transform.mts
  packages/@ama-openapi/core/src/core/transforms/update-references.mts
  packages/@ama-openapi/core/tsconfig.build.json
  packages/@ama-sdk/create/ama-openapi-cli/package.json
  packages/@o3r/create/ama-openapi-cli/package.json
Due: Otter Modules, SDK Tooling

docs(ama-openapi-core): fix sentence following comments
  docs/openapi/EXTRACTED_MODEL_DETAILS.md
  docs/openapi/MANIFEST_CONFIGURATION.md
  docs/openapi/SHAREABLE_SPECIFICATION.md
  docs/openapi/TECHNICAL_INFORMATION.md
  packages/@ama-openapi/core/README.md
  packages/@ama-openapi/core/schemas/manifest.schema.json
  packages/@ama-openapi/core/schemas/transform.schema.json
  packages/@ama-openapi/core/src/core/file-system/write-model.mts
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.mts
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.spec.ts
  packages/@ama-openapi/core/src/core/manifest/manifest.mts
  packages/@ama-openapi/core/src/core/process.spec.ts
  packages/@ama-openapi/core/src/core/transforms/add-annotation.spec.ts
  packages/@ama-openapi/core/src/core/transforms/apply-mask.mts
  packages/@ama-openapi/core/src/core/transforms/to-reference.spec.ts
Due: none

chore(ama-openapi/core): split documentation
  docs/openapi/DEPENDENCY_RESOLUTION_CONCEPT.md
  docs/openapi/EXTRACTED_MODEL_DETAILS.md
  docs/openapi/MANIFEST_CONFIGURATION.md
  docs/openapi/SHAREABLE_SPECIFICATION.md
  docs/openapi/TECHNICAL_INFORMATION.md
  docs/openapi/TRANSFORM.md
  packages/@ama-openapi/core/README.md
Due: none

fix(ama-openapi/core): transform interface following demo comment
  packages/@ama-openapi/core/README.md
  packages/@ama-openapi/core/schemas/manifest.schema.json
  packages/@ama-openapi/core/schemas/transform.schema.json
  packages/@ama-openapi/core/src/core/file-system/write-model.mts
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.mts
  packages/@ama-openapi/core/src/core/manifest/manifest.mts
  packages/@ama-openapi/core/src/core/manifest/manifest.spec.ts
Due: none

feat(ama-openapi): add openapi repository starter generator
  packages/@ama-openapi/core/testing/jest.config.ut.cjs
  packages/@ama-openapi/core/testing/mjs-resolver.cjs
  packages/@ama-openapi/create/.gitignore
  packages/@ama-openapi/create/.npmignore
  packages/@ama-openapi/create/README.md
  packages/@ama-openapi/create/eslint.config.mjs
  packages/@ama-openapi/create/eslint.local.config.mjs
  packages/@ama-openapi/create/package.json
  packages/@ama-openapi/create/project.json
  packages/@ama-openapi/create/src/generate-template.ts
  packages/@ama-openapi/create/src/index.ts
  packages/@ama-openapi/create/templates/.gitignore.template
  packages/@ama-openapi/create/templates/.vscode/extensions.json.template
  packages/@ama-openapi/create/templates/.vscode/settings.json.template
  packages/@ama-openapi/create/templates/README.md.template
  packages/@ama-openapi/create/templates/apis/example.v1.yaml.template
  packages/@ama-openapi/create/templates/models/ExampleModel.v1.yaml.template
  packages/@ama-openapi/create/templates/openapi.manifest.yaml.template
  packages/@ama-openapi/create/templates/package.json.template
  packages/@ama-openapi/create/templates/redocly.yaml.template
  packages/@ama-openapi/create/templates/renovate.json.template
  packages/@ama-openapi/create/templates/responses/ExampleResponse.v1.yaml.template
  packages/@ama-openapi/create/testing/jest.config.it.js
  packages/@ama-openapi/create/testing/setup-jest.ts
  packages/@ama-openapi/create/tsconfig.build.json
  packages/@ama-openapi/create/tsconfig.eslint.json
  packages/@ama-openapi/create/tsconfig.json
  packages/@ama-openapi/create/tsconfig.spec.json
  yarn.lock
Due: none

feat(renovate): update presets to handle the weird versioning of angular-devkit/architect
  tools/renovate/base.json
  tools/renovate/branching-strategy/release-branches.json
  tools/renovate/group/angular.json
Due: none

fix: verdaccio increase timeout
  packages/@o3r/test-helpers/src/utilities/verdaccio.ts
Due: Otter Modules

chore: add option noUncheckedSideEffectImports
  tsconfig.base.json
Due: none

chore: add nx tags
  package.json
  packages/@o3r-training/showcase-sdk/project.json
  packages/@o3r-training/training-sdk/project.json
  packages/@o3r-training/training-tools/project.json
  packages/@o3r/artifactory-tools/project.json
  packages/@o3r/eslint-plugin/project.json
  packages/@o3r/new-version/project.json
  packages/@o3r/test-helpers/project.json
  packages/@o3r/workspace/project.json
Due: Otter Modules, Training modules

fix: change chat participant name + authorize built-in copilot tools
  apps/vscode-extension/package.json
  apps/vscode-extension/src/chat/index.ts
Due: Otter developer tools

feat(renovate): group all patches in a single pull-request
  tools/renovate/branching-strategy/release-branches.json
Due: none

fix: timeout is ignore on isVisible
  packages/@o3r/testing/src/core/playwright/component-fixture.ts
Due: Otter Modules

feat(#3714): linter for project json tags
  apps/showcase/project.json
  docs/linter/eslint-plugin/rules/project-json-tags.md
  eslint.local.config.mjs
  package.json
  packages/@o3r/azure-tools/project.json
  packages/@o3r/eslint-plugin/src/index.ts
  packages/@o3r/eslint-plugin/src/rules/json/project-json-tags/project-json-tags.spec.ts
  packages/@o3r/eslint-plugin/src/rules/json/project-json-tags/project-json-tags.ts
Due: Otter Modules

chore: add experimental warning for ama-openapi packages
  packages/@ama-openapi/cli/README.md
  packages/@ama-openapi/core/README.md
  packages/@ama-openapi/create/README.md
  packages/@ama-openapi/redocly-plugin/README.md
Due: none

fix: support the TS builder by Nx on MacOs
  .yarnrc.yml
  package.json
  packages/@ama-mfe/messages/package.json
  packages/@ama-sdk/client-angular/package.json
  packages/@ama-sdk/client-beacon/package.json
  packages/@ama-sdk/client-fetch/package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-styling/figma-sdk/package.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/training-sdk/package.json
  packages/@o3r-training/training-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/core/package.json
  packages/@o3r/design/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/testing/package.json
  yarn.lock
Due: Otter Modules, Training modules, SDK Tooling

fix: missing peer dependencies
  packages/@ama-mcp/angular/package.json
  packages/@ama-mcp/core/package.json
  packages/@ama-mcp/github/package.json
  packages/@ama-mcp/otter/package.json
  packages/@o3r/forms/package.json
  tools/@o3r/mcp/package.json
  yarn.lock
Due: Otter Modules

fix(chrome-devtools): broken extension at runtime
  apps/chrome-devtools/project.json
Due: Otter developer tools

feat(ama-openapi): add custom decorator for ref redirection
  docs/redocly/DECORATORS.md
  packages/@ama-openapi/core/src/logger.mts
  packages/@ama-openapi/redocly-plugin/README.md
  packages/@ama-openapi/redocly-plugin/src/plugin.mts
  packages/@ama-openapi/redocly-plugin/src/plugins/decorators/common/replace-refs/replace-refs.decorator.mts
  packages/@ama-openapi/redocly-plugin/src/plugins/decorators/common/replace-refs/replace-refs.decorator.spec.ts
  packages/@ama-openapi/redocly-plugin/src/plugins/decorators/oas3/remove-unused-components/remove-unused-components.decorator.mts
  packages/@ama-openapi/redocly-plugin/src/plugins/decorators/oas3/remove-unused-components/remove-unused-components.decorator.spec.ts
  packages/@ama-openapi/redocly-plugin/src/plugins/meta/retrieve-dependency.meta.mts
Due: none

feat(openapi): add dynamic schema
  docs/openapi/MANIFEST_CONFIGURATION.md
  eslint.local.config.mjs
  eslint.shared.config.mjs
  packages/@ama-openapi/cli/README.md
  packages/@ama-openapi/cli/src/main.mts
  packages/@ama-openapi/core/package.json
  packages/@ama-openapi/core/src/constants.mts
  packages/@ama-openapi/core/src/core/manifest/extract-dependency-models.mts
  packages/@ama-openapi/core/src/generate-schemas.mts
  packages/@ama-openapi/core/src/install-dependencies.mts
  packages/@ama-openapi/core/src/public_api.mts
  packages/@ama-openapi/core/src/schema/generate-schema.mts
  packages/@ama-openapi/core/src/schema/list-artifacts.mts
  packages/@ama-openapi/create/src/generate-template.ts
  packages/@ama-openapi/create/templates/.gitignore.template
  packages/@ama-openapi/create/templates/openapi.manifest.yaml.template
  packages/@ama-openapi/create/templates/package.json.template
  packages/@ama-openapi/create/templates/schemas/manifest.schema.json
  yarn.lock
Due: none

fix(openapi): the name of the decorator `remove-unused-components` to align on Redocly default on
  docs/openapi/DECORATORS.md
  packages/@ama-openapi/redocly-plugin/README.md
  packages/@ama-openapi/redocly-plugin/src/plugin.mts
  packages/@ama-openapi/redocly-plugin/src/plugins/decorators/oas3/remove-unused-components/remove-unused-components.decorator.mts
  packages/@ama-openapi/redocly-plugin/src/plugins/decorators/oas3/remove-unused-components/remove-unused-components.decorator.spec.ts
Due: none
