Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

codecov.yml:

codecov:
  require_ci_to_pass: true

ignore:
  # Package Manager files
  - '.yarn/**/*'
  - '.pnp.*'
  - '.cache/**/*'
  - 'tmp/**/*'
  - '**/node_modules/**/*'

  # Distribution folders
  - 'packages/@*/*/dist/**/*'
  - 'tools/@*/*/dist/**/*'
  - 'apps/@*/*/dist/**/*'

  # Generated files
  - 'packages/@o3r-training/showcase-sdk/src/api/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/models/base/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/spec/**/*'
  - 'tools/github-actions/*/packaged-action/**/*'

  # Templating files
  - '**/*.tpl'
  - '**/templates/**/*.{ts,js,cjs,mjs}'


comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: otter
      name: Otter Modules
      paths:
        - packages/@o3r/**
    - component_id: otter-tools
      name: Otter developer tools
      paths:
        - apps/chrome-devtools/**
        - apps/github-cascading-app/**
        - apps/intellij-extension/**
        - apps/vscode-extension/**
    - component_id: otter-github-actions
      name: Otter Github shared Actions
      paths:
        - tools/github-actions/**
    - component_id: training
      name: Training modules
      paths:
        - packages/@o3r-training/**
    - component_id: sdk
      name: SDK Tooling
      paths:
        - packages/@ama-sdk/**

docs: update releasing and support policy
  SECURITY.md
Due: none

fix: o3r schematics import
  packages/@o3r/schematics/schematics/ng-add/index.ts
  tools/@o3r/build-helpers/scripts/patch-package-json-main.mjs
Due: Otter Modules

feat: otter training sdk - welcome and other small fixes
  apps/showcase/src/app/sdk-intro/sdk-intro.template.html
  apps/showcase/src/assets/trainings/sdk/program.json
  apps/showcase/src/assets/trainings/sdk/steps/date-sdk-generation/instructions.md
  apps/showcase/src/assets/trainings/sdk/steps/date/instructions.md
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/exercise/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/welcome/instructions.md
  packages/@o3r-training/training-sdk/open-api.yaml
  packages/@o3r-training/training-sdk/openapitools.json
  packages/@o3r-training/training-sdk/package.json
  packages/@o3r-training/training-sdk/readme.md
  packages/@o3r-training/training-sdk/src/models/base/patterns.ts
  packages/@o3r-training/training-sdk/src/spec/api-mock.ts
  packages/@o3r-training/training-sdk/src/spec/operation-adapter.ts
Due: Training modules

chore: reduce codeCov warning
  codecov.yml
Due: none

fix: add missing devDep to schematics
  nx.json
  packages/@ama-sdk/client-angular/package.json
  packages/@ama-sdk/client-beacon/package.json
  packages/@ama-sdk/client-fetch/package.json
  packages/@ama-sdk/core/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/application/schematics/ng-add/index.ts
  packages/@o3r/components/schematics/ng-add/index.ts
  packages/@o3r/extractors/schematics/ng-add/index.ts
  packages/@o3r/localization/schematics/ng-add/index.ts
  packages/@o3r/new-version/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/schematics/src/rule-factories/dev-tools/devtools-registration.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/ng-add.helpers.ts
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/stylelint-plugin/schematics/ng-add/index.ts
  tools/github-actions/new-version/packaged-action/LICENSE.txt
  yarn.lock
Due: Otter Modules, SDK Tooling

chore: allow code cov threshold
  codecov.yml
Due: none

feat: use takeUntilDestroyed instead of subscriptions to unsubscribe
  apps/chrome-devtools/src/app-devtools/component-panel/component-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/debug-panel/debug-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/localization-panel/localization-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.component.ts
  apps/chrome-devtools/src/components/app-connection/app-connection.component.ts
  apps/chrome-devtools/src/services/connection.service.ts
  apps/chrome-devtools/src/services/localization.service.ts
  apps/showcase/src/app/app.component.ts
  apps/showcase/src/components/showcase/design-token/design-token-pres.component.ts
  apps/showcase/src/components/showcase/localization/localization-pres.component.ts
  apps/showcase/src/components/showcase/placeholder/placeholder-pres.component.ts
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.component.ts
  apps/showcase/src/components/utilities/in-page-nav/in-page-nav-pres.service.ts
  apps/showcase/src/services/webcontainer/webcontainer-runner.ts
  docs/analytics/TRACK_EVENTS.md
  docs/forms/FORM_STRUCTURE.md
  docs/forms/FORM_SUBMIT_AND_INTERCOMMUNICATION.md
  docs/forms/FORM_VALIDATION.md
  docs/routing/ROUTING.md
  packages/@o3r/analytics/src/directives/track-events/base-track-events.ts
  packages/@o3r/application/src/devkit/application-devtools.message.service.ts
  packages/@o3r/components/src/devkit/components-devtools.message.service.ts
  packages/@o3r/components/src/rules-engine/placeholder.action-handler.ts
  packages/@o3r/components/src/tools/placeholder/placeholder.component.ts
  packages/@o3r/configuration/src/devkit/configuration-devtools.message.service.ts
  packages/@o3r/localization/src/devkit/localization-devtools.message.service.ts
  packages/@o3r/mobile/src/capacitor/capacitor-target.service.ts
  packages/@o3r/rules-engine/src/devkit/rules-engine-devtools.message.service.ts
  packages/@o3r/rules-engine/src/services/runner/rules-engine.runner.service.ts
  packages/@o3r/storybook/component-wrapper/component-wrapper.component.ts
  packages/@o3r/styling/src/devkit/styling-devtools.message.service.ts
  packages/@o3r/third-party/schematics/iframe-to-component/index.spec.ts
  packages/@o3r/third-party/schematics/iframe-to-component/index.ts
Due: Otter Modules, Otter developer tools

feat(config): generate default config with readonly and as const
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres.config.ts
  packages/@o3r/components/builders/component-extractor/helpers/component/component-config.extractor.ts
  packages/@o3r/configuration/migration.json
  packages/@o3r/configuration/schematics/configuration-to-component/templates/__name__.config.ts.template
  packages/@o3r/configuration/schematics/ng-update/v11-6/index.spec.ts
  packages/@o3r/configuration/schematics/ng-update/v11-6/index.ts
Due: Otter Modules

feat(localization): generate translations with readonly and as const
  packages/@o3r/localization/migration.json
  packages/@o3r/localization/schematics/add-localization-key/index.spec.ts
  packages/@o3r/localization/schematics/add-localization-key/index.ts
  packages/@o3r/localization/schematics/localization-to-component/templates/__name__.translation.ts.template
  packages/@o3r/localization/schematics/ng-update/v11-6/index.spec.ts
  packages/@o3r/localization/schematics/ng-update/v11-6/index.ts
Due: Otter Modules

chore: update code-owners chore: harmonize dependencies
  .github/CODEOWNERS
  .yarnrc.yml
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  yarn.lock
Due: Otter Modules

update CMS schema
  packages/@o3r/application/schemas/cms.schema.json
Due: Otter Modules

feat: otter sdk training - model extension
  apps/showcase/src/assets/trainings/sdk/program.json
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/apps/tutorial-app/src/app/app.component.html
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/apps/tutorial-app/src/app/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/apps/tutorial-app/src/app/app.config.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/index.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/libs/sdk/src/models/base/flight/index.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/libs/sdk/src/models/core/flight/flight.reviver.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/libs/sdk/src/models/core/flight/flight.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/libs/sdk/src/models/core/flight/index.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/libs/sdk/src/models/core/index.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/instructions.md
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/solution/.openapi-generator-ignore
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/solution/src/models/base/flight/index.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/solution/src/models/core/flight/flight.reviver.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/solution/src/models/core/flight/flight.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/solution/src/models/core/flight/index.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/solution/src/models/core/index.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/solution/src/models/index.ts
  packages/@ama-sdk/core/src/plugins/mock-intercept/README.md
  packages/@o3r-training/training-sdk/open-api.yaml
  packages/@o3r-training/training-sdk/src/api/dummy/dummy-api.jest.fixture.ts
  packages/@o3r-training/training-sdk/src/api/dummy/dummy-api.ts
Due: Training modules, SDK Tooling

fix: do not publish training package; not needed
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/showcase-sdk/project.json
Due: Training modules

feat(devexp): highlight components by group
  apps/showcase/src/app/app.component.ts
  apps/showcase/src/services/highlight/index.ts
Due: none

fix: add private tag for nx for o3r-training/showcase-sdk package
  packages/@o3r-training/showcase-sdk/project.json
Due: Training modules

fix(ama-sdk-create): registry patch in multiple npmrc
  packages/@o3r/eslint-config-otter/migration.json
  packages/@o3r/eslint-config-otter/schematics/ng-update/index.ts
  packages/@o3r/eslint-config-otter/schematics/ng-update/v11.6/update-configs/update-configs.spec.ts
  packages/@o3r/eslint-config-otter/schematics/ng-update/v11.6/update-configs/update-configs.ts
  packages/@o3r/eslint-plugin/src/index.ts
  packages/@o3r/eslint-plugin/src/rules/yaml/yarnrc-package-extensions-harmonize/yarnrc-package-extensions-harmonize.spec.ts
  packages/@o3r/eslint-plugin/src/rules/yaml/yarnrc-package-extensions-harmonize/yarnrc-package-extensions-harmonize.ts
Due: Otter Modules

fix: mock webcontainer api and xterm for unit test
  apps/showcase/src/app/sdk-training/sdk-training.spec.ts
  apps/showcase/src/components/showcase/sdk/sdk-pres.spec.ts
  apps/showcase/src/components/training/code-editor-terminal/code-editor-terminal.component.ts
  apps/showcase/src/components/training/training.component.spec.ts
  apps/showcase/testing/mocks/webcontainer-api.mock.ts
  apps/showcase/testing/mocks/x-term.mock.ts
  apps/showcase/testing/setup-jest.ts
Due: none

fix: linter on showcase training sdk
  packages/@o3r-training/showcase-sdk/project.json
Due: Training modules

feat: otter sdk training - integration in angular
  apps/showcase/src/assets/trainings/sdk/program.json
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/exercise/app.component.html
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/exercise/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/exercise/app.config.ts
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/instructions.md
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/solution/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/solution/app.config.ts
Due: none

fix(ama-sdk-create): publish training sdk on verdaccio for it tests of ama-sdk-create
  packages/@ama-sdk/create/project.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/showcase-sdk/project.json
Due: Training modules, SDK Tooling

feat: otter training sdk - small fixes
  apps/showcase/src/assets/trainings/sdk/program.json
  apps/showcase/src/assets/trainings/sdk/steps/date-sdk-generation/exercise/open-api.yaml
  apps/showcase/src/assets/trainings/sdk/steps/date/exercise/app.component.scss
  apps/showcase/src/assets/trainings/sdk/steps/date/exercise/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/date/solution/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/libs/sdk/src/models/base/flight/index.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/libs/sdk/src/models/core/flight/flight.reviver.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/libs/sdk/src/models/core/flight/flight.ts
  apps/showcase/src/assets/trainings/sdk/steps/plugins/exercise/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/exercise/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/exercise/app.config.ts
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/solution/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/solution/app.config.ts
Due: none

chore(training): regenerate lock file
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
Due: none

fix(training): model extension mocks
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/apps/tutorial-app/src/app/app.component.html
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/apps/tutorial-app/src/app/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/apps/tutorial-app/src/app/app.config.ts
Due: none

fix(eslint): do not set files if ignores is set
  eslint.config.mjs
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.config.__extension__.template
Due: Otter Modules

feat(training): remove df dependencies to speed up the build
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
Due: none

fix(training): model extension solution not loaded
  apps/showcase/src/assets/trainings/sdk/program.json
Due: none

feat(training): stop propagation of save event on the editor
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
Due: none

feat: rely on Nx Parallel env var docs: add developers explanation
  CONTRIBUTING.md
  package.json
Due: none

feat(training): file navigation inside code editor
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/training.component.ts
  apps/showcase/src/helpers/monaco-tree.helper.ts
  apps/showcase/src/services/webcontainer/webcontainer.helpers.ts
  apps/showcase/src/services/webcontainer/webcontainer.service.ts
Due: none

ci: check releases
  .github/check-release-issue-template.md
  .github/workflows/audit.yml
  .github/workflows/check-all-releases.yml
  .github/workflows/check-release.yml
  .github/workflows/it-tests.yml
Due: none

chore: deprecate outdate java-sdk generator
  packages/@ama-sdk/schematics/collection.json
  packages/@ama-sdk/schematics/schematics/code-generator/swagger-java-generator/swagger-java.generator.ts
  packages/@ama-sdk/schematics/schematics/java/client-core/index.ts
  packages/@ama-sdk/schematics/schematics/java/client-core/swagger-codegen-java-client/README.md
Due: SDK Tooling

chore: update broken links on eslint documentation
  migration-guides/ESLINT_FLAT_CONFIG.md
Due: none

chore: update screenshots
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/package.json
  apps/showcase/project.json
  tools/github-actions/new-version/packaged-action/LICENSE.txt
  yarn.lock
Due: none

Update migration-guides/ESLINT_FLAT_CONFIG.md
  migration-guides/ESLINT_FLAT_CONFIG.md
Due: none

fix: add search exclusion and TS options
  .vscode/settings.json
Due: none

fix: repair build and fix design
  apps/showcase/src/components/training/training-step/training-step-pres.component.html
  yarn.lock
Due: none

feat(training): file navigation inside code editor
  apps/showcase/package.json
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/training.component.ts
  apps/showcase/src/helpers/monaco-tree.helper.ts
  apps/showcase/src/services/webcontainer/webcontainer-runner.ts
  apps/showcase/src/services/webcontainer/webcontainer.helpers.ts
  apps/showcase/src/services/webcontainer/webcontainer.service.ts
  package.json
  yarn.lock
Due: none
