Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

codecov.yml:

codecov:
  require_ci_to_pass: true

ignore:
  # Package Manager files
  - '.yarn/**/*'
  - '.pnp.*'
  - '.cache/**/*'
  - 'tmp/**/*'
  - '**/node_modules/**/*'

  # Distribution folders
  - 'packages/@*/*/dist/**/*'
  - 'tools/@*/*/dist/**/*'
  - 'apps/@*/*/dist/**/*'

  # Generated files
  - 'packages/@o3r-training/showcase-sdk/src/api/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/models/base/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/spec/**/*'
  - 'tools/github-actions/*/packaged-action/**/*'

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: otter
      name: Otter Modules
      paths:
        - packages/@o3r/**
    - component_id: otter-tools
      name: Otter developer tools
      paths:
        - apps/chrome-devtools/**
        - apps/github-cascading-app/**
        - apps/intellij-extension/**
        - apps/vscode-extension/**
    - component_id: otter-github-actions
      name: Otter Github shared Actions
      paths:
        - tools/github-actions/**
    - component_id: training
      name: Training modules
      paths:
        - packages/@o3r-training/**
    - component_id: sdk
      name: SDK Tooling
      paths:
        - packages/@ama-sdk/**

fix: temporarily disable o3r create e2e to unblock release
  packages/@o3r/create/src/index.it.spec.ts
Due: Otter Modules

fix(rules-engine): debug perfs linked to fact snapshots
  packages/@o3r/rules-engine/src/engine/debug/engine.debug.ts
Due: Otter Modules

feat: add node compile cache to build process
  .github/workflows/main.yml
Due: none

chore(ama-sdk-schematics): ignore coverage for generated files
  apps/showcase/testing/jest.config.ut.js
  codecov.yml
  packages/@ama-sdk/schematics/migration.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/ng-update/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.3/coverage-ignore.spec.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.3/coverage-ignore.ts
  packages/@ama-sdk/schematics/testing/mocks/jest-config/mock.jest.config.js
  packages/@ama-sdk/schematics/testing/mocks/jest-config/result.jest.config.js
  packages/@o3r-training/showcase-sdk/testing/jest.config.ut.js
  packages/@o3r-training/training-sdk/testing/jest.config.ut.js
  yarn.lock
Due: Training modules, SDK Tooling

fix: remove unused code for sdk generation
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/configs/tsconfig.test.json
  packages/@o3r/workspace/schematics/sdk/rules/clean-standalone.rule.ts
Due: Otter Modules, SDK Tooling

chore: add mcp default config for NX suggestion
  .gitignore
  .vscode/mcp.json
Due: none

fix(eslint): correct the import when adding mjs eslint config
  packages/@o3r/eslint-config/schematics/ng-add/eslint/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/project/eslint.local.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.local.config.__extension__.template
Due: Otter Modules

test: add wrong peerDep
  packages/@o3r/core/package.json
  yarn.lock
Due: Otter Modules

test: add wrong peerDep
  .github/workflows/main.yml
  apps/chrome-devtools/package.json
  package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r/components/package.json
  packages/@o3r/core/package.json
  packages/@o3r/design/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/style-dictionary/package.json
  packages/@o3r/styling/package.json
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/src/main.ts
  yarn.lock
Due: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

fix(core): schematic import
  packages/@o3r/core/schematics/convert-component/schema.ts
Due: Otter Modules

fix: yarn warning reporting
  .github/workflows/main.yml
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/src/main.ts
Due: Otter Github shared Actions

chore: test impact of jest on e2e
  packages/@o3r/eslint-config-otter/schematics/ng-add/index.ts
Due: Otter Modules

chore: align deps
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Due: Otter Modules, SDK Tooling

feature: testing generator starts local server for pw
  packages/@o3r/testing/schematics/ng-add/playwright/index.ts
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/playwright-config.ts.template
Due: Otter Modules

fix: export C11nDirective in C11nModule to avoid breaking change (#3162)
  packages/@o3r/components/src/tools/component-replacement/c11n.module.ts
Due: Otter Modules

fix: build
  packages/@ama-sdk/client-angular/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/apis-manager/schematics/ng-add/index.ts
  packages/@o3r/application/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/rule-factories/store/index.ts
  packages/@o3r/create/src/index.ts
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-config-otter/schematics/ng-add/index.ts
  packages/@o3r/eslint-config/package.json
  packages/@o3r/eslint-config/schematics/ng-add/index.spec.ts
  packages/@o3r/logger/schematics/ng-add/index.ts
  packages/@o3r/mobile/schematics/ng-add/index.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/dependencies.spec.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/dependencies.ts
  packages/@o3r/schematics/src/utility/dependencies.spec.ts
  packages/@o3r/schematics/src/utility/dependencies.ts
  packages/@o3r/store-sync/package.json
  packages/@o3r/store-sync/schematics/ng-add/index.ts
  packages/@o3r/styling/schematics/ng-add/index.ts
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  yarn.lock
Due: Otter Modules, SDK Tooling

chore: align dependencies
  .yarn/sdks/eslint/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Due: Otter Modules

fix(renovate): typescript grouping including eslint dependency
  tools/renovate/group/typescript.json
Due: none

ci: fix logs in update e2e screenshots
  tools/github-actions/create-branch-e2e-screenshots/action.yml
  tools/github-actions/update-e2e-screenshots/action.yml
Due: Otter Github shared Actions

fix: broken links in forms documentation
  docs/forms/FORM_STRUCTURE.md
  docs/forms/FORM_VALIDATION.md
  docs/forms/README.md
Due: none

fix: do not start server for pw in int tests
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/playwright-config.ts.template
Due: Otter Modules

fix: com protocol resize triggered when a significant height change
  packages/@ama-mfe/ng-utils/src/resize/resize.producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/resize/resize.producer.service.ts
Due: none

fix: cross os relative paths
  packages/@o3r/analytics/schematics/index.it.spec.ts
  packages/@o3r/apis-manager/schematics/index.it.spec.ts
  packages/@o3r/components/schematics/index.it.spec.ts
  packages/@o3r/configuration/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/design/schematics/index.it.spec.ts
  packages/@o3r/eslint-config-otter/schematics/index.it.spec.ts
  packages/@o3r/eslint-config/schematics/index.it.spec.ts
  packages/@o3r/extractors/schematics/index.it.spec.ts
  packages/@o3r/localization/schematics/index.it.spec.ts
  packages/@o3r/pipeline/schematics/index.it.spec.ts
  packages/@o3r/rules-engine/schematics/index.it.spec.ts
  packages/@o3r/stylelint-plugin/schematics/index.it.spec.ts
  packages/@o3r/styling/schematics/index.it.spec.ts
  packages/@o3r/testing/schematics/index.it.spec.ts
  packages/@o3r/third-party/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/index.it.spec.ts
Due: Otter Modules

ci(e2e-screenshots): add warning when facing issues with reports
  tools/github-actions/update-e2e-screenshots/action.yml
Due: Otter Github shared Actions

chore(ama-sdk-schematics): ignore coverage for generated files
  apps/showcase/testing/jest.config.ut.js
  codecov.yml
  packages/@ama-sdk/schematics/migration.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/ng-update/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.3/coverage-ignore.spec.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.3/coverage-ignore.ts
  packages/@ama-sdk/schematics/testing/mocks/jest-config/mock.jest.config.js
  packages/@ama-sdk/schematics/testing/mocks/jest-config/result.jest.config.js
  packages/@o3r-training/showcase-sdk/testing/jest.config.ut.js
  packages/@o3r-training/training-sdk/testing/jest.config.ut.js
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  yarn.lock
Due: Otter Modules, Training modules, SDK Tooling

ci(codecov): change flag informational to true
  codecov.yml
Due: none

feat: add o3r prefix to generators
  packages/@ama-sdk/schematics/collection.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/analytics/collection.json
  packages/@o3r/configuration/collection.json
  packages/@o3r/core/collection.json
  packages/@o3r/core/package.json
  packages/@o3r/design/collection.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/localization/collection.json
  packages/@o3r/rules-engine/collection.json
  packages/@o3r/styling/collection.json
  packages/@o3r/testing/collection.json
  packages/@o3r/third-party/collection.json
  packages/@o3r/workspace/collection.json
Due: Otter Modules, SDK Tooling
