Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

chore: update major deps for o3r 12
  .yarnrc.yml
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  apps/vscode-extension/package.json
  package.json
  packages/@ama-sdk/client-angular/package.json
  packages/@ama-sdk/client-beacon/package.json
  packages/@ama-sdk/client-fetch/package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/storybook/package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  yarn.lock
Due: Otter Modules, Otter developer tools, Training modules, SDK Tooling

fix: ignore nx links as invalid links
  .github/markdown-external-links.config.json
Due: none

chore: increase number of nx parallel task for build
  .github/workflows/main.yml
Due: none

feat: add NX_PARALLEL environment variable
  .github/workflows/code-check.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  .github/workflows/main.yml
Due: none

feat(training): file navigation inside code editor
  apps/showcase/package.json
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/training.component.ts
  apps/showcase/src/helpers/monaco-tree.helper.ts
  apps/showcase/src/services/webcontainer/webcontainer-runner.ts
  apps/showcase/src/services/webcontainer/webcontainer.helpers.ts
  apps/showcase/src/services/webcontainer/webcontainer.service.ts
  package.json
  yarn.lock
Due: none

feat(training): persistence of code modifications
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/save-code-dialog/index.ts
  apps/showcase/src/components/training/save-code-dialog/save-code-dialog.component.spec.ts
  apps/showcase/src/components/training/save-code-dialog/save-code-dialog.component.ts
Due: none

fix: vscode watcher issue with ts upgrade chore: align dependencies
  .vscode/settings.json
Due: none

fix(ama-sdk-create): publish training sdk on verdaccio for it tests of ama-sdk-create
  packages/@ama-sdk/create/project.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/showcase-sdk/project.json
Due: Training modules, SDK Tooling

fix: remove pattern for ref property in localization.metadata.schema.json
  packages/@o3r/localization/schemas/localization.metadata.schema.json
Due: Otter Modules

fix: remove duplicate publish due to cascading
  packages/@o3r-training/showcase-sdk/project.json
Due: Training modules

chore: remove reference in pom.xml version
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/pom.xml
  tools/github-actions/new-version/packaged-action/LICENSE.txt
Due: SDK Tooling

test(training): visual testing for training steps
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
  apps/showcase/e2e-playwright/sanity/visual-sanity.e2e.ts
  apps/showcase/src/app/app.fixture.ts
  apps/showcase/src/components/training/training.component.html
  apps/showcase/src/components/training/training.fixture.ts
Due: none

fix(tools): path to release script
  tools/github-actions/release/action.yml
Due: Otter Github shared Actions

chore: add codeowners for CMS specifications chore: add /bin folder to gitignore
  .github/CODEOWNERS
  .gitignore
Due: none

fix: base code navigation on webcontainer instead of project initial value
  apps/showcase/schemas/training-program.schema.json
  apps/showcase/src/assets/trainings/sdk/program.json
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.spec.ts
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/training.component.ts
  apps/showcase/src/services/webcontainer/webcontainer.service.ts
  apps/showcase/testing/mocks/webcontainer-api.mock.ts
Due: none

fix: improve performance of styling extractor
  package.json
  packages/@o3r/styling/builders/style-extractor/helpers/css-variable.extractor.ts
  packages/@o3r/styling/builders/style-extractor/index.ts
  packages/@o3r/styling/package.json
  yarn.lock
Due: Otter Modules

feat(design): explode complex types
  .vscode/settings.json
  packages/@o3r/design/README.md
  packages/@o3r/design/schemas/design-token.schema.json
  packages/@o3r/design/src/core/design-token/design-token-specification.interface.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.spec.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
  packages/@o3r/design/testing/mocks/design-token-theme.json
Due: Otter Modules

chore(eslint-plugin): rely on base template parser instead of angular one
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/eslint-plugin/src/rules/template/no-inner-html/no-inner-html.spec.ts
  packages/@o3r/eslint-plugin/src/rules/template/template-async-number-limitation/template-async-number-limitation.spec.ts
  tools/github-actions/new-version/packaged-action/LICENSE.txt
  yarn.lock
Due: Otter Modules

feat(training): persistence of code modifications
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.scss
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/save-code-dialog/index.ts
  apps/showcase/src/components/training/save-code-dialog/save-code-dialog.component.spec.ts
  apps/showcase/src/components/training/save-code-dialog/save-code-dialog.component.ts
  apps/showcase/src/components/training/save-code-dialog/save-code-dialog.template.html
  apps/showcase/src/components/training/training-step/training-step-pres.component.html
Due: none

feat(design): add description to the exploded tokens
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
Due: Otter Modules

fix: jest.config.ut.js not processing array in tsconfig paths correctly
  jest.config.ut.js
  packages/@o3r/testing/schematics/ng-add/templates/workspace/jest.config.ut.js.template
Due: Otter Modules

fix: add missing dev dependency
  apps/chrome-devtools/package.json
  apps/github-cascading-app/package.json
  yarn.lock
Due: Otter developer tools

fix: the tsconfig spec generated for library contains several issues
  packages/@o3r/test-helpers/src/utilities/package-manager.ts
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/library/index.spec.ts
  packages/@o3r/workspace/schematics/library/rules/rules.ng.ts
  packages/@o3r/workspace/schematics/library/rules/rules.nx.ts
  packages/@o3r/workspace/schematics/library/rules/shared.ts
  packages/@o3r/workspace/schematics/library/templates/jest/jest.config.js.template
  packages/@o3r/workspace/schematics/library/templates/jest/testing/setup-jest.ts.template
  packages/@o3r/workspace/schematics/library/templates/ng/tsconfig.spec.json.template
  packages/@o3r/workspace/schematics/library/templates/nx/jest.config.js.template
  packages/@o3r/workspace/schematics/library/templates/nx/testing/setup-jest.ts.template
  packages/@o3r/workspace/schematics/ng-add/helpers/npm-workspace.ts
  tools/github-actions/new-version/packaged-action/LICENSE.txt
Due: Otter Modules

fix: jsonpath-plus audit update
  package.json
  packages/@o3r/components/package.json
  packages/@o3r/rules-engine/package.json
  yarn.lock
Due: Otter Modules

fix(core): add support for "null" type
  packages/@o3r/core/src/utils/deep-fill/deep-fill.spec.ts
  packages/@o3r/core/src/utils/deep-fill/deep-fill.ts
Due: Otter Modules

fix: reset actions emitted when no rulesets remains activated
  packages/@o3r/rules-engine/src/engine/helpers/filter-ruleset-event.operator.spec.ts
  packages/@o3r/rules-engine/src/engine/helpers/filter-ruleset-event.operator.ts
  packages/@o3r/rules-engine/src/services/runner/rules-engine.runner.service.spec.ts
Due: Otter Modules

fix: linter issue with typescript-eslint 8.18
  packages/@o3r/core/builders/lib-build/index.ts
  packages/@o3r/core/builders/run-script/index.ts
Due: Otter Modules

Update packages/@o3r/test-helpers/src/utilities/package-manager.ts
  packages/@o3r/test-helpers/src/utilities/package-manager.ts
Due: Otter Modules

Update packages/@o3r/workspace/schematics/library/rules/rules.ng.ts
  packages/@o3r/workspace/schematics/library/rules/rules.ng.ts
Due: Otter Modules

chore: add auto generated yarn ignored files
  .vscode/settings.json
Due: none

Path conditions:
  Otter Modules: any of: packages/@o3r/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter developer tools: any of: apps/chrome-devtools/**, apps/github-cascading-app/**, apps/intellij-extension/**, apps/vscode-extension/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter Github shared Actions: any of: tools/github-actions/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Training modules: any of: packages/@o3r-training/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  SDK Tooling: any of: packages/@ama-sdk/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
