Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

codecov.yml:

codecov:
  require_ci_to_pass: true
  max_report_age: off

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 5%
        informational: true

    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
      target: auto
      threshold: 5%
      informational: true

    project:
      default:
        target: auto
        threshold: 5%
        base: auto
        if_ci_failed: error
        informational: true

ignore:
  # Package Manager files
  - '.yarn'
  - '.pnp.*'
  - '.cache'
  - 'tmp'
  - '**/node_modules'

  # Distribution folders
  - 'packages/@*/*/dist'
  - 'tools/@*/*/dist'
  - 'apps/@*/*/dist'

  # builder cache folders
  - 'packages/@*/*/build'
  - 'tools/@*/*/build'
  - 'apps/@*/*/build'

  # Generated files
  - 'tools/github-actions/*/packaged-action'

  # Templates
  - '**/*.template'
  - '**/schematics/**/templates'

  # Tests
  - '**/dist-test'
  - '**/dist-e2e-playwright'
  - '**/playwright-reports'
  - '**/test-results'

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: otter
      name: Otter Modules
      paths:
        - packages/@o3r/**
    - component_id: otter-tools
      name: Otter developer tools
      paths:
        - apps/chrome-devtools/**
        - apps/github-cascading-app/**
        - apps/intellij-extension/**
        - apps/vscode-extension/**
        - apps/palette-generator/**
    - component_id: otter-github-actions
      name: Otter Github shared Actions
      paths:
        - tools/github-actions/**
    - component_id: training
      name: Training modules
      paths:
        - packages/@o3r-training/**
    - component_id: sdk
      name: SDK Tooling
      paths:
        - packages/@ama-sdk/**

feat(showcase): add experimental WebMCP tools integration
  apps/showcase/src/app/app.config.ts
  apps/showcase/src/app/app.routes.ts
  apps/showcase/src/app/app.webmcp.ts
  apps/showcase/src/app/forms/forms.webmcp.ts
  apps/showcase/src/app/sdk/sdk.webmcp.ts
Due: none

feat: add WebMCP infrastructure for local AI agent testing
  apps/webmcp-bridge/README.md
  apps/webmcp-bridge/eslint.config.mjs
  apps/webmcp-bridge/eslint.local.config.mjs
  apps/webmcp-bridge/package.json
  apps/webmcp-bridge/project.json
  apps/webmcp-bridge/src/index.ts
  apps/webmcp-bridge/tsconfig.json
  mcps/@ama-mcp/webmcp/README.md
  mcps/@ama-mcp/webmcp/eslint.config.mjs
  mcps/@ama-mcp/webmcp/eslint.local.config.mjs
  mcps/@ama-mcp/webmcp/package.json
  mcps/@ama-mcp/webmcp/project.json
  mcps/@ama-mcp/webmcp/src/index.ts
  mcps/@ama-mcp/webmcp/tsconfig.build.json
  mcps/@ama-mcp/webmcp/tsconfig.json
  packages/@o3r/core/package.json
  packages/@o3r/core/src/core/index.ts
  packages/@o3r/core/src/core/webmcp/index.ts
  packages/@o3r/core/src/core/webmcp/webmcp-bridge.provider.ts
  packages/@o3r/core/tsconfig.build.json
  packages/@o3r/core/tsconfig.spec.json
  yarn.lock
Due: Otter Modules

refactor(core): cache WebMCP tools to avoid redundant getTools() on each call
  packages/@o3r/core/src/core/webmcp/webmcp-bridge.provider.ts
Due: Otter Modules

feat(showcase): integrate WebMCP tools for AI agent testing
  apps/showcase/package.json
  apps/showcase/src/app/app.config.ts
  apps/showcase/src/app/app.routes.ts
  apps/showcase/src/app/app.webmcp.ts
  apps/showcase/src/app/forms/forms.webmcp.ts
  apps/showcase/src/app/sdk/sdk.webmcp.ts
  apps/showcase/src/components/utilities/forms-personal-info/forms-personal-info-pres.html
  apps/showcase/tsconfig.app.json
  yarn.lock
Due: none

refactor(showcase): migrate forms to Angular Signal Forms API
  apps/showcase/src/components/showcase/basic/basic-pres.html
  apps/showcase/src/components/showcase/basic/basic-pres.ts
  apps/showcase/src/components/showcase/configuration/configuration-pres.html
  apps/showcase/src/components/showcase/configuration/configuration-pres.ts
  apps/showcase/src/components/showcase/design-token/design-token-pres.html
  apps/showcase/src/components/showcase/design-token/design-token-pres.ts
  apps/showcase/src/components/showcase/dynamic-content/dynamic-content-pres.html
  apps/showcase/src/components/showcase/dynamic-content/dynamic-content-pres.ts
  apps/showcase/src/components/showcase/forms-parent/forms-parent.html
  apps/showcase/src/components/showcase/forms-parent/forms-parent.spec.ts
  apps/showcase/src/components/showcase/forms-parent/forms-parent.ts
  apps/showcase/src/components/showcase/localization/localization-pres.html
  apps/showcase/src/components/showcase/localization/localization-pres.ts
  apps/showcase/src/components/showcase/placeholder/placeholder-pres.html
  apps/showcase/src/components/showcase/placeholder/placeholder-pres.ts
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.html
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.ts
  apps/showcase/src/components/training/code-editor-view/code-editor-view.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.ts
  apps/showcase/src/components/utilities/forms-emergency-contact/forms-emergency-contact-pres.html
  apps/showcase/src/components/utilities/forms-emergency-contact/forms-emergency-contact-pres.spec.ts
  apps/showcase/src/components/utilities/forms-emergency-contact/forms-emergency-contact-pres.ts
  apps/showcase/src/components/utilities/forms-personal-info/forms-personal-info-pres.html
  apps/showcase/src/components/utilities/forms-personal-info/forms-personal-info-pres.spec.ts
  apps/showcase/src/components/utilities/forms-personal-info/forms-personal-info-pres.ts
  apps/showcase/src/components/utilities/otter-picker/otter-picker-pres.html
  apps/showcase/src/components/utilities/otter-picker/otter-picker-pres.ts
Due: none

feat(apis-manager): allow API instantiation without cache
  packages/@o3r/apis-manager/src/apis-manager/api-factory-service.spec.ts
  packages/@o3r/apis-manager/src/apis-manager/api-factory-service.ts
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
Due: Otter Modules, Otter Github shared Actions

fix: unlock ngrx peer dep
  .agents/advanced.md
  AGENTS.md
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/transloco/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Due: Otter Modules, Otter developer tools

feat: upgrade migration agent with sdk regen part
  collections/otter.collection.yml
  tools/llm/plugins/otter/README.md
  tools/llm/plugins/otter/agents/otter-migration.agent.md
Due: none

chore: upgrade unmatching peer dependencies
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  mcps/@ama-sdk/mcp/package.json
  mcps/@ama-styling/mcp/package.json
  mcps/@o3r/mcp/package.json
  package.json
  packages/@ama-mcp/angular/package.json
  packages/@ama-mcp/core/package.json
  packages/@ama-mcp/github/package.json
  packages/@ama-mcp/otter/package.json
  packages/@ama-openapi/cli/package.json
  packages/@ama-openapi/core/package.json
  packages/@ama-openapi/redocly-plugin/package.json
  packages/@ama-styling/devkit/package.json
  packages/@ama-styling/style-dictionary/package.json
  packages/@ama-styling/stylelint-plugin/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/transloco/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Due: Otter Modules, Otter developer tools

feat: add renovate preset for generator deps
  migration-guides/15.2.agent.md
  migration-guides/15.2.md
  tools/llm/plugins/otter/agents/otter-migration.agent.md
  tools/renovate/base.json
  tools/renovate/managers/otter-generator-dependencies.json5
  tools/renovate/managers/renovate-otter-presets.json5
Due: none

fix: update supported versions
  SECURITY.md
Due: none

fix: add @types/jsdom dev dep to fix warnings
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  package.json
  packages/@ama-mcp/core/package.json
  packages/@ama-mfe/ng-utils/package.json
  packages/@ama-styling/devkit/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/transloco/package.json
  packages/@o3r/workspace/package.json
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  yarn.lock
Due: Otter Modules, Otter developer tools, Otter Github shared Actions

feat: update sdk-training to otter v15
  apps/showcase/package.json
  apps/showcase/scripts/copy-training-assets/index.cjs
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
  package.json
  yarn.lock
Due: none

fix: middlewares of configuration and dynamic-content
  packages/@o3r/configuration/middlewares/bootstrap-config-middleware.ts
  packages/@o3r/dynamic-content/middlewares/parameter-extractor-middleware.ts
Due: Otter Modules

chore: upgrade unmatching peer dependencies
  apps/showcase/package.json
  mcps/@ama-sdk/mcp/package.json
  mcps/@ama-styling/mcp/package.json
  mcps/@o3r/mcp/package.json
  package.json
  packages/@ama-mcp/angular/package.json
  packages/@ama-mcp/github/package.json
  packages/@ama-mcp/otter/package.json
  packages/@ama-openapi/cli/package.json
  packages/@ama-openapi/core/package.json
  packages/@ama-openapi/redocly-plugin/package.json
  packages/@ama-styling/style-dictionary/package.json
  packages/@ama-styling/stylelint-plugin/package.json
  packages/@o3r/core/package.json
  yarn.lock
Due: Otter Modules

fix: application builds
  apps/vscode-extension/package.json
  yarn.lock
Due: Otter developer tools

fix: install warnings for localization and transloco
  packages/@o3r/localization/package.json
  packages/@o3r/transloco/package.json
  yarn.lock
Due: Otter Modules

chore: removed optimization for Showcase and DevTools
  apps/chrome-devtools/project.json
  apps/showcase/project.json
Due: Otter developer tools

fix: broken unit tests
  apps/showcase/src/app/rules-engine/rules-engine.spec.ts
  apps/showcase/testing/mocks/webcontainer-api.mock.ts
  apps/showcase/testing/mocks/x-term.mock.ts
  apps/showcase/testing/setup-vitest.ts
  package.json
  packages/@ama-mfe/ng-utils/project.json
  packages/@ama-mfe/ng-utils/src/connect/connect-providers.spec.ts
  packages/@ama-mfe/ng-utils/src/history/history-providers.spec.ts
  packages/@ama-mfe/ng-utils/testing/jest.config.schematics.js
  packages/@ama-mfe/ng-utils/testing/setup-jest.schematics.ts
  packages/@ama-mfe/ng-utils/vitest.config.ts
  packages/@ama-sdk/schematics/project.json
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.3/coverage-ignore.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/helpers/copy-referenced-files.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.spec.ts
  packages/@ama-sdk/schematics/testing/jest.config.schematics.js
  packages/@ama-sdk/schematics/testing/setup-jest.schematics.ts
  packages/@ama-sdk/schematics/vitest.config.ts
  tools/github-actions/yarn-errors-reporter/vitest.config.ts
Due: Otter Github shared Actions, SDK Tooling

chore: lock version magic-string and upgrade showcase bundle quota
  .gitignore
  .yarn/patches/magic-string-npm-0.30.21-9a226cb21e.patch
  apps/showcase/project.json
  package.json
  yarn.lock
Due: none

chore: fix comment
  packages/@o3r/configuration/tsconfig.eslint.json
  packages/@o3r/logger/tsconfig.json
  packages/@o3r/logger/tsconfig.spec.json
Due: Otter Modules

fix: mapping of internal dependency
  vitest.config.ts
Due: none

fix: github-action package build
  tools/github-actions/new-version/package.json
  tools/github-actions/new-version/tsconfig.build.composite.json
  tools/github-actions/new-version/tsconfig.build.json
  tools/github-actions/new-version/tsconfig.json
Due: Otter Github shared Actions

test(test-helpers): share it-test environment per spec file
  eslint.shared.config.mjs
  packages/@ama-sdk/schematics/cli/update-sdk-genai-context.it.spec.ts
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/components/builders/metadata-check/component/index.it.spec.ts
  packages/@o3r/components/builders/metadata-check/config/index.it.spec.ts
  packages/@o3r/core/package.json
  packages/@o3r/localization/builders/metadata-check/index.it.spec.ts
  packages/@o3r/rules-engine/builders/metadata-check/index.it.spec.ts
  packages/@o3r/test-helpers/src/index.spec.ts
  packages/@o3r/test-helpers/src/jest-environment/index.spec.ts
  packages/@o3r/test-helpers/src/jest-environment/index.ts
  packages/@o3r/transloco/builders/metadata-check/index.it.spec.ts
Due: Otter Modules, SDK Tooling

test(test-helpers): clone template node_modules instead of npm ci in it-tests
  packages/@o3r/test-helpers/src/prepare-test-env.ts
  packages/@o3r/test-helpers/src/utilities/clone-node-modules.spec.ts
  packages/@o3r/test-helpers/src/utilities/clone-node-modules.ts
  packages/@o3r/test-helpers/src/utilities/index.ts
Due: Otter Modules

Potential fix for pull request finding 'CodeQL / Incomplete string escaping or encoding'
  vitest.config.ts
Due: none

fix: workaround for yanrpkg/core to fix IT tests
  packages/@o3r/components/builders/metadata-check/component/index.it.spec.ts
  packages/@o3r/components/builders/metadata-check/config/index.it.spec.ts
  packages/@o3r/components/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/create/src/index.ts
  packages/@o3r/extractors/builders/aggregate-migration-scripts/index.it.spec.ts
  packages/@o3r/extractors/schematics/index.it.spec.ts
  packages/@o3r/localization/builders/metadata-check/index.it.spec.ts
  packages/@o3r/localization/schematics/index.it.spec.ts
  packages/@o3r/rules-engine/builders/metadata-check/index.it.spec.ts
  packages/@o3r/rules-engine/schematics/index.it.spec.ts
  packages/@o3r/test-helpers/src/utilities/add-package.ts
  packages/@o3r/transloco/builders/metadata-check/index.it.spec.ts
  packages/@o3r/transloco/schematics/index.it.spec.ts
Due: Otter Modules

fix: tentative for it tests fix
  packages/@o3r/eslint-config/package.json
  packages/@o3r/workspace/package.json
  packages/@o3r/workspace/schematics/application/index.ts
  packages/@o3r/workspace/schematics/library/rules/rules-ng.ts
  packages/@o3r/workspace/schematics/rule-factories/index.ts
  packages/@o3r/workspace/schematics/rule-factories/vite-peer.spec.ts
  packages/@o3r/workspace/schematics/rule-factories/vite-peer.ts
  yarn.lock
Due: Otter Modules

fix: vite as devdep in generated apps/libs; needed for vitest new version
  packages/@o3r/eslint-config/package.json
  packages/@o3r/workspace/package.json
  packages/@o3r/workspace/schematics/application/index.ts
  packages/@o3r/workspace/schematics/library/rules/rules-ng.ts
  packages/@o3r/workspace/schematics/rule-factories/index.ts
  packages/@o3r/workspace/schematics/rule-factories/vite-peer.spec.ts
  packages/@o3r/workspace/schematics/rule-factories/vite-peer.ts
  yarn.lock
Due: Otter Modules

fix: comments
  apps/chrome-devtools/package.json
  apps/github-cascading-app/src/cascading/cascading.spec.ts
  vitest.config.ts
Due: Otter developer tools

fix: audit critical - shell-quote and proxy-addr
  yarn.lock
Due: none

fix: audit critical - handlebars and shell-quote
  yarn.lock
Due: none
