Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

codecov.yml:

codecov:
  require_ci_to_pass: true

ignore:
  # Package Manager files
  - '.yarn/**/*'
  - '.pnp.*'
  - '.cache/**/*'
  - 'tmp/**/*'
  - '**/node_modules/**/*'

  # Distribution folders
  - 'packages/@*/*/dist/**/*'
  - 'tools/@*/*/dist/**/*'
  - 'apps/@*/*/dist/**/*'

  # Generated files
  - 'packages/@o3r-training/showcase-sdk/src/api/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/models/base/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/spec/**/*'
  - 'tools/github-actions/*/packaged-action/**/*'

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: otter
      name: Otter Modules
      paths:
        - packages/@o3r/**
    - component_id: otter-tools
      name: Otter developer tools
      paths:
        - apps/chrome-devtools/**
        - apps/github-cascading-app/**
        - apps/intellij-extension/**
        - apps/vscode-extension/**
    - component_id: otter-github-actions
      name: Otter Github shared Actions
      paths:
        - tools/github-actions/**
    - component_id: training
      name: Training modules
      paths:
        - packages/@o3r-training/**
    - component_id: sdk
      name: SDK Tooling
      paths:
        - packages/@ama-sdk/**

chore: fix linter issues
  packages/@ama-mfe/ng-utils/src/managers/producer.manager.service.ts
  packages/@ama-sdk/client-fetch/src/api-fetch-client.ts
  packages/@ama-sdk/swagger-builder/src/helpers/build.ts
  packages/@o3r/rules-engine/src/services/runner/rules-engine.runner.service.ts
Due: Otter Modules, SDK Tooling

feat(mcp): use gh api to prefilter repos
  apps/vscode-extension/package.json
  apps/vscode-extension/src/mcp/index.ts
  tools/@o3r/mcp/src/index.spec.ts
  tools/@o3r/mcp/src/tools/find-repositories-using-otter.ts
  tools/@o3r/workspace-helpers/scripts/create-monorepo-scope.mjs
Due: Otter developer tools

fix: rely on channel id to identify message origin
  packages/@ama-mfe/ng-utils/src/navigation/route-memorize/route-memorize.directive.spec.ts
  packages/@ama-mfe/ng-utils/src/navigation/route-memorize/route-memorize.directive.ts
Due: none

fix: o3r schematics is not compatible with version required
  packages/@o3r/create/src/index.ts
Due: Otter Modules

feat(vscode-ext): use local mcp server when debugging vscode extension
  .vscode/launch.json
  apps/vscode-extension/src/mcp/index.ts
Due: Otter developer tools

feat(mcp): handle cache expiration
  apps/vscode-extension/package.json
  apps/vscode-extension/src/mcp/index.ts
  tools/@o3r/mcp/src/index.spec.ts
  tools/@o3r/mcp/src/tools/find-repositories-using-otter.ts
Due: Otter developer tools

feat(mcp): resources for release notes
  tools/@o3r/mcp/src/best-practices/index.ts
  tools/@o3r/mcp/src/index.spec.ts
  tools/@o3r/mcp/src/instructions/best-practices.ts
  tools/@o3r/mcp/src/mcp-server.ts
  tools/@o3r/mcp/src/release-notes/index.ts
  tools/@o3r/mcp/src/tools/best-practices.ts
  tools/@o3r/mcp/src/tools/find-repositories-using-otter.ts
  tools/@o3r/mcp/src/tools/supported-releases.ts
  tools/@o3r/mcp/src/utils/otter.ts
  tools/@o3r/mcp/src/utils/resource-registry.ts
  tools/@o3r/workspace-helpers/scripts/create-monorepo-scope.mjs
Due: none

fix(sdk): typescript-mock generator not working
  packages/@ama-sdk/schematics/schematics/typescript/mock/templates/__dasherizeModelName__.mock.ts.template
Due: SDK Tooling

feat(vscode-ext): add telemetry for chat participant
  apps/vscode-extension/package.json
  apps/vscode-extension/src/chat/index.ts
  apps/vscode-extension/src/extension.ts
  apps/vscode-extension/src/telemetry/index.ts
  packages/@o3r/telemetry/src/sender/index.ts
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/release/packaged-action/index.cjs.map
  yarn.lock
Due: Otter Modules, Otter developer tools

feature: data sources for functional contents
  packages/@o3r/application/schemas/functional-content.metadata.schema.json
Due: Otter Modules

feat: key localization suffix kebab-case opt #3603
  packages/@o3r/localization/schematics/add-localization-key/index.spec.ts
  packages/@o3r/localization/schematics/add-localization-key/index.ts
  packages/@o3r/localization/schematics/add-localization-key/schema.json
  packages/@o3r/localization/schematics/add-localization-key/schema.ts
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/release/packaged-action/index.cjs.map
Due: Otter Modules

feat(mcp): tool to retrieve available angular schematics
  apps/vscode-extension/src/chat/index.ts
  apps/vscode-extension/src/mcp/index.ts
  packages/@ama-mcp/angular/.gitignore
  packages/@ama-mcp/angular/.npmignore
  packages/@ama-mcp/angular/README.md
  packages/@ama-mcp/angular/eslint.config.mjs
  packages/@ama-mcp/angular/eslint.local.config.mjs
  packages/@ama-mcp/angular/jest.config.js
  packages/@ama-mcp/angular/package.json
  packages/@ama-mcp/angular/project.json
  packages/@ama-mcp/angular/src/angular-schematics/README.md
  packages/@ama-mcp/angular/src/angular-schematics/index.spec.ts
  packages/@ama-mcp/angular/src/angular-schematics/index.ts
  packages/@ama-mcp/angular/src/public_api.ts
  packages/@ama-mcp/angular/testing/jest.config.ut.js
  packages/@ama-mcp/angular/tsconfig.build.composite.json
  packages/@ama-mcp/angular/tsconfig.build.json
  packages/@ama-mcp/angular/tsconfig.doc.json
  packages/@ama-mcp/angular/tsconfig.json
  packages/@ama-mcp/angular/tsconfig.spec.json
  packages/@ama-mcp/core/README.md
  packages/@ama-mcp/github/README.md
  tools/@o3r/mcp/src/mcp-server.ts
  tsconfig.base.json
  tsconfig.build.json
  yarn.lock
Due: Otter developer tools

feat(ama-mcp): change the logger mechanism to introduce log level by tools
  apps/vscode-extension/package.json
  apps/vscode-extension/src/mcp/index.ts
  packages/@ama-mcp/core/src/logger/index.spec.ts
  packages/@ama-mcp/core/src/logger/index.ts
  packages/@ama-mcp/core/src/tool/index.ts
  packages/@ama-mcp/github/src/find-repositories-using-library/index.ts
  packages/@ama-mcp/github/src/release-notes/index.ts
  packages/@ama-mcp/github/src/supported-releases/index.ts
  tools/@o3r/mcp/src/cli/index.ts
  tools/@o3r/mcp/src/index.spec.ts
  tools/@o3r/mcp/src/mcp-server.ts
Due: Otter developer tools

feat(ama-mcp): industrialize cache strategy
  packages/@ama-mcp/core/src/cache/index.spec.ts
  packages/@ama-mcp/core/src/cache/index.ts
  packages/@ama-mcp/core/src/logger/index.ts
  packages/@ama-mcp/core/src/public_api.ts
  packages/@ama-mcp/core/src/resource/index.ts
  packages/@ama-mcp/core/src/tool/index.ts
  packages/@ama-mcp/github/src/find-repositories-using-library/README.md
  packages/@ama-mcp/github/src/find-repositories-using-library/index.spec.ts
  packages/@ama-mcp/github/src/find-repositories-using-library/index.ts
  packages/@ama-mcp/github/src/release-notes/index.ts
  packages/@o3r/core/package.json
  tools/@o3r/mcp/src/mcp-server.ts
Due: Otter Modules

docs(mcp): add experimental flag
  README.md
  packages/@ama-mcp/core/README.md
  packages/@ama-mcp/core/package.json
  packages/@ama-mcp/core/src/cache/index.ts
  packages/@ama-mcp/core/src/logger/index.ts
  packages/@ama-mcp/core/src/testing/index.ts
  packages/@ama-mcp/core/src/tool/index.ts
  packages/@ama-mcp/github/README.md
  packages/@ama-mcp/github/package.json
  packages/@ama-mcp/github/src/find-repositories-using-library/index.ts
  packages/@ama-mcp/github/src/release-notes/index.ts
  packages/@ama-mcp/github/src/supported-releases/index.ts
  packages/@ama-mcp/github/src/utils.ts
  packages/@o3r/eslint-config/src/rules/typescript/jsdoc.cjs
  tools/@o3r/mcp/README.md
  tools/@o3r/mcp/package.json
Due: Otter Modules

chore(publish): removing the usage on npm token and provenance
  .github/workflows/main.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish.yml
  .npmrc
  tools/github-actions/setup/action.yml
Due: Otter Github shared Actions

feat(ama-mfe): enable history navigation from an embedded module
  packages/@ama-mfe/messages/src/messages/history/base.ts
  packages/@ama-mfe/messages/src/messages/history/history.versions.ts
  packages/@ama-mfe/messages/src/messages/history/index.ts
  packages/@ama-mfe/messages/src/public_api.ts
  packages/@ama-mfe/ng-utils/src/connect/connect.providers.spec.ts
  packages/@ama-mfe/ng-utils/src/connect/connect.providers.ts
  packages/@ama-mfe/ng-utils/src/history/history.consumer.service.ts
  packages/@ama-mfe/ng-utils/src/history/history.providers.spec.ts
  packages/@ama-mfe/ng-utils/src/history/history.providers.ts
  packages/@ama-mfe/ng-utils/src/history/index.ts
  packages/@ama-mfe/ng-utils/src/public_api.ts
Due: none

feat(ama-mcp): creation of the ama-mcp-otter package + tool to retrieve metadata per version
  packages/@ama-mcp/github/src/find-repositories-using-library/index.spec.ts
  packages/@ama-mcp/github/src/release-notes/README.md
  packages/@ama-mcp/github/src/release-notes/index.spec.ts
  packages/@ama-mcp/github/src/supported-releases/README.md
  packages/@ama-mcp/github/src/supported-releases/index.spec.ts
  packages/@ama-mcp/github/src/supported-releases/index.ts
  packages/@ama-mcp/github/tsconfig.build.json
  packages/@ama-mcp/github/tsconfig.spec.json
  packages/@ama-mcp/otter/.gitignore
  packages/@ama-mcp/otter/.npmignore
  packages/@ama-mcp/otter/README.md
  packages/@ama-mcp/otter/eslint.config.mjs
  packages/@ama-mcp/otter/eslint.local.config.mjs
  packages/@ama-mcp/otter/jest.config.js
  packages/@ama-mcp/otter/package.json
  packages/@ama-mcp/otter/project.json
  packages/@ama-mcp/otter/src/metadata-per-release/README.md
  packages/@ama-mcp/otter/src/metadata-per-release/index.spec.ts
  packages/@ama-mcp/otter/src/metadata-per-release/index.ts
  packages/@ama-mcp/otter/src/public_api.ts
  packages/@ama-mcp/otter/testing/jest.config.ut.js
  packages/@ama-mcp/otter/tsconfig.build.composite.json
  packages/@ama-mcp/otter/tsconfig.build.json
  packages/@ama-mcp/otter/tsconfig.doc.json
  packages/@ama-mcp/otter/tsconfig.json
  packages/@ama-mcp/otter/tsconfig.spec.json
  tools/@o3r/mcp/src/mcp-server.ts
  tsconfig.base.json
  tsconfig.build.json
  yarn.lock
Due: none

feat(vscode-ext): add the possibility to use additional tools with the chat participant
  apps/vscode-extension/package.json
  apps/vscode-extension/src/chat/index.ts
Due: Otter developer tools

fix: remove workflow permission restriction to have write permission for id-token
  .github/workflows/publish.yml
Due: none

docs(mcp): do not use relative links in package root readme
  packages/@ama-mcp/github/README.md
  packages/@ama-mcp/otter/README.md
Due: none

fix: cannot find declaration file for modules
  packages/@ama-mfe/messages/package.json
  packages/@ama-sdk/client-angular/package.json
  packages/@ama-sdk/client-beacon/package.json
  packages/@ama-sdk/client-fetch/package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-terasu/core/package.json
  packages/@o3r-training/showcase-sdk/src/fixtures/jest/package.json
  packages/@o3r-training/showcase-sdk/src/helpers/package.json
  packages/@o3r-training/showcase-sdk/src/spec/package.json
  packages/@o3r-training/training-tools/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-dodo/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
  packages/@o3r/design/package.json
  packages/@o3r/new-version/package.json
  packages/@o3r/pipeline/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/style-dictionary/package.json
  packages/@o3r/telemetry/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
Due: Otter Modules, Training modules, SDK Tooling

fix: cannot find declaration file for modules
  packages/@ama-mfe/messages/package.json
  packages/@ama-sdk/client-angular/package.json
  packages/@ama-sdk/client-beacon/package.json
  packages/@ama-sdk/client-fetch/package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-styling/style-dictionary/package.json
  packages/@ama-terasu/core/package.json
  packages/@o3r-training/showcase-sdk/src/fixtures/jest/package.json
  packages/@o3r-training/showcase-sdk/src/spec/package.json
  packages/@o3r-training/training-tools/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-dodo/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
  packages/@o3r/design/package.json
  packages/@o3r/new-version/package.json
  packages/@o3r/pipeline/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/style-dictionary/package.json
  packages/@o3r/telemetry/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
Due: Otter Modules, Training modules, SDK Tooling

feat(mcp): tool to retrieve available angular schematics
  .yarn/sdks/eslint/package.json
  apps/vscode-extension/package.json
  apps/vscode-extension/src/chat/index.ts
  apps/vscode-extension/src/mcp/index.ts
  packages/@ama-mcp/angular/.gitignore
  packages/@ama-mcp/angular/.npmignore
  packages/@ama-mcp/angular/README.md
  packages/@ama-mcp/angular/eslint.config.mjs
  packages/@ama-mcp/angular/eslint.local.config.mjs
  packages/@ama-mcp/angular/jest.config.js
  packages/@ama-mcp/angular/package.json
  packages/@ama-mcp/angular/project.json
  packages/@ama-mcp/angular/src/angular-schematics/README.md
  packages/@ama-mcp/angular/src/angular-schematics/index.spec.ts
  packages/@ama-mcp/angular/src/angular-schematics/index.ts
  packages/@ama-mcp/angular/src/public_api.ts
  packages/@ama-mcp/angular/testing/jest.config.ut.js
  packages/@ama-mcp/angular/tsconfig.build.composite.json
  packages/@ama-mcp/angular/tsconfig.build.json
  packages/@ama-mcp/angular/tsconfig.doc.json
  packages/@ama-mcp/angular/tsconfig.json
  packages/@ama-mcp/angular/tsconfig.spec.json
  packages/@ama-mcp/core/README.md
  packages/@ama-mcp/github/README.md
  packages/@ama-mcp/otter/src/metadata-per-release/index.ts
  packages/@ama-mcp/otter/src/public_api.ts
  packages/@ama-mcp/otter/src/utils/index.ts
  packages/@o3r/core/package.json
  tools/@o3r/mcp/package.json
  tools/@o3r/mcp/src/best-practices/index.ts
  tools/@o3r/mcp/src/mcp-server.ts
  tools/@o3r/workspace-helpers/scripts/create-monorepo-scope.mjs
  tsconfig.base.json
  tsconfig.build.json
  yarn.lock
Due: Otter Modules, Otter developer tools

fix(mcp): support more inputs for metadata retrieval
  packages/@ama-mcp/otter/src/metadata-per-release/index.spec.ts
  packages/@ama-mcp/otter/src/metadata-per-release/index.ts
Due: none

fix: add correct types to new style-dictionnary package
  packages/@ama-styling/style-dictionary/package.json
Due: none

feat(mcp): tool to retrieve available angular schematics
  .yarn/sdks/eslint/package.json
  apps/vscode-extension/package.json
  apps/vscode-extension/src/chat/index.ts
  apps/vscode-extension/src/mcp/index.ts
  packages/@ama-mcp/angular/.gitignore
  packages/@ama-mcp/angular/.npmignore
  packages/@ama-mcp/angular/README.md
  packages/@ama-mcp/angular/eslint.config.mjs
  packages/@ama-mcp/angular/eslint.local.config.mjs
  packages/@ama-mcp/angular/jest.config.js
  packages/@ama-mcp/angular/package.json
  packages/@ama-mcp/angular/project.json
  packages/@ama-mcp/angular/src/angular-schematics/README.md
  packages/@ama-mcp/angular/src/angular-schematics/index.spec.ts
  packages/@ama-mcp/angular/src/angular-schematics/index.ts
  packages/@ama-mcp/angular/src/public_api.ts
  packages/@ama-mcp/angular/testing/jest.config.ut.js
  packages/@ama-mcp/angular/tsconfig.build.composite.json
  packages/@ama-mcp/angular/tsconfig.build.json
  packages/@ama-mcp/angular/tsconfig.doc.json
  packages/@ama-mcp/angular/tsconfig.json
  packages/@ama-mcp/angular/tsconfig.spec.json
  packages/@ama-mcp/core/README.md
  packages/@ama-mcp/github/README.md
  packages/@ama-mcp/otter/package.json
  packages/@ama-mcp/otter/src/metadata-per-release/index.ts
  packages/@ama-mcp/otter/src/public_api.ts
  packages/@ama-mcp/otter/src/utils/index.ts
  packages/@o3r/core/package.json
  tools/@o3r/mcp/src/best-practices/index.ts
  tools/@o3r/mcp/src/mcp-server.ts
  tools/@o3r/workspace-helpers/scripts/create-monorepo-scope.mjs
  tsconfig.base.json
  tsconfig.build.json
  yarn.lock
Due: Otter Modules, Otter developer tools

test: nx remote cache
  .github/workflows/main.yml
  apps/chrome-devtools/src/app-devtools/localization-panel/localization-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.component.ts
Due: Otter developer tools
