Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

chore: upgrade unionfs and unify globby imports
  packages/@o3r/components/builders/component-extractor/helpers/component/component.parser.ts
  packages/@o3r/components/package.json
  packages/@o3r/core/package.json
  packages/@o3r/design/builders/generate-css/index.ts
  packages/@o3r/design/builders/generate-jsonschema/index.ts
  packages/@o3r/design/builders/generate-style/index.ts
  packages/@o3r/localization/builders/helpers/localization.generator.ts
  packages/@o3r/localization/package.json
  packages/@o3r/rules-engine/builders/rules-engine-extractor/index.ts
  packages/@o3r/rules-engine/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/test-helpers/package.json
  packages/@o3r/test-helpers/src/utilities/virtual-fs.ts
  yarn.lock
Due: Otter Modules

chore: upgrade github actions major
  .github/actions/setup-java/action.yml
  .github/workflows/audit.yml
  .github/workflows/check-all-releases.yml
  .github/workflows/check-release.yml
  .github/workflows/clean-cache.yml
  .github/workflows/code-check.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-showcase.yml
  .github/workflows/documentation.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  .github/workflows/main.yml
  .github/workflows/md-external-links-check.yml
  .github/workflows/pr-labels.yml
  .github/workflows/publish.yml
  .github/workflows/scorecards.yml
  tools/github-actions/download-build-output/action.yml
Due: Otter Github shared Actions

fix(#3436): set the good link for @ama-styling/figma-extractor readme
  docs/figma-extractor/figma-extractor-setup.md
Due: none

fix: add variables to temporarily deactivate nx cache
  .github/workflows/code-check.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: none

fix: add check for navigation entry if load event was fired prematurely
  packages/@o3r/analytics/src/services/event-track/event-track.helpers.spec.ts
  packages/@o3r/analytics/src/services/event-track/event-track.helpers.ts
  packages/@o3r/analytics/src/services/event-track/event-track.service.spec.ts
  packages/@o3r/analytics/src/services/event-track/event-track.service.ts
  packages/@o3r/analytics/src/services/event-track/index.ts
Due: Otter Modules

fix(#3346): do not create tsconfig.eslint.json file when using @o3r/eslint-config
  packages/@o3r/eslint-config/schematics/index.it.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/eslint/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/eslint/index.ts
  packages/@o3r/eslint-config/schematics/ng-add/tsconfig/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/tsconfig/index.ts
  packages/@o3r/eslint-config/schematics/ng-add/tsconfig/templates/tsconfig.eslint.json.template
Due: Otter Modules

fix(#3387): do not override some files if jest.config.ut.js is not present at the root
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/sdk/index.ts
Due: Otter Modules

chore: run post install
  .yarn/sdks/eslint/package.json
  .yarnrc.yml
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  yarn.lock
Due: Otter Modules, SDK Tooling

chore(deps): upgrade memfs dependency
  .yarn/sdks/eslint/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/components/package.json
  packages/@o3r/core/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/test-helpers/package.json
  packages/@o3r/test-helpers/src/utilities/virtual-fs.ts
  yarn.lock
Due: Otter Modules, SDK Tooling

fix: set ignore-script on o3r create
  packages/@o3r/create/src/index.ts
Due: Otter Modules

chore: bump `@amadeus-it-group/microfrontends` to 0.0.9
  packages/@ama-mfe/messages/package.json
  packages/@ama-mfe/ng-utils/package.json
  packages/@ama-mfe/ng-utils/src/connect/connect.directive.spec.ts
  packages/@ama-mfe/ng-utils/src/connect/connect.directive.ts
  yarn.lock
Due: none

fix(#3375): define a property for openapi-generator version
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/pom.xml
Due: SDK Tooling

docs: fix broken links
  docs/analytics/TRACK_EVENTS.md
  packages/@ama-sdk/client-fetch/src/plugins/abort/readme.md
Due: SDK Tooling

fix(#3228): replace eslint-config-otter by eslint-config
  .github/ISSUE_TEMPLATE/1-O3R-ISSUE-FORM.yaml
Due: none

fix(#3228): add missing packages
  .github/ISSUE_TEMPLATE/1-O3R-ISSUE-FORM.yaml
  .github/ISSUE_TEMPLATE/2-AMA-SDK-ISSUE-FORM.yaml
Due: none

feat(#3290): add option for repository default branch name
  packages/@o3r/pipeline/schematics/ng-add/index.spec.ts
  packages/@o3r/pipeline/schematics/ng-add/index.ts
  packages/@o3r/pipeline/schematics/ng-add/schema.json
  packages/@o3r/pipeline/schematics/ng-add/schema.ts
  packages/@o3r/pipeline/schematics/ng-add/templates/github/__dot__github/workflows/main.yml
Due: Otter Modules

feat(#2662): remove cms.json and do not generate application with it
  packages/@o3r/application/migration.json
  packages/@o3r/application/package.json
  packages/@o3r/application/schemas/cms.schema.json
  packages/@o3r/application/schematics/ng-update/index.ts
  packages/@o3r/application/schematics/ng-update/v10.0/update-cms-config.ts
  packages/@o3r/components/schematics/index.it.spec.ts
  packages/@o3r/extractors/schematics/cms-adapter/templates/cms.json.template
  packages/@o3r/extractors/schematics/index.it.spec.ts
  packages/@o3r/localization/schematics/index.it.spec.ts
  packages/@o3r/rules-engine/schematics/index.it.spec.ts
  packages/@o3r/styling/schematics/index.it.spec.ts
Due: Otter Modules

feat(#3264): retrieve automatically the list of workspaces
  packages/@o3r/test-helpers/package.json
  packages/@o3r/test-helpers/src/utilities/package-manager.ts
  yarn.lock
Due: Otter Modules

fix(eslint): wrong stylistic/operator-linebreak override
  packages/@o3r/eslint-config/src/rules/typescript/stylistic.cjs
Due: Otter Modules

ci(e2e): fix e2e-screenshots workflow
  .github/workflows/e2e-tests.yml
Due: none

fix: #3209 Use correct DF component for date-picker
  apps/showcase/src/components/showcase/basic/basic-pres.template.html
  apps/showcase/src/components/showcase/configuration/configuration-pres.template.html
  apps/showcase/src/components/showcase/dynamic-content/dynamic-content-pres.template.html
  apps/showcase/src/components/showcase/localization/localization-pres.template.html
  apps/showcase/src/components/showcase/placeholder/placeholder-pres.component.ts
  apps/showcase/src/components/showcase/placeholder/placeholder-pres.template.html
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.template.html
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.component.ts
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.spec.ts
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.template.html
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.component.ts
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.context.ts
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.spec.ts
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.template.html
  apps/showcase/src/components/utilities/forms-personal-info/forms-personal-info-pres.template.html
  tools/github-actions/create-branch-e2e-screenshots/action.yml
Due: Otter Github shared Actions

fix: update e2e screenshots
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/forms.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/localization.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/rules-engine.png
Due: none

fix: do not send a navigation message on navigations which are not updating the browser history
  packages/@ama-mfe/ng-utils/src/navigation/routing.service.spec.ts
  packages/@ama-mfe/ng-utils/src/navigation/routing.service.ts
Due: none

fix: #3209 Use correct DF component for date-picker
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/forms.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/localization.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/rules-engine.png
  apps/showcase/src/components/showcase/basic/basic-pres.template.html
  apps/showcase/src/components/showcase/configuration/configuration-pres.template.html
  apps/showcase/src/components/showcase/dynamic-content/dynamic-content-pres.template.html
  apps/showcase/src/components/showcase/localization/localization-pres.template.html
  apps/showcase/src/components/showcase/placeholder/placeholder-pres.component.ts
  apps/showcase/src/components/showcase/placeholder/placeholder-pres.template.html
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.template.html
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.component.ts
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.spec.ts
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.template.html
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.component.ts
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.context.ts
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.spec.ts
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.template.html
  apps/showcase/src/components/utilities/forms-personal-info/forms-personal-info-pres.template.html
  tools/github-actions/create-branch-e2e-screenshots/action.yml
Due: Otter Github shared Actions

fix: skip nx cache for documentation job
  .github/workflows/documentation.yml
  .github/workflows/main.yml
Due: none

fix: supportedType for exploded syntax is too restrictive
  packages/@ama-sdk/core/src/fwk/api.helpers.ts
  packages/@ama-sdk/core/src/fwk/core/api-client.ts
  packages/@ama-sdk/core/src/fwk/core/base-api-constructor.ts
  packages/@ama-sdk/core/src/fwk/param-deserialization.ts
  packages/@ama-sdk/core/src/fwk/param-serialization.ts
Due: SDK Tooling

fix(renovate): set minimum release age to 3 days in base preset
  tools/renovate/base.json
Due: none

fix: logger.error should get the error as first argument
  packages/@o3r/rules-engine/src/engine/ruleset-executor.ts
Due: Otter Modules

fix: warning from Angular App build
  packages/@ama-sdk/client-angular/package.json
  packages/@ama-sdk/client-beacon/package.json
  packages/@ama-sdk/client-fetch/package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.1/clean-packagejson-exports.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/fixtures/jest/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/helpers/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/spec/package.json
  packages/@ama-sdk/schematics/testing/mocks/updates/v12/shell-package.json
  packages/@ama-sdk/schematics/testing/mocks/updates/v12/shell-package.results.json
  packages/@ama-styling/figma-sdk/src/fixtures/jest/package.json
  packages/@ama-styling/figma-sdk/src/helpers/package.json
  packages/@ama-styling/figma-sdk/src/spec/package.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/showcase-sdk/src/fixtures/jest/package.json
  packages/@o3r-training/showcase-sdk/src/helpers/package.json
  packages/@o3r-training/showcase-sdk/src/spec/package.json
  packages/@o3r-training/training-sdk/package.json
  packages/@o3r-training/training-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/core/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/workspace/package.json
Due: Otter Modules, Training modules, SDK Tooling

fix: post conflicts changes
  packages/@ama-styling/figma-sdk/src/helpers/package.json
  packages/@o3r-training/showcase-sdk/src/helpers/package.json
  packages/@o3r/core/package.json
Due: Otter Modules, Training modules

fix: visual testing reporter not working
  apps/showcase/e2e-playwright/playwright-config.ts
  packages/@o3r/testing/src/visual-testing-reporter/index.ts
Due: Otter Modules

Path conditions:
  Otter Modules: any of: packages/@o3r/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter developer tools: any of: apps/chrome-devtools/**, apps/github-cascading-app/**, apps/intellij-extension/**, apps/vscode-extension/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter Github shared Actions: any of: tools/github-actions/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Training modules: any of: packages/@o3r-training/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  SDK Tooling: any of: packages/@ama-sdk/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
