Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

fix: o3r transloco as external dep for apps
  migration-guides/14.4.md
  packages/@o3r/components/migration.json
  packages/@o3r/components/schematics/ng-update/v14-4/index.spec.ts
  packages/@o3r/components/schematics/ng-update/v14-4/index.ts
  packages/@o3r/transloco/schematics/ng-add/helpers/remove-transloco-external-dependency.spec.ts
  packages/@o3r/transloco/schematics/ng-add/helpers/remove-transloco-external-dependency.ts
  packages/@o3r/transloco/schematics/ng-add/index.ts
Due: Otter Modules

chore(deps): upgrade piscina
  package.json
  yarn.lock
Due: none

feat(plugin): add otter mcp-setup, new-config, and schematics skills
  tools/llm/plugins/otter/skills/otter-mcp-setup/SKILL.md
  tools/llm/plugins/otter/skills/otter-new-config/SKILL.md
  tools/llm/plugins/otter/skills/otter-schematics/SKILL.md
Due: none

Revert "chore: fallback angular cli version"
  package.json
  yarn.lock
Due: none

fix: o3r transloco schematic - correct builders
  migration-guides/14.4.md
  packages/@o3r/components/schematics/ng-update/v14-4/index.spec.ts
  packages/@o3r/components/schematics/ng-update/v14-4/index.ts
Due: Otter Modules

feat(plugins): add Playwright E2E testing skill for Otter plugin
  tools/llm/plugins/otter/skills/playwright-e2e-testing/SKILL.md
  tools/llm/plugins/otter/skills/playwright-e2e-testing/references/accessibility.md
  tools/llm/plugins/otter/skills/playwright-e2e-testing/references/coding-standards.md
  tools/llm/plugins/otter/skills/playwright-e2e-testing/references/creation-process.md
Due: none

feat(ama-openapi): prepend filePath for modelPath starting with #/ in generateMaskSchemaModelAt
  packages/@ama-openapi/core/src/schema/mask/generate-mask-from-model.mts
  packages/@ama-openapi/core/src/schema/mask/generate-mask-from-model.spec.ts
Due: none

chore: upgrade stCarolas/setup-maven to v5.1
  .github/actions/setup-java/action.yml
Due: none

feat(plugin): add ama-sdk plugin with skills and agent for SDK development
  .claude-plugin/marketplace.json
  .github/plugin/marketplace.json
  .github/workflows/code-check.yml
  collections/ama-sdk.collection.yml
  collections/otter.collection.yml
  docs/ai-primitives-hub/README.md
  docs/prompt-registry/README.md
  package.json
  tools/@o3r/workspace-helpers/scripts/check-plugin-marketplace-sync.mjs
  tools/llm/plugins/ama-sdk/.claude-plugin/plugin.json
  tools/llm/plugins/ama-sdk/.plugin/plugin.json
  tools/llm/plugins/ama-sdk/README.md
  tools/llm/plugins/ama-sdk/agents/sdk-setup.agent.md
  tools/llm/plugins/ama-sdk/skills/create-sdk.md
  tools/llm/plugins/ama-sdk/skills/sdk-plugins/SKILL.md
  tools/llm/plugins/ama-sdk/skills/use-sdk.md
Due: none

feat: ignore files based on git attributes
  .gitattributes
  eslint.shared.config.mjs
  package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/.gitattributes.template
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/eslint.config.mjs.template
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
  packages/@ama-styling/figma-sdk/eslint.local.config.mjs
  packages/@o3r-training/showcase-sdk/.gitattributes
  packages/@o3r-training/showcase-sdk/eslint.local.config.mjs
  packages/@o3r-training/training-sdk/.gitattributes
  packages/@o3r-training/training-sdk/eslint.local.config.mjs
  packages/@o3r/eslint-config/package.json
  packages/@o3r/eslint-config/schematics/ng-add/index.ts
  packages/@o3r/eslint-config/src/helpers/index.cjs
  yarn.lock
Due: Otter Modules, Training modules, SDK Tooling

fix: issues around migration script
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-styling/figma-sdk/package.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/training-sdk/package.json
  packages/@o3r/rules-engine/schematics/ng-update/v11.6/use-register-action-handlers.ts
  packages/@o3r/schematics/src/utility/loaders.spec.ts
  packages/@o3r/schematics/src/utility/loaders.ts
  packages/@o3r/schematics/src/utility/ng-update.ts
  packages/@o3r/schematics/src/utility/package-manager-runner.spec.ts
  packages/@o3r/schematics/src/utility/package-manager-runner.ts
  packages/@o3r/testing/package.json
  yarn.lock
Due: Otter Modules, Otter developer tools, Training modules, SDK Tooling

chore: disable build optimization
  apps/chrome-devtools/project.json
  apps/showcase/project.json
Due: Otter developer tools

chore: disable build optimization
  .github/workflows/deploy-showcase.yml
  .github/workflows/publish.yml
  apps/chrome-devtools/project.json
  apps/showcase/project.json
Due: Otter developer tools

ci: remove deprecated codecov action
  .github/workflows/code-check.yml
Due: none

ci: use dev-drive for it-tests
  .github/workflows/it-tests.yml
  packages/@o3r/core/package.json
  packages/@o3r/test-helpers/src/prepare-test-env.ts
  packages/@o3r/test-helpers/src/utilities/clone-app.ts
  packages/@o3r/test-helpers/src/utilities/index.ts
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/release/packaged-action/index.cjs.map
Due: Otter Modules, Otter Github shared Actions

refactor: add provideStylingDevtools function and modernize mfe-ng-utils tests
  packages/@ama-mfe/ng-utils/src/connect/connect-directive.spec.ts
  packages/@ama-mfe/ng-utils/src/iframe-embed/iframe-embed.component.spec.ts
  packages/@ama-mfe/ng-utils/src/navigation/route-memorize/route-memorize-directive.spec.ts
  packages/@ama-mfe/ng-utils/src/resize/scalable-directive.spec.ts
  packages/@ama-styling/devkit/src/core/styling-devtools-module.ts
Due: none

chore(deps): fix audit critical
  package.json
  yarn.lock
Due: none

feat(plugin): add ama-sdk plugin with skills and agent for SDK development
  .claude-plugin/marketplace.json
  .github/plugin/marketplace.json
  .github/workflows/code-check.yml
  collections/ama-sdk.collection.yml
  collections/otter.collection.yml
  docs/ai-primitives-hub/README.md
  docs/prompt-registry/README.md
  package.json
  tools/@o3r/workspace-helpers/scripts/check-plugin-marketplace-sync.mjs
  tools/llm/plugins/ama-sdk/.claude-plugin/plugin.json
  tools/llm/plugins/ama-sdk/.plugin/plugin.json
  tools/llm/plugins/ama-sdk/README.md
  tools/llm/plugins/ama-sdk/agents/sdk-setup.agent.md
  tools/llm/plugins/ama-sdk/skills/create-sdk.md
  tools/llm/plugins/ama-sdk/skills/sdk-plugins/SKILL.md
  tools/llm/plugins/ama-sdk/skills/use-sdk.md
  tools/llm/plugins/otter/README.md
Due: none

fix(core): node exports file paths
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
Due: Otter Modules, SDK Tooling

chore: upgrade vm2
  package.json
  yarn.lock
Due: none

ci: reactivate collections validation
  .github/workflows/code-check.yml
  collections/ama-sdk.collection.yml
Due: none

feat(plugin): add sdk-mcp-setup skill to ama-sdk plugin
  collections/ama-sdk.collection.yml
  tools/llm/plugins/ama-sdk/README.md
  tools/llm/plugins/ama-sdk/agents/sdk-setup.agent.md
  tools/llm/plugins/ama-sdk/skills/create-sdk.md
  tools/llm/plugins/ama-sdk/skills/sdk-mcp-setup.md
Due: none

docs(agents): document PnP pre-commit hook troubleshooting
  .agents/git-workflow.md
Due: none

feat(plugin): add otter rules-engine skill
  collections/otter.collection.yml
  tools/llm/plugins/otter/skills/otter-rules-engine/SKILL.md
Due: none

fix: remote cache for SDK schematics
  packages/@ama-sdk/schematics/project.json
Due: SDK Tooling

docs(agents): follow PR template when creating pull requests
  .agents/git-workflow.md
Due: none

fix: linter issue
  tools/@o3r/workspace-helpers/scripts/check-plugin-marketplace-sync.mjs
Due: none

fix: bump websocket-driver to 0.7.5 to fix critical vulnerability
  yarn.lock
Due: none

fix: transloco - typo in rules engine action schema
  packages/@o3r/transloco/schemas/rules-engine.localization-action.schema.json
Due: Otter Modules

chore(deps): update browserslist DB
  yarn.lock
Due: none

feat(nx-cache): scope external deps via custom hasher (Option B)
  nx.json
  package.json
  tools/@o3r-internal/external-deps-hasher/executors.json
  tools/@o3r-internal/external-deps-hasher/external-deps.hasher.mjs
  tools/@o3r-internal/external-deps-hasher/jest-with-hasher.impl.mjs
  tools/@o3r-internal/external-deps-hasher/package.json
  tools/@o3r-internal/external-deps-hasher/schema.json
  yarn.lock
Due: none

fix: audit issue with tar
  package.json
  yarn.lock
Due: none

fix: audit issue with websocket-driver
  yarn.lock
Due: none

Path conditions:
  Otter Modules: any of: packages/@o3r/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Otter developer tools: any of: apps/chrome-devtools/**, apps/github-cascading-app/**, apps/intellij-extension/**, apps/vscode-extension/**, apps/palette-generator/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Otter Github shared Actions: any of: tools/github-actions/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  Training modules: any of: packages/@o3r-training/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
  SDK Tooling: any of: packages/@ama-sdk/**, but not: .yarn, .pnp.*, .cache, tmp, **/node_modules, packages/@*/*/dist, tools/@*/*/dist, apps/@*/*/dist, packages/@*/*/build, tools/@*/*/build, apps/@*/*/build, tools/github-actions/*/packaged-action, **/*.template, **/schematics/**/templates, **/dist-test, **/dist-e2e-playwright, **/playwright-reports, **/test-results
