Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

codecov.yml:

codecov:
  require_ci_to_pass: true

ignore:
  # Package Manager files
  - '.yarn/**/*'
  - '.pnp.*'
  - '.cache/**/*'
  - 'tmp/**/*'
  - '**/node_modules/**/*'

  # Distribution folders
  - 'packages/@*/*/dist/**/*'
  - 'tools/@*/*/dist/**/*'
  - 'apps/@*/*/dist/**/*'

  # Generated files
  - 'packages/@o3r-training/showcase-sdk/src/api/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/models/base/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/spec/**/*'
  - 'tools/github-actions/*/packaged-action/**/*'

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: otter
      name: Otter Modules
      paths:
        - packages/@o3r/**
    - component_id: otter-tools
      name: Otter developer tools
      paths:
        - apps/chrome-devtools/**
        - apps/github-cascading-app/**
        - apps/intellij-extension/**
        - apps/vscode-extension/**
    - component_id: otter-github-actions
      name: Otter Github shared Actions
      paths:
        - tools/github-actions/**
    - component_id: training
      name: Training modules
      paths:
        - packages/@o3r-training/**
    - component_id: sdk
      name: SDK Tooling
      paths:
        - packages/@ama-sdk/**

chore: remove deprecated deps
  apps/vscode-extension/package.json
  nx.json
  package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@o3r/configuration/middlewares/bootstrap-config.middleware.ts
  packages/@o3r/configuration/package.json
  packages/@o3r/configuration/tsconfig.builders.json
  packages/@o3r/dynamic-content/middlewares/parameter-extractor.middleware.ts
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/dynamic-content/tsconfig.builders.json
  packages/@o3r/eslint-config/package.json
  yarn.lock
Due: Otter Modules, Otter developer tools, SDK Tooling

feat(mcp): register mcp configuration in the vscode extension
  .vscode/mcp.json
  apps/vscode-extension/package.json
  apps/vscode-extension/src/extension.ts
  apps/vscode-extension/src/mcp/index.ts
  yarn.lock
Due: Otter developer tools

chore: clean nx config
  nx.json
  package.json
  yarn.lock
Due: none

fix(mcp): fix run local mcp
  .vscode/mcp.json
  tools/@o3r/mcp/README.md
  tools/@o3r/mcp/package.json
  tools/@o3r/mcp/src/instructions/best-practices.ts
  tools/@o3r/mcp/src/mcp-server.ts
  tools/@o3r/mcp/src/tools/best-practices.ts
Due: none

fix(mcp): fix mcp js import
  tools/@o3r/mcp/src/cli/index.ts
  tools/@o3r/mcp/src/instructions/best-practices.ts
Due: none

chore: upgrade style-dictionary dependency
  apps/showcase/package.json
  packages/@ama-styling/style-dictionary/README.md
  packages/@ama-styling/style-dictionary/package.json
  packages/@ama-styling/style-dictionary/src/filters/target-file.filter.mts
  packages/@ama-styling/style-dictionary/src/filters/target-file.filter.spec.ts
  packages/@o3r/style-dictionary/package.json
  packages/@o3r/style-dictionary/src/filters/target-file.filter.mts
  packages/@o3r/style-dictionary/src/filters/target-file.filter.spec.ts
  yarn.lock
Due: Otter Modules

Update packages/@o3r/core/README.md
  packages/@o3r/core/README.md
Due: Otter Modules

fix: wip fix it-tests
  packages/@o3r/analytics/schematics/index.it.spec.ts
  packages/@o3r/configuration/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/localization/schematics/index.it.spec.ts
  packages/@o3r/rules-engine/schematics/index.it.spec.ts
  packages/@o3r/styling/schematics/index.it.spec.ts
  packages/@o3r/test-helpers/src/utilities/angular.ts
  packages/@o3r/testing/schematics/index.it.spec.ts
Due: Otter Modules

feat: add warp.md context file
  WARP.md
Due: none

fix: waring from Angular App build
  apps/palette-generator/project.json
  apps/palette-generator/webpack.config.js
  apps/showcase/src/app/dynamic-content/dynamic-content.component.ts
  apps/showcase/src/app/placeholder/placeholder.component.ts
  apps/showcase/src/app/rules-engine/rules-engine.component.ts
  apps/showcase/src/app/run-app-locally/run-app-locally.style.scss
  apps/showcase/src/components/showcase/configuration/configuration-pres.component.ts
  apps/showcase/src/components/showcase/design-token/design-token-pres.component.ts
  apps/showcase/src/components/showcase/forms-parent/forms-parent.component.ts
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.component.ts
  apps/showcase/src/components/utilities/forms-emergency-contact/forms-emergency-contact-pres.component.ts
  apps/showcase/src/main.ts
  packages/@ama-sdk/client-angular/package.json
  packages/@ama-sdk/client-beacon/package.json
  packages/@ama-sdk/client-fetch/package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.1/clean-packagejson-exports.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/fixtures/jest/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/helpers/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/spec/package.json
  packages/@ama-sdk/schematics/testing/mocks/updates/v12/shell-package.json
  packages/@ama-sdk/schematics/testing/mocks/updates/v12/shell-package.results.json
  packages/@ama-styling/figma-sdk/src/fixtures/jest/package.json
  packages/@ama-styling/figma-sdk/src/helpers/package.json
  packages/@ama-styling/figma-sdk/src/spec/package.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/showcase-sdk/src/fixtures/jest/package.json
  packages/@o3r-training/showcase-sdk/src/helpers/package.json
  packages/@o3r-training/showcase-sdk/src/spec/package.json
  packages/@o3r-training/training-sdk/package.json
  packages/@o3r-training/training-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/core/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/workspace/package.json
Due: Otter Modules, Training modules, SDK Tooling

fix: wip fix it-tests
  packages/@ama-styling/stylelint-plugin/schematics/index.it.spec.ts
  packages/@o3r/analytics/schematics/index.it.spec.ts
  packages/@o3r/configuration/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/localization/schematics/index.it.spec.ts
  packages/@o3r/rules-engine/schematics/index.it.spec.ts
  packages/@o3r/stylelint-plugin/schematics/index.it.spec.ts
  packages/@o3r/styling/schematics/index.it.spec.ts
  packages/@o3r/test-helpers/src/utilities/angular.ts
  packages/@o3r/testing/schematics/index.it.spec.ts
  packages/@o3r/third-party/schematics/index.it.spec.ts
Due: Otter Modules

feat: add strong typing to `computeItemIdentifier`
  packages/@o3r/core/src/core/metadata/component.identifier.ts
Due: Otter Modules

fix: add default answer for no tty
  packages/@o3r/core/schematics/add-modules/index.ts
  packages/@o3r/core/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/rule-factories/component/common.ts
  packages/@o3r/localization/schematics/add-localization-key/index.ts
  packages/@o3r/schematics/src/utility/component.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
Due: Otter Modules

fix: add variables to temporarily deactivate nx cache
  .github/workflows/code-check.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: none

fix: add playwright dependency with o3r-testing
  packages/@o3r/testing/schematics/index.it.spec.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/testing/schematics/ng-add/playwright/index.ts
Due: Otter Modules

Apply suggestion from @matthieu-crouzet
  packages/@o3r/core/README.md
Due: Otter Modules

fix: linter issues
  apps/showcase/src/app/localization/localization.spec.ts
  apps/showcase/src/app/rules-engine/rules-engine.spec.ts
  apps/showcase/src/components/showcase/localization/localization-pres.spec.ts
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.spec.ts
  nx.json
Due: none

fix(sdk-core): cache issue on wrong outdir
  packages/@ama-sdk/core/src/utils/index.ts
  packages/@ama-sdk/core/tsconfig.build.json
Due: SDK Tooling

fix: allow nx caching on next branch
  .github/workflows/main.yml
Due: none

Revert "bugfix(ama-sdk): force json response when supported"
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/LambdaHelper.java
Due: SDK Tooling

feature: migration script schema update for Components, Rule facts and Assets
  packages/@o3r/extractors/schemas/migration.metadata.schema.json
Due: Otter Modules

fix(ama-figma-sdk): publish figma SDK
  packages/@ama-styling/figma-sdk/.compodocrc.json
  packages/@ama-styling/figma-sdk/package.json
  packages/@ama-styling/figma-sdk/project.json
  yarn.lock
Due: none

chore: remove swagger builder lib to inherit the global one
  packages/@ama-sdk/swagger-builder/tsconfig.build.json
Due: SDK Tooling

feat: rework ng-add schematics
  packages/@o3r/apis-manager/schematics/ng-add/index.ts
  packages/@o3r/application/schematics/ng-add/index.ts
  packages/@o3r/application/schematics/ng-add/schema.ts
  packages/@o3r/configuration/schematics/ng-add/index.ts
  packages/@o3r/configuration/schematics/ng-add/schema.ts
  packages/@o3r/core/schematics/ng-add-create/templates/schematics/ng-add/index.ts.template
  packages/@o3r/core/schematics/ng-add-create/templates/schematics/ng-add/schema.ts.template
  packages/@o3r/schematics/schematics/ng-add/index.ts
  packages/@o3r/schematics/schematics/ng-add/schema.ts
  packages/@o3r/schematics/src/rule-factories/eslint-fix/index.ts
  packages/@o3r/schematics/src/utility/index.ts
  packages/@o3r/schematics/src/utility/ng-add-wrapper.ts
Due: Otter Modules

feat: rework ng-add schematics
  packages/@o3r/apis-manager/schematics/ng-add/index.ts
  packages/@o3r/apis-manager/schematics/ng-add/schema.ts
  packages/@o3r/application/schematics/ng-add/index.ts
  packages/@o3r/application/schematics/ng-add/schema.ts
  packages/@o3r/configuration/schematics/ng-add/index.ts
  packages/@o3r/configuration/schematics/ng-add/schema.ts
  packages/@o3r/core/schematics/ng-add-create/templates/schematics/ng-add/index.ts.template
  packages/@o3r/core/schematics/ng-add-create/templates/schematics/ng-add/schema.ts.template
  packages/@o3r/schematics/schematics/ng-add/index.ts
  packages/@o3r/schematics/schematics/ng-add/schema.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/ng-add.helpers.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/testing/schematics/ng-add/playwright/index.ts
  packages/@o3r/testing/schematics/ng-add/schema.ts
Due: Otter Modules

fix: add check for navigation entry if load event was fired prematurely
  packages/@o3r/analytics/src/services/event-track/event-track.helpers.spec.ts
  packages/@o3r/analytics/src/services/event-track/event-track.helpers.ts
  packages/@o3r/analytics/src/services/event-track/event-track.service.spec.ts
  packages/@o3r/analytics/src/services/event-track/event-track.service.ts
  packages/@o3r/analytics/src/services/event-track/index.ts
Due: Otter Modules
