Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

feat(config): add support for restrictionKeys
  apps/showcase/eslint.local.config.mjs
  apps/showcase/src/components/showcase/configuration/configuration-pres.config.ts
  docs/linter/eslint-plugin/rules/o3r-restriction-key-tags.md
  packages/@o3r/components/builders/component-extractor/helpers/component/component-config.extractor.ts
  packages/@o3r/components/src/core/component.output.ts
  packages/@o3r/configuration/schemas/configuration.metadata.schema.json
  packages/@o3r/eslint-config-otter/rules/typescript/jsdoc.cjs
  packages/@o3r/eslint-config/src/rules/typescript/jsdoc.cjs
  packages/@o3r/eslint-plugin/src/index.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/o3r-restriction-key-tags/o3r-restriction-key-tags.spec.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/o3r-restriction-key-tags/o3r-restriction-key-tags.ts
  packages/@o3r/extractors/src/utils/config-doc.spec.ts
  packages/@o3r/extractors/src/utils/config-doc.ts
Due: Otter Modules

fix(#2630): use posix to compute path for outputPath
  packages/@o3r/core/schematics/rule-factories/otter-environment/index.ts
Due: Otter Modules

fix(#2628): generate eol LF config
  .vscode/settings.json
  .yarnrc.yml
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/src/index.ts
  packages/@o3r/eslint-config-otter/package.json
Due: Otter Modules, SDK Tooling

chore: fix build merge main into training
  yarn.lock
Due: none

fix: github-action package not working
  .github/workflows/code-check.yml
  packages/@o3r/new-version/package.json
  packages/@o3r/new-version/tsconfig.build.json
  tools/github-actions/new-version/packaged-action/LICENSE.txt
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
Due: Otter Modules

fix: test and visual testing update for otter training
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.spec.ts
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/save-code-dialog/save-code-dialog.component.ts
Due: none

fix(#2628): generate eol LF config
  .yarnrc.yml
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/src/index.ts
  packages/@o3r/eslint-config-otter/package.json
  yarn.lock
Due: Otter Modules, SDK Tooling

feat(config): add support for restrictionKeys
  apps/showcase/eslint.local.config.mjs
  apps/showcase/src/components/showcase/configuration/configuration-pres.config.ts
  docs/ab-testing/AB_TESTING.md
  docs/linter/eslint-plugin/rules/o3r-restriction-key-tags.md
  docs/linter/eslint-plugin/rules/o3r-widget-tags.md
  packages/@o3r/components/builders/component-extractor/helpers/component/component-config.extractor.ts
  packages/@o3r/components/src/core/component.output.ts
  packages/@o3r/configuration/schemas/configuration.metadata.schema.json
  packages/@o3r/eslint-config-otter/rules/typescript/jsdoc.cjs
  packages/@o3r/eslint-config/src/rules/typescript/jsdoc.cjs
  packages/@o3r/eslint-plugin/src/index.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/o3r-restriction-key-tags/o3r-restriction-key-tags.spec.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/o3r-restriction-key-tags/o3r-restriction-key-tags.ts
  packages/@o3r/extractors/src/utils/config-doc.spec.ts
  packages/@o3r/extractors/src/utils/config-doc.ts
  tools/github-actions/cascading/readme.md
Due: Otter Modules, Otter Github shared Actions

fix: test and visual testing update for otter training
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.spec.ts
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/save-code-dialog/save-code-dialog.component.spec.ts
Due: none

fix(#2553): remove config with no properties + support metadata check for config without properties
  packages/@o3r/components/builders/component-extractor/helpers/component/component.extractor.ts
  packages/@o3r/components/builders/metadata-check/helpers/config-metadata-comparison.helper.ts
  packages/@o3r/components/builders/metadata-check/index.it.spec.ts
  packages/@o3r/configuration/schemas/configuration.metadata.schema.json
Due: Otter Modules

chore(design): increase peerDependencies supported range to prepare ng19 migration
  packages/@o3r/design/package.json
  yarn.lock
Due: Otter Modules

fix(vscode): unlock vscode extension
  apps/vscode-extension/src/extension.ts
  apps/vscode-extension/src/intellisense/configuration.ts
Due: Otter developer tools

fix(vscode): Allow VsCode extension without espree detection
  .yarnrc.yml
  apps/vscode-extension/package.json
  apps/vscode-extension/src/extension.ts
  apps/vscode-extension/src/intellisense/configuration.ts
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  yarn.lock
Due: Otter Modules, Otter developer tools, SDK Tooling

fix(workspace): the tsconfig links to generate libraries
  packages/@o3r/workspace/schematics/library/index.spec.ts
  packages/@o3r/workspace/schematics/library/rules/rules.ng.ts
  packages/@o3r/workspace/schematics/library/templates/ng/tsconfig.lib.prod.json.template
Due: Otter Modules

fix(workspace): add tsconfig.json dedicated to the application
  packages/@o3r/workspace/schematics/application/index.ts
  packages/@o3r/workspace/schematics/application/templates/tsconfig.json.template
Due: Otter Modules

chore: align missing deps for typescript-eslint
  .yarnrc.yml
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  yarn.lock
Due: Otter Modules, SDK Tooling

fix(workspace): add tsconfig.json dedicated to the application
  codecov.yml
  packages/@o3r/workspace/schematics/application/index.spec.ts
  packages/@o3r/workspace/schematics/application/index.ts
  packages/@o3r/workspace/schematics/application/templates/tsconfig.json.template
Due: Otter Modules

fix: eslint and nx ignored paths
  .nxignore
  eslint.shared.config.mjs
Due: none

chore: after yarn install
  yarn.lock
Due: none

fix: linters and use non standalone
  packages/@o3r/core/schematics/component/container/schema.json
  packages/@o3r/core/schematics/component/presenter/schema.json
  packages/@o3r/core/schematics/component/schema.json
  packages/@o3r/core/schematics/page/schema.json
  packages/@o3r/eslint-config/src/rules/typescript/eslint-angular.cjs
Due: Otter Modules

fix(#2553): remove config with no properties + support metadata check for config without properties
  .yarnrc.yml
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/components/builders/component-extractor/helpers/component/component.extractor.ts
  packages/@o3r/components/builders/metadata-check/helpers/config-metadata-comparison.helper.spec.ts
  packages/@o3r/components/builders/metadata-check/helpers/config-metadata-comparison.helper.ts
  packages/@o3r/components/builders/metadata-check/index.it.spec.ts
  packages/@o3r/configuration/schemas/configuration.metadata.schema.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Due: Otter Modules, SDK Tooling

fix: typo
  apps/chrome-devtools/src/app-devtools/theming-panel/color.pipe.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.template.html
  packages/@o3r/localization/schematics/add-localization-key/index.spec.ts
  packages/@o3r/localization/schematics/add-localization-key/index.ts
  packages/@o3r/localization/schematics/add-localization-key/schema.json
  packages/@o3r/localization/schematics/add-localization-key/schema.ts
  packages/@o3r/schematics/src/utility/ast.ts
Due: Otter Modules, Otter developer tools

feat(devexp): highlight components by group
  packages/@o3r/components/src/devkit/components-devkit.interface.ts
  packages/@o3r/components/src/devkit/components-devtools.message.service.ts
  packages/@o3r/components/src/devkit/highlight/constants.ts
  packages/@o3r/components/src/devkit/highlight/helpers.spec.ts
  packages/@o3r/components/src/devkit/highlight/helpers.ts
  packages/@o3r/components/src/devkit/highlight/highlight.service.ts
  packages/@o3r/components/src/devkit/highlight/models.ts
Due: Otter Modules

chore: dependency alignment
  .yarnrc.yml
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  yarn.lock
Due: Otter Modules, SDK Tooling

fix(#2553): remove config with no properties + support metadata check for config without properties
  packages/@o3r/components/builders/component-extractor/helpers/component/component.extractor.ts
  packages/@o3r/components/builders/metadata-check/helpers/config-metadata-comparison.helper.spec.ts
  packages/@o3r/components/builders/metadata-check/helpers/config-metadata-comparison.helper.ts
  packages/@o3r/components/builders/metadata-check/index.it.spec.ts
  packages/@o3r/configuration/schemas/configuration.metadata.schema.json
Due: Otter Modules

chore: yarn.lock update following merge of main
  yarn.lock
Due: none

fix(workspace): add tsconfig.json dedicated to the application
  codecov.yml
  packages/@o3r/create/src/index.it.spec.ts
  packages/@o3r/workspace/schematics/application/index.spec.ts
  packages/@o3r/workspace/schematics/application/index.ts
  packages/@o3r/workspace/schematics/application/templates/tsconfig.json.template
Due: Otter Modules

fix(vscode): allow VsCode extension without espree detection
  apps/vscode-extension/package.json
  apps/vscode-extension/src/extension.ts
  apps/vscode-extension/src/intellisense/configuration.ts
  yarn.lock
Due: Otter developer tools

fix(design): remove expectOverride on CSS causing runtime issue
  packages/@o3r/design/README.md
  packages/@o3r/design/src/core/design-token/renderers/css/design-token-definition.renderers.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/css/design-token-definition.renderers.ts
Due: Otter Modules

Path conditions:
  Otter Modules: any of: packages/@o3r/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter developer tools: any of: apps/chrome-devtools/**, apps/github-cascading-app/**, apps/intellij-extension/**, apps/vscode-extension/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Otter Github shared Actions: any of: tools/github-actions/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  Training modules: any of: packages/@o3r-training/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
  SDK Tooling: any of: packages/@ama-sdk/**, but not: .yarn/**/*, .pnp.*, .cache/**/*, tmp/**/*, **/node_modules/**/*, packages/@*/*/dist/**/*, tools/@*/*/dist/**/*, apps/@*/*/dist/**/*, packages/@o3r-training/showcase-sdk/src/api/**/*, packages/@o3r-training/showcase-sdk/src/models/base/**/*, packages/@o3r-training/showcase-sdk/src/spec/**/*, tools/github-actions/*/packaged-action/**/*
