Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

codecov.yml:

codecov:
  require_ci_to_pass: true

ignore:
  # Package Manager files
  - '.yarn/**/*'
  - '.pnp.*'
  - '.cache/**/*'
  - 'tmp/**/*'
  - '**/node_modules/**/*'

  # Distribution folders
  - 'packages/@*/*/dist/**/*'
  - 'tools/@*/*/dist/**/*'
  - 'apps/@*/*/dist/**/*'

  # Generated files
  - 'packages/@o3r-training/showcase-sdk/src/api/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/models/base/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/spec/**/*'
  - 'tools/github-actions/*/packaged-action/**/*'

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: otter
      name: Otter Modules
      paths:
        - packages/@o3r/**
    - component_id: otter-tools
      name: Otter developer tools
      paths:
        - apps/chrome-devtools/**
        - apps/github-cascading-app/**
        - apps/intellij-extension/**
        - apps/vscode-extension/**
    - component_id: otter-github-actions
      name: Otter Github shared Actions
      paths:
        - tools/github-actions/**
    - component_id: training
      name: Training modules
      paths:
        - packages/@o3r-training/**
    - component_id: sdk
      name: SDK Tooling
      paths:
        - packages/@ama-sdk/**

fix: lint issues on global-timezone-setup
  packages/@ama-sdk/core/testing/global-timezone-setup.js
Due: SDK Tooling

fix: adjust timezone based on new date timezone
  packages/@ama-sdk/core/src/fwk/date.spec.ts
  packages/@ama-sdk/core/src/fwk/date.ts
  packages/@ama-sdk/core/testing/global-timezone-setup.js
  packages/@ama-sdk/core/testing/jest.config.ut.js
Due: SDK Tooling

fix: expose number type only for number operators and date in next minutes operator
  packages/@o3r/rules-engine/src/engine/operator/operators/date-based.operators.ts
  packages/@o3r/rules-engine/src/engine/operator/operators/number-based.operators.ts
Due: Otter Modules

chore: upgrade koa to 2.15.4
  package.json
  yarn.lock
Due: none

fix: remove unnecessary default false in schema
  packages/@ama-sdk/schematics/schematics/typescript/shell/schema.json
  packages/@o3r/analytics/schematics/ng-add/schema.json
  packages/@o3r/apis-manager/schematics/ng-add/schema.json
  packages/@o3r/components/schematics/ng-add/schema.json
  packages/@o3r/configuration/schematics/ng-add/schema.json
  packages/@o3r/core/schematics/service/schema.json
  packages/@o3r/core/schematics/store-action/schema.json
  packages/@o3r/core/schematics/store/entity-async/schema.json
  packages/@o3r/core/schematics/store/entity-sync/schema.json
  packages/@o3r/core/schematics/store/schema.json
  packages/@o3r/core/schematics/store/simple-async/schema.json
  packages/@o3r/core/schematics/store/simple-sync/schema.json
  packages/@o3r/design/builders/generate-css/schema.json
  packages/@o3r/design/builders/generate-jsonschema/schema.json
  packages/@o3r/design/builders/generate-style/schema.json
  packages/@o3r/design/schematics/generate-css/schema.json
  packages/@o3r/design/schematics/ng-add/schema.json
  packages/@o3r/dynamic-content/schematics/ng-add/schema.json
  packages/@o3r/eslint-config-otter/schematics/ng-add/schema.json
  packages/@o3r/eslint-config/schematics/ng-add/schema.json
  packages/@o3r/extractors/schematics/ng-add/schema.json
  packages/@o3r/forms/schematics/ng-add/schema.json
  packages/@o3r/localization/schematics/add-localization-key/schema.json
  packages/@o3r/localization/schematics/ng-add/schema.json
  packages/@o3r/logger/schematics/ng-add/schema.json
  packages/@o3r/mobile/schematics/ng-add/schema.json
  packages/@o3r/new-version/schematics/ng-add/schema.json
  packages/@o3r/routing/schematics/ng-add/schema.json
  packages/@o3r/rules-engine/schematics/ng-add/schema.json
  packages/@o3r/store-sync/schematics/ng-add/schema.json
  packages/@o3r/stylelint-plugin/schematics/ng-add/schema.json
  packages/@o3r/styling/schematics/ng-add/schema.json
  packages/@o3r/test-helpers/schematics/ng-add/schema.json
  packages/@o3r/testing/schematics/ng-add/schema.json
  packages/@o3r/third-party/schematics/ng-add/schema.json
  packages/@o3r/workspace/schematics/library/schema.json
Due: Otter Modules, SDK Tooling

feat: add a feedback form on sdk training
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step10.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
  apps/showcase/e2e-playwright/sanity/visual-sanity.e2e.ts
  apps/showcase/project.json
  apps/showcase/src/app/sdk-training/sdk-training.template.html
  apps/showcase/src/assets/fireworks.png
  apps/showcase/src/components/training/training.component.html
  apps/showcase/src/components/training/training.component.scss
  apps/showcase/src/components/training/training.component.ts
Due: none

fix(workspace-helpers): migrate to eslint flat config
  .yarnrc.yml
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  tools/@o3r/workspace-helpers/.eslintrc.cjs
  tools/@o3r/workspace-helpers/eslint.config.mjs
  tools/@o3r/workspace-helpers/eslint.local.config.mjs
  tools/@o3r/workspace-helpers/package.json
  tools/@o3r/workspace-helpers/project.json
  tools/@o3r/workspace-helpers/scripts/create-monorepo-scope.mjs
  tools/@o3r/workspace-helpers/scripts/doc-links.mjs
  tools/@o3r/workspace-helpers/scripts/pr-labels.mjs
  tools/@o3r/workspace-helpers/scripts/prepare-doc-root-menu-template.mjs
  tools/@o3r/workspace-helpers/scripts/update-doc-summary.mjs
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  yarn.lock
Due: Otter Modules, SDK Tooling

fix: linter issues
  .yarn/sdks/eslint/package.json
  packages/@o3r/configuration/src/core/configuration.ts
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Due: Otter Modules

feat: support exploded syntax in sdk
  packages/@ama-sdk/client-angular/src/api-angular-client.ts
  packages/@ama-sdk/client-beacon/src/api-beacon-client.ts
  packages/@ama-sdk/client-fetch/src/api-fetch-client.ts
  packages/@ama-sdk/core/src/clients/api-angular-client.ts
  packages/@ama-sdk/core/src/clients/api-beacon-client.ts
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
  packages/@ama-sdk/core/src/fwk/api.helper.spec.ts
  packages/@ama-sdk/core/src/fwk/api.helpers.ts
  packages/@ama-sdk/core/src/fwk/core/api-client.ts
  packages/@ama-sdk/core/src/plugins/additional-params/additional-params-sync.request.ts
  packages/@ama-sdk/core/src/plugins/additional-params/additional-params.request.ts
  packages/@ama-sdk/core/src/plugins/additional-params/additional-params.spec.ts
  packages/@ama-sdk/core/src/plugins/core/request-plugin.ts
  packages/@ama-sdk/core/src/plugins/json-token/json-token.spec.ts
  packages/@ama-sdk/core/src/plugins/pii-tokenizer/pii-tokenizer.request.ts
  packages/@ama-sdk/core/src/plugins/pii-tokenizer/pii-tokenizer.spec.ts
  packages/@ama-sdk/core/src/plugins/si-token/si-token.request.ts
  packages/@ama-sdk/core/src/plugins/si-token/si-token.spec.ts
  packages/@ama-sdk/core/src/plugins/url-rewrite/url-rewrite.spec.ts
  packages/@ama-sdk/core/src/utils/generic-api.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/LambdaHelper.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
Due: SDK Tooling

fix(renovate-preset): run `otter-ng-update` post upgrade commands in mode executionMode=update
  tools/renovate/tasks/otter-ng-update.json
Due: none

fix: jest setup for angular component testing
  apps/chrome-devtools/testing/setup-jest.ts
  apps/showcase/testing/setup-jest.ts
  docs/testing/UNIT_TESTS_SETUP.md
  packages/@o3r/analytics/testing/setup-jest.ts
  packages/@o3r/apis-manager/testing/setup-jest.ts
  packages/@o3r/application/testing/setup-jest.ts
  packages/@o3r/components/testing/setup-jest.ts
  packages/@o3r/configuration/testing/setup-jest.ts
  packages/@o3r/core/testing/setup-jest.ts
  packages/@o3r/dynamic-content/testing/setup-jest.ts
  packages/@o3r/forms/testing/setup-jest.ts
  packages/@o3r/localization/testing/setup-jest.ts
  packages/@o3r/logger/testing/setup-jest.ts
  packages/@o3r/mobile/testing/setup-jest.ts
  packages/@o3r/routing/testing/setup-jest.ts
  packages/@o3r/rules-engine/testing/setup-jest.ts
  packages/@o3r/store-sync/testing/setup-jest.ts
  packages/@o3r/testing/schematics/ng-add/templates/project/testing/setup-jest.ts.template
  packages/@o3r/testing/testing/setup-jest.ts
  packages/@o3r/third-party/testing/setup-jest.ts
  packages/@o3r/workspace/schematics/library/templates/jest/testing/setup-jest.ts.template
  packages/@o3r/workspace/testing/setup-jest.ts
Due: Otter Modules, Otter developer tools

chore: fix merge issue
  yarn.lock
Due: none

feat: specify renovate Otter preset versions
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/.renovaterc.json.template
  packages/@o3r/workspace/schematics/ng-add/helpers/renovate/index.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/renovate/templates/__dot__renovaterc.json.template
Due: Otter Modules, SDK Tooling

feat: add a feedback form on sdk training
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step10.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
  apps/showcase/e2e-playwright/sanity/visual-sanity.e2e.ts
  apps/showcase/project.json
  apps/showcase/src/app/run-app-locally/run-app-locally.style.scss
  apps/showcase/src/app/sdk-training/sdk-training.template.html
  apps/showcase/src/assets/fireworks.png
  apps/showcase/src/components/training/congratulations-step/congratulations-step.component.ts
  apps/showcase/src/components/training/congratulations-step/congratulations-step.template.html
  apps/showcase/src/components/training/congratulations-step/congratulations.component.spec.ts
  apps/showcase/src/components/training/congratulations-step/index.ts
  apps/showcase/src/components/training/training.component.html
  apps/showcase/src/components/training/training.component.scss
  apps/showcase/src/components/training/training.component.ts
Due: none

chore: migrate to Node LTS 22
  .github/workflows/main.yml
  docs/renovate/readme.md
  packages/@o3r/pipeline/schematics/ng-add/templates/github/__dot__github/actions/setup/action.yml
  tools/github-actions/setup/action.yml
Due: Otter Modules, Otter Github shared Actions

fix: fix ng lint for generated packages
  packages/@o3r/workspace/schematics/library/templates/ng/jest/tsconfig.spec.json.template
Due: Otter Modules

fix: when publishing a PR checkout the source branch instead of main
  .github/workflows/publish-pr.yml
Due: none

feat: figma plugin for palette local variables
  .github/ISSUE_TEMPLATE/4-APPLICATION-ISSUE-FORM.yaml
  apps/palette-generator/README.md
  apps/palette-generator/docs/color-shades.png
  apps/palette-generator/docs/copy-shades.png
  apps/palette-generator/docs/otter-plugin.png
  apps/palette-generator/eslint.config.mjs
  apps/palette-generator/eslint.local.config.mjs
  apps/palette-generator/jest.config.js
  apps/palette-generator/manifest.json
  apps/palette-generator/package.json
  apps/palette-generator/project.json
  apps/palette-generator/src/contract/index.ts
  apps/palette-generator/src/plugin/code.ts
  apps/palette-generator/src/ui/ui.html
  apps/palette-generator/src/ui/ui.ts
  apps/palette-generator/testing/jest.config.ut.js
  apps/palette-generator/testing/setup-jest.ts
  apps/palette-generator/tsconfig.build.json
  apps/palette-generator/tsconfig.build.plugin.json
  apps/palette-generator/tsconfig.eslint.json
  apps/palette-generator/tsconfig.json
  apps/palette-generator/tsconfig.spec.json
  apps/palette-generator/webpack.config.js
  packages/@ama-terasu/cli/package.json
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/release/packaged-action/index.cjs.map
  yarn.lock
Due: none

feature: otter create brings eslint and version harmonize
  packages/@o3r/core/schematics/ng-add/utils/linter/index.ts
  packages/@o3r/eslint-config/package.json
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.shared.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/index.ts
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  packages/@o3r/workspace/schematics/ng-add/schema.json
  packages/@o3r/workspace/schematics/ng-add/schema.ts
  packages/@o3r/workspace/schematics/rule-factories/linter.ts
  yarn.lock
Due: Otter Modules

feature: otter create brings eslint and version harmonize
  packages/@o3r/core/schematics/ng-add/utils/linter/index.spec.ts
  packages/@o3r/core/schematics/ng-add/utils/linter/index.ts
  packages/@o3r/eslint-config/package.json
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.shared.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/index.ts
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  packages/@o3r/workspace/schematics/ng-add/schema.json
  packages/@o3r/workspace/schematics/ng-add/schema.ts
  packages/@o3r/workspace/schematics/rule-factories/linter.spec.ts
  packages/@o3r/workspace/schematics/rule-factories/linter.ts
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  yarn.lock
Due: Otter Modules

feat: support exploded syntax in sdk
  packages/@ama-sdk/client-angular/src/api-angular-client.ts
  packages/@ama-sdk/client-beacon/src/api-beacon-client.ts
  packages/@ama-sdk/client-fetch/src/api-fetch-client.ts
  packages/@ama-sdk/core/src/clients/api-angular-client.ts
  packages/@ama-sdk/core/src/clients/api-beacon-client.ts
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
  packages/@ama-sdk/core/src/fwk/api.helper.spec.ts
  packages/@ama-sdk/core/src/fwk/api.helpers.ts
  packages/@ama-sdk/core/src/fwk/core/api-client.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/LambdaHelper.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
Due: SDK Tooling

fix: eslint-config eslint-plugin dep
  packages/@o3r/eslint-config/schematics/ng-add/index.ts
Due: Otter Modules

fix: condition for using flat config
  packages/@o3r/core/schematics/ng-add/utils/linter/index.spec.ts
  packages/@o3r/core/schematics/ng-add/utils/linter/index.ts
  packages/@o3r/workspace/schematics/rule-factories/linter.spec.ts
  packages/@o3r/workspace/schematics/rule-factories/linter.ts
Due: Otter Modules
