Repository AmadeusITGroup/otter: changes, and which Codecov flags are due for each by the changed paths.
All: Otter Modules, Otter developer tools, Otter Github shared Actions, Training modules, SDK Tooling

codecov.yml:

codecov:
  require_ci_to_pass: true

ignore:
  # Package Manager files
  - '.yarn/**/*'
  - '.pnp.*'
  - '.cache/**/*'
  - 'tmp/**/*'
  - '**/node_modules/**/*'

  # Distribution folders
  - 'packages/@*/*/dist/**/*'
  - 'tools/@*/*/dist/**/*'
  - 'apps/@*/*/dist/**/*'

  # Generated files
  - 'packages/@o3r-training/showcase-sdk/src/api/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/models/base/**/*'
  - 'packages/@o3r-training/showcase-sdk/src/spec/**/*'
  - 'tools/github-actions/*/packaged-action/**/*'

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: otter
      name: Otter Modules
      paths:
        - packages/@o3r/**
    - component_id: otter-tools
      name: Otter developer tools
      paths:
        - apps/chrome-devtools/**
        - apps/github-cascading-app/**
        - apps/intellij-extension/**
        - apps/vscode-extension/**
    - component_id: otter-github-actions
      name: Otter Github shared Actions
      paths:
        - tools/github-actions/**
    - component_id: training
      name: Training modules
      paths:
        - packages/@o3r-training/**
    - component_id: sdk
      name: SDK Tooling
      paths:
        - packages/@ama-sdk/**

chore: regen yarn.lock wih 11.6
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  yarn.lock
Due: none

Revert "chore: remove unused eslint-disable directive"
  apps/chrome-devtools/scripts/publish-to-market.mjs
Due: Otter developer tools

fix: stylus security issue
  apps/showcase/package.json
  package.json
  yarn.lock
Due: none

fix: build failing due to package.json
  apps/showcase/package.json
  packages/@o3r/rules-engine/testing/mocks/onerulesetvalid-onerule-nocond.mock.ts
  yarn.lock
Due: Otter Modules

fix: install lock issue
  apps/showcase/package.json
  yarn.lock
Due: none

fix: remove duplicate test
  packages/@o3r/eslint-config/schematics/ng-add/index.spec.ts
Due: Otter Modules

test: log impacted files in test
  packages/@o3r/localization/schematics/index.it.spec.ts
Due: Otter Modules

feat: support playwright 1.52+ for visual-testing-reporter
  .yarn/sdks/eslint/package.json
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  package.json
  packages/@o3r/testing/package.json
  packages/@o3r/testing/src/visual-testing-reporter/index.ts
  packages/@o3r/testing/tsconfig.build.json
  yarn.lock
Due: Otter Modules, Otter developer tools

fix: update e2e screenshots
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/forms.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step10.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
Due: none

chore: dedupe versions
  yarn.lock
Due: none

feat: support playwright 1.52+ for visual-testing-reporter
  .yarn/sdks/eslint/package.json
  apps/chrome-devtools/package.json
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/forms.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step10.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
  apps/showcase/package.json
  package.json
  packages/@o3r/testing/package.json
  packages/@o3r/testing/src/visual-testing-reporter/index.ts
  packages/@o3r/testing/tsconfig.build.json
  yarn.lock
Due: Otter Modules, Otter developer tools

chore: ngrx 20
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Due: Otter Modules, Otter developer tools

feat: support playwright 1.52+ for visual-testing-reporter
  apps/chrome-devtools/package.json
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/forms.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step10.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
  apps/showcase/package.json
  package.json
  packages/@o3r/testing/package.json
  packages/@o3r/testing/src/visual-testing-reporter/index.ts
  packages/@o3r/testing/tsconfig.build.json
  yarn.lock
Due: Otter Modules, Otter developer tools

feat: example of mcp server
  .vscode/mcp.json
  .vscode/settings.json
  .yarn/sdks/eslint/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/core/schematics/ng-add/index.ts
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/workspace/schematics/index.it.spec.ts
  tools/@o3r/mcp/.gitignore
  tools/@o3r/mcp/.npmignore
  tools/@o3r/mcp/README.md
  tools/@o3r/mcp/eslint.config.mjs
  tools/@o3r/mcp/eslint.local.config.mjs
  tools/@o3r/mcp/package.json
  tools/@o3r/mcp/project.json
  tools/@o3r/mcp/src/cli/index.ts
  tools/@o3r/mcp/src/mcp-server.ts
  tools/@o3r/mcp/src/resources/instructions/best-practices.md
  tools/@o3r/mcp/src/tools/best-practices.ts
  tools/@o3r/mcp/tsconfig.build.composite.json
  tools/@o3r/mcp/tsconfig.build.json
  tools/@o3r/mcp/tsconfig.doc.json
  tools/@o3r/mcp/tsconfig.json
  tools/@o3r/mcp/tsconfig.spec.json
  tools/github-actions/upload-build-output/action.yml
  yarn.lock
Due: Otter Modules, Otter Github shared Actions, SDK Tooling

chore: upgrade design factory to 20.0
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  apps/showcase/src/components/showcase/sdk/sdk-pres.template.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/training.component.html
  apps/showcase/src/components/utilities/clipboard-button/clipboard-button-pres.template.html
  package.json
  yarn.lock
Due: Otter developer tools

feat: ease angular migration
  apps/chrome-devtools/project.json
  apps/showcase/project.json
  packages/@ama-mfe/ng-utils/project.json
  packages/@ama-sdk/client-angular/project.json
  packages/@ama-styling/figma-sdk/project.json
  packages/@ama-terasu/schematics/project.json
  packages/@o3r/analytics/project.json
  packages/@o3r/apis-manager/project.json
  packages/@o3r/application/project.json
  packages/@o3r/components/project.json
  packages/@o3r/configuration/project.json
  packages/@o3r/core/project.json
  packages/@o3r/dynamic-content/project.json
  packages/@o3r/forms/project.json
  packages/@o3r/localization/project.json
  packages/@o3r/logger/project.json
  packages/@o3r/mobile/project.json
  packages/@o3r/routing/project.json
  packages/@o3r/rules-engine/project.json
  packages/@o3r/schematics/project.json
  packages/@o3r/store-sync/project.json
  packages/@o3r/styling/project.json
  packages/@o3r/telemetry/project.json
  packages/@o3r/test-helpers/project.json
  packages/@o3r/testing/project.json
  packages/@o3r/third-party/project.json
  packages/@o3r/workspace/project.json
Due: Otter Modules, Otter developer tools, SDK Tooling

fix(localization): issue when a translation is listen before the first bundle download
  packages/@o3r/localization/src/tools/localization.service.spec.ts
  packages/@o3r/localization/src/tools/localization.service.ts
Due: Otter Modules

feat: ease angular migration
  apps/chrome-devtools/project.json
  apps/showcase/project.json
  packages/@ama-mfe/ng-utils/project.json
  packages/@ama-sdk/client-angular/project.json
  packages/@ama-terasu/schematics/project.json
  packages/@o3r/analytics/project.json
  packages/@o3r/apis-manager/project.json
  packages/@o3r/application/project.json
  packages/@o3r/components/project.json
  packages/@o3r/configuration/project.json
  packages/@o3r/core/project.json
  packages/@o3r/dynamic-content/project.json
  packages/@o3r/forms/project.json
  packages/@o3r/localization/project.json
  packages/@o3r/logger/project.json
  packages/@o3r/mobile/project.json
  packages/@o3r/routing/project.json
  packages/@o3r/rules-engine/project.json
  packages/@o3r/schematics/project.json
  packages/@o3r/store-sync/project.json
  packages/@o3r/styling/project.json
  packages/@o3r/telemetry/project.json
  packages/@o3r/test-helpers/project.json
  packages/@o3r/testing/project.json
  packages/@o3r/third-party/project.json
  packages/@o3r/workspace/project.json
Due: Otter Modules, Otter developer tools, SDK Tooling

chore: upgrade design factory to 20.0
  apps/chrome-devtools/package.json
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/forms.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step10.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
  apps/showcase/package.json
  apps/showcase/project.json
  apps/showcase/src/components/showcase/sdk/sdk-pres.template.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/training.component.html
  apps/showcase/src/components/utilities/clipboard-button/clipboard-button-pres.template.html
  package.json
  yarn.lock
Due: Otter developer tools

feat: activate node compile cache
  .github/workflows/code-check.yml
  .github/workflows/deploy-showcase.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  .github/workflows/main.yml
  .github/workflows/pr-labels.yml
  tools/github-actions/setup/action.yml
Due: Otter Github shared Actions

feat: example of mcp server
  .vscode/mcp.json
  .vscode/settings.json
  .yarn/sdks/eslint/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/core/schematics/ng-add/index.ts
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/workspace/schematics/index.it.spec.ts
  tools/@o3r/mcp/.gitignore
  tools/@o3r/mcp/.npmignore
  tools/@o3r/mcp/README.md
  tools/@o3r/mcp/eslint.config.mjs
  tools/@o3r/mcp/eslint.local.config.mjs
  tools/@o3r/mcp/package.json
  tools/@o3r/mcp/project.json
  tools/@o3r/mcp/src/cli/index.ts
  tools/@o3r/mcp/src/mcp-server.ts
  tools/@o3r/mcp/src/resources/instructions/best-practices.md
  tools/@o3r/mcp/src/tools/best-practices.ts
  tools/@o3r/mcp/src/tools/create-monorepo-with-app.ts
  tools/@o3r/mcp/tsconfig.build.composite.json
  tools/@o3r/mcp/tsconfig.build.json
  tools/@o3r/mcp/tsconfig.doc.json
  tools/@o3r/mcp/tsconfig.json
  tools/@o3r/mcp/tsconfig.spec.json
  tools/github-actions/upload-build-output/action.yml
  yarn.lock
Due: Otter Modules, Otter Github shared Actions, SDK Tooling

fix: resolve placeholder subscription to free references
  packages/@o3r/components/src/tools/placeholder/placeholder.component.ts
Due: Otter Modules

docs: update migration guide v13 with removed items
  migration-guides/13.0.md
Due: none

Revert "feat: activate node compile cache"
  .github/workflows/code-check.yml
  .github/workflows/deploy-showcase.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  .github/workflows/main.yml
  .github/workflows/pr-labels.yml
  tools/github-actions/setup/action.yml
Due: Otter Github shared Actions

fix(localization): issue when a translation is listen before the first bundle download
  docs/localization/LOCALIZATION.md
  packages/@o3r/localization/src/tools/localization-translate.pipe.spec.ts
  packages/@o3r/localization/src/tools/localization.service.spec.ts
  packages/@o3r/localization/src/tools/localization.service.ts
Due: Otter Modules

chore: remove deprecated deps
  apps/vscode-extension/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@o3r/configuration/middlewares/bootstrap-config.middleware.ts
  packages/@o3r/configuration/package.json
  packages/@o3r/configuration/tsconfig.builders.json
  packages/@o3r/dynamic-content/middlewares/parameter-extractor.middleware.ts
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/dynamic-content/tsconfig.builders.json
  packages/@o3r/eslint-config/package.json
  yarn.lock
Due: Otter Modules, Otter developer tools, SDK Tooling

chore: allow local mcp without build
  .vscode/mcp.json
  tools/@o3r/mcp/README.md
Due: none

chore: upgrade style-dictionary dependency
  apps/showcase/package.json
  packages/@ama-styling/style-dictionary/README.md
  packages/@ama-styling/style-dictionary/package.json
  packages/@ama-styling/style-dictionary/src/filters/target-file.filter.mts
  packages/@ama-styling/style-dictionary/src/filters/target-file.filter.spec.ts
  packages/@o3r/style-dictionary/package.json
  yarn.lock
Due: Otter Modules

chore: remove Nx Cloud Access Token
  .github/workflows/check-release.yml
  .github/workflows/code-check.yml
  .github/workflows/deploy-showcase.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  .github/workflows/main.yml
  .github/workflows/pr-labels.yml
  .github/workflows/publish.yml
Due: none

feat(vscode): register chat participant in the vscode extension
  apps/vscode-extension/package.json
  apps/vscode-extension/src/chat/index.ts
  apps/vscode-extension/src/extension.ts
  assets/gen-ai/best-practices/description.md
  assets/gen-ai/best-practices/output.md
  assets/gen-ai/create/description.md
  assets/gen-ai/create/inputs/application-name.md
  assets/gen-ai/create/inputs/repository-name.md
  assets/gen-ai/create/output.md
  assets/gen-ai/developer.md
  package.json
  tools/@o3r/mcp/package.json
  tools/@o3r/mcp/src/mcp-server.ts
  tools/@o3r/mcp/src/resources/best-practices.ts
  tools/@o3r/mcp/src/tools/best-practices.ts
  tools/@o3r/mcp/src/tools/create-monorepo-with-app.ts
Due: Otter developer tools

fix(mcp): fix version of tools packages + add shebang
  package.json
  tools/@o3r/mcp/src/cli/index.ts
Due: none
